<div class="dropdown d-inline">
  <button
    class="btn btn-dropdown dropdown-toggle"
    type="button"
    id="shareActions"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <svg class="icon">
      <use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-share"></use>
    </svg>
    <small>Condividi</small>
  </button>
  <div class="dropdown-menu shadow-lg" aria-labelledby="shareActions">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-facebook"
              ></use>
            </svg>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-twitter"
              ></use>
            </svg>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-linkedin"
              ></use>
            </svg>
            <span>Linkedin</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-whatsapp"
              ></use>
            </svg>
            <span>Whatsapp</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="dropdown d-inline">
  <button
    class="btn btn-dropdown dropdown-toggle"
    type="button"
    id="viewActions"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <svg class="icon">
      <use
        xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-more-items"
      ></use>
    </svg>
    <small>Vedi azioni</small>
  </button>
  <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-download"
              ></use>
            </svg>
            <span>Scarica</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-print"
              ></use>
            </svg>
            <span>Stampa</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-hearing"
              ></use>
            </svg>
            <span>Ascolta</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="#">
            <svg class="icon">
              <use
                xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-mail"
              ></use>
            </svg>
            <span>Invia</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
