<section id="contenuti-correlati">
  <div class="section section-muted section-inset-shadow">
    <div class="section-content">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="text-center">Contenuti correlati</h3>
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col">
            <div
              class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-4"
            >
              <div class="card card-teaser card-column shadow my-3 rounded">
                <div class="card-header">
                  <svg class="icon">
                    <use
                      xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-pa"
                    ></use>
                  </svg>
                  <h5 class="card-title">
                    Amministrazione
                  </h5>
                </div>
                <div class="card-body">
                  <div class="link-list-wrapper mt-3">
                    <ul class="link-list">
                      <li>
                        <a class="list-item" href="#"
                          ><span>Area servizi civici</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card card-teaser card-column shadow my-3 rounded">
                <div class="card-header">
                  <svg class="icon">
                    <use
                      xlink:href="{{
                        site.baseurl
                      }}/dist/svg/sprite.svg#it-settings"
                    ></use>
                  </svg>
                  <h5 class="card-title">
                    Servizi
                  </h5>
                </div>
                <div class="card-body">
                  <div class="link-list-wrapper mt-3">
                    <ul class="link-list">
                      <li>
                        <a class="list-item" href="#"
                          ><span>Pagamento retta scolastica</span></a
                        >
                      </li>
                      <li>
                        <a class="list-item" href="#"
                          ><span>Servizio di trasporto scolastico</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card card-teaser card-column shadow my-3 rounded">
                <div class="card-header">
                  <svg class="icon">
                    <use
                      xlink:href="{{
                        site.baseurl
                      }}/dist/svg/sprite.svg#it-file"
                    ></use>
                  </svg>
                  <h5 class="card-title">
                    Documenti
                  </h5>
                </div>
                <div class="card-body">
                  <div class="link-list-wrapper mt-3">
                    <ul class="link-list">
                      <li>
                        <a class="list-item" href="#"
                          ><span>Attestazione ISEE</span></a
                        >
                      </li>
                      <li>
                        <a class="list-item" href="#"
                          ><span
                            >Carta dei servizi educativi all'infanzia</span
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card card-teaser card-column shadow my-3 rounded">
                <div class="card-header">
                  <svg class="icon">
                    <use
                      xlink:href="{{
                        site.baseurl
                      }}/dist/svg/sprite.svg#it-calendar"
                    ></use>
                  </svg>
                  <h5 class="card-title">
                    Notizie
                  </h5>
                </div>
                <div class="card-body">
                  <div class="link-list-wrapper mt-3">
                    <ul class="link-list">
                      <li>
                        <a class="list-item" href="#"
                          ><span>Lorem ipsum dolor sit amet</span></a
                        >
                      </li>
                      <li>
                        <a class="list-item" href="#"
                          ><span>Lorem ipsum dolor sit amet</span></a
                        >
                      </li>
                      <li>
                        <a class="list-item" href="#"
                          ><span>Lorem ipsum dolor sit amet</span></a
                        >
                      </li>
                      <li>
                        <a class="list-item" href="#"
                          ><span>Lorem ipsum dolor sit amet</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
