@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/breakpoints' as *;

// Component: accept overlay
//
// Description: Component styles for accept overlay
//

// Variables
//

// Properties
//
.acceptoverlay {
  --#{$prefix}acceptoverlay-color-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}acceptoverlay-color-text: var(--#{$prefix}color-text);
  --#{$prefix}acceptoverlay-label-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}acceptoverlay-label-border-color: var(--#{$prefix}color-border-subtle);
  --#{$prefix}acceptoverlay-opacity: 0.9;
  --#{$prefix}acceptoverlay-spacing-inset: var(--#{$prefix}spacing-s);
  --#{$prefix}acceptoverlay-primary-opacity: 0.95;
  --#{$prefix}acceptoverlay-inner-width: 600px;
  --#{$prefix}acceptoverlay-icon-spacing: var(--#{$prefix}spacing-s);
  --#{$prefix}acceptoverlay-icon-fill: var(--#{$prefix}icon-primary);
  --#{$prefix}acceptoverlay-buttons-spacing: var(--#{$prefix}spacing-s);
}
// Styles
//
/* stylelint-disable-next-line no-duplicate-selectors */
.acceptoverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--#{$prefix}acceptoverlay-spacing-inset);
  opacity: var(--#{$prefix}acceptoverlay-opacity);
  background-color: var(--#{$prefix}acceptoverlay-background-color);
  // Change spacing on medium devices
  @include media-breakpoint-up(md) {
    --#{$prefix}acceptoverlay-spacing-inset: var(--#{$prefix}spacing-m);
  }
  // Change alignment on large devices
  @include media-breakpoint-up(lg) {
    align-items: center;
  }

  label {
    color: var(--#{$prefix}acceptoverlay-label-color);
    &::after {
      border-color: var(--#{$prefix}acceptoverlay-label-border-color) !important;
    }
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &.acceptoverlay-primary {
    --#{$prefix}acceptoverlay-background-color: var(--#{$prefix}color-background-primary);
    &.show {
      opacity: var(--#{$prefix}acceptoverlay-primary-opacity);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
    color: var(--#{$prefix}acceptoverlay-color-text);
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .acceptoverlay-inner {
    width: 100%;
    max-width: var(--#{$prefix}acceptoverlay-inner-width);
  }

  .acceptoverlay-icon {
    margin-bottom: var(--#{$prefix}acceptoverlay-icon-spacing);
    text-align: center;
    @include media-breakpoint-up(md) {
      --#{$prefix}acceptoverlay-icon-margin-bottom: var(--#{$prefix}spacing-xxl);
    }

    .icon {
      fill: var(--#{$prefix}acceptoverlay-icon-fill);
    }
  }

  .acceptoverlay-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--#{$prefix}acceptoverlay-buttons-spacing);
    background-color: transparent !important;

    button {
      width: 100%;
      &:last-child {
        --#{$prefix}acceptoverlay-buttons-spacing: var(--#{$prefix}spacing-xxs);
      }
    }

    &.single-button {
      button {
        margin-top: 0;
      }
    }
  }
}
//Tablet vertical
@include media-breakpoint-up(md) {
  .acceptoverlay-buttons {
    flex-wrap: nowrap;
    button {
      width: 50%;
      margin-top: 0 !important;
      &:last-child {
        margin-left: var(--#{$prefix}spacing-m);
      }
    }
    &.single-button {
      //text-align: center;
      button {
        width: auto;
        min-width: 50%;
        margin: 0 auto;
      }
    }
  }
}

.acceptoverlayable {
  position: relative;
  &.show {
    min-height: 450px;
  }
}
