// Component: Accordion
//
// Description: Styles for the Accordion component.


// Properties
//

.accordion {
  --#{$prefix}accordion-active-bg: var(--#{$prefix}color-background-primary); // Active background color for the accordion button
  --#{$prefix}accordion-active-color: var(--#{$prefix}color-text-primary-active); // Active text color for the accordion button
  --#{$prefix}accordion-background: var(--#{$prefix}page-background); // Background color for the accordion item
  --#{$prefix}accordion-border-color: var(--#{$prefix}color-border-subtle); // Border color for the accordion
  --#{$prefix}accordion-border-radius: var(--#{$prefix}radius-smooth); // Border radius for the accordion
  --#{$prefix}accordion-border-width: 0; // Set the border width for the accordion wrapper
  --#{$prefix}accordion-body-padding-x: var(--#{$prefix}spacing-m); // Horizontal padding for the accordion body
  --#{$prefix}accordion-body-padding-y: var(--#{$prefix}spacing-s); // Vertical padding for the accordion body
  --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)}; // Icon for the active accordion button
  --#{$prefix}accordion-btn-bg: var(--#{$prefix}accordion-background); // Background color for the accordion button
  --#{$prefix}accordion-btn-color: var(--#{$prefix}color-text-primary);  // Text color for the accordion button
  --#{$prefix}accordion-btn-focus-border-color: #{$accordion-button-focus-border-color}; // Border color for the accordion button on focus
  --#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow}; // Box shadow for the accordion button on focus
  --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)}; // Icon for the accordion button
  --#{$prefix}accordion-btn-icon-transform: rotate(-180deg); // Transform for the accordion button icon when active
  --#{$prefix}accordion-btn-icon-transition: transform 0.2s ease-in-out; // Transition for the accordion button icon
  --#{$prefix}accordion-btn-icon-width: 1.25rem; // Width of the accordion button icon
  --#{$prefix}accordion-btn-line-height: var(--#{$prefix}font-line-height-1);  // Line height for the accordion button
  --#{$prefix}accordion-btn-padding-x: var(--#{$prefix}spacing-m); // Horizontal padding for the accordion button
  --#{$prefix}accordion-btn-padding-y: var(--#{$prefix}spacing-s); // Vertical padding for the accordion button
  --#{$prefix}accordion-color: var(--#{$prefix}color-text-base); // Text color for the accordion item
  --#{$prefix}accordion-inner-border-radius: var(--#{$prefix}radius-smooth); // Inner border radius for the accordion button
  --#{$prefix}accordion-item-border-width: 1px; // Set the border width for the accordion item
  --#{$prefix}accordion-transition: var(--#{$prefix}transition-instant); // Transition timing for the accordion button
}
// Styles
//

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--#{$prefix}accordion-btn-padding-y) var(--#{$prefix}accordion-btn-padding-x);
  border: 0; // Reset button style
  line-height: var(--#{$prefix}accordion-btn-line-height);
  background-color: var(--#{$prefix}accordion-btn-bg);
  color: var(--#{$prefix}accordion-btn-color);
  text-align: left; // Reset button style
  overflow-anchor: none;
  // @include font-size($font-size-base);
  @include border-radius(0);
  @include transition(var(--#{$prefix}accordion-transition));

  &:not(.collapsed) {
    background-color: var(--#{$prefix}accordion-active-bg);
    // box-shadow: inset 0 calc(-1 * var(--#{$prefix}accordion-border-width)) 0 var(--#{$prefix}accordion-border-color);
    color: var(--#{$prefix}accordion-active-color);

    &::after {
      background-image: var(--#{$prefix}accordion-btn-active-icon);
      transform: var(--#{$prefix}accordion-btn-icon-transform);
    }
  }

  // Accordion icon
  &::after {
    content: '';
    flex-shrink: 0;
    width: var(--#{$prefix}accordion-btn-icon-width);
    height: var(--#{$prefix}accordion-btn-icon-width);
    margin-left: auto;
    background-image: var(--#{$prefix}accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--#{$prefix}accordion-btn-icon-width);
    @include transition(var(--#{$prefix}accordion-btn-icon-transition));
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    border-color: var(--#{$prefix}accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--#{$prefix}accordion-btn-focus-box-shadow);
  }
}

// Flush accordion items
//
// Remove borders and border-radius to keep accordion items edge-to-edge.

.accordion-flush {
  .accordion-collapse {
    border-width: 0;
  }

  .accordion-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);

    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }

    .accordion-button {
      &,
      &.collapsed {
        @include border-radius(0);
      }
    }
  }
}

// Accordion Wrapper
.accordion {
  border-left-width: var(--#{$prefix}accordion-border-width);
  border-right-width: var(--#{$prefix}accordion-border-width);
  border-top-width: var(--#{$prefix}accordion-border-width);
  border-bottom: 0;
  border-color: var(--#{$prefix}accordion-border-color);
  border-style: solid;

  // Nested Accordion
  .accordion {
    border-left: 1px solid var(--#{$prefix}accordion-border-color);
    border-right: 1px solid var(--#{$prefix}accordion-border-color);
  }

  // Background active version
  &.accordion-background-active {
    .accordion-header {
      .accordion-button[aria-expanded='true'] {
        // border-color: var(--#{$prefix}color-border-primary);
        background-color: var(--#{$prefix}color-background-primary);
        color: var(--#{$prefix}color-text-inverse);

        &:before {
          color: var(--#{$prefix}color-text-inverse);
        }

        &:after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' %3E%3Cg%3E%3Cpath fill='#{url-friendly-color($white)}' d='M12,10.3l4.8,4.8c0.3,0.3,0.8,0.3,1.1,0c0.3-0.3,0.3-0.8,0-1c0,0,0,0,0,0l-4.8-4.8c-0.6-0.6-1.5-0.6-2.1,0L6.2,14c-0.3,0.3-0.3,0.8,0,1c0,0,0,0,0,0c0.3,0.3,0.8,0.3,1.1,0L12,10.3z'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }

  // background hover version
  &.accordion-background-hover {
    .accordion-header {
      .accordion-button:hover {
        // border-color: $primary;
        background-color: var(--#{$prefix}color-background-primary);
        color: var(--#{$prefix}color-text-inverse);
        &:before {
          color: var(--#{$prefix}color-text-inverse);
        }
        &:after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' %3E%3Cg%3E%3Cpath fill='#{url-friendly-color($white)}' d='M12,10.3l4.8,4.8c0.3,0.3,0.8,0.3,1.1,0c0.3-0.3,0.3-0.8,0-1c0,0,0,0,0,0l-4.8-4.8c-0.6-0.6-1.5-0.6-2.1,0L6.2,14c-0.3,0.3-0.3,0.8,0,1c0,0,0,0,0,0c0.3,0.3,0.8,0.3,1.1,0L12,10.3z'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }

  // left icon version
  &.accordion-left-icon {
    .accordion-header {
      .accordion-button {
        &:after {
          content: none;
        }

        &:before {
          content: '-';
          width: 1.5rem;
          margin: 0 var(--#{$prefix}spacing-s) 0 0;
          float: left;
          overflow: hidden;
          font-family: var(--#{$prefix}font-serif);
          font-size: var(--#{$prefix}heading-5-font-size);
          font-weight: 300;
          line-height: var(--#{$prefix}--#{$prefix}accordion-btn-line-height);
          transform: none;
        }

        &[aria-expanded='false'] {
          &:before {
            content: '+';
          }
        }
      }
    }
  }
}

// Accordion item
//

.accordion-item {
  border-top: var(--#{$prefix}accordion-item-border-width) solid var(--#{$prefix}accordion-border-color);
  border-bottom: var(--#{$prefix}accordion-item-border-width) solid var(--#{$prefix}accordion-border-color);
  background-color: var(--#{$prefix}accordion-background);
  color: var(--#{$prefix}accordion-color);

  &:first-of-type {
    @include border-top-radius(var(--#{$prefix}accordion-border-radius));

    .accordion-button {
      @include border-top-radius(var(--#{$prefix}accordion-inner-border-radius));
    }
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));

    .accordion-button {
      &.collapsed {
        @include border-bottom-radius(var(--#{$prefix}accordion-inner-border-radius));
      }
    }

    .accordion-collapse {
      @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));
    }
  }
  // border: none;
  &:first-of-type,
  &:last-of-type {
    border-radius: 0;
    .accordion-button {
      border-radius: 0;
    }
  }
}

// Accordion header
//
.accordion-header {
  position: relative;
  margin-bottom: 0;

  .accordion-button {
    width: 100%;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--#{$prefix}accordion-btn-color);
    font-size: var(--#{$prefix}body-font-size);
    font-weight: var(--#{$prefix}font-weight-solid);
    cursor: pointer;

    &:hover {
      background: none;
      text-decoration: underline;

      &:after {
        text-decoration: none;
      }
    }

    &:active,
    &:hover,
    &:focus {
      border-top-color: var(--#{$prefix}accordion-border-color);
    }

    // Rotate icon
    &:not(.collapsed) {
      &:after {
        transform: scaleY(1);
      }
    }

    &:not(.collapsed):hover:before,
    &[aria-expanded='true']:hover:before {
      text-decoration: none;
    }

    &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' %3E%3Cg%3E%3Cpath fill='#{url-friendly-color($primary)}' d='M12,10.3l4.8,4.8c0.3,0.3,0.8,0.3,1.1,0c0.3-0.3,0.3-0.8,0-1c0,0,0,0,0,0l-4.8-4.8c-0.6-0.6-1.5-0.6-2.1,0L6.2,14c-0.3,0.3-0.3,0.8,0,1c0,0,0,0,0,0c0.3,0.3,0.8,0.3,1.1,0L12,10.3z'/%3E%3C/g%3E%3C/svg%3E");
      width: 1.5rem;
      height: auto;
      float: right;
      background-image: none;
      color: var(--#{$prefix}accordion-btn-color); // UI kit
      line-height: 0.1rem;
      transform: scaleY(-1);
      transition: transform 0.3s;
    }
  }
}

// Accordion body
//
.accordion-body {
  padding: var(--#{$prefix}accordion-body-padding-y) var(--#{$prefix}accordion-body-padding-x);
  font-size: var(--#{$prefix}body-font-size);
  line-height: var(--#{$prefix}body-line-height);

  .accordion-header button[aria-expanded='true']:before {
    width: 0;
    height: 0;
  }
}
