@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/breakpoints' as *;

// Allows to give anchors an offset to be positioned below the sticky header
.anchor-offset:before {
  content: '';
  display: block;
  height: $anchor-v-offset;
  margin-top: -$anchor-v-offset;
  @include media-breakpoint-up(lg) {
    height: $anchor-v-offset-lg;
    margin-top: -$anchor-v-offset-lg;
  }
}
