@use 'sass:math';

// Avatar variants map
// Edit the colors to match your theme or add more variants
$avatar-variants: (
  primary: $color-primary,
  secondary: $color-secondary,
);

//
// Custom properties

.avatar {
  --#{$prefix}avatar-background: var(--#{$prefix}color-background-secondary-lighter);
  --#{$prefix}avatar-text-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}avatar-font-size: var(--#{$prefix}font-size-3);
  --#{$prefix}avatar-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}avatar-icon-size: var(--#{$prefix}icon-size-s);
  --#{$prefix}avatar-radius: var(--#{$prefix}radius-circle);
  --#{$prefix}avatar-size: 2.5rem; // default size - see '.size-' classes for other sizes
  --#{$prefix}avatar-dot-size: 12px;
  --#{$prefix}avatar-dot-border-size: 2px;
  --#{$prefix}avatar-dot-border-color: var(--#{$prefix}color-border-inverse);
  --#{$prefix}avatar-dot-offset-right: 0;
  --#{$prefix}avatar-dot-offset-top: 4px;
  --#{$prefix}avatar-dot-offset-bottom: 0;
}

//
// Component styles

.avatar {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--#{$prefix}avatar-size);
  height: var(--#{$prefix}avatar-size);
  border-radius: var(--#{$prefix}avatar-radius);
  background: var(--#{$prefix}avatar-background);
  color: var(--#{$prefix}avatar-text-color);
  transition: background-color var(--#{$prefix}transition-instant);

  // Avatar color variants
  @each $avatar-variant, $avatar-variant-color in $avatar-variants {
    &.avatar-#{$avatar-variant} {
      --#{$prefix}avatar-background: #{$avatar-variant-color};
      --#{$prefix}avatar-text-color: var(--#{$prefix}color-text-inverse);
    }
  }

  &.size-xs {
    --#{$prefix}avatar-dot-border-size: 1px;
    --#{$prefix}avatar-font-size: 0.625rem;
    --#{$prefix}avatar-size: 1rem;
    --#{$prefix}avatar-icon-size: 0.625rem;
  }

  &.size-sm {
    --#{$prefix}avatar-dot-border-size: 1px;
    --#{$prefix}avatar-font-size: var(--#{$prefix}font-size-1);
    --#{$prefix}avatar-size: 1.5rem;
    --#{$prefix}avatar-icon-size: var(--#{$prefix}icon-size-xs);
  }

  &.size-md {
    --#{$prefix}avatar-font-size: var(--#{$prefix}font-size-4);
    --#{$prefix}avatar-size: 2.5rem;
    --#{$prefix}avatar-icon-size: var(--#{$prefix}icon-size-s);
    --#{$prefix}avatar-dot-offset-right: -2px;
  }

  &.size-lg {
    --#{$prefix}avatar-font-size: var(--#{$prefix}font-size-6);
    --#{$prefix}avatar-size: 3.5rem;
    --#{$prefix}avatar-icon-size: var(--#{$prefix}icon-size-m);
    --#{$prefix}avatar-dot-offset-right: -2px;
    --#{$prefix}avatar-dot-size: 14px;
  }

  &.size-xl {
    --#{$prefix}avatar-font-size: var(--#{$prefix}font-size-9);
    --#{$prefix}avatar-size: 5rem;
    --#{$prefix}avatar-icon-size: var(--#{$prefix}icon-size-l);
    --#{$prefix}avatar-dot-size: 16px;
  }

  &.size-xxl {
    --#{$prefix}avatar-font-size: var(--#{$prefix}font-size-11);
    --#{$prefix}avatar-size: 7rem;
    --#{$prefix}avatar-icon-size: var(--#{$prefix}icon-size-xl);
    --#{$prefix}avatar-dot-size: 20px;
    --#{$prefix}avatar-dot-offset-right: 4px;
  }

  &-wrapper {
    position: relative;
    z-index: 1;
  }

  &-presence,
  &-status {
    position: absolute;
    right: var(--#{$prefix}avatar-dot-offset-right);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$prefix}avatar-dot-size);
    height: var(--#{$prefix}avatar-dot-size);
    border: var(--#{$prefix}avatar-dot-border-size) solid var(--#{$prefix}avatar-dot-border-color);
    border-radius: var(--#{$prefix}avatar-radius);
    background: $color-background-secondary-lighter;
    color: var(--#{$prefix}color-text-inverse);

    .icon {
      stroke-width: 2px;
      stroke: var(--#{$prefix}icon-inverse);
    }
  }

  &-presence.active,
  &-status.approved {
    background: var(--#{$prefix}color-background-success);
  }

  &-presence.busy,
  &-status.declined {
    background: $red;
  }

  &-presence {
    bottom: 8px;
  }

  &-presence.hidden {
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 50%;
      background: var(--#{$prefix}color-background-inverse);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &-status {
    top: var(--#{$prefix}avatar-dot-offset-top);
  }

  &-status.notify {
    background: var(--#{$prefix}theme-primary);
  }

  // Avatar image
  img {
    width: 100%;
    height: 100%;
    border-radius: var(--#{$prefix}avatar-radius);
    object-fit: cover;
    object-position: center;
  }

  // Avatar first letters
  p {
    margin: 0;
    color: var(--#{$prefix}avatar-text-color);
    font-size: var(--#{$prefix}avatar-font-size);
    font-weight: var(--#{$prefix}avatar-font-weight);
    line-height: 1;
  }

  // Avatar icon
  .icon {
    width: var(--#{$prefix}avatar-icon-size);
    height: var(--#{$prefix}avatar-icon-size);
  }

  // Avatar sibling span text
  & ~ span {
    margin-left: var(--#{$prefix}spacing-xxs);
  }
}

// Hover on avatar
a.avatar,
a .avatar {
  text-decoration: none;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--#{$prefix}avatar-radius);
    opacity: 0;
    background: var(--#{$prefix}color-background-emphasis);
    transition: opacity 0.2s;
  }

  // &:hover p {
  //   color: var(--bs-avatar-text-color);
  // }

  &:hover::after {
    opacity: 0.5;
  }
}

// Avatar dropdown
.avatar-dropdown {
  position: relative;
  overflow: visible;

  .dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0;
  }

  .dropdown-menu {
    margin-left: -27px;
  }

  .btn-dropdown {
    padding: 0;
    color: inherit;
    font-size: var(--#{$prefix}label-font-size-xs);
    line-height: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .list-item {
    display: flex;
    align-items: center;
    // font-size: var(--#{$prefix}font-size-1);
  }

  .link-list {
    white-space: nowrap;

    // li:not(:last-child) {
    //   margin-bottom: var(--#{$prefix}spacing-s);
    // }
  }
}

.avatar-extra-text {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;

  .avatar {
    flex-shrink: 0;
  }

  .extra-text {
    margin-left: var(--#{$prefix}spacing-s);

    h3,
    h4 {
      margin: 0;
      font-size: var(--#{$prefix}heading-6-font-size);

      a {
        display: inline-block;
      }
    }

    p,
    time {
      margin: 0;
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}caption-font-size);
      text-transform: uppercase;
    }
  }
}

.avatar-group {
  & > li {
    margin-bottom: var(--#{$prefix}spacing-s);
    line-height: auto;

    &:last-child {
      margin-bottom: 0;
    }

    .list-item {
      display: inline-flex;
      align-items: center;
      padding: 0;
    }
  }
}

.avatar-group-stacked {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    line-height: 0;

    & > .avatar {
      margin-left: -6px;
      border: 2px solid var(--#{$prefix}color-border-inverse);
    }
  }
}
