.back-to-top {
  --#{$prefix}back-to-top-bg: var(--#{$prefix}color-background-primary);
  --#{$prefix}back-to-top-bg-position: 1rem;
  --#{$prefix}back-to-top-radius: var(--#{$prefix}radius-circle);
  --#{$prefix}back-to-top-sizing: 2.5rem;
}

.back-to-top {
  position: fixed;
  bottom: var(--#{$prefix}back-to-top-bg-position);
  right: var(--#{$prefix}back-to-top-bg-position);
  background: var(--#{$prefix}color-background-primary);
  width: var(--#{$prefix}back-to-top-sizing);
  height: var(--#{$prefix}back-to-top-sizing);
  text-decoration: none;
  border-radius: var(--#{$prefix}back-to-top-radius);
  display: block;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition:
    $transition-base,
    transform 0.25s cubic-bezier(0.75, -0.5, 0, 1.75),
    visibility 0.3s linear,
    opacity 0.3s ease-in-out;
  z-index: 1;
  transform: scale(0.7);
  transform-origin: center center;

  // Tablet vertical
  @include media-breakpoint-up(md) {
    --#{$prefix}back-top-sizing: 3.5rem; // 56px
  }

  // Desktop
  @include media-breakpoint-up(xl) {
    --#{$prefix}back-to-top-position: 2rem; // 32px
  }

  &:hover {
    --back-to-top-bg: var(--#{$prefix}color-background-primary-hover  );
    text-decoration: none;
  }


  // Fade in
  &.back-to-top-show {
    visibility: visible;
    opacity: 1;
    transition:
      $transition-base,
      transform 0.05s ease-out,
      visibility 0s linear,
      opacity 0.1s ease-in-out;
    transform: scale(1);
  }

  // Icon
  .icon {
    margin: 0;
    position: relative;
    transform: scale(0.75);
    top: 4px;

    @include media-breakpoint-up(md) {
      transform: scale(1);
      top: 10px;
    }

    &:before {
      margin: 0;
      color: var(--#{$prefix}icon-inverse);
    }
  }

  // Shadow
  &.shadow {
    &:hover {
      box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.3) !important;
    }
  }

  // Dark version
  &.dark {
    --#{$prefix}back-to-top-bg: var(--#{$prefix}color-background-inverse);
    &:hover {
      --#{$prefix}back-to-top-bg: var(--dsi-color-slate-93);
    }

    .icon {
      &:before {
        color: var(--#{$prefix}icon-secondary);
      }
    }
  }

  // Small version
  &.back-to-top-small {
    --#{$prefix}back-top-sizing: 2.5rem; // 40px
    .icon {
      transform: scale(0.75);
      top: 4px;
    }
  }
}

