.back-to-top {
  --#{$prefix}backtop-background: var(--#{$prefix}color-background-primary);
  --#{$prefix}backtop-position: 1rem;
  --#{$prefix}backtop-radius: var(--#{$prefix}radius-circle);
  --#{$prefix}backtop-sizing: 2.5rem;

  position: fixed;
  right: var(--#{$prefix}backtop-position);
  bottom: var(--#{$prefix}backtop-position);
  z-index: 1;
  display: block;
  visibility: hidden;
  width: var(--#{$prefix}backtop-sizing);
  height: var(--#{$prefix}backtop-sizing);
  border-radius: var(--#{$prefix}backtop-radius);
  opacity: 0;
  background: var(--#{$prefix}backtop-background);
  text-align: center;
  text-decoration: none;
  transform: scale(0.7);
  transform-origin: center center;
  transition:
    $transition-base,
    transform 0.25s cubic-bezier(0.75, -0.5, 0, 1.75),
    visibility 0.3s linear,
    opacity 0.3s ease-in-out;

  // Tablet vertical
  @include media-breakpoint-up(md) {
    --#{$prefix}backtop-sizing: 3.5rem; // 56px
  }

  // Desktop
  @include media-breakpoint-up(xl) {
    --#{$prefix}backtop-position: 2rem; // 32px
  }

  &:hover {
    --backtop-background: var(--#{$prefix}color-background-primary-hover);
    text-decoration: none;
  }

  // Fade in
  &.back-to-top-show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition:
      $transition-base,
      transform 0.05s ease-out,
      visibility 0s linear,
      opacity 0.1s ease-in-out;
  }

  // Icon
  .icon {
    position: relative;
    top: 4px;
    margin: 0;
    transform: scale(0.75);

    @include media-breakpoint-up(md) {
      top: 10px;
      transform: scale(1);
    }

    &:before {
      margin: 0;
      color: var(--#{$prefix}icon-inverse);
    }
  }

  // Shadow
  &.shadow {
    &:hover {
      box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.3) !important;
    }
  }

  // Dark version
  &.dark {
    --#{$prefix}backtop-background: var(--#{$prefix}color-background-inverse);
    &:hover {
      --#{$prefix}backtop-background: var(--#{$prefix}color-background-inverse-hover);
    }

    .icon {
      &:before {
        color: var(--#{$prefix}icon-secondary);
      }
    }
  }

  // Small version
  &.back-to-top-small {
    --#{$prefix}backtop-sizing: 2.5rem; // 40px
    .icon {
      top: 4px;
      transform: scale(0.75);
    }
  }
}
