@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/border-radius' as *;
@use '../base/mixins/gradients' as *;
@use '../base/vendor/rfs' as *;

// Component: badge
//
// Description: Component styles for badge
//

// Variables
//

// Properties
//

.badge {
  --#{$prefix}badge-border-radius: var(--#{$prefix}radius-smooth); // Controls the border radius for the badge, using radius tokens.
  --#{$prefix}badge-font-size: var(--#{$prefix}label-font-size-s); // Controls the font size for the badge, using font tokens.
  --#{$prefix}badge-font-size-relative: 0.75em; // Controls the relative font size for the badge.
  --#{$prefix}badge-font-weight: var(--#{$prefix}font-weight-solid); // Controls the font weight for the badge, using font tokens.
  --#{$prefix}badge-padding-x: var(--#{$prefix}spacing-xs); // Controls the horizontal padding for the badge, using spacing tokens.
  --#{$prefix}badge-padding-y: var(--#{$prefix}spacing-3xs); // Controls the vertical padding for the badge, using spacing tokens.
  --#{$prefix}badge-text-color: var(--#{$prefix}color-text-inverse); // Controls the text color for the badge, using color tokens.
}

// Styles
//
/* stylelint-disable-next-line no-duplicate-selectors */
.badge {
  display: inline-block;
  padding: var(--#{$prefix}badge-padding-y) var(--#{$prefix}badge-padding-x);
  color: var(--#{$prefix}badge-text-color);
  // font-size: var(--#{$prefix}badge-font-size-relative);
  font-weight: var(--#{$prefix}badge-font-weight);
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  transition:
    color var(--#{$prefix}transition-instant) ease-in-out,
    background-color var(--#{$prefix}transition-instant) ease-in-out,
    border-color var(--#{$prefix}transition-instant) ease-in-out,
    box-shadow var(--#{$prefix}transition-instant) ease-in-out;
  @include rfs($badge-font-size, --#{$prefix}badge-font-size);
  @include border-radius(var(--#{$prefix}badge-border-radius));

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  // Add a small padding to badges in buttons
  &-sm {
    --#{$prefix}badge-padding-x: var(--#{$prefix}spacing-3xs);
  }

  // Color Variants
  @each $color, $value in $colors-palette {
    &.badge-#{$color} {
      background-color: #{$value};
    }
  }

  // Inverse Variant
  &-inverse {
    background-color: var(--#{$prefix}color-background-inverse);
    color: var(--#{$prefix}color-text-primary);
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// Hover state
a.badge:hover {
  color: var(--#{$prefix}badge-text-color);

  // Loop through theme colors to generate contextual modifier classes for colorizing the badge
  @each $color, $value in $colors-palette {
    &.badge-#{$color} {
      @if $color == 'primary' {
        background-color: var(--#{$prefix}color-background-primary-hover);
      } @else if $color == 'secondary' {
        background-color: var(--#{$prefix}color-background-secondary-hover);
      } @else if $color == 'success' {
        background-color: var(--#{$prefix}color-background-success-hover);
      } @else if $color == 'warning' {
        background-color: var(--#{$prefix}color-background-warning-hover);
      } @else if $color == 'danger' {
        background-color: var(--#{$prefix}color-background-danger-hover);
      }
    }
  }
}
