.badge {
  --#{$prefix}badge-padding-x: var(--#{$prefix}spacing-xs);
  --#{$prefix}badge-padding-y: var(--#{$prefix}spacing-3xs);
  --#{$prefix}badge-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}badge-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}badge-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}badge-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}badge-font-size-relative: 0.75em;

  display: inline-block;
  padding: var(--#{$prefix}badge-padding-y) var(--#{$prefix}badge-padding-x);
  color: var(--#{$prefix}badge-color);
  // font-size: var(--#{$prefix}badge-font-size);
  font-weight: var(--#{$prefix}badge-font-weight);
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  @include rfs($badge-font-size, --#{$prefix}badge-font-size);
  @include border-radius(var(--#{$prefix}badge-border-radius));
  // @include gradient-bg();
  // @each $color, $value in $status {
  //   &.badge-outline-#{$color} {
  //     border: 1px solid $value;
  //     background-color: transparent !important;
  //     color: $value;
  //   }
  // }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  // Add a small padding to badges in buttons
  &-sm {
    --#{$prefix}badge-padding-x: var(--#{$prefix}spacing-3xs);
  }

  // Color Variants
  @each $color, $value in $colors-palette {
    &.badge-#{$color} {
      background-color: #{$value};
    }
  }

  // Inverse Variant
  &-inverse {
    background-color: var(--#{$prefix}color-background-inverse);
    color: var(--#{$prefix}color-text-primary);
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// a.badge:hover {
//   @each $color, $value in $status {
//     &.badge-#{$color} {
//       background-color: shade-color($value, 20%) !important;
//     }
//   }
// }
