@use '../base/config' as *;
@use '../base/variables' as *;

// Component: bottomnav
//
// Description: Component styles for bottomnav
//

// Variables
//

// Properties
//

.bottom-nav {
  --#{$prefix}bottom-nav-height: 96px;
  --#{$prefix}bottom-nav-list-height: 64px;
  --#{$prefix}bottom-nav-item-margin: var(--#{$prefix}spacing-xxs);
  --#{$prefix}bottom-nav-link-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}bottom-nav-link-color-active: var(--#{$prefix}color-text-primary);
  --#{$prefix}bottom-nav-icon-color: var(--#{$prefix}icon-secondary);
  --#{$prefix}bottom-nav-icon-color-active: var(--#{$prefix}icon-primary);
  --#{$prefix}bottom-nav-icon-font-size: 1.35rem;
  --#{$prefix}bottom-nav-icon-height: var(--#{$prefix}spacing-l);
  --#{$prefix}bottom-nav-label-margin-top: 6px;
  --#{$prefix}bottom-nav-label-font-size: var(--#{$prefix}label-font-size-xs);
  --#{$prefix}bottom-nav-label-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}bottom-nav-badge-bg: var(--#{$prefix}color-background-primary);
  --#{$prefix}bottom-nav-badge-border-color: var(--#{$prefix}color-background-inverse);
  --#{$prefix}bottom-nav-badge-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}bottom-nav-badge-font-size: 0.625rem;
  --#{$prefix}bottom-nav-badge-radius: var(--#{$prefix}radius-rounded);
  --#{$prefix}bottom-nav-alert-size: 12px;
  --#{$prefix}bottom-nav-shadow-height: 360px;
  --#{$prefix}bottom-nav-shadow-top: var(--#{$prefix}spacing-l);
  --#{$prefix}bottom-nav-shadow-opacity: 0.18;
  --#{$prefix}bottom-nav-shadow-transform: translateY(-50%) scalex(1.4) scaleY(0.12);
  --#{$prefix}bottom-nav-shadow-background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
}

// Styles
//
/* stylelint-disable-next-line no-duplicate-selectors */
.bottom-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--#{$prefix}bottom-nav-height);
  overflow: hidden;

  // Shadow
  &:before {
    position: absolute;
    top: var(--#{$prefix}bottom-nav-shadow-top);
    z-index: 10;
    content: '';
    width: 100%;
    height: var(--#{$prefix}bottom-nav-shadow-height);
    border-radius: 50%;
    opacity: var(--#{$prefix}bottom-nav-shadow-opacity);
    background: var(--#{$prefix}bottom-nav-shadow-background);
    transform: var(--#{$prefix}bottom-nav-shadow-transform);
  }

  // List
  ul {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: var(--#{$prefix}bottom-nav-list-height);
    margin: 0;
    padding: 0;
    background-color: var(--#{$prefix}color-background-inverse);

    li {
      margin: var(--#{$prefix}bottom-nav-item-margin);
      list-style-type: none;
      text-align: center;
    }
  }

  a {
    --#{$prefix}bottom-nav-current-link-color: var(--#{$prefix}bottom-nav-link-color);
    --#{$prefix}bottom-nav-current-icon-color: var(--#{$prefix}bottom-nav-icon-color);

    display: block;
    color: var(--#{$prefix}bottom-nav-current-link-color);
    text-decoration: none;

    .icon {
      fill: var(--#{$prefix}bottom-nav-current-icon-color);
    }

    &.active {
      --#{$prefix}bottom-nav-current-link-color: var(--#{$prefix}bottom-nav-link-color-active);
      --#{$prefix}bottom-nav-current-icon-color: var(--#{$prefix}bottom-nav-icon-color-active);
    }

    &:hover {
      --#{$prefix}bottom-nav-current-link-color: var(--#{$prefix}bottom-nav-link-color-active);
      --#{$prefix}bottom-nav-current-icon-color: var(--#{$prefix}bottom-nav-icon-color-active);
      text-decoration: none;
    }
  }

  // Icon
  .it-ico {
    position: relative;
    display: block;
    height: var(--#{$prefix}bottom-nav-icon-height);
    font-size: var(--#{$prefix}bottom-nav-icon-font-size);

    &:before {
      margin-right: 0;
    }
  }

  // Icon badges
  .badge-wrapper {
    position: relative;
  }

  .bottom-nav-badge,
  .bottom-nav-alert {
    position: absolute;
    display: block;
    border: 1px solid var(--#{$prefix}bottom-nav-badge-border-color);
    background-color: var(--#{$prefix}bottom-nav-badge-bg);
  }

  // Icon badge
  .bottom-nav-badge {
    top: 0;
    right: 0;
    min-width: 1.15rem;
    padding: var(--#{$prefix}spacing-3xs);
    border-radius: var(--#{$prefix}bottom-nav-badge-radius);
    color: var(--#{$prefix}bottom-nav-badge-color);
    font-size: var(--#{$prefix}bottom-nav-badge-font-size);
    font-style: var(--#{$prefix}font-weight-solid);
    line-height: 1;
  }

  // Icon alert
  .bottom-nav-alert {
    top: 0;
    right: 4px;
    min-width: var(--#{$prefix}bottom-nav-alert-size);
    height: var(--#{$prefix}bottom-nav-alert-size);
    border-radius: var(--#{$prefix}radius-circle);
  }

  // Text label
  .bottom-nav-label {
    display: block;
    margin-top: var(--#{$prefix}bottom-nav-label-margin-top);
    font-size: var(--#{$prefix}bottom-nav-label-font-size);
    font-weight: var(--#{$prefix}bottom-nav-label-font-weight);
    line-height: 1;
  }
}
