@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/border-radius' as *;
@use '../base/vendor/rfs' as *;

// Component: breadcrumb
//
// Description: Component styles for breadcrumb
//

// Variables
//

// Properties
//

.breadcrumb {
  --#{$prefix}breadcrumb-background: transparent; // Controls the background for the breadcrumb.
  --#{$prefix}breadcrumb-border-radius: 0; // Controls the border radius for the breadcrumb.
  --#{$prefix}breadcrumb-divider: '/'; // Controls the divider character for the breadcrumb.
  --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}color-border-secondary); // Controls the divider color for the breadcrumb, using color tokens.
  --#{$prefix}breadcrumb-divider-flipped: var(--#{$prefix}breadcrumb-divider); // Controls the flipped divider for the breadcrumb.
  --#{$prefix}breadcrumb-font-size: var(--#{$prefix}label-font-size); // Controls the font size for the breadcrumb, using font tokens.
  --#{$prefix}breadcrumb-item-padding-x: var(--#{$prefix}spacing-xs); // Controls the horizontal padding for breadcrumb items, using spacing tokens.
  --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-text-secondary); // Controls the link color for the breadcrumb, using color tokens.
  --#{$prefix}breadcrumb-link-font-weight: var(--#{$prefix}font-weight-solid); // Controls the link font weight for the breadcrumb, using font tokens.
  --#{$prefix}breadcrumb-margin: var(--#{$prefix}spacing-s); // Controls the margin for the breadcrumb, using spacing tokens.
  --#{$prefix}breadcrumb-padding: var(--#{$prefix}spacing-3xs); // Controls the padding for the breadcrumb, using spacing tokens.
  --#{$prefix}breadcrumb-separator-color: var(--#{$prefix}color-background-secondary); // Controls the separator color for the breadcrumb, using color tokens.
  --#{$prefix}breadcrumb-separator-spacing: var(--#{$prefix}spacing-xxs); // Controls the separator spacing for the breadcrumb, using spacing tokens.
}

// Styles
//
/* stylelint-disable-next-line no-duplicate-selectors */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--#{$prefix}breadcrumb-margin);
  padding: var(--#{$prefix}breadcrumb-padding);
  background-color: var(--#{$prefix}breadcrumb-background, transparent);
  list-style: none;
  font-size: var(--#{$prefix}breadcrumb-font-size);

  // Variant on dark background

  &.dark {
    --#{$prefix}breadcrumb-background: var(--#{$prefix}color-background-emphasis);
    --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}breadcrumb-item-active-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}color-text-inverse);

    .breadcrumb-item {
      a:hover {
        --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-text-inverse);
      }

      .separator {
        color: var(--#{$prefix}breadcrumb-link-color);
      }
    }
  }
}

.breadcrumb-item {
  padding-left: 0;

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    &::before {
      content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{'/* rtl:'}
        var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{'*/'};
      padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
      float: left; // Suppress inline spacings and underlining of the separator
      color: var(--#{$prefix}breadcrumb-divider-color);
    }
  }

  & + .breadcrumb-item:before {
    display: none;
  }

  // The breadcrumb item link
  a {
    color: var(--#{$prefix}breadcrumb-link-color);
    font-weight: var(--#{$prefix}breadcrumb-link-font-weight);
    &:hover {
      --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-link-secondary-hover);
    }
  }

  // The breadcrumb item text with no link
  &.active {
    color: var(--#{$prefix}breadcrumb-item-active-color);
    font-weight: var(--#{$prefix}font-weight-regular);
    pointer-events: none;
  }

  // The separator between breadcrumb items
  .separator {
    display: inline-block;
    padding: 0 var(--#{$prefix}breadcrumb-separator-spacing);
    color: var(--#{$prefix}breadcrumb-separator-color);
  }
}
