// Component: breadcrumb
//
// Description: Component styles for breadcrumb
//

// Variables
//

// Properties
//

.breadcrumb {
  --#{$prefix}breadcrumb-background: transparent;
  --#{$prefix}breadcrumb-border-radius: 0;
  --#{$prefix}breadcrumb-divider: '/';
  --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}color-border-secondary);
  --#{$prefix}breadcrumb-divider-flipped: var(--#{$prefix}breadcrumb-divider);
  --#{$prefix}breadcrumb-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}breadcrumb-item-padding-x: var(--#{$prefix}spacing-xs);
  --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}breadcrumb-link-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}breadcrumb-margin: var(--#{$prefix}spacing-s);
  --#{$prefix}breadcrumb-padding: var(--#{$prefix}spacing-3xs);
  --#{$prefix}breadcrumb-separator-color: var(--#{$prefix}color-background-secondary);
  --#{$prefix}breadcrumb-separator-spacing: var(--#{$prefix}spacing-xxs);
}

// Styles
//


.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--#{$prefix}breadcrumb-margin);
  padding: var(--#{$prefix}breadcrumb-padding);
  background-color: var(--#{$prefix}breadcrumb-background, transparent);
  list-style: none;
  font-size: var(--#{$prefix}breadcrumb-font-size);
}

.breadcrumb-item {
  padding-left: 0;

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  +.breadcrumb-item {
    &::before {
      content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{'/* rtl:'} var(--#{$prefix}breadcrumb-divider,
        escape-svg($breadcrumb-divider-flipped)) #{'*/'};
      padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
      float: left; // Suppress inline spacings and underlining of the separator
      color: var(--#{$prefix}breadcrumb-divider-color);
    }
  }

  &+.breadcrumb-item:before {
    display: none;
  }

// The breadcrumb item link
  a {
    color: var(--#{$prefix}breadcrumb-link-color);
    font-weight: var(--#{$prefix}breadcrumb-link-font-weight);
    &:hover {
      --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-text-secondary-hover);
    }
  }

  // The breadcrumb item text with no link
  &.active {
    color: var(--#{$prefix}breadcrumb-item-active-color);
    font-weight: var(--#{$prefix}font-weight-regular);
    pointer-events: none;
  }

  // The separator between breadcrumb items
  .separator {
    display: inline-block;
    padding: 0 var(--#{$prefix}breadcrumb-separator-spacing);
    color: var(--#{$prefix}breadcrumb-separator-color);
  }

  // Variant on dark background
  // todo: remove class directly applied to breadcrumb
  &.dark {
    --#{$prefix}breadcrumb-background: var(--#{$prefix}color-background-emphasis);
    --#{$prefix}breadcrumb-link-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}breadcrumb-item-active-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}color-text-inverse);

    .breadcrumb-item {
      span.separator {
        color: var(--#{$prefix}breadcrumb-link-color);
      }

      i {
        color: var(--#{$prefix}breadcrumb-divider-color);
      }
    }
  }
}

