// Component: buttons
//
// Description: Component styles for buttons
//

// Variables
//

$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") !default;
$btn-close-white-filter: invert(1) grayscale(100%) brightness(200%) !default;

// Properties
//

.btn {
  --#{$prefix}btn-background: transparent; // default to transparent
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}btn-border-size: 0; // default to 0
  --#{$prefix}btn-disabled-opacity: 0.5;
  --#{$prefix}btn-font-family: var(--#{$prefix}font-sans);
  --#{$prefix}btn-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}btn-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}btn-line-height: var(--#{$prefix}font-line-height-3);
  --#{$prefix}btn-outline-border-color: transparent;
  --#{$prefix}btn-outline-border-size: 2px;
  --#{$prefix}btn-padding-x: var(--#{$prefix}spacing-s);
  --#{$prefix}btn-padding-y: var(--#{$prefix}spacing-xs);
  --#{$prefix}btn-text-color: var(--#{$prefix}color-text-primary);
}

// Styles
//

.btn {
  display: inline-block;
  padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
  border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);
  border-radius: var(--#{$prefix}btn-border-radius);
  background: var(--#{$prefix}btn-background);
  box-shadow: var(--#{$prefix}btn-box-shadow, none);
  color: var(--#{$prefix}btn-text-color);
  font-family: var(--#{$prefix}btn-font-family);
  font-size: var(--#{$prefix}btn-font-size);
  font-weight: var(--#{$prefix}btn-font-weight);
  line-height: var(--#{$prefix}btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: initial;
  width: auto; // prevent buttons from stretching full width
  transition: all var(--#{$prefix}transition-instant) ease-in-out;
  user-select: none;

  &:hover {
    color: var(--#{$prefix}btn-text-color);
  }

  &:disabled,
  &.disabled {
    opacity: var(--#{$prefix}btn-disabled-opacity);
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus-visible {
    border-color: var(--#{$prefix}btn-hover-border-color);
    outline: 0;
  }

  .btn-check:focus-visible + & {
    border-color: var(--#{$prefix}btn-hover-border-color);
    outline: 0;
  }
}

// Link buttons
// Make a button look and behave like a link
//

.btn-link {
  --#{$prefix}btn-background: transparent;
  --#{$prefix}btn-border-color: transparent;
  text-decoration: underline;

  &:hover {
    color: var(--#{$prefix}color-link-hover);
  }
}

// Button Sizes
//

.btn-xs {
  --#{$prefix}btn-padding-x: var(--#{$prefix}spacing-xs);
  --#{$prefix}btn-padding-y: var(--#{$prefix}spacing-xs);
  --#{$prefix}btn-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}btn-line-height: var(--#{$prefix}font-line-height-1);
  --#{$prefix}rounded-icon-size: 20px;
}

.btn-lg {
  --#{$prefix}btn-padding-x: var(--#{$prefix}spacing-m);
  --#{$prefix}btn-padding-y: var(--#{$prefix}spacing-s);
  --#{$prefix}btn-font-size: var(--#{$prefix}label-font-size-m);
  --#{$prefix}btn-line-height: var(--#{$prefix}font-line-height-5);
}

.btn-progress {
  position: relative;
}

// Button with icon
//

.btn-icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--#{$prefix}icon-spacing);
}

// Button full TODO: Is this needed?
//
.btn-full {
  align-self: stretch;
  width: inherit;
  border: none;
  box-shadow: none;
  @include media-breakpoint-up(lg) {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.btn:disabled:hover,
.btn.disabled:hover {
  cursor: not-allowed;
}

.btn-primary,
a.btn-primary {
  --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}btn-background: var(--#{$prefix}color-background-primary);

  &:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-primary-hover);
  }

  &:active {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-primary-active);
  }

  &.btn-progress {
    border-color: hsl(210, 76%, 67%); // UI kit - missing token
    opacity: 1;
    background-color: hsl(210, 76%, 67%); // UI kit - missing token
  }
}

.btn-secondary,
a.btn-secondary {
  --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}btn-background: var(--#{$prefix}color-background-secondary);

  &:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-secondary-hover);
  }

  &:active {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-secondary-active);
  }

  &:disabled,
  &.disabled {
    //progress bar button
    &.btn-progress {
      border-color: hsl(210, 12%, 52%); // UI kit - missing tokens
      opacity: 1;
      background-color: hsl(210, 12%, 52%); // UI kit - missing tokens
    }
  }
}

.btn-success,
a.btn-success {
  --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}btn-background: var(--#{$prefix}color-background-success);

  &:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-success-hover);
  }

  &:active {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-success-active);
  }
}

.btn-warning,
a.btn-warning {
  --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}btn-background: var(--#{$prefix}color-background-warning);

  &:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-warning-hover);
  }

  &:active {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-warning-active);
  }
}

.btn-danger,
a.btn-danger {
  --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}btn-background: var(--#{$prefix}color-background-danger);

  &:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-danger-hover);
  }

  &:active {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-danger-active);
  }
}

// Button Outline
//

.btn[class*='btn-outline-'] {
  --#{$prefix}btn-box-shadow: inset 0 0 0 var(--#{$prefix}btn-outline-border-size) var(--#{$prefix}btn-outline-border-color);
}

.btn-outline,
a.btn-outline {
  // Outline Primary
  &-primary {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-primary);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-primary);
    &:hover {
      --#{$prefix}btn-outline-border-color: color-mix(in srgb, var(--#{$prefix}color-border-primary-hover) 70%, black); // more contrast on hover
      --#{$prefix}btn-text-color: var(--#{$prefix}color-link-hover);
    }
    &:active {
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-primary-active);
      --#{$prefix}btn-text-color: var(--#{$prefix}color-link-active);
    }
  }

  // Outline Secondary
  &-secondary {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-secondary);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-secondary);

    &:hover {
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-secondary-hover);
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-secondary-hover);
    }
    &:active {
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-secondary-active);
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-secondary-active);
    }
  }

  // Outline Success
  &-success {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-success);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-success);

    &:hover {
      /* aumenta contrasto scurendo il bordo rispetto al token base */
      --#{$prefix}btn-outline-border-color: color-mix(in srgb, var(--#{$prefix}color-border-success-hover) 70%, black); // more contrast on hover
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-success-hover);
    }
    &:active {
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-success-active);
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-success-active);
    }
  }

  // Outline Warning
  &-warning {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-warning);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-warning);

    &:hover {
      --#{$prefix}btn-outline-border-color: color-mix(in srgb, var(--#{$prefix}color-border-warning-hover) 70%, black); // more contrast on hover
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-warning-hover);
    }
    &:active {
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-warning-active);
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-warning-active);
    }
  }

  // Outline Danger
  &-danger {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-danger);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-danger);

    &:hover {
      --#{$prefix}btn-outline-border-color: color-mix(in srgb, var(--#{$prefix}color-border-danger-hover) 70%, black); // more contrast on hover
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-danger-hover);
    }
    &:active {
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-danger-active);
      --#{$prefix}btn-text-color: var(--#{$prefix}color-text-danger-active);
    }
  }
}

// Button in a dark background
//

.bg-dark {
  .btn-link {
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  }

  a.btn-primary,
  .btn-primary {
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-primary);
    --#{$prefix}btn-background: var(--#{$prefix}color-background-inverse);

    &:hover {
      --#{$prefix}btn-background: color-mix(in srgb, var(--#{$prefix}color-background-inverse) 85%, black);
    }

    &:active {
      --#{$prefix}btn-background: color-mix(in srgb, var(--#{$prefix}color-background-inverse) 80%, black);
    }
  }

  a.btn-secondary,
  .btn-secondary {
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}btn-background: var(--#{$prefix}color-background-secondary);

    &:hover,
    &:active {
      --#{$prefix}btn-background: color-mix(in srgb, var(--#{$prefix}color-background-secondary) 85%, black);
    }
  }

  .btn-outline-primary,
  a.btn-outline-primary {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-inverse);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);

    &:hover {
      --#{$prefix}btn-boxshadow-color-darken: color-mix(in srgb, var(--#{$prefix}color-border-inverse) 80%, black);
      --#{$prefix}btn-boxshadow-color-desaturated: color-mix(in srgb, var(--#{$prefix}btn-boxshadow-color-darken) 80%, gray);
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}btn-boxshadow-color-desaturated); //tutto questo equivale a fare color-hover(...)
    }
  }

  .btn-outline-secondary,
  a.btn-outline-secondary {
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
    &:hover,
    &:active {
      --#{$prefix}btn-boxshadow-color-darken: color-mix(in srgb, var(--#{$prefix}color-background-secondary) 80%, black);
      --#{$prefix}btn-boxshadow-color-desaturated: color-mix(in srgb, var(--#{$prefix}btn-boxshadow-color-darken) 80%, gray);
      --#{$prefix}btn-outline-border-color: var(--#{$prefix}btn-boxshadow-color-desaturated); //tutto questo equivale a fare color-hover(...)
    }
  }
}

// Button close
// The close button is used to close modals, alerts, and other components.
// It is a small button with an "X" icon.
// The close button is a special case of the button component.

.btn-close {
  position: relative;
  box-sizing: content-box;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0; // for button elements
  opacity: 0.5;
  background-color: transparent;
  color: var(--#{$prefix}color-text-base);

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Override <a>'s hover style
  &:hover {
    opacity: 1;
    text-decoration: none;
  }

  &:focus {
    opacity: 1;
  }

  &:disabled,
  &.disabled {
    opacity: var(--#{$prefix}btn-disabled-opacity);
    pointer-events: none;
    user-select: none;
  }
}

.btn-close-white {
  filter: $btn-close-white-filter;
}
