//
// Component properties

.callout {
  --#{$prefix}callout-border-color: var(--#{$prefix}color-border-secondary);
  --#{$prefix}callout-border-size: 2px;
  --#{$prefix}callout-background-color: var(--#{$prefix}page-background-color);
  --#{$prefix}callout-font-family: var(--#{$prefix}font-sans);
  --#{$prefix}callout-icon-color: var(--#{$prefix}icon-secondary);
  --#{$prefix}callout-inner-spacing: var(--#{$prefix}spacing-m);
  --#{$prefix}callout-outer-spacing: var(--#{$prefix}spacing-l);
  --#{$prefix}callout-text-font-size: var(--#{$prefix}body-font-size);
  --#{$prefix}callout-text-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}callout-title-font-size: var(--#{$prefix}heading-6-font-size);
  --#{$prefix}callout-title-font-weight: var(--#{$prefix}heading-font-weight-weak);
  --#{$prefix}callout-title-color: var(--#{$prefix}color-text-secondary);
}

//
// Component styles

.callout {
  position: relative;
  overflow: hidden;
  background-color: var(--#{$prefix}callout-background-color);
  color: var(--#{$prefix}callout-text-color);

  .callout-inner {
    margin: var(--#{$prefix}callout-outer-spacing) 0;
    padding: 8px var(--#{$prefix}callout-inner-spacing) var(--#{$prefix}callout-inner-spacing);
    border: var(--#{$prefix}callout-border-size) solid var(--#{$prefix}callout-border-color);
    border-top: 0;
  }

  .callout-title {
    color: var(--#{$prefix}callout-title-color);
    font-size: var(--#{$prefix}callout-title-font-size);
    font-weight: var(--#{$prefix}callout-title-font-weight);
    text-transform: uppercase;

    .icon {
      margin-right: var(--#{$prefix}spacing-xxs);
      fill: var(--#{$prefix}callout-icon-color);
    }

    span {
      border-color: var(--#{$prefix}callout-border-color);

      &:before,
      &:after {
        background: var(--#{$prefix}callout-border-color);
      }
    }
  }

  &:not(.callout-highlight):not(.callout-more) {
    .callout-title {
      position: relative;
      top: -1.5rem; // Must be equal to the inner spacing
      display: flex;
      align-items: center;
      padding-left: var(--#{$prefix}spacing-xs);

      .text {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: var(--#{$prefix}spacing-xs);

        &:after {
          position: absolute;
          left: 100%;
          content: '';
          width: calc(100vw - 100% - 24px);
          border-top: var(--#{$prefix}callout-border-size) solid var(--#{$prefix}callout-border-color);
        }
      }

      &:before {
        position: absolute;
        top: 0.875em;
        left: -1.5rem; // Equal to the inner spacing
        content: '';
        display: block;
        width: 1.5rem;
        border-top: var(--#{$prefix}callout-border-size) solid var(--#{$prefix}callout-border-color);
      }
    }
  }

  p {
    color: var(--#{$prefix}callout-text-color);
    font-family: var(--#{$prefix}callout-font-family);
    font-size: var(--#{$prefix}callout-text-size);

    &.callout-big-text {
      font-size: var(--it-body-font-size-l);
    }

    &:last-child {
      margin: 0; // Remove margin from last paragraph, even if it's the only one
    }
  }

  .icon {
    fill: var(--#{$prefix}callout-icon-color);
  }

  // Color Variants
  &-primary {
    --#{$prefix}callout-border-color: var(--#{$prefix}color-border-primary);
    --#{$prefix}callout-title-color: var(--#{$prefix}color-text-primary);
    --#{$prefix}callout-icon-color: var(--#{$prefix}icon-primary);
  }

  &-success {
    --#{$prefix}callout-border-color: var(--#{$prefix}color-border-success);
    --#{$prefix}callout-title-color: var(--#{$prefix}color-text-success);
    --#{$prefix}callout-icon-color: var(--#{$prefix}icon-success);
  }

  &-warning {
    --#{$prefix}callout-border-color: var(--#{$prefix}color-border-warning);
    --#{$prefix}callout-title-color: var(--#{$prefix}color-text-warning);
    --#{$prefix}callout-icon-color: var(--#{$prefix}icon-warning);
  }

  &-danger {
    --#{$prefix}callout-border-color: var(--#{$prefix}color-border-danger);
    --#{$prefix}callout-title-color: var(--#{$prefix}color-text-danger);
    --#{$prefix}callout-icon-color: var(--#{$prefix}icon-danger);
  }

  // Highlight Variant
  &-highlight {
    --#{$prefix}callout-border-radius: 0;
    padding: 0 var(--#{$prefix}spacing-m);
    border: none;
    border-left: var(--#{$prefix}callout-border-size) solid var(--#{$prefix}callout-border-color);

    .callout-title {
      margin-bottom: var(--#{$prefix}spacing-s);
    }
  }

  // In Depth Variant
  &-more {
    position: relative;
    padding: var(--#{$prefix}spacing-l);
    border: none;
    border-radius: 0;
    background: #f9f9f5;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }

    &:before {
      border-width: 0 48px 48px 0;
      border-color: transparent var(--#{$prefix}page-background) transparent transparent;
    }

    &:after {
      border-width: 48px 0 0 48px;
      border-color: transparent transparent transparent #e4e4db;
    }

    p {
      color: var(--#{$prefix}color-text-secondary);
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .callout-title {
      display: flex;
      align-items: flex-start;
      margin-bottom: 2.222rem;

      i {
        font-size: 1.25rem;
      }

      span {
        display: inline-block;
        margin-top: -0.111rem;
        padding-bottom: 0.1rem;
      }
    }
  }

  .collapse-div {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: none;

    .collapse-header {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      padding: var(--#{$prefix}spacing-m) 0 0;
      border-top: 1px solid var(--#{$prefix}color-border-subtle);

      .callout-more-toggle {
        display: flex;
        align-items: center;
        width: auto;
        padding: 0;
        border: none;
        background-color: transparent;
        color: var(--#{$prefix}color-link);
        font-weight: normal;

        &:hover,
        &:focus,
        &:active {
          background: none;
        }

        &:hover {
          color: var(--#{$prefix}color-link-hover);

          span {
            border-color: var(--#{$prefix}color-link-hover);

            &:before,
            &:after {
              background: var(--#{$prefix}color-link-hover);
            }
          }
        }

        &:active {
          color: var(--#{$prefix}color-link-active);
        }

        &:before,
        &:after {
          display: none;
        }

        span {
          position: relative;
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-top: 0.111rem;
          margin-left: 0.444rem;
          border: 1px solid var(--#{$prefix}color-text-primary);
          border-radius: 50%;

          &:before,
          &:after {
            position: absolute;
            content: '';
            background: var(--#{$prefix}color-background-primary);
          }

          &:before {
            top: 6px;
            left: 2px;
            width: 9px;
            height: 1px;
          }

          &:after {
            top: 0;
            left: 6px;
            width: 1px;
            height: 9px;
            transform: translateY(2px);
            transition: transform 0.2s;
          }
        }

        &[aria-expanded='true'] span:after {
          transform: translateY(2px) rotate(90deg);
        }
      }

      .callout-more-download {
        margin-left: auto;
        font-weight: normal;
      }
    }

    .collapse-body {
      padding: 0;

      p:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}
