@use '../base/config' as *;
@use '../base/variables' as *;

// Component: calendar
//
// Description: Component styles for calendar
//

// Variables
//

// Properties
//

// Styles
//

.it-calendar-wrapper {
  .it-header-block-title {
    padding: 0.5em 0;
    border-radius: 4px 4px 0 0;
    background-color: $primary;
    color: $white;
  }

  .card-wrapper {
    padding: 0;
  }

  .card {
    .card-title,
    .card-text {
      padding-bottom: 16px;
      border-bottom: 1px solid $color-border-subtle;
    }

    .card-body {
      .card-title {
        padding-top: 16px;
        font-family: $font-family-sans-serif;
        font-size: 3rem;
        font-weight: 400;

        span {
          display: block;
          padding-top: 1em;
          padding-left: 1em;
          font-family: $font-family-monospace;
          font-size: 0.3em;
        }
      }
    }

    .card-text {
      a {
        color: $color-text-base;
        font-family: $font-family-sans-serif;
        font-size: var(--#{$prefix}body-font-size)-l;
        text-decoration: none;

        &:hover {
          color: $link-color;
          text-decoration: underline;
        }
      }
    }
  }
}
