// Component: carousel
//
// Description: Component styles for carousel
//

// Variables
//

// Properties
//

@import '@splidejs/splide/src/css/core/index';

.it-carousel-wrapper {
  --#{$prefix}carousel-arrow-size: var(--#{$prefix}spacing-xl); // Controls the arrow button size, using spacing tokens.
  --#{$prefix}carousel-arrow-icon-size: var(--#{$prefix}spacing-s); // Controls the arrow icon size, using spacing tokens
  --#{$prefix}carousel-arrow-background: var(--#{$prefix}color-background-primary); // Controls the arrow button background, using color tokens
  --#{$prefix}carousel-arrow-icon-color: var(--#{$prefix}color-text-inverse); // Controls the arrow icon color, using color tokens
  --#{$prefix}carousel-arrow-offset: var(--#{$prefix}spacing-m); // Controls the arrow offset from the carousel edges, using spacing tokens
  --#{$prefix}carousel-card-padding-bottom: var(--#{$prefix}spacing-s); // Controls the card bottom padding, using spacing tokens
  --#{$prefix}carousel-divider-color: var(--#{$prefix}color-border-subtle); // Controls the divider color between slides, using color tokens
  --#{$prefix}carousel-divider-offset: var(--#{$prefix}spacing-xs); // Controls the divider offset from the slide edge, using spacing tokens
  --#{$prefix}carousel-heading-font-size: 1.75rem; // Controls the heading font size for carousel header.
  --#{$prefix}carousel-heading-padding-inline: var(--#{$prefix}spacing-m); // Controls the inline padding for carousel header, using spacing tokens
  --#{$prefix}carousel-heading-border-color: var(--#{$prefix}color-border-subtle); // Controls the heading border color, using color tokens
  --#{$prefix}carousel-landscape-card-spacing: var(--#{$prefix}spacing-xxl); // Controls the landscape card body spacing, using spacing tokens
  --#{$prefix}carousel-pagination-dot-size: 1rem; // Controls the dot size for carousel pagination, using spacing tokens
  --#{$prefix}carousel-pagination-dot-color: var(--#{$prefix}color-background-subtle); // Controls the dot color for carousel pagination.
  --#{$prefix}carousel-pagination-spacing: var(--#{$prefix}spacing-m); // Controls the spacing around pagination dots, using spacing tokens
  --#{$prefix}carousel-track-padding-top: var(--#{$prefix}spacing-m); // Controls the track top padding, using spacing tokens.
}

// Styles
//
/* stylelint-disable-next-line no-duplicate-selectors */
.it-carousel-wrapper {
  margin: 0 auto;
  // Keep all .card-SOMETHING till next major? (.card is deprecated)

  // Splide pagination
  .splide__pagination {
    margin-top: var(--#{$prefix}carousel-pagination-spacing);
    margin-left: 0;
    padding-left: 0;

    // Add spacing between pagination dots
    li:not(:last-child) {
      margin-right: var(--#{$prefix}spacing-s);
    }

    // Pagination dot
    button {
      display: inline-block;
      width: var(--#{$prefix}carousel-pagination-dot-size);
      height: var(--#{$prefix}carousel-pagination-dot-size);
      padding: 0;
      border: none;
      border-radius: 50px;
      background: var(--#{$prefix}carousel-pagination-dot-color);
      box-shadow: none;
      transition: all 0.3s;

      &.is-active {
        --#{$prefix}carousel-pagination-dot-color: var(--#{$prefix}color-background-primary);
      }
    }
  }

  .it-special-card {
    // xxx deprecated with old .card
    h5.card-title {
      margin-bottom: 0;
    }
  }

  .it-header-block {
    h2 {
      margin-bottom: 0;
      padding-bottom: var(--#{$prefix}carousel-pagination-spacing);
      border-bottom: 1px solid var(--#{$prefix}carousel-heading-border-color);
    }
  }

  .splide__track {
    padding-top: var(--#{$prefix}carousel-track-padding-top);
    padding-bottom: 0;
  }

  .card-wrapper {
    // xxx deprecated with old .card
    padding-bottom: var(--#{$prefix}carousel-card-padding-bottom);
  }

  .it-card {
    padding-bottom: var(--#{$prefix}carousel-card-padding-bottom);
  }

  // Landscape abstract
  &.it-carousel-landscape-abstract {
    // xxx deprecated with old .card
    .it-single-slide-wrapper {
      > a {
        position: relative;
        display: block;
      }

      .it-text-slider-wrapper-outside {
        .card {
          margin-right: 0;
          border-right: none;

          &:after {
            display: none;
          }

          .card-body {
            .card-signature {
              width: 60%;
              margin-bottom: 0;
              float: left;
            }

            a.read-more {
              position: inherit;
              bottom: inherit;
              justify-content: flex-end;
              width: 35%;
              margin-bottom: 0;
              float: right;
              line-height: 21px;
            }
          }
        }
      }
    }
  }

  // Three cols with arrows
  &.it-carousel-landscape-abstract-three-cols-arrow-visible {
    .splide__arrows {
      position: absolute;
      top: 50%;
      right: calc(-1 * var(--#{$prefix}carousel-arrow-offset));
      left: calc(-1 * var(--#{$prefix}carousel-arrow-offset));
      z-index: 1;
      display: flex;
      justify-content: space-between;
      pointer-events: none;

      .splide__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--#{$prefix}carousel-arrow-size);
        height: var(--#{$prefix}carousel-arrow-size);
        border: none;
        background: var(--#{$prefix}carousel-arrow-background);
        pointer-events: all;

        svg {
          width: var(--#{$prefix}carousel-arrow-icon-size);
          height: var(--#{$prefix}carousel-arrow-icon-size);
          fill: var(--#{$prefix}carousel-arrow-icon-color);
        }

        &.splide__arrow--prev {
          transform: rotate(180deg);
        }

        &[disabled] {
          --#{$prefix}carousel-arrow-background: var(--#{$prefix}color-background-disabled);
        }
      }
    }
  }

  // 3 col card
  &.it-carousel-landscape-abstract-3 {
    margin: 0 auto;

    .it-header-block {
      padding: 0 var(--#{$prefix}carousel-heading-padding-inline);
    }

    // with img
    .card.card-img {
      margin-right: 0;
      // xxx deprecated with old .card
      margin-left: 0;
    }

    // with shadow
    .it-card-bg {
      // xxx deprecated with old .card
      .card.card-bg {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &.it-calendar-wrapper {
    .splide__track {
      padding-top: 0;

      .card.card-bg {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

// Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {
  .it-carousel-wrapper {
    --#{$prefix}carousel-heading-padding-inline: var(--#{$prefix}spacing-xs);
    --#{$prefix}carousel-arrow-offset: var(--#{$prefix}spacing-xxl);

    // Landscape abstract
    &.it-carousel-landscape-abstract {
      max-width: #{map-get($container-max-widths, lg)};

      .splide__list {
        display: flex;

        .splide__slide {
          display: flex;

          .it-single-slide-wrapper {
            height: 100%;
          }
        }
      }

      .it-single-slide-wrapper {
        display: flex;
        flex-basis: 100%;
        width: 100%;

        // img
        .img-responsive-wrapper {
          flex-basis: 50%;

          .img-responsive {
            height: 100%;
          }
        }

        .it-text-slider-wrapper-outside {
          flex-basis: 50%;

          .card {
            margin-right: 0;
            // xxx deprecated with old .card
            border-right: none;

            &:after {
              display: none;
            }

            .card-body {
              padding-bottom: var(--#{$prefix}carousel-landscape-card-spacing);
              padding-left: var(--#{$prefix}carousel-landscape-card-spacing);

              .card-signature {
                width: 60%;
                float: left;
              }

              a.read-more {
                position: inherit;
                bottom: inherit;
                justify-content: flex-end;
                width: 35%;
                margin-bottom: 0;
                float: right;
                line-height: 26px;
              }
            }
          }
        }
      }
    }

    // Divider
    &.it-carousel-landscape-abstract-three-cols-arrow-visible {
      .lined_slide {
        &:after {
          position: absolute;
          top: 0;
          right: calc(-1 * var(--#{$prefix}carousel-divider-offset));
          bottom: 0;
          content: '';
          display: block;
          width: 1px;
          background-color: var(--#{$prefix}carousel-divider-color);
        }
      }
    }

    // 3 col card
    &.it-carousel-landscape-abstract-3 {
      max-width: #{map-get($container-max-widths, lg)};

      &.it-full-carousel {
        max-width: unset;
      }
    }

    &.it-carousel-landscape-abstract-three-cols-arrow-visible .splide__arrows {
      right: calc(-1 * var(--#{$prefix}carousel-arrow-offset));
      left: calc(-1 * var(--#{$prefix}carousel-arrow-offset));
    }
  }
}

// Desktop
@include media-breakpoint-up(xl) {
  .it-carousel-wrapper {
    // Landscape abstract
    &.it-carousel-landscape-abstract {
      max-width: #{map-get($container-max-widths, xl)};
    }

    // 3 col card
    &.it-carousel-landscape-abstract-3 {
      max-width: #{map-get($container-max-widths, xl)};

      &.it-full-carousel {
        max-width: unset;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .it-carousel-wrapper .splide__pagination button {
    transition: none !important;
  }
}
