// Special list for long groups of cards, bootstrap row/cols grid
ul.row.it-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li.col,
  > li[class*='col-'] {
    border: none;
    background: transparent;
    margin-top: 0;
    display: block;
    transition: none;
  }
}

// Improved responsive it-card-group with a @container aware twist
.it-card-group {
  --#{$prefix}it-card-group-gap: #{$grid-gutter-width};

  display: flex;
  flex-wrap: wrap;

  // gap fallback
  margin: calc(-0.5 * var(--#{$prefix}it-card-group-gap));

  > .it-card {
    margin: calc(0.5 * var(--#{$prefix}it-card-group-gap));
    // Default stacked on mobile
    flex: 0 0 calc(100% - var(--#{$prefix}it-card-group-gap));

    // Responsive breakpoints
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 calc(25% - 0.75 * var(--#{$prefix}it-card-group-gap));
    }
  }

  @supports (gap: var(--#{$prefix}it-card-group-gap)) {
    margin: 0;
    gap: var(--#{$prefix}it-card-group-gap);

    > .it-card {
      margin: 0;
    }
  }

  // Predefined column layouts
  &.it-card-group-2-cols > .it-card,
  &.it-card-group-3-cols > .it-card,
  &.it-card-group-4-cols > .it-card {
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
    }
  }

  &.it-card-group-3-cols > .it-card {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
    }
  }

  &.it-card-group-4-cols > .it-card {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 calc(25% - 0.75 * var(--#{$prefix}it-card-group-gap));
    }
  }

  // Progressive enhancement with Container Queries
  @supports (container-type: inline-size) {
    // Only with .it-card-group-container-aware class
    &.it-card-group-container-aware {
      container-type: inline-size;

      > .it-card {
        // Reset Media Queries
        @include media-breakpoint-up(sm) {
          flex: auto;
        }

        @include media-breakpoint-up(md) {
          flex: auto;
        }

        @include media-breakpoint-up(lg) {
          flex: auto;
        }

        // Container Queries
        flex: 1 0 100%;

        @container (min-width: 500px) {
          flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
        }

        @container (min-width: 800px) {
          flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
        }

        @container (min-width: 1100px) {
          flex: 0 0 calc(25% - 0.75 * var(--#{$prefix}it-card-group-gap));
        }
      }

      // Override specific coulmns in container mode
      &.it-card-group-2-cols > .it-card {
        @container (min-width: 500px) {
          flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
        }
      }

      &.it-card-group-3-cols > .it-card {
        @container (min-width: 800px) {
          flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
        }
      }
    }
  }

  // Option for equal height cards
  &.it-card-group-equal-height > .it-card {
    height: 100%;
  }

  // Options for alignments
  &.it-card-group-center {
    justify-content: center;
  }

  &.it-card-group-end {
    justify-content: flex-end;
  }
}

//
// Base card structure It Card 2025
//
.it-card,
article.it-card {
  --#{$prefix}it-card-bg: #{$white};
  --#{$prefix}it-card-body-spacer: 1rem;
  --#{$prefix}it-card-border-color: #{$gray-border};
  --#{$prefix}it-card-border-radius: 4px;
  --#{$prefix}it-card-border-top-color: transparent; // default background set to transparent
  --#{$prefix}it-card-border-top-width: 6px;
  --#{$prefix}it-card-border-outside-width: 1px; // xxx change to 2px if needed
  --#{$prefix}it-card-border-separator-width: 1px; // xxx change to 2px if needed
  --#{$prefix}it-card-cap-bg: transparent;
  --#{$prefix}it-card-cap-color: null;
  --#{$prefix}it-card-cap-padding-x: var(--#{$prefix}it-card-spacer-x);
  --#{$prefix}it-card-cap-padding-y: calc(var(--#{$prefix}it-card-spacer-y) * 2);
  --#{$prefix}it-card-category-color: #{$color-text-muted};
  --#{$prefix}it-card-category-fw: 600;
  --#{$prefix}it-card-category-l-spacing: 0.5px;
  --#{$prefix}it-card-category-m-bottom: 0;
  --#{$prefix}it-card-category-size: 1rem;
  --#{$prefix}it-card-chips-a-color: #{$color-text-secondary};
  --#{$prefix}it-card-chips-gap: 1rem;
  --#{$prefix}it-card-color: #{$color-text-secondary};
  --#{$prefix}it-card-date-color: #{$color-text-muted};
  --#{$prefix}it-card-date-size: 0.875rem;
  --#{$prefix}it-card-description-color: #{$color-text-muted};
  --#{$prefix}it-card-height: auto;
  --#{$prefix}it-card-inline-min-height: 240px;
  --#{$prefix}it-card-inline-mini-min-height: 160px;
  --#{$prefix}it-card-inner-border-radius: calc(var(--#{$prefix}it-card-border-radius) - var(--#{$prefix}it-card-border-outside-width));
  --#{$prefix}it-card-link-color: #{$color-text-secondary};
  --#{$prefix}it-card-list-group-item-padding-y: 0.75rem;
  --#{$prefix}it-card-p-color: #{$color-text-secondary};
  --#{$prefix}it-card-signature-size: 1rem;
  --#{$prefix}it-card-spacer-x: 1rem;
  --#{$prefix}it-card-spacer-y: 0.5rem;
  --#{$prefix}it-card-double-spacer-y: calc(2 * var(--#{$prefix}it-card-spacer-y));
  --#{$prefix}it-card-quad-spacer-y: calc(4 * var(--#{$prefix}it-card-spacer-y));
  --#{$prefix}it-card-title-spacer-y: var(--#{$prefix}it-card-spacer-y);

  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--#{$prefix}it-card-height);
  padding: 0 0 var(--#{$prefix}it-card-spacer-y) 0;
  position: relative;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: var(--#{$prefix}it-card-bg);
  background-clip: border-box;
  color: var(--#{$prefix}it-card-color);

  &.border {
    border-width: var(--#{$prefix}it-card-border-outside-width) !important;
  }

  &.it-card-height-full {
    height: 100%;
  }

  .it-card-link {
    color: var(--#{$prefix}it-card-link-color);

    &:hover {
      color: color-hover($color-text-secondary);
    }

    + .it-card-link {
      margin-left: var(--#{$prefix}it-card-spacer-x);
    }
  }

  // Card title styles
  .it-card-title {
    margin-top: calc(2 * var(--#{$prefix}it-card-title-spacer-y));
    margin-bottom: 0;
    padding: 0 var(--#{$prefix}it-card-spacer-x);

    &.it-card-title-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      // Gap fallback
      > * {
        margin: 0.25rem;
      }

      @supports (gap: 0.5rem) {
        gap: 0.5rem;

        > * {
          margin: 0;
        }
      }

      .it-card-title-icon-wrapper {
        position: relative;
      }

      // linked titles with icons goes fullwidth
      > a {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        width: 100%;

        // Gap fallback
        > * {
          margin: 0.25rem;
        }

        @supports (gap: 0.5rem) {
          gap: 0.5rem;

          > * {
            margin: 0;
          }
        }
      }
    }
  }

  // Card body and content
  .it-card-body {
    flex: 1 1 auto;
    padding: var(--#{$prefix}it-card-spacer-y) var(--#{$prefix}it-card-spacer-x);
    color: var(--#{$prefix}it-card-color);

    // Card subtitle or event timeframe
    .it-card-subtitle {
      margin-bottom: var(--#{$prefix}it-card-spacer-y);

      font-weight: 600;
      font-size: 1.25rem; // equal h5
      line-height: 1.5rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    // Card description
    .it-card-text {
      color: var(--#{$prefix}it-card-p-color);
      font-size: 1rem;
      line-height: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Card author
    .it-card-signature {
      font-family: $font-family-monospace;
      color: var(--#{$prefix}it-card-color);
      font-size: var(--#{$prefix}it-card-signature-size);
    }
  }

  // Card footer
  .it-card-footer {
    margin: 0 var(--#{$prefix}it-card-cap-padding-x);
    padding: var(--#{$prefix}it-card-cap-padding-y) 0;
    color: var(--#{$prefix}it-card-cap-color);
    background-color: var(--#{$prefix}it-card-cap-bg);
    border-top: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    font-size: 1rem;
    line-height: 1.5rem;

    &:last-child {
      @include border-radius(0 0 var(--#{$prefix}it-card-inner-border-radius) var(--#{$prefix}it-card-inner-border-radius));
    }
  }

  // Card metadata holder <footer>
  footer {
    margin-top: var(--#{$prefix}it-card-double-spacer-y);

    &.it-card-related {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;

      // Gap fallback
      > * {
        margin: 0.5rem;
      }

      @supports (gap: 1rem) {
        gap: 1rem;

        > * {
          margin: 0;
        }
      }

      // Align items baseline and fallback
      align-items: flex-end;

      @supports (align-items: last baseline) {
        align-items: last baseline;
      }

      &.it-card-footer {
        padding-bottom: var(--#{$prefix}it-card-cap-padding-y);
        padding-top: calc(var(--#{$prefix}it-card-cap-padding-y) * 0.5);
        border-top: none;
      }
    }

    .it-card-taxonomy {
      flex-grow: 1;
    }

    .it-card-category {
      display: inline-block;
      text-transform: uppercase;
      color: var(--#{$prefix}it-card-category-color);
      font-size: var(--#{$prefix}it-card-category-size);
      font-weight: var(--#{$prefix}it-card-category-fw);
      letter-spacing: var(--#{$prefix}it-card-category-l-spacing);
      margin-bottom: var(--#{$prefix}it-card-category-m-bottom);
    }

    // If more than one Tag, use a list
    ul.it-card-chips {
      display: flex;
      flex-wrap: wrap;

      // Gap fallback
      > li {
        margin: 0.25rem;
      }

      @supports (gap: 0.5rem) {
        gap: 0.5rem;

        > li {
          margin: 0;
        }
      }

      padding: 0;
      margin-top: 0.5rem;
      margin-bottom: 0;
      list-style-type: none;
      line-height: 1.5;
    }

    .chip {
      margin: 0;
      line-height: 1.5; // reset default chip l-h
    }

    a.chip {
      color: var(--#{$prefix}it-card-chips-a-color);
      text-decoration: none;
    }

    // Card date, use <time> if possible
    .it-card-date {
      color: var(--#{$prefix}it-card-date-color);
      font-size: var(--#{$prefix}it-card-date-size);
    }
  }

  // Card can contain description lists, example: personal or place data
  .it-card-description-list,
  .it-card-body .it-card-description-list {
    border-top: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    border-bottom: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);

    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--#{$prefix}it-card-description-color);

    padding-top: var(--#{$prefix}it-card-double-spacer-y);
    padding-bottom: var(--#{$prefix}it-card-double-spacer-y);

    &:last-child {
      margin-bottom: 0;
      padding-bottom: var(--#{$prefix}it-card-spacer-y);
      border-bottom: none;
    }

    display: flex;
    flex-direction: column;

    // gap fallback
    > * {
      margin: 0.25rem;
    }

    @supports (gap: 0.5rem) {
      gap: 0.5rem;

      > * {
        margin: 0;
      }
    }

    dt {
      display: inline;
      font-weight: bold;
      margin-right: 0.125rem;
    }

    dd {
      display: inline-block;
      margin: 0;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  }

  // Card can contain special lists, example: Related articles to a main Tag card
  > .list-group,
  .it-card-body > .list-group {
    border-top: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    border-bottom: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);

    margin-top: var(--#{$prefix}it-card-double-spacer-y);
    margin-bottom: var(--#{$prefix}it-card-double-spacer-y);

    color: var(--#{$prefix}it-card-p-color);

    &:first-child {
      border-top-width: 0;
      @include border-top-radius(var(--#{$prefix}it-card-inner-border-radius));
    }

    &:last-child {
      border-bottom-width: 0;
      @include border-bottom-radius(var(--#{$prefix}it-card-inner-border-radius));
    }
  }

  .it-card-body > .list-group {
    margin-top: var(--#{$prefix}it-card-quad-spacer-y);
    margin-bottom: var(--#{$prefix}it-card-double-spacer-y);

    .list-group-item {
      padding: var(--#{$prefix}it-card-list-group-item-padding-y) 0;
    }
  }

  > .it-card-header + .list-group,
  > .list-group + .it-card-footer {
    border-top: 0;
  }

  // Card image responsive wrapper and a11y DOM order hack
  &.it-card-image {
    width: 100%;

    .it-card-image-wrapper {
      order: -1;
    }

    &.rounded {
      @include border-top-radius(var(--#{$prefix}it-card-inner-border-radius));

      .it-card-image-wrapper img {
        @include border-top-radius(var(--#{$prefix}it-card-inner-border-radius));
      }

      &.it-card-border-top {
        .it-card-image-wrapper {
          &:first-child,
          &:nth-child(2) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  // Card special colored 4px border-top, mere aestethic, don't use for semantic meaning
  &.it-card-border-top {
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: var(--#{$prefix}it-card-border-top-width);
      top: 0;
      background: var(--#{$prefix}it-card-border-top-color);
    }

    &.rounded {
      &::after {
        border-radius: 3px 3px 0 0;
      }
    }

    // Border Top Color
    &.it-card-border-top-primary::after {
      --#{$prefix}it-card-border-top-color: #{$primary};
    }

    &.it-card-border-top-secondary::after {
      --#{$prefix}it-card-border-top-color: #{$secondary};
    }

    &.it-card-border-top-success::after {
      --#{$prefix}it-card-border-top-color: #{$success};
    }

    &.it-card-border-top-warning::after {
      --#{$prefix}it-card-border-top-color: #{$warning};
    }

    &.it-card-border-top-danger::after {
      --#{$prefix}it-card-border-top-color: #{$danger};
    }
  }

  // Card profile
  &.it-card-profile {
    .it-card-profile-header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      align-items: center;

      // Gap fallback
      > * {
        margin: 0.5rem;
      }

      @supports (gap: 1rem) {
        gap: 1rem;

        > * {
          margin: 0;
        }
      }

      margin-top: calc(2 * var(--#{$prefix}it-card-title-spacer-y));
      margin-bottom: var(--#{$prefix}it-card-title-spacer-y);
      padding: 0 var(--#{$prefix}it-card-spacer-x);

      .it-card-profile {
        flex: 1;
        max-width: 100%;

        .it-card-profile-name {
          margin-bottom: 0.25rem;
        }

        .it-card-profile-role,
        .it-card-place-type {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.5rem;
          margin-bottom: 0;
        }
      }

      .it-card-profile-image {
        max-width: 80px;
        max-height: 80px;

        figure {
          margin-bottom: 0;
        }

        .it-card-profile-image-icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $color-background-primary-lighter;
        }
      }
    }
  }

  // Card presentation
  &.it-card-banner {
    align-items: center;
    text-align: center;
    padding-top: calc(var(--#{$prefix}it-card-quad-spacer-y) + var(--#{$prefix}it-card-spacer-y));
    padding-bottom: calc(var(--#{$prefix}it-card-double-spacer-y) + var(--#{$prefix}it-card-spacer-y));

    @include media-breakpoint-down(sm) {
      padding-top: calc(var(--#{$prefix}it-card-double-spacer-y) + var(--#{$prefix}it-card-spacer-y));
      padding-bottom: var(--#{$prefix}it-card-spacer-y);
    }

    .it-card-body .it-card-subtitle {
      font-weight: 500 !important;
    }

    .it-card-banner-icon-wrapper {
      order: -1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .it-card-footer {
      border-top: 0;
      padding-top: var(--#{$prefix}it-card-spacer-y);
    }
  }

  // Layout inline
  &.it-card-inline {
    @mixin it-card-inline-layout {
      flex-direction: row !important;

      &:not(.it-card-banner) {
        padding-bottom: 0 !important;
      }

      .it-card-inline-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .it-card-footer {
          margin-bottom: calc(var(--#{$prefix}it-card-cap-padding-y) * 0.5);
        }

        .it-card-related.it-card-footer {
          margin-bottom: 0;
          padding-bottom: var(--#{$prefix}it-card-cap-padding-y);
        }
      }

      &.it-card-image {
        .it-card-image-wrapper {
          display: flex;

          .ratio {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }

          position: relative;
          overflow: hidden;
        }

        &.it-card-inline-reverse {
          order: inherit;

          .it-card-image-wrapper {
            order: 1;
          }
        }

        // Image border radius adjustments
        &.rounded {
          .it-card-image-wrapper img {
            border-top-right-radius: 0;
            border-bottom-left-radius: var(--#{$prefix}it-card-inner-border-radius);
          }

          &.it-card-inline-reverse {
            .it-card-image-wrapper img {
              border-top-right-radius: var(--#{$prefix}it-card-inner-border-radius);
              border-bottom-right-radius: var(--#{$prefix}it-card-inner-border-radius);
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }

      &.it-card-banner {
        align-items: flex-start;
        text-align: left;
        min-height: auto !important;
        padding-left: var(--bs-it-card-spacer-x);
        padding-right: var(--bs-it-card-spacer-x);

        .it-card-title {
          margin-top: 0;
        }

        .it-card-banner-icon-wrapper {
          width: auto;
        }

        &.it-card-inline-reverse {
          order: inherit;
          padding-right: var(--bs-it-card-spacer-x);
          padding-left: 0;

          .it-card-banner-icon-wrapper {
            order: 1;
          }
        }
      }
    }

    &.it-card-inline-mini {
      @include it-card-inline-layout;
      min-height: var(--#{$prefix}it-card-inline-mini-min-height);

      &.it-card-image .it-card-image-wrapper {
        width: 25%;
      }

      &.it-card-image .it-card-inline-content {
        width: 75%;
      }
    }

    @include media-breakpoint-up(sm) {
      &:not(.it-card-inline-mini) {
        @include it-card-inline-layout;
        min-height: var(--#{$prefix}it-card-inline-min-height);

        &.it-card-image .it-card-image-wrapper {
          width: 50%;
        }

        &.it-card-image .it-card-inline-content {
          width: 50%;
        }
      }
    }
  }
}
