//
// Custom Properties

.it-card {
  --#{$prefix}it-card-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}it-card-border-color: var(--#{$prefix}color-border-subtle);
  --#{$prefix}it-card-border-radius-inner: calc(var(--#{$prefix}it-card-border-radius) - var(--#{$prefix}it-card-border-outside-width));
  --#{$prefix}it-card-border-top-color: transparent; // default background set to transparent
  --#{$prefix}it-card-border-top-width: 6px;
  --#{$prefix}it-card-border-outside-width: 1px; // change to 2px if needed
  --#{$prefix}it-card-border-separator-width: 1px; // change to 2px if needed
  --#{$prefix}it-card-footer-background: transparent;
  --#{$prefix}it-card-footer-text-color: var(--#{$prefix}color-text-muted);
  --#{$prefix}it-card-spacing-x: var(--#{$prefix}spacing-s);
  --#{$prefix}it-card-spacing-y: var(--#{$prefix}spacing-s);
  --#{$prefix}it-card-category-color: var(--#{$prefix}color-text-muted);
  --#{$prefix}it-card-category-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}it-card-category-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}it-card-text-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}it-card-date-color: var(--#{$prefix}color-text-muted);
  --#{$prefix}it-card-date-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}it-card-description-color: var(--#{$prefix}color-text-muted);
  --#{$prefix}it-card-height: auto;
  --#{$prefix}it-card-inline-min-height: 240px;
  --#{$prefix}it-card-inline-mini-min-height: 160px;
  --#{$prefix}it-card-link-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}it-card-title-spacing-y: var(--#{$prefix}it-card-spacing-y);
  --#{$prefix}it-card-signature-font-size: 1rem;
  --#{$prefix}it-card-signature-font-family: var(--#{$prefix}font-mono);
}

//
// Component Style

.it-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--#{$prefix}it-card-height);
  padding: var(--#{$prefix}it-card-spacing-y) var(--#{$prefix}it-card-spacing-x);
  background-color: var(--#{$prefix}it-card-background);
  color: var(--#{$prefix}it-card-text-color);
  word-break: break-word;
  overflow-wrap: break-word;
  background-clip: border-box;

  // Card title styles
  .it-card-title {
    margin-bottom: var(--#{$prefix}spacing-xxs);

    &.it-card-title-icon {
      display: flex;
      justify-content: space-between;

      .it-card-title-icon-wrapper {
        margin-left: var(--#{$prefix}icon-spacing);
      }

      // linked titles with icons goes fullwidth
      >a {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  // Card footer
  .it-card-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: var(--#{$prefix}it-card-spacing-y);
    gap: var(--#{$prefix}it-card-spacing-y);
    color: var(--#{$prefix}it-card-footer-text-color);
  }

  // Card taxonomy area, can contain category, tags, date
  .it-card-taxonomy {
    flex-grow: 1;
  }

  // Card category, use <span> or <a> if possible
  .it-card-category {
    display: inline-block;
    margin-bottom: 0;
    color: var(--#{$prefix}it-card-category-color);
    font-size: var(--#{$prefix}it-card-category-font-size);
    font-weight: var(--#{$prefix}it-card-category-font-weight);
    text-transform: uppercase;
  }

  // Card chips, use <ul><li> if possible
  .it-card-chips {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    gap: calc(var(--#{$prefix}it-card-spacing-y)*0.5); // use half spacing for gap
  }

  // Card date, use <time> if possible
  .it-card-date {
    color: var(--#{$prefix}it-card-date-color);
    font-size: var(--#{$prefix}it-card-date-font-size);
  }

  // Card description list, use <dl><dt><dd> if possible
  .it-card-description-list {
    display: flex;
    flex-direction: column;
    padding-top: var(--#{$prefix}it-card-spacing-y);
    padding-bottom: var(--#{$prefix}it-card-spacing-y);
    border-top: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    border-bottom: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    color: var(--#{$prefix}it-card-description-color);
    font-size: var(--#{$prefix}label-font-size);
    line-height: var(--#{$prefix}label-line-height);
    gap: var(--#{$prefix}spacing-s);

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    dt {
      display: inline;
      margin-right: 0.125rem;
      font-weight: bold;
    }

    dd {
      display: inline-block;
      margin: 0;
    }
  }

  // Card action area, can contain buttons, links, etc.
  .it-card-actions {
    margin-top: var(--#{$prefix}it-card-spacing-y); // separate from sibling content (body or footer)
    padding-top: var(--#{$prefix}it-card-spacing-y); // reset left/right padding to 0, using margin instead
    border-top: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    background-color: var(--#{$prefix}it-card-footer-background);
    font-size: var(--#{$prefix}label-font-size);
    line-height: var(--#{$prefix}label-line-height);

    &:last-child {
      @include border-radius(0 0 var(--#{$prefix}it-card-border-radius-inner) var(--#{$prefix}it-card-border-radius-inner));
    }
  }

  // Card links
  .it-card-link {
    color: var(--#{$prefix}it-card-link-color);

    &:hover {
      color: color-hover($color-text-secondary);
    }

    +.it-card-link {
      margin-left: var(--#{$prefix}it-card-spacing-x);
    }
  }

  // Card body and content
  .it-card-body {
    flex: 1 1 auto;
    color: var(--#{$prefix}it-card-text-color);

    // Card subtitle or event timeframe
    .it-card-subtitle {
      margin-bottom: var(--#{$prefix}spacing-xxs);
      font-size: var(--#{$prefix}heading-5-font-size);
      font-weight: var(--#{$prefix}font-weight-solid);
      line-height: var(--#{$prefix}font-line-height-2);
    }

    // Card description
    .it-card-text {
      font-size: var(--#{$prefix}font-size-base);
      line-height: var(--#{$prefix}font-line-height-5);

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Card author
    .it-card-signature {
      margin-bottom: calc(0.5 * var(--#{$prefix}it-card-title-spacing-y));
      color: var(--#{$prefix}it-card-text-color);
      font-family: var(--#{$prefix}it-card-signature-font-family);
      font-size: var(--#{$prefix}it-card-signature-font-size);
    }
  }

  //
  // Card Variants

  // Card with image
  &.it-card-image {
    padding-top: 0; // reset padding when using image variant
  }

  &.it-card-image.it-card-inline,
  &.it-card-image.it-card-inline-reverse {
    padding-bottom: 0; // reset padding when using image variant
  }

  &.it-card-image.it-card-inline {
    padding-left: 0; // reset padding when using image variant
  }

  &.it-card-image.it-card-inline-reverse {
    padding-right: 0; // reset padding when using image variant
  }

  // Card with height 100%
  &.it-card-height-full {
    height: 100%;
  }

  // Profile card
  &.it-card-profile {
    .it-card-profile-header {
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: center;
      justify-content: space-between;
      gap: var(--#{$prefix}it-card-spacing-x);

      .it-card-profile {

        .it-card-profile-name {
          margin-bottom: var(--#{$prefix}spacing-3xs);
        }

        .it-card-profile-role,
        .it-card-profile-type {
          margin-bottom: 0;
          font-size: var(--#{$prefix}label-font-size);
          font-weight: var(--#{$prefix}font-weight-solid);
          line-height: var(--#{$prefix}label-line-height);
        }
      }

      .it-card-profile-image {
        max-width: 80px;
        max-height: 80px;

        figure {
          margin-bottom: 0;
        }

        .it-card-profile-image-icon-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--#{$prefix}color-background-muted);
        }
      }
    }

    .it-card-body {
      margin-top: var(--#{$prefix}it-card-spacing-y);
    }
  }

  // Card can contain special lists, example: Related articles to a main Tag card
  >.list-group,
  .it-card-body>.list-group {
    margin-top: var(--#{$prefix}spacing-s);
    margin-bottom: var(--#{$prefix}spacing-s);
    border-top: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);
    border-bottom: var(--#{$prefix}it-card-border-separator-width) solid var(--#{$prefix}it-card-border-color);

    .list-group-item {
      padding: var(--#{$prefix}spacing-xs) 0;
    }

    &:first-child {
      border-top-width: 0;
      @include border-top-radius(var(--#{$prefix}it-card-border-radius-inner));
    }

    &:last-child {
      border-bottom-width: 0;
      @include border-bottom-radius(var(--#{$prefix}it-card-border-radius-inner));
    }
  }

  >.it-card-header+.list-group,
  >.list-group+.it-card-footer {
    border-top: 0;
  }

  // Card image responsive wrapper and a11y DOM order hack
  &.it-card-image {
    @include border-top-radius(var(--#{$prefix}it-card-border-radius-inner));
    @include border-bottom-radius(var(--#{$prefix}it-card-border-radius-inner));

    // Reset margin because of '.ratio' positioning
    figure {
      margin-bottom: 0;
    }

    .it-card-image-wrapper {
      order: -1;

    }

    &.rounded {
      .it-card-image-wrapper img {
        border-top-left-radius: var(--#{$prefix}it-card-border-radius-inner);
        border-top-right-radius: var(--#{$prefix}it-card-border-radius-inner);
      }

      &.it-card-border-top {
        .it-card-image-wrapper {

          &:first-child,
          &:nth-child(2) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  // Full width image, outside the padding area
  &.it-card-image:not(.it-card-inline) .it-card-image-wrapper {
    display: block;
    width: calc(100% + (2 * var(--#{$prefix}it-card-spacing-x))); // full width including padding area
    margin-right: calc(-1 * var(--#{$prefix}it-card-spacing-x)); // negative margin to compensate padding
    margin-bottom: calc(0.5 * var(--#{$prefix}it-card-spacing-y)); // spacing between image and content
    margin-left: calc(-1 * var(--#{$prefix}it-card-spacing-x)); // negative margin to compensate padding
    overflow: hidden;
  }

  // Card special colored border-top, mere aesthetic, don't use for semantic meaning
  &.it-card-border-top {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      content: '';
      display: block;
      height: var(--#{$prefix}it-card-border-top-width);
      background: var(--#{$prefix}it-card-border-top-color);
    }

    &.rounded {
      &::after {
        border-radius: 3px 3px 0 0;
      }
    }

    // Border Top Color
    &.it-card-border-top-primary::after {
      --#{$prefix}it-card-border-top-color: var(--#{$prefix}color-border-primary);
    }

    &.it-card-border-top-secondary::after {
      --#{$prefix}it-card-border-top-color: var(--#{$prefix}color-border-secondary);
    }

    &.it-card-border-top-success::after {
      --#{$prefix}it-card-border-top-color: var(--#{$prefix}color-border-success);
    }

    &.it-card-border-top-warning::after {
      --#{$prefix}it-card-border-top-color: var(--#{$prefix}color-border-warning);
    }

    &.it-card-border-top-danger::after {
      --#{$prefix}it-card-border-top-color: var(--#{$prefix}color-border-danger);
    }
  }

  // Card presentation
  &.it-card-banner {
    padding: var(--#{$prefix}spacing-m); // override default padding of card
    align-items: center;
    text-align: center;
    gap: var(--#{$prefix}spacing-s);

    @include media-breakpoint-up(lg) {
      padding: var(--#{$prefix}spacing-xl);
    }

    .it-card-title {
      margin-bottom: 0;
    }

    .it-card-body .it-card-subtitle {
      font-weight: var(--#{$prefix}font-weight-weak);
    }

    .it-card-banner-icon-wrapper {
      // display: flex;
      // flex-direction: column;
      order: -1;
      // margin-bottom: var(--#{$prefix}spacing-s);
      // width: 100%;
    }

    .it-card-footer {
      padding-top: var(--#{$prefix}it-card-spacing-y);
      border-top: 0;
    }
  }

  &.it-card-inline .it-card-inline-content,
  &.it-card-inline-mini .it-card-inline-content {
    display: flex;
    flex-direction: column;
    flex: 1; // make content area grow to fill available space
    padding: var(--#{$prefix}it-card-spacing-y) var(--#{$prefix}it-card-spacing-x);
  }

  // Layout inline
  &.it-card-inline {

    // Layout changes from stacked to row on md and up
    @include media-breakpoint-up(md) {
      flex-direction: row;
      flex: 1;

      // Set image order to last for inline reverse
      &.it-card-inline-reverse .it-card-image-wrapper {
        order: 1;
      }

      // Changes for inline cards except mini variant
      &:not(.it-card-inline-mini) {
        min-height: var(--#{$prefix}it-card-inline-min-height);

        &.it-card-image .it-card-image-wrapper,
        &.it-card-image .it-card-inline-content {
          width: 50%;
        }
      }
    }

    // Reset bottom padding for inline cards except banner variant
    &:not(.it-card-banner) {
      padding-bottom: 0 !important;
    }

    // Image wrapper inside inline card
    &.it-card-image {
      .it-card-image-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
      }

      .ratio {
        height: 100%;
      }

      &.rounded {
        .it-card-image-wrapper img {
          border-top-right-radius: 0;
          border-bottom-left-radius: var(--#{$prefix}it-card-border-radius-inner);
        }

        &.it-card-inline-reverse {
          .it-card-image-wrapper img {
            border-top-left-radius: 0;
            border-top-right-radius: var(--#{$prefix}it-card-border-radius-inner);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: var(--#{$prefix}it-card-border-radius-inner);
          }
        }
      }
    }

    // Mini variant for inline cards
    &.it-card-inline-mini {
      flex-direction: row; // default to row  for mini
      min-height: var(--#{$prefix}it-card-inline-mini-min-height);

      // Set image order to last for inline mini reverse
      &.it-card-inline-reverse .it-card-image-wrapper {
        order: 1;
      }

      .it-card-inline-content {
        display: flex; // Manage space between title and footer
        justify-content: space-between; // Manage space between title and footer
        width: 75%;
      }

      // Image wrapper fixed width
      .it-card-image-wrapper {
        width: 25%;
      }
    }

    // Banner variant for inline cards
    &.it-card-banner {
      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
      }

      .it-card-inline-content {
        padding: 0;
        gap: var(--#{$prefix}spacing-xs)
      }

      &.it-card-inline-reverse {
        order: inherit;

        .it-card-banner-icon-wrapper {
          order: 1;
        }
      }

      &.it-card-inline-mini {
        flex-direction: row; // card inline mini banner always row
        text-align: left;
        align-items: flex-start;
      }
    }

  }

  // Card Lists
  //

  // Special list for long groups of cards, bootstrap row/cols grid
  ul.row.it-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li.col,
    >li[class*='col-'] {
      display: block;
      margin-top: 0;
      border: none;
      background: transparent;
      transition: none;
    }
  }

  // Improved responsive it-card-group with a @container aware twist
  .it-card-group {
    --#{$prefix}it-card-group-gap: var(--#{$prefix}spacing-m);

    display: flex;
    flex-wrap: wrap;

    // gap fallback
    margin: calc(-0.5 * var(--#{$prefix}it-card-group-gap));

    @supports (gap: var(--#{$prefix}it-card-group-gap)) {
      margin: 0;
      gap: var(--#{$prefix}it-card-group-gap);

      >.it-card {
        margin: 0;
      }
    }

    // Progressive enhancement with Container Queries
    @supports (container-type: inline-size) {

      // Only with .it-card-group-container-aware class
      &.it-card-group-container-aware {
        container-type: inline-size;

        >.it-card {

          // Container Queries
          flex: 1 0 100%;

          // Reset media queries from small and up
          @include media-breakpoint-up(sm) {
            flex: auto;
          }

          @container (min-width: 500px) {
            flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
          }

          @container (min-width: 800px) {
            flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
          }

          @container (min-width: 1100px) {
            flex: 0 0 calc(25% - 0.75 * var(--#{$prefix}it-card-group-gap));
          }
        }

        // Override specific columns in container mode
        &.it-card-group-2-cols>.it-card {
          @container (min-width: 500px) {
            flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
          }
        }

        &.it-card-group-3-cols>.it-card {
          @container (min-width: 800px) {
            flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
          }
        }
      }
    }

    >.it-card {
      // Default stacked on mobile
      flex: 0 0 calc(100% - var(--#{$prefix}it-card-group-gap));
      margin: calc(0.5 * var(--#{$prefix}it-card-group-gap));

      // Responsive breakpoints
      @include media-breakpoint-up(sm) {
        flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 calc(25% - 0.75 * var(--#{$prefix}it-card-group-gap));
      }
    }

    // Predefined column layouts
    &.it-card-group-2-cols>.it-card,
    &.it-card-group-3-cols>.it-card,
    &.it-card-group-4-cols>.it-card {
      @include media-breakpoint-up(sm) {
        flex: 0 0 calc(50% - 0.5 * var(--#{$prefix}it-card-group-gap));
      }
    }

    &.it-card-group-3-cols>.it-card {
      @include media-breakpoint-up(md) {
        flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
      }
    }

    &.it-card-group-4-cols>.it-card {
      @include media-breakpoint-up(md) {
        flex: 0 0 calc(33.333% - 0.667 * var(--#{$prefix}it-card-group-gap));
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 calc(25% - 0.75 * var(--#{$prefix}it-card-group-gap));
      }
    }

    // Option for equal height cards
    &.it-card-group-equal-height>.it-card {
      height: 100%;
    }

    // Options for alignments
    &.it-card-group-center {
      justify-content: center;
    }

    &.it-card-group-end {
      justify-content: flex-end;
    }
  }
}
