@use 'sass:math';

// to do: variabili intermedia per i calcoli più complessi?

// It-Cards (2025) variables
$it-card-spacer-y: 0.5rem !default;
$it-card-spacer-x: 1rem !default;
$it-card-height: null !default;
$it-card-inline-min-height: 240px !default;
$it-card-inline-mini-min-height: 160px !default;
$it-card-color: $color-text-secondary !default;
$it-card-p-color: $color-text-secondary !default;
$it-card-bg: $white !default;
$it-card-border-color: $gray-border !default;
$it-card-border-width: $border-width !default;
$it-card-border-radius: 4px !default;
$it-card-inner-border-radius: subtract($it-card-border-radius, $it-card-border-width) !default;
$it-card-title-spacer-y: $it-card-spacer-y !default;
$it-card-body-spacer: 1rem !default;
$it-card-cap-bg: transparent !default;
$it-card-cap-padding-y: $card-spacer-y !default;
$it-card-cap-padding-x: $card-spacer-x * 0.5 !default;
$it-card-cap-color: null !default;
$it-card-group-gap: $grid-gutter-width !default;
$it-card-border-top-width: 8px !default;
$it-card-border-top-default-bg: $white !default;
$it-card-border-top-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'info': $info,
);
$it-card-category-size: 1rem !default;
$it-card-category-fw: 600 !default;
$it-card-category-l-spacing: 0.5px !default;
$it-card-category-m-bottom: 0 !default;
$it-card-date-size: 0.875rem !default;
$it-card-date-color: $secondary !default;
$it-card-chips-gap: 1rem !default;
$it-card-chips-a-color: $secondary !default;
$it-card-signature-size: 1rem !default;
$it-card-link-color: $color-text-secondary !default;
// scss-docs-end card-variables

// Improved responsive card-group with a @container aware twist
.it-card-group {
  display: flex;
  flex-wrap: wrap;

  // gap fallback
  margin: calc(-0.5 * $it-card-group-gap);

  >.it-card {
    margin: calc(0.5 * $it-card-group-gap);
    // Default stacked on mobile
    flex: 0 0 calc(100% - $it-card-group-gap);

    // Responsive breakpoints
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(50% - 0.5 * $it-card-group-gap);
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33.333% - 0.667 * $it-card-group-gap);
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 calc(25% - 0.75 * $it-card-group-gap);
    }
  }

  @supports (gap: $it-card-group-gap) {
    margin: 0;
    gap: $it-card-group-gap;

    >.it-card {
      margin: 0;
    }
  }

  // Predefined column layouts
  &.it-card-group-2-cols>.it-card {
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(50% - 0.5 * $it-card-group-gap);
    }
  }

  &.it-card-group-3-cols>.it-card {
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(50% - 0.5 * $it-card-group-gap);
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33.333% - 0.667 * $it-card-group-gap);
    }
  }

  &.it-card-group-4-cols>.it-card {
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(50% - 0.5 * $it-card-group-gap);
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33.333% - 0.667 * $it-card-group-gap);
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 calc(25% - 0.75 * $it-card-group-gap);
    }
  }

  // Progressive enhancement with Container Queries
  @supports (container-type: inline-size) {

    // Only with .it-card-group-container-aware class
    &.it-card-group-container-aware {
      container-type: inline-size;

      >.it-card {

        // Reset Media Queries
        @include media-breakpoint-up(sm) {
          flex: auto;
        }

        @include media-breakpoint-up(md) {
          flex: auto;
        }

        @include media-breakpoint-up(lg) {
          flex: auto;
        }

        // Container Queries
        flex: 1 0 100%;

        @container (min-width: 500px) {
          flex: 0 0 calc(50% - 0.5 * $it-card-group-gap);
        }

        @container (min-width: 800px) {
          flex: 0 0 calc(33.333% - 0.667 * $it-card-group-gap);
        }

        @container (min-width: 1100px) {
          flex: 0 0 calc(25% - 0.75 * $it-card-group-gap);
        }
      }

      // Override specific coulmns in container mode
      &.it-card-group-2-cols>.it-card {
        @container (min-width: 500px) {
          flex: 0 0 calc(50% - 0.5 * $it-card-group-gap);
        }
      }

      &.it-card-group-3-cols>.it-card {
        @container (min-width: 800px) {
          flex: 0 0 calc(33.333% - 0.667 * $it-card-group-gap);
        }
      }
    }
  }

  // Option for equal height cards
  &.it-card-group-equal-height>.it-card {
    height: 100%;
  }

  // Options for alignments
  &.it-card-group-center {
    justify-content: center;
  }

  &.it-card-group-end {
    justify-content: flex-end;
  }
}

//
// Base card structure
//
.it-card,
article.it-card {
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: $it-card-height;
  padding: 0;
  padding-bottom: $it-card-spacer-y;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  background-color: $it-card-bg;
  background-clip: border-box;
  color: $it-card-color;

  &.it-card-height-auto {
    height: auto;
  }

  &.it-card-height-full {
    height: 100%;
  }

  .it-card-link {
    +.it-card-link {
      margin-left: $it-card-spacer-x;
    }
  }

  // Profile card
  &.it-card-profile {
    .it-card-profile-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-top: calc(3 * $it-card-title-spacer-y);
      margin-bottom: 0;
      padding: 0 $it-card-spacer-x;

      .it-card-profile-name {
        margin-bottom: 0.25rem;
      }

      .avatar {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
      }

      .it-card-profile-role {
        // XXX var
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  // Place card
  &.it-card-place {
    .it-card-place-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-top: calc(3 * $it-card-title-spacer-y);
      margin-bottom: 0;
      padding: 0 $it-card-spacer-x;

      .it-card-place-name {
        margin-bottom: 0.25rem;
      }

      .it-card-place-image {
        // XXX
        max-width: 80px;
        max-height: 80px;
        margin-left: 1rem;
        margin-bottom: 0.5rem;

        .it-card-place-image-icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .it-card-place-type,
      .it-card-place-address {
        // XXX var
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .it-card-place-type {
        font-weight: 600;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

    }
  }

  // Card title styles
  .it-card-title {
    margin-top: calc(2 * $it-card-title-spacer-y);
    margin-bottom: 0;
    padding: 0 $it-card-spacer-x;

    &.it-card-title-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .icon {
        margin-right: -8px;
        margin-left: 8px;
      }
    }
  }

  // Card image
  .it-card-image {
    width: 100%;
    @include border-top-radius($it-card-inner-border-radius);
    @include border-bottom-radius($it-card-inner-border-radius);
  }

  // Card body and content
  .it-card-body {
    flex: 1 1 auto;
    padding: $it-card-spacer-y $it-card-spacer-x;
    color: $it-card-color;

    // Card subtitle or event timeframe
    .it-card-subtitle {
      margin-bottom: $it-card-spacer-y;
      font-weight: 600;
    }

    // Card description
    .it-card-text {
      color: $it-card-p-color;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Card author
    .it-card-signature {
      font-family: $font-family-monospace;
      color: $it-card-color;
      font-size: $it-card-signature-size;
    }
  }

  // Card footer cap
  .it-card-footer {
    margin: 0 $it-card-cap-padding-x;
    padding: $it-card-cap-padding-y 0;
    color: $it-card-cap-color;
    background-color: $it-card-cap-bg;
    border-top: $it-card-border-width solid $it-card-border-color;
    font-size: 1rem;
    line-height: 1.5rem;

    &:last-child {
      @include border-radius(0 0 $it-card-inner-border-radius $it-card-inner-border-radius);
    }

    .it-card-link {
      color: $it-card-link-color;

      &:hover {
        color: color-hover($it-card-link-color);
      }
    }
  }

  // Card metadata holder <footer>
  footer {
    margin-top: calc(2 * $it-card-spacer-y);

    &.it-card-related {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;

      // Gap fallback
      >* {
        margin: 0.25rem;
      }

      @supports (gap: 0.5rem) {
        gap: 0.5rem;

        >* {
          margin: 0;
        }
      }

      // Align items baseline and fallback
      align-items: flex-end;

      @supports (align-items: last baseline) {
        align-items: last baseline;
      }

      &.it-card-footer {
        padding-bottom: $it-card-cap-padding-y;
        padding-top: calc($it-card-cap-padding-y * 0.5);
        border-top: none;
      }
    }

    .it-card-taxonomy {
      flex-grow: 1;
    }

    .it-card-category {
      display: inline-block;
      text-transform: uppercase;
      font-size: $it-card-category-size;
      font-weight: $it-card-category-fw;
      letter-spacing: $it-card-category-l-spacing;
      margin-bottom: $it-card-category-m-bottom;
    }

    // If more than one Tag, use a list
    ul.it-card-chips {
      display: flex;
      flex-wrap: wrap;

      // Gap fallback
      >li {
        margin: 4px;
      }

      @supports (gap: 8px) {
        gap: 8px;

        >li {
          margin: 0;
        }
      }

      padding: 0;
      margin-top: 0.5rem;
      list-style-type: none;
      line-height: 1.5;
    }

    .chip {
      margin: 0;
      line-height: 1.5; // reset default chip l-h
    }

    a.chip {
      color: $it-card-chips-a-color;
      text-decoration: none;
    }

    // Card date, use <time> if possible
    .it-card-date {
      color: $it-card-date-color;
      font-size: $it-card-date-size;
    }
  }

  // Card can contain description lists, example: personal datas
  .it-card-description-list, // XXX DOVREBBERO ESSERE LISTE URL NORMALI??? INVEDE DI DL?
  .it-card-body .it-card-description-list {
    border-top: $it-card-border-width solid $it-card-border-color;
    border-bottom: $it-card-border-width solid $it-card-border-color;

    color: $it-card-p-color;

    padding-top: calc(2 * $it-card-spacer-y);
    padding-bottom: calc(2 * $it-card-spacer-y);

    &:last-child {
      margin-bottom: 0;
      padding-bottom: $it-card-spacer-y;
      border-bottom: none;
    }

    display: grid; // XXX
    grid-template-columns: 6rem 1fr;
    gap: 0.5rem; // XXX NEED FALLBACK?

    &.it-card-description-list-compact {
      display: flex; 
      flex-direction: column;
      
      dd {
        display: inline-block;
      }

      dt {
        display: inline;
        margin-right: 0.125rem; // XXX
      }
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
    }
  }

  // Card can contain special lists, example: Related articles to a main Tag card
  >.list-group,
  .it-card-body>.list-group {
    border-top: $it-card-border-width solid $it-card-border-color;
    border-bottom: $it-card-border-width solid $it-card-border-color;

    margin-top: calc(2 * $it-card-spacer-y);
    margin-bottom: calc(2 * $it-card-spacer-y);
    
    color: $it-card-p-color;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius($it-card-inner-border-radius);
    }

    &:last-child {
      border-bottom-width: 0;
      @include border-bottom-radius($it-card-inner-border-radius);
    }
  }

  .it-card-body>.list-group {
    margin-top: calc(4 * $it-card-spacer-y);
    margin-bottom: calc(2 * $it-card-spacer-y);

    .list-group-item {
      padding: var(--bs-list-group-item-padding-y) 0;
    }
  }

  >.it-card-header+.list-group,
  >.list-group+.it-card-footer {
    border-top: 0;
  }

  // Card image responsive wrapper and a11y DOM order hack
  &.it-card-image {
    .it-card-image-wrapper {
      order: -1;
    }

    &.rounded {
      .it-card-image-wrapper {

        &:first-child,
        &:nth-child(2) {
          border-top-left-radius: $it-card-inner-border-radius;
          border-top-right-radius: $it-card-inner-border-radius;
        }
      }

      &.it-card-border-top {
        .it-card-image-wrapper {

          &:first-child,
          &:nth-child(2) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  // Card special colored 4px border-top, mere aestethic, don't use for semantic meaning
  &.it-card-border-top {
    padding-top: $it-card-border-top-width;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: $it-card-border-top-width;
      top: 0;
      background: $it-card-border-top-default-bg;
    }

    &.rounded {
      &::after {
        border-radius: 3px 3px 0 0;
      }
    }

    @each $name, $color in $it-card-border-top-colors {
      &.it-card-border-top-#{$name}::after {
        background: $color;
      }
    }
  }

  // Layout inline
  &.it-card-inline {
    @mixin inline-layout {
      flex-direction: row !important;
      padding-bottom: 0 !important;

      .it-card-inline-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .it-card-footer {
          margin-bottom: calc($it-card-cap-padding-y * 0.5); // +8 tolti dall'article... XXX
        }

        .it-card-related.it-card-footer {
          margin-bottom: 0;
          padding-bottom: $it-card-cap-padding-y;
        }
      }

      &.it-card-image {
        .it-card-image-wrapper {
          display: flex;

          .ratio {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }

          position: relative;
          overflow: hidden;
        }

        &.it-card-inline-reverse {
          order: inherit;

          .it-card-image-wrapper {
            order: 1;
          }
        }

        &.rounded {
          .it-card-image-wrapper {

            &:first-child,
            &:nth-child(2) {
              border-top-right-radius: 0 !important;
              border-bottom-left-radius: $it-card-inner-border-radius;
            }
          }

          &.it-card-inline-reverse {
            .it-card-image-wrapper {

              &:first-child,
              &:nth-child(2) {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-top-right-radius: $it-card-inner-border-radius !important;
                border-bottom-right-radius: $it-card-inner-border-radius !important;
              }
            }
          }
        }
      }
    }

    &.it-card-inline-mini {
      @include inline-layout;
      min-height: $it-card-inline-mini-min-height;

      &.it-card-image .it-card-image-wrapper {
        width: 25%;
      }

      &.it-card-image .it-card-inline-content {
        width: 75%;
      }
    }

    @include media-breakpoint-up(sm) {
      &:not(.it-card-inline-mini) {
        @include inline-layout;
        min-height: $it-card-inline-min-height;

        &.it-card-image .it-card-image-wrapper {
          width: 50%;
        }

        &.it-card-image .it-card-inline-content {
          width: 50%;
        }
      }
    }
  }
}