//mobile
.chip {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100px;
  height: $v-gap * 3;
  margin-top: $v-gap * 0.5;
  margin-bottom: $v-gap;
  padding: 0 $v-gap / 2 2px $v-gap;
  border: 1px solid $chips-border;
  border-radius: $v-gap * 1.5;
  background: $chips-background;
  transition: all 0.05s;
  &:not(:last-child) {
    margin-right: $v-gap;
  }
  //label
  .chip-label {
    height: $v-gap * 2;
    margin-bottom: 0;
    color: $chips-label-color;
    font-size: $chips-label-font-size;
    font-weight: 600;
    text-decoration: none;
    transform: translateY(-2px);
    transition: color 0.05s;
    &:hover {
      text-decoration: none;
    }
  }
  //close button
  button {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 0;
    border: none;
    background: transparent;
    &:hover:not([disabled]) {
      cursor: pointer;
    }
    &:hover[disabled] {
      cursor: not-allowed;
    }
    .icon {
      width: 22px;
      height: 22px;
      fill: $gray-secondary;
      transition: fill 0.05s;
    }
  }
  //left icon
  & > .icon {
    fill: $chips-label-color;
    transform: translateX(-5px) translateY(1px);
    transition: fill 0.05s;
  }
  //avatar
  .avatar {
    transform: translateX(-5px) translateY(1px);
  }

  //large version-------------------------------
  &.chip-lg {
    min-width: 120px;
    height: $v-gap * 4;
    padding: 2px $v-gap / 2 0 $v-gap * 2;
    border-radius: $v-gap * 2;
    //label
    .chip-label {
      height: 12px;
      font-size: $chips-label-font-size-l;
      transform: translateY(-8px);
    }
    //close button
    button {
      width: 32px;
      height: 32px;
      .icon {
        width: 28px;
        height: 28px;
      }
    }
    //left icon
    & > .icon {
      width: 24px;
      height: 24px;
      margin-right: -8px;
      transform: translateX(-13px) translateY(-1px);
    }
    //avatar
    .avatar {
      width: 24px;
      height: 24px;
      margin-right: -4px;
      transform: translateX(-12px) translateY(-1px);
    }

    //label only version
    &.chip-simple {
      padding-right: $v-gap * 2;
    }
  }

  //label only version
  &.chip-simple {
    padding-right: $v-gap;
  }

  //hover state--------------------------------
  &:hover:not(.chip-disabled) {
    border-color: $chips-background-hover;
    background: $chips-background-hover;
    transition: background-color 0.1s;
    //label
    .chip-label {
      color: $white;
      transition: color 0.1s;
    }
    //close button
    button {
      .icon {
        fill: $white;
        transition: fill 0.1s;
      }
    }
    //left icon
    & > .icon {
      fill: $white;
      transition: fill 0.1s;
    }
  }

  //disabled state--------------------------------
  &.chip-disabled {
    background: $white;
    color: $chips-label-color-disabled;
    &:hover {
      cursor: not-allowed;
    }
    //label
    .chip-label {
      color: $chips-label-color-disabled; // Exempt from color contrast requirements: https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html
    }
    //close button
    button {
      .icon {
        fill: $gray-disabled;
      }
    }
    //left icon
    & > .icon {
      fill: $gray-disabled;
    }
    .avatar {
      img {
        filter: grayscale(100%);
      }
    }
  }

  &.chip-primary {
    border-color: $primary;
    background-color: transparent;
    color: $primary;

    & > .chip-label {
      color: $primary;
    }

    &:hover {
      border-color: $primary;
      background-color: $primary;

      & > .chip-label {
        color: $white;
      }
    }
  }

  &.chip-secondary {
    border-color: $secondary;
    background-color: transparent;
    color: $primary;

    & > .chip-label {
      color: $secondary;
    }

    &:hover {
      border-color: $secondary;
      background-color: $secondary;

      & > .chip-label {
        color: $white;
      }
    }
  }

  &.chip-success {
    border-color: $success;
    background-color: transparent;
    color: $success;

    & > .chip-label {
      color: $success;
    }

    &:hover {
      border-color: $success;
      background-color: $success;

      & > .chip-label {
        color: $white;
      }
    }
  }

  &.chip-danger {
    border-color: $danger;
    background-color: transparent;
    color: $danger;

    & > .chip-label {
      color: $danger;
    }

    &:hover {
      border-color: $danger;
      background-color: $danger;

      & > .chip-label {
        color: $white;
      }
    }
  }

  &.chip-info {
    border-color: $info;
    background-color: transparent;
    color: $info;

    & > .chip-label {
      color: $info;
    }

    &:hover {
      border-color: $info;
      background-color: $info;

      & > .chip-label {
        color: $white;
      }
    }
  }

  &.chip-warning {
    border-color: $warning;
    background-color: transparent;
    color: $warning;

    & > .chip-label {
      color: $warning;
    }

    &:hover {
      border-color: $warning;
      background-color: $warning;

      & > .chip-label {
        color: $white;
      }
    }
  }
}
