pre {
  background-color: var(--#{$prefix}color-background-emphasis);
  padding: var(--#{$prefix}spacing-s);
  overflow-x: auto;
  color: var(--#{$prefix}code-color);
  font-size: var(--#{$prefix}code-font-size);

  code {
    color: inherit;
    font-size: inherit;
  }
}


code {
  color: var(--#{$prefix}code-color);
  font-size: var(--#{$prefix}code-font-size);
  word-wrap: break-word;
  background-color: var(--#{$prefix}code-background);
}
