// Component: dropdown
//
// Description: Component styles for dropdown
//

// Variables
//

// Properties
//

.dropdown {
  --#{$prefix}dropdown-animation-speed: var(--#{$prefix}transition-instant); // speed of dropdown open animation
  --#{$prefix}dropdown-background: var(--#{$prefix}color-background-inverse); // default background
  --#{$prefix}dropdown-border-color: transparent; // default border color
  --#{$prefix}dropdown-border-radius: var(--#{$prefix}radius-smooth); // border radius
  --#{$prefix}dropdown-border-width: 0; // border width
  --#{$prefix}dropdown-box-shadow: var(--#{$prefix}elevation-medium); // box shadow
  --#{$prefix}dropdown-color: var(--#{$prefix}color-text-base); // default text color
  --#{$prefix}dropdown-divider-bg: var(--#{$prefix}color-border-subtle); // divider background color
  --#{$prefix}dropdown-divider-margin-y: var(--#{$prefix}spacing-xxs); // divider margin top and bottom
  --#{$prefix}dropdown-font-size: var(--#{$prefix}label-font-size); // font size of dropdown items
  --#{$prefix}dropdown-header-color: var(--#{$prefix}color-text-secondary); // dropdown header text color
  --#{$prefix}dropdown-header-font-size: var(--#{$prefix}label-font-size); // dropdown header font size
  --#{$prefix}dropdown-header-padding-x: var(--#{$prefix}spacing-s); // dropdown header padding left and right
  --#{$prefix}dropdown-header-padding-y: var(--#{$prefix}spacing-xxs); // dropdown header padding top and bottom
  --#{$prefix}dropdown-inner-border-radius: var(--#{$prefix}radius-smooth); // inner border radius for first and last items
  --#{$prefix}dropdown-item-padding-x: var(--#{$prefix}spacing-s); // dropdown item padding left and right
  --#{$prefix}dropdown-item-padding-y: var(--#{$prefix}spacing-xs); // dropdown item padding top and bottom
  --#{$prefix}dropdown-link-active-color: var(--#{$prefix}color-text-primary-active); // active link color
  --#{$prefix}dropdown-link-color: var(--#{$prefix}color-text-primary); // link color in dropdown items
  --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}color-text-primary-hover); // link hover color in dropdown items
  --#{$prefix}dropdown-min-width: 10rem; // minimum width of dropdown menu
  --#{$prefix}dropdown-notch-base-size: 1.125rem; // size of the notch element
  --#{$prefix}dropdown-notch-position-x: 20px; // x position of the notch element
  --#{$prefix}dropdown-notch-position-y: -8px; // y position of the notch element
  --#{$prefix}dropdown-padding-x: 0; // dropdown menu padding left and right
  --#{$prefix}dropdown-padding-y: var(--#{$prefix}spacing-xxs); // dropdown menu padding top and bottom
  --#{$prefix}dropdown-spacer: 0.125rem; // space between dropdown toggle and menu
  --#{$prefix}dropdown-vertical-shift: 10px; // vertical shift for dropdown open animation
  --#{$prefix}dropdown-zindex: 8; // z-index of dropdown menu
}

// Styles
//
.dropup,
.dropend,
.dropdown,
.dropstart,
.dropup-center,
.dropdown-center {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;

  // Generate the caret automatically
  @include caret();
}

// Dropdown menu
.dropdown-menu {
  position: absolute;
  z-index: var(--#{$prefix}dropdown-zindex);
  display: none; // none by default, but block on "open" of the menu
  min-width: var(--#{$prefix}dropdown-min-width);
  margin: 0; // Override default margin of ul
  padding: var(--#{$prefix}dropdown-padding-y) var(--#{$prefix}dropdown-padding-x);
  border: var(--#{$prefix}dropdown-border-width) solid var(--#{$prefix}dropdown-border-color);
  border-radius: 0 0 var(--#{$prefix}dropdown-border-radius) var(--#{$prefix}dropdown-border-radius);
  background-color: var(--#{$prefix}dropdown-background);
  color: var(--#{$prefix}dropdown-color);
  list-style: none;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-clip: padding-box;
  @include font-size(var(--#{$prefix}dropdown-font-size));
  @include box-shadow(var(--#{$prefix}dropdown-box-shadow));
  box-shadow: var(--#{$prefix}dropdown-box-shadow);

  @if $dropdown-padding-y == 0 {
    > .dropdown-item:first-child,
    > li:first-child .dropdown-item {
      @include border-top-radius(var(--#{$prefix}dropdown-inner-border-radius));
    }
    > .dropdown-item:last-child,
    > li:last-child .dropdown-item {
      @include border-bottom-radius(var(--#{$prefix}dropdown-inner-border-radius));
    }
  }

  &[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: var(--#{$prefix}dropdown-spacer);
  }

  // Fullwidth menu
  &.full-width {
    width: 100%;
    .link-list li {
      display: inline-block;
      width: auto;
      &:hover,
      &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }

  .link-list {
    margin-bottom: 0; // Remove margin bottom from default list
  }

  // notch
  &:before {
    position: absolute;
    top: var(--#{$prefix}dropdown-notch-position-y);
    left: var(--#{$prefix}dropdown-notch-position-x);
    content: '';
    width: var(--#{$prefix}dropdown-notch-base-size);
    height: var(--#{$prefix}dropdown-notch-base-size);
    border-radius: var(--#{$prefix}dropdown-border-radius);
    background-color: var(--#{$prefix}dropdown-background);
    transform: rotate(45deg);
  }

  // Top position
  &[data-popper-placement='top-start'] {
    border-radius: var(--#{$prefix}dropdown-border-radius) var(--#{$prefix}dropdown-border-radius) 0 0;
    //notch
    &:before {
      top: auto;
      bottom: var(--#{$prefix}dropdown-notch-position-y);
    }
  }

  // Bottom end position
  &[data-popper-placement='bottom-end'] {
    &:before {
      right: calc(var(--#{$prefix}dropdown-notch-position-x) / 2);
      left: auto;
    }
  }

  // Dropdown on dark background
  &.dark {
    --#{$prefix}dropdown-text-color: #{$dropdown-dark-color};
    --#{$prefix}dropdown-background: var(--#{$prefix}color-background-primary-muted);
    --#{$prefix}dropdown-link-color: #{$dropdown-dark-link-color};
    --#{$prefix}dropdown-divider-bg: #{$dropdown-dark-divider-bg};
    --#{$prefix}dropdown-link-active-color: var(--#{$prefix}color-text-inverses);
    --#{$prefix}dropdown-header-color: #{$dropdown-dark-header-color};

    // Notch element
    &:before {
      background-color: var(--#{$prefix}dropdown-background);
    }

    .link-list-heading {
      color: var(--#{$prefix}color-text-inverse);
    }

    .link-list {
      span.divider {
        background: #2e465e;
      }

      // Link list colors and hovers
      a span,
      a:hover span {
        color: var(--#{$prefix}color-text-inverse);
      }

      a.active span {
        text-decoration: underline;
      }
    }
  }

  &.show {
    display: block;
    // menu on bottom
    &[data-popper-placement='bottom-start'] {
      animation: dropdownFadeIn forwards var(--#{$prefix}dropdown-animation-speed);
    }
    // menu on top
    &[data-popper-placement='top-start'] {
      animation: dropdownFadeInTop forwards var(--#{$prefix}dropdown-animation-speed);
    }
    // menu on left
    &[data-popper-placement='left-start'] {
      animation: dropdownFadeInTop forwards var(--#{$prefix}dropdown-animation-speed);
      &:before {
        top: 20px;
        right: -6px;
        left: auto;
      }
    }
    // menu on right
    &[data-popper-placement='right-start'] {
      animation: dropdownFadeInTop forwards var(--#{$prefix}dropdown-animation-speed);
      &:before {
        top: 20px;
        left: -6px;
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .dropdown-menu#{$infix}-start {
      --bs-position: start;

      &[data-bs-popper] {
        right: auto;
        left: 0;
      }
    }

    .dropdown-menu#{$infix}-end {
      --bs-position: end;

      &[data-bs-popper] {
        right: 0;
        left: auto;
      }
    }
  }
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// Just add .dropup after the standard .dropdown class and you're set.
.dropup {
  .dropdown-menu[data-bs-popper] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: var(--#{$prefix}dropdown-spacer);
  }

  .dropdown-toggle {
    @include caret(up);
  }
}

.dropend {
  .dropdown-menu[data-bs-popper] {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: var(--#{$prefix}dropdown-spacer);
  }

  .dropdown-toggle {
    @include caret(end);
    &::after {
      vertical-align: 0;
    }
  }
}

.dropstart {
  .dropdown-menu[data-bs-popper] {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: var(--#{$prefix}dropdown-spacer);
  }

  .dropdown-toggle {
    @include caret(start);
    &::before {
      vertical-align: 0;
    }
  }
}

// Dividers (basically an `<hr>`) within the dropdown
.dropdown-divider {
  height: 0;
  margin: var(--#{$prefix}dropdown-divider-margin-y) 0;
  overflow: hidden;
  border-top: 1px solid var(--#{$prefix}dropdown-divider-bg);
  opacity: 1; // Revisit in v6 to de-dupe styles that conflict with <hr> element
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item.list-item {
  width: auto; // For `<button>`s
  padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
  border: 0; // For `<button>`s
  background-color: transparent; // For `<button>`s
  text-align: inherit; // For `<button>`s
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap; // prevent links from randomly breaking onto new lines

  &:hover,
  &:focus {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }
}

// Dropdown section headers
.dropdown-header {
  display: block;
  margin-bottom: 0; // for use with heading elements
  padding: var(--#{$prefix}dropdown-header-padding-y) var(--#{$prefix}dropdown-header-padding-x);
  color: var(--#{$prefix}dropdown-header-color);
  font-size: var(--#{$prefix}dropdown-header-font-size);
  white-space: nowrap; // as with > li > a
}

// Dropdown text
.dropdown-item-text {
  display: block;
  padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
  color: var(--#{$prefix}dropdown-link-color);
}

// Menu on bottom animation
@keyframes dropdownFadeIn {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% {
    margin-top: var(--#{$prefix}dropdown-vertical-shift);
    opacity: 1;
  }
}

// Menu on top animation
@keyframes dropdownFadeInTop {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% {
    margin-top: -var(--#{$prefix}dropdown-vertical-shift);
    opacity: 1;
  }
}

.dropdown,
.btn-group {
  &.dropup {
    .dropdown-toggle {
      &:after {
        display: none;
      }
      &[aria-expanded='true'] {
        .icon-expand {
          transform: scaleY(1);
        }
      }
      .icon-expand {
        transform: scaleY(-1);
      }
    }
  }
  &.dropend {
    .dropdown-toggle {
      &:after {
        display: none;
      }
      &[aria-expanded='true'] {
        .icon-expand {
          transform: rotate(90deg);
        }
      }
      .icon-expand {
        transform: rotate(-90deg);
      }
    }
  }
  &.dropstart {
    .dropdown-toggle {
      &:before {
        display: none;
      }
      &[aria-expanded='true'] {
        .icon-expand {
          transform: rotate(-90deg);
        }
      }
      .icon-expand {
        transform: rotate(90deg);
      }
    }
  }
}

// Dropdown button
.btn-dropdown {
  --#{$prefix}dropdown-button-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}dropdown-button-padding: 10px;
  --#{$prefix}dropdown-button-background: #fff;
  // padding: var(--#{$prefix}dropdown-button-padding);
  border-radius: 0;
  box-shadow: none;

  color: var(--#{$prefix}dropdown-button-color);
  @include media-breakpoint-up(lg) {
    font-size: var(--#{$prefix}label-font-size-l);
  }
  &:hover {
    --#{$prefix}dropdown-button-color: var(--#{$prefix}color-text-primary-hover);
    text-decoration: underline;
  }
  &:not(:disabled):active {
    box-shadow: none;
  }
}

.btn-dropdown,
.dropdown-toggle {
  &:after {
    content: '';
    display: inline;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    vertical-align: bottom;
  }
  .icon-expand {
    transition: transform var(--#{$prefix}dropdown-animation-speed);
  }
  .icon.icon-xs {
    transform: translateY(-1px);
    transition: transform var(--#{$prefix}dropdown-animation-speed);
  }
  &[aria-expanded='true'] .icon-expand {
    transform: scaleY(-1);
  }
}
