//
// Custom properties

.it-footer {
  --#{$prefix}footer-bottom-background: var(--#{$prefix}color-background-primary-deep);
  --#{$prefix}footer-brand-icon-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}footer-brand-icon-size: 3rem; // 48px
  --#{$prefix}footer-top-background: var(--#{$prefix}color-background-primary-muted);
  @include media-breakpoint-up(lg) {
    --#{$prefix}footer-brand-icon-size: 3.5rem; // 56px 
  }
}

//
// Component styles

.it-footer {
  h4 {
    margin-bottom: var(--#{$prefix}spacing-s);
    font-size: var(--#{$prefix}label-font-size);
    text-transform: uppercase;
  }

  ul,
  li,
  p {
    font-size: var(--#{$prefix}label-font-size);
    line-height: var(--#{$prefix}body-line-height);
  }

  // Links color and decoration
  a,
  a:hover,
  .link-list-wrapper li a:not(.disabled) {
    color: var(--#{$prefix}color-text-inverse);
    text-decoration-color: hsla(0, 0%, 100%, 0.5);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  a:hover,
  .link-list-wrapper li a:hover {
    text-decoration-color: var(--#{$prefix}color-text-inverse);
  }

  // Override default hover color
  .btn-primary:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-primary-deep); 
  }
}

.it-footer-main {
  background-color:  var(--#{$prefix}footer-top-background);
  color: var(--#{$prefix}color-text-inverse);
  font-size: var(--#{$prefix}body-font-size);
  padding-top: var(--#{$prefix}spacing-l);
  padding-bottom: var(--#{$prefix}spacing-l);

  section {
    margin: 0 var(--#{$prefix}spacing-xs);
  }

  label {
    font-weight: var(--#{$prefix}font-weight-solid);
  }

  .link-list-wrapper ul li:not(:last-child) {
    margin-bottom: var(--#{$prefix}spacing-xs);
  }

  // Override the default .link-list styles - /components/_linklist.scss
  .link-list-wrapper .list-item {
    padding: 0;
    text-decoration: underline;
  }

  .it-brand-wrapper {

    .it-brand-text {
      padding-right: var(--#{$prefix}spacing-m);
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    h2 {
      margin-bottom: var(--#{$prefix}spacing-3xs);
      font-size: var(--#{$prefix}heading-5-font-size);
      font-weight: var(--#{$prefix}heading-font-weight-weak);
    }

    h3 {
      padding-top: 0;
      font-size: var(--#{$prefix}body-font-size);
      font-weight: var(--#{$prefix}body-font-weight);
    }

    .icon {
      flex-shrink: 0;
      width: var(--#{$prefix}footer-brand-icon-size);
      height: var(--#{$prefix}footer-brand-icon-size);
      margin-right: var(--#{$prefix}spacing-xs);
      fill: var(--#{$prefix}footer-brand-icon-color);
    }
  }

  // Override the utility '.border-white' opacity - /utilities/colors.scss
  .border-white {
    --#{$prefix}border-opacity: 0.5;
  }
}

.it-footer-small-prints {
  background-color: var(--#{$prefix}footer-bottom-background);

  ul.it-footer-small-prints-list {
    padding: var(--#{$prefix}spacing-m) var(--#{$prefix}spacing-xs);

    li {
      padding: var(--#{$prefix}spacing-xs) 0;
      font-size: var(--#{$prefix}label-font-size-s);

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

//Tablet vertical
@include media-breakpoint-up(md) {
  .it-footer-small-prints {
    ul.it-footer-small-prints-list {
      li {
        padding: 0 var(--#{$prefix}spacing-xs);

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
