@use "../base/config" as *;
@use "../base/variables" as *;

.forward {
  display: block;
  text-align: center;
  font-size: $font-size-base * 3;
  transition: $transition-base;
  &:hover {
    text-decoration: none;
  }
}
