@use '../base/config' as *;
@use '../base/variables' as *;

// Component: forward
//
// Description: Component styles for forward
//

// Variables
//

// Properties
//

// Styles
//

.forward {
  display: block;
  text-align: center;
  font-size: $font-size-base * 3;
  transition: $transition-base;
  &:hover {
    text-decoration: none;
  }
}
