//mobile
.it-header-center-wrapper {
  &.theme-light {
    background: $header-center-theme-light-bg-color;
    .it-header-center-content-wrapper {
      .it-brand-wrapper {
        a {
          color: $header-center-theme-light-text-color;
          .icon {
            fill: $header-center-theme-light-text-color;
          }
        }
      }

      //right zone
      .it-right-zone {
        color: $header-center-theme-light-text-color;
        .it-socials {
          ul {
            .icon {
              fill: $header-center-theme-light-text-color;
            }
          }
        }
      }
      //-search
      .it-search-wrapper {
        a {
          &.rounded-icon {
            svg {
              fill: $header-center-theme-light-text-color;
            }
          }
        }
      }
    }
  }
}

//Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {
  .it-header-center-wrapper {
    &.theme-light {
      .it-header-center-content-wrapper {
        //right zone
        .it-right-zone {
          .it-socials {
            ul {
              a {
                &:hover {
                  svg {
                    fill: shade-color($header-center-theme-light-text-color, 5%);
                  }
                }
              }
            }
          }
        }
        //-search
        .it-search-wrapper {
          a {
            background: $header-center-theme-light-text-color;
            &.rounded-icon {
              svg {
                fill: $header-center-theme-light-bg-color;
              }
              &:hover {
                background: shade-color($header-center-theme-light-text-color, 5%);
              }
            }
          }
        }
      }
    }
  }
}
