//mobile
@use 'sass:math';

.it-header-wrapper {
  --#{$prefix}header-slim-height: 48px;
  --#{$prefix}header-slim-bg-color: var(--primary-a7);
  --#{$prefix}header-slim-text-color: var(--white);
  --#{$prefix}header-slim-button-color: var(--primary-a9);
  --#{$prefix}header-slim-button-hover-color: var(--primary-a8);
  --#{$prefix}header-slim-brand-text-size: 0.875rem;
  --#{$prefix}header-slim-icon-size: 18px;
  --#{$prefix}header-slim-padding-desk: 3px calc(var(--v-gap) * 3);
  --#{$prefix}header-slim-dropdown-distance: 14px;
  --#{$prefix}header-slim-dropdown-distance-mob: 9px;
  --#{$prefix}header-slim-links-padding: 7px;
  --#{$prefix}header-slim-brand-padding: 12px;
  --#{$prefix}header-slim-button-v-padding: 7.5px;
  --#{$prefix}header-slim-lang-v-padding: 12px;
  --#{$prefix}header-slim-h-padding: 18px;
  --#{$prefix}header-slim-v-padding-mob: 6.5px;
  --#{$prefix}header-slim-theme-light-bg-color: var(--white);
  --#{$prefix}header-slim-theme-light-text-color: var(--primary);
  --#{$prefix}header-slim-theme-light-button-color: var(--primary);
  --#{$prefix}header-slim-theme-light-button-hover-color: var(--primary);

  --#{$prefix}header-center-background: var(--#{$prefix}color-background-primary);
  --#{$prefix}header-center-text-color: var(--#{$prefix}color-text-inverse);
  // --#{$prefix}header-center-max-height: 120px;
  // --#{$prefix}header-center-max-height-mob: 80px;
  --#{$prefix}header-center-pad: 47px;
  --#{$prefix}header-center-pad-mob: 16px;
  --#{$prefix}header-center-h2-size: 1.75rem;
  --#{$prefix}header-center-h2-size-mob: 1.25rem;
  --#{$prefix}header-center-h2-weight: 600;
  --#{$prefix}header-center-h3-size: 0.875rem;
  
  --#{$prefix}header-center-icon-margin: calc(var(--v-gap) * 2);
  --#{$prefix}header-center-icon-margin-mob: var(--v-gap);
  --#{$prefix}header-center-social-distance: calc(var(--v-gap) * 2);
  --#{$prefix}header-center-search-size: calc(var(--v-gap) * 6);
  --#{$prefix}header-center-search-radius: calc(var(--v-gap) * 3);
  --#{$prefix}header-center-search-icon-size: calc(var(--v-gap) * 3);
  --#{$prefix}header-center-search-distance: calc(var(--v-gap) * 10);
  --#{$prefix}header-center-text-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}header-center-button-left: 10px;
  --#{$prefix}header-center-small-height: 104px;
  --#{$prefix}header-center-small-h2-size: 1.25rem;
  --#{$prefix}header-center-small-h3-size: 0.75rem;
  --#{$prefix}header-center-theme-light-bg-color: var(--white);
  --#{$prefix}header-center-theme-light-text-color: var(--primary);

  --#{$prefix}header-nav-icon-arrow-megamenu-distance: 14px;

  --#{$prefix}header-brand-spacing: var(--#{$prefix}spacing-inline-s);
  --#{$prefix}header-brand-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}header-brand-icon-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}header-brand-size: 2.5rem; // 40px 
  --#{$prefix}header-search-button-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}header-search-button-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}header-search-button-size: 3rem;
  --#{$prefix}header-search-icon-size: 1.5rem;
  --#{$prefix}header-search-icon-color: var(--#{$prefix}icon-primary);

}

.it-header-wrapper {
  position: relative;
  z-index: 5;

  .it-nav-wrapper {
    position: relative;
    z-index: auto;

    .it-brand-wrapper {
      padding-left: var(--#{$prefix}header-brand-spacing);
    }

    .it-header-navbar-wrapper {
      transition: padding-top var(--#{$prefix}transition-instant) ease;
      position: absolute;
      z-index: 3;
      left: 12px; // TODO: apply gutter variable when ready
      top: 50%;
      margin-top: -20px;

      nav {
        .custom-navbar-toggler {
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }

  &.it-header-sticky {
    &.is-sticky {
      width: 100%;

      .it-nav-wrapper {
        //position: fixed;
        top: 0;
        width: 100%;
        z-index: 10; // livello +10 del it-navscroll
      }

      .it-header-slim-wrapper {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        .it-header-slim-wrapper,
        .it-header-center-wrapper {
          display: none;
        }

        .it-header-navbar-wrapper {
          //position: fixed;
          width: 100%;
          top: 0;

          .menu-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .it-brand-wrapper {
              align-self: center;

              &.cloned-element {
                .it-brand-text {
                  display: none;
                }

                a {
                  color: var(--#{$prefix}header-brand-color);

                  &:hover {
                    text-decoration: none;
                  }

                  .icon {
                    fill: var(--#{$prefix}header-brand-icon-color);
                    width: var(--#{$prefix}header-brand-size);
                    height: var(--#{$prefix}header-brand-size);
                    margin-right: var(--#{$prefix}spacing-inline-xs);
                    flex-shrink: 0;
                  }
                }
              }
            }

            .it-search-wrapper {
              display: flex;
              align-items: center;
              align-self: center;
              margin-left: 4rem;
              font-size: $header-center-text-size;
              color: $header-center-text-color;

              a {
                &.rounded-icon {
                  width: $header-center-search-size;
                  height: $header-center-search-size;
                  border-radius: $header-center-search-radius;
                  background: $header-center-text-color;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: $v-gap * 2;
                  transition: all 0.3s;

                  &:hover {
                    background: shade-color($header-center-text-color, 5%);
                  }

                  svg {
                    fill: $header-center-bg-color;
                    width: $header-center-search-icon-size;
                    height: $header-center-search-icon-size;
                  }
                }
              }

              &.cloned-element {
                a {
                  width: 35px;
                  height: 35px;

                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }

            .navbar-nav {
              flex: 1;

              // hide navbar-secondary if header is sticky
              &.navbar-secondary {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

//Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {
  .it-header-wrapper {
    .it-nav-wrapper {
      .it-brand-wrapper {
        padding-left: 0;
      }

      position: relative;

      .it-header-navbar-wrapper {
        position: inherit;
        left: auto;
        top: inherit;
        margin-top: 0;
      }
    }

    .navbar .navbar-collapsable .menu-wrapper .nav-item.megamenu .dropdown-menu {
      left: 0;
      right: 0;
    }
  }
}
