// Component: header
//
// Description: Component styles for header
//

// Variables
//

// Properties
//

// Styles
//

//
// Custom properties

.it-header-wrapper,
.it-header-slim-wrapper,
.it-header-center-wrapper,
.it-header-navbar-wrapper {
  --#{$prefix}header-brand-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}header-brand-icon-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}header-brand-size: 2.5rem;
  --#{$prefix}header-brand-spacing: var(--it-spacing-14x);
  --#{$prefix}header-brand-tagline-size: var(--#{$prefix}body-font-size);
  --#{$prefix}header-brand-title-size: var(--#{$prefix}heading-5-font-size);
  --#{$prefix}header-center-background: var(--#{$prefix}color-background-primary);
  --#{$prefix}header-center-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}header-center-height: 4.5rem; // 72px
  --#{$prefix}header-center-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}header-nav-background: var(--#{$prefix}color-background-primary);
  --#{$prefix}header-nav-secondary-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}header-nav-text-color: var(--#{$prefix}color-link);
  --#{$prefix}header-search-button-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}header-search-button-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}header-search-button-size: 3rem;
  --#{$prefix}header-search-icon-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}header-search-icon-size: 1.5rem;
  --#{$prefix}header-slim-background: var(--it-color-blue-30); // TODO: use variable when ready
  --#{$prefix}header-slim-border-color: hsla(0, 0%, 100%, 0.2);
  --#{$prefix}header-slim-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}header-slim-height: 3rem; // 48px
  --#{$prefix}header-slim-text-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}header-social-color: var(--#{$prefix}icon-inverse);
  --#{$prefix}header-spacing-inset: var(--#{$prefix}spacing-xxs);
  @include media-breakpoint-up(md) {
    --#{$prefix}header-brand-size: 3.5rem; // 56px
    --#{$prefix}header-search-icon-color: var(--#{$prefix}icon-primary);
  }
  @include media-breakpoint-up(lg) {
    --#{$prefix}header-brand-size: 4.5rem; // 72px
    --#{$prefix}header-brand-title-size: var(--#{$prefix}heading-3-font-size);
    --#{$prefix}header-center-height: 7.5rem; // 120px
    --#{$prefix}header-nav-text-color: var(--#{$prefix}color-text-inverse);
  }
}

// Light theme
.it-header-slim-wrapper.theme-light,
.it-header-center-wrapper.theme-light,
.it-header-navbar-wrapper.theme-light,
.it-header-navbar-wrapper.theme-light-desk {
  --#{$prefix}header-brand-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}header-brand-icon-color: var(--#{$prefix}icon-primary);
  --#{$prefix}header-center-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}header-center-text-color: var(--#{$prefix}color-link);
  --#{$prefix}header-nav-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}header-nav-text-color: var(--#{$prefix}color-link);
  --#{$prefix}header-search-button-background: var(--#{$prefix}color-background-primary);
  --#{$prefix}header-search-icon-color: var(--#{$prefix}icon-primary);
  --#{$prefix}header-slim-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}header-slim-border-color: hsla(210, 100%, 40%, 0.2);
  --#{$prefix}header-slim-text-color: var(--#{$prefix}color-link);
  --#{$prefix}header-social-color: var(--#{$prefix}icon-primary);
  @include media-breakpoint-up(md) {
    --#{$prefix}header-search-icon-color: var(--#{$prefix}icon-inverse);
  }
}



.it-header-wrapper {
  position: relative;
  z-index: 5;

  &.it-header-sticky.is-sticky {
    width: 100%;

    .it-nav-wrapper {
      top: 0;
      z-index: 10;
      width: 100%;
    }

    .it-header-slim-wrapper {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      .it-header-slim-wrapper,
      .it-header-center-wrapper {
        display: none;
      }

      .it-header-navbar-wrapper {
        top: 0;
        width: 100%;

        .menu-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .it-brand-wrapper {
            align-self: center;

            &.cloned-element {
              .it-brand-text {
                display: none;
              }

              a {
                color: var(--#{$prefix}header-brand-color);
                &:hover {
                  text-decoration: none;
                }

                .icon {
                  flex-shrink: 0;
                  width: var(--#{$prefix}header-brand-size);
                  height: var(--#{$prefix}header-brand-size);
                  margin-right: var(--#{$prefix}spacing-xxs);
                  fill: var(--#{$prefix}header-brand-icon-color);
                }
              }
            }
          }

          .it-search-wrapper {
            display: flex;
            align-items: center;
            align-self: center;
            margin-left: 4rem;
            color: var(--#{$prefix}header-center-text-color);
            font-size: var(--#{$prefix}header-center-font-size);

            &.cloned-element {
              a {
                width: 35px;
                height: 35px;

                svg {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }

          .navbar-nav {
            flex: 1;

            // hide navbar-secondary if header is sticky
            &.navbar-secondary {
              display: none;
            }
          }
        }
      }
    }
  }
}

.it-nav-wrapper {
  position: relative;
  z-index: auto;
}

.it-header-navbar-wrapper {
  position: absolute;
  top: 50%;
  left: 8px; // TODO: use gutter variable when ready
  z-index: 3;
  margin-top: -20px;
  transition: padding-top var(--#{$prefix}transition-instant) ease;
  @include media-breakpoint-up(lg) {
    position: inherit;
    top: inherit;
    left: auto;
    margin-top: 0;
    background: var(--#{$prefix}header-nav-background);
  }
}
