// Component: headernavbar
//
// Description: Component styles for headernavbar
//

// Variables
//

// Properties
//

// Styles
//

.it-header-navbar-wrapper {
  nav {
    background: transparent;
  }

  @include media-breakpoint-up(lg) {
    background: var(--#{$prefix}header-nav-background);

    .navbar {
      .nav-link {
        color: var(--#{$prefix}header-nav-text-color);
        text-decoration: none;
      }

      .navbar-collapsable {
        .menu-wrapper {
          background: transparent;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .navbar-nav {
            padding: 0;

            &.navbar-secondary {
              display: flex;
              justify-content: flex-end;

              a {
                font-size: 0.875rem;
                line-height: var(--#{$prefix}label-line-height);
              }
            }
          }
        }
      }
    }
  }
}
