//mobile
.it-header-slim-wrapper {
  background: var(--#{$prefix}header-slim-background);
  @extend .nav;

  .it-header-slim-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--#{$prefix}spacing-inset-xxs) 0;
    @include media-breakpoint-up(lg) {
      padding: 0 var(--#{$prefix}header-spacing-inset);
    }

    .dropdown-menu {
      top: -1rem; // position of dropdown menu from the top
    }

    a {
      color: var(--#{$prefix}header-slim-text-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

      .icon {
        width: var(--#{$prefix}icon-size-xs);
        height: var(--#{$prefix}icon-size-xs);
        // set default text color to icon
        fill: $header-slim-text-color;
        transform-origin: center;
        transition: all 0.3s;
      }

      &.dropdown-toggle {
        display: flex;
        align-items: center;
        font-size: var(--#{$prefix}header-slim-text-size);
        text-transform: uppercase;
        &[aria-expanded='true'] {
          & > .icon:last-of-type {
            transform: scaleY(-1);
          }
        }
      }

      &.it-opener {
        display: block;
        padding: 0.5rem 0;
        font-size: var(--#{$prefix}header-slim-text-size);
        &[aria-expanded='true'] {
          & > .icon:last-of-type {
            transform: scaleY(-1);
          }
        }
      }
    }

    .navbar-brand {
      padding: 0;
      color: var(--#{$prefix}header-slim-text-color);
      font-size: var(--#{$prefix}header-slim-text-size);
    }

    .it-header-slim-right-zone,
    .header-slim-right-zone {
      // header-slim-right-zone is it-header-slim-right-zone now - We're keeping old class here for retrocompatibility
      display: flex;
      align-items: center;
      align-self: flex-start;
    }

    .nav-mobile {
      ul.link-list {
        margin-bottom: 0;

        a.list-item {
          &.active {
            color: $white;
            text-decoration: none;
            cursor: default;
          }
          &:hover:not(.active) {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {


  .dropdown-menu {
    top: -$header-slim-dropdown-distance !important;
  }

  .nav-mobile {
    width: 100%;

    ul.link-list {
      display: flex;
      margin-right: var(--#{$prefix}spacing-inline-m);
      padding: 0 var(--#{$prefix}spacing-inset-m);
      border-right: 1px solid hsla(0, 0%, 100%, 0.2);
      border-left: 1px solid hsla(0, 0%, 100%, 0.2);

      a {
        display: flex;
        align-items: center;
        padding: var(--#{$prefix}spacing-inset-s);
        text-decoration: none;

        &.active {
          box-shadow: inset 0 -2px 0 var(--#{$prefix}header-slim-text-color);
        }
      }
    }
  }
  a {
    &.dropdown-toggle {
      padding-top: $header-slim-lang-v-padding;
      padding-bottom: $header-slim-lang-v-padding;
      text-decoration: none;
      .icon {
        margin-left: $v-gap * 0.5;
      }
    }
    &.navbar-brand {
      padding-top: $header-slim-brand-padding;
      padding-bottom: $header-slim-brand-padding;
    }
  }
  .it-header-slim-right-zone,
  .header-slim-right-zone {
    // .header-slim-right-zone is .it-header-slim-right-zone now. We're keeping old class here for retrocompatibility
    height: var(--#{$prefix}header-slim-height);
  }

  .collapse:not(.show) {
    display: flex;
    justify-content: flex-end;
  }
}

.is-sticky {
  .it-user-wrapper .dropdown-menu.show {
    padding-bottom: 0.5rem;
    transform: translate3d(0, 6px, 0) !important;
  }
  .link-list-wrapper ul li a .icon {
    width: $header-slim-icon-size;
    height: $header-slim-icon-size;
  }
}
