//mobile
.it-header-slim-wrapper {
  background: var(--#{$prefix}header-slim-background);
  @extend .nav;

  // Header slim sticky
  @include media-breakpoint-up(lg) {
    .is-sticky {
      .it-user-wrapper .dropdown-menu.show {
        padding-bottom: 0.5rem;
        transform: translate3d(0, 6px, 0);
      }
    }
  }

  &.theme-light {
    border-bottom: 1px solid var(--#{$prefix}header-slim-border-color);
  }

  // Text decoration for links inside header slim except buttons
  a:not(.btn):hover {
    text-decoration: underline;
  }

  .it-header-slim-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-up(lg) {
      padding: 0 var(--#{$prefix}header-spacing-inset);
    }

    // Language dropdown
    .dropdown-toggle {
      display: flex;
      align-items: center;
      color: var(--#{$prefix}header-slim-text-color);
      font-size: var(--#{$prefix}header-slim-font-size);
      text-transform: uppercase;

      &[aria-expanded='true'] {
        & > .icon:last-of-type {
          transform: scaleY(-1);
        }
      }
    }

    // Secondary nav opener
    .it-opener {
      display: block;
      padding: 0.5rem 0;
      color: var(--#{$prefix}header-slim-text-color);
      font-size: var(--#{$prefix}header-slim-font-size);
      text-decoration: none;
      &[aria-expanded='true'] {
        & > .icon:last-of-type {
          transform: scaleY(-1);
        }
      }
    }
  }

  // Overrides default navbar styles located in '_navbar.scss'
  .navbar-brand {
    padding: 0;
    color: var(--#{$prefix}header-slim-text-color);
    font-size: var(--#{$prefix}header-slim-font-size);
  }

  .it-header-slim-right-zone,
  .header-slim-right-zone {
    display: flex;
    align-items: center;
  }

  // Secondary nav
  .nav-mobile {
    @include media-breakpoint-up(lg) {
      flex-grow: 2; // Take all available space

      .link-list-wrapper.collapse:not(.show) {
        display: flex;
        justify-content: flex-end; // Align to the right
      }
    }

    .link-list {
      margin-bottom: 0;
      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        padding: 0 var(--#{$prefix}spacing-xxs);
        border-right: 1px solid var(--#{$prefix}header-slim-border-color);
        border-left: 1px solid var(--#{$prefix}header-slim-border-color);
      }
    }

    .list-item {
      padding: var(--#{$prefix}spacing-s) 0;
      color: var(--#{$prefix}header-slim-text-color);
      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        padding: var(--#{$prefix}spacing-s);
        text-decoration: none;
      }
      &:hover {
        color: var(--#{$prefix}header-slim-text-color);
      }
      &.active {
        box-shadow: inset 0 -2px 0 var(--#{$prefix}header-slim-text-color);
        color: var(--#{$prefix}header-slim-text-color);
      }
    }
  }

  // Style for the dropdown and opener icon inside header slim
  .dropdown-toggle .icon,
  .it-opener .icon {
    width: var(--#{$prefix}icon-size-xs);
    height: var(--#{$prefix}icon-size-xs);
    margin-left: var(--#{$prefix}icon-spacing);
    fill: currentColor; // set default text color to icon
    transform-origin: center;
    transition: transform var(--#{$prefix}transition-instant);
  }
}

// Header slim right zone height
.it-header-slim-right-zone,
.header-slim-right-zone {
  height: var(--#{$prefix}header-slim-height);
}

// Spacing between language dropdown and login button
.it-header-slim-right-zone,
.header-slim-right-zone,
.it-access-top-wrapper {
  margin-left: var(--#{$prefix}spacing-m);
}

.it-header-slim-right-zone {
  .btn-primary:hover {
    --#{$prefix}btn-background: var(--#{$prefix}color-background-primary-deep); // Override default hover color
  }
}
