.it-header-center-wrapper {
  display: flex;
  align-items: center;
  height: var(--#{$prefix}header-center-height); 
  background: var(--#{$prefix}header-center-background);
  
  // Header Center Small
  &.it-small-header {
    --#{$prefix}header-center-height: 4rem; // 64px
    @include media-breakpoint-up(lg) {
      --#{$prefix}header-center-height: 6.5rem; // 104px
    }
  }
}

.it-header-center-content-wrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-up(lg) {
    padding: 0 var(--#{$prefix}header-spacing-inset);
  }
}

// Right zone
.it-right-zone {
  display: flex;
  align-items: center;
  color: var(--#{$prefix}header-center-text-color);

  .it-socials {
    align-items: center;
    font-size: var(--#{$prefix}header-center-font-size);

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .icon {
      width: var(--#{$prefix}icon-size-s);
      height: var(--#{$prefix}icon-size-s);
      margin-left: var(--#{$prefix}spacing-inline-s);
      fill: var(--#{$prefix}header-social-color);
      &:hover {
        --#{$prefix}header-social-color: var(--#{$prefix}color-background-inverse-hover);
      }
    }
  }
}

// Search
.it-search-wrapper {
  display: flex;
  align-items: center;
  font-size: var(--#{$prefix}header-center-font-size);
  @include media-breakpoint-up(md) {
    margin-left: 3rem; // 48px 
  }

  a.rounded-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$prefix}header-search-button-size);
    height: var(--#{$prefix}header-search-button-size);
    border-radius: var(--#{$prefix}radius-rounded);
    @include media-breakpoint-up(md) {
      margin-left: var(--#{$prefix}icon-spacing);
      background-color: var(--#{$prefix}header-search-button-background);
    }
    @include media-breakpoint-up(lg) {
      width: 3.5rem; // 56px
      height: 3.5rem; // 56px
      &:hover {
        background: var(--#{$prefix}color-background-inverse-hover);
      }
    }

    svg {
      width: var(--#{$prefix}header-search-icon-size);
      height: var(--#{$prefix}header-search-icon-size);
      fill: var(--#{$prefix}header-search-icon-color);
    }
  }
}

// Brand
.it-brand-wrapper {
  padding-left: var(--#{$prefix}header-brand-spacing);

  @include media-breakpoint-up(lg) {
    padding-left: 0;
  }

  .it-brand-text {
    margin-right: var(--#{$prefix}spacing-inline-xs);
  }

  a {
    display: flex;
    align-items: center;
    color: var(--#{$prefix}header-brand-color);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    h2,
    .it-brand-title {
      margin-bottom: 0;
      font-size: var(--#{$prefix}header-brand-title-size);
      font-weight: var(--#{$prefix}heading-font-weight);
      letter-spacing: unset;
      line-height: var(--#{$prefix}heading-line-height);
      @include media-breakpoint-up(lg) {
        margin-bottom: var(--#{$prefix}spacing-stack-xxs);
      }
    }

    h3,
    .it-brand-tagline {
      margin-bottom: 0;
      font-size: var(--#{$prefix}header-brand-tagline-size);
      font-weight: var(--#{$prefix}body-font-weight);
    }
  }

  // Brand icon
  .icon {
    width: var(--#{$prefix}header-brand-size);
    height: var(--#{$prefix}header-brand-size);
    margin-right: var(--#{$prefix}spacing-inline-xs);
    fill: var(--#{$prefix}header-brand-icon-color);
  }
}
