//mobile
.it-header-slim-wrapper {
  background: var(--#{$prefix}header-slim-background);
  @extend .nav;

  // Header slim sticky
  @include media-breakpoint-up(lg) {
    .is-sticky {
      .it-user-wrapper .dropdown-menu.show {
        padding-bottom: 0.5rem;
        transform: translate3d(0, 6px, 0);
      }
    }
  }

  .it-header-slim-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-up(lg) {
      padding: 0 var(--#{$prefix}header-spacing-inset);
    }

    // Link style for header slim
    a {
      color: var(--#{$prefix}header-slim-text-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

      // Language dropdown
      &.dropdown-toggle {
        display: flex;
        align-items: center;
        font-size: var(--#{$prefix}header-slim-text-size);
        text-transform: uppercase;

        &[aria-expanded='true'] {
          & > .icon:last-of-type {
            transform: scaleY(-1);
          }
        }
      }

      // Secondary nav opener
      &.it-opener {
        display: block;
        padding: 0.5rem 0;
        font-size: var(--#{$prefix}header-slim-text-size);
        &[aria-expanded='true'] {
          & > .icon:last-of-type {
            transform: scaleY(-1);
          }
        }
      }

      .icon {
        width: var(--#{$prefix}icon-size-xs);
        height: var(--#{$prefix}icon-size-xs);
        // set default text color to icon
        fill: currentColor;
        transform-origin: center;
        transition: transform var(--#{$prefix}transition-instant);
        @include media-breakpoint-up(lg) {
          margin-left: var(--#{$prefix}icon-spacing);
        }
      }
    }
  }

  .navbar-brand {
    padding: 0;
    color: var(--#{$prefix}header-slim-text-color);
    font-size: var(--#{$prefix}header-slim-text-size);
  }

  .it-header-slim-right-zone,
  .header-slim-right-zone {
    // Keeping old class for retrocompatibility
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  // Secondary nav
  .nav-mobile {
    @include media-breakpoint-up(lg) {
      flex-grow: 2; // Take all available space

      .link-list-wrapper.collapse:not(.show) {
        display: flex;
        justify-content: flex-end; // Align to the right
      }
    }

    .link-list {
      margin-bottom: 0;
      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        padding: 0 var(--#{$prefix}spacing-inset-m);
        border-right: 1px solid hsla(0, 0%, 100%, 0.2);
        border-left: 1px solid hsla(0, 0%, 100%, 0.2);
      }
    }

    .list-item {
      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        padding: var(--#{$prefix}spacing-inset-s);
        padding: var(--#{$prefix}spacing-inset-s);
        text-decoration: none;
      }
      &.active {
        color: var(--#{$prefix}color-text-inverse);
        text-decoration: none;
        cursor: default;
        @include media-breakpoint-up(lg) {
          box-shadow: inset 0 -2px 0 var(--#{$prefix}header-slim-text-color);
        }
      }
      &:hover:not(.active) {
        text-decoration: underline;
      }
    }
  }
}

.it-header-slim-right-zone,
.header-slim-right-zone {
  // .header-slim-right-zone is .it-header-slim-right-zone now. We're keeping old class here for retrocompatibility
  height: var(--#{$prefix}header-slim-height);
}
