@use 'sass:map';
@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/breakpoints' as *;

// Component: hero
//
// Description: Component styles for hero
//

// Variables
//

// Properties
//

.it-hero-wrapper {
  --#{$prefix}hero-background-color: var(--#{$prefix}color-background-primary); // Controls the hero background color, using color tokens
  --#{$prefix}hero-category-font-size: var(--#{$prefix}label-font-size); // Controls the font size of the category text in the hero, using text tokens
  --#{$prefix}hero-height: 400px; // Controls the height of the hero
  --#{$prefix}hero-overlap-negative-spacing: -3rem; // Controls the negative spacing for overlapping content below the hero
  --#{$prefix}hero-overlap-spacing-inset: 4.5rem; // Controls the inset spacing for overlapping content within the hero
  --#{$prefix}hero-overlay-background: transparent; // Controls the overlay background color for the hero
  --#{$prefix}hero-padding-x: var(--#{$prefix}spacing-xs); // Controls the horizontal padding for the hero, using spacing tokens
  --#{$prefix}hero-padding-y: var(--#{$prefix}spacing-3xl); // Controls the vertical padding for the hero, using spacing tokens
  --#{$prefix}hero-text-font-family: var(--#{$prefix}font-serif); // Controls the font family for the hero text, using typography tokens
  --#{$prefix}hero-text-color: var(--#{$prefix}color-text-inverse); // Controls the text color for the hero text, using color tokens
}

// Styles
//

/* stylelint-disable-next-line no-duplicate-selectors */
.it-hero-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: var(--#{$prefix}hero-background-color);

  @include media-breakpoint-down(sm) {
    --#{$prefix}hero-overlap-negative-spacing: calc(var(--#{$prefix}spacing-l) * -1);
    &.it-wrapped-container {
      display: flex;
      flex-direction: column;
    }
  }

  @include media-breakpoint-up(sm) {
    &.it-wrapped-container {
      align-items: flex-end;
      min-height: 0 !important;
    }
  }

  @include media-breakpoint-up(md) {
    --#{$prefix}hero-height: 300px;
    min-height: var(--#{$prefix}hero-height); // Adds min-height to the hero
  }

  @include media-breakpoint-up(lg) {
    --#{$prefix}hero-height: 400px;
    --#{$prefix}hero-overlap-negative-spacing: -40px;
    --#{$prefix}hero-overlap-spacing-inset: 96px;
    align-items: center;

    .it-hero-text-wrapper {
      max-width: 50vw;
    }
  }

  &.it-hero-small-size {
    --#{$prefix}hero-height: 300px;
  }

  .img-responsive-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .img-responsive {
      position: initial;
      height: 100%;
      padding-bottom: inherit;
    }
  }

  // Text container centered
  .it-hero-text-wrapper {
    position: relative;
    padding: 3rem 0.75rem;
    background: transparent !important;
  }

  &.it-text-centered .it-hero-text-wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .it-hero-text-wrapper span,
  .it-hero-text-wrapper h1,
  .it-hero-text-wrapper h2,
  .it-hero-text-wrapper h3,
  .it-hero-text-wrapper h4,
  .it-hero-text-wrapper h5,
  .it-hero-text-wrapper h6,
  .it-hero-text-wrapper p {
    margin-bottom: var(--#{$prefix}spacing-m);
    color: var(--#{$prefix}hero-text-color);
  }

  .it-hero-text-wrapper .it-category {
    display: block;
    margin-bottom: var(--#{$prefix}spacing-xxs);
    font-size: var(--#{$prefix}hero-category-font-size);
    font-weight: 600;
    text-transform: uppercase;
  }

  .it-hero-text-wrapper p {
    font-family: var(--#{$prefix}hero-text-family);
  }

  &.it-overlay .img-responsive-wrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--#{$prefix}hero-overlay-background);
  }

  &.it-overlay.it-dark .img-responsive-wrapper:after {
    --#{$prefix}hero-overlay-background: var(--#{$prefix}overlay-background-primary-muted);
  }

  &.it-overlay.it-primary .img-responsive-wrapper:after {
    --#{$prefix}hero-overlay-background: var(--#{$prefix}overlay-background-primary);
  }

  &.it-bottom-overlapping-content {
    margin-bottom: var(--#{$prefix}hero-overlap-negative-spacing);
    .it-hero-text-wrapper {
      padding-bottom: var(--#{$prefix}hero-overlap-spacing-inset);
      @include media-breakpoint-up(lg) {
        --#{$prefix}hero-overlap-spacing-inset: var(--#{$prefix}spacing-xl);
      }
    }
  }
}
