// Component: hero
//
// Description: Component styles for hero
//

// Variables
//

// Properties
//

.it-hero-wrapper {
  --#{$prefix}hero-background-color: var(--#{$prefix}color-background-primary); // Controls the hero background color, using color tokens
  --#{$prefix}hero-category-font-size: var(--#{$prefix}label-font-size); // Controls the font size of the category text in the hero, using text tokens
  --#{$prefix}hero-height: 300px; // Controls the height of the hero
  --#{$prefix}hero-overlap-negative-spacing: -3rem; // Controls the negative spacing for overlapping content below the hero
  --#{$prefix}hero-overlap-spacing-inset: var(--#{$prefix}spacing-xxl); // Controls the inset spacing for overlapping content within the hero, using spacing tokens
  --#{$prefix}hero-overlay-background: transparent;  // Controls the overlay background color for the hero
  --#{$prefix}hero-text-font-family: var(--#{$prefix}font-serif); // Controls the font family for the hero text, using typography tokens
  --#{$prefix}hero-text-color: var(--#{$prefix}color-text-inverse); // Controls the text color for the hero text, using color tokens
}

// Styles
//


/* stylelint-disable-next-line no-duplicate-selectors */
.it-hero-wrapper {
  min-height: var(--#{$prefix}hero-height);
  position: relative;
  background-color: var(--#{$prefix}hero-background-color);
  display: flex;
  align-items: flex-end;

  .img-responsive-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .img-responsive {
    padding-bottom: inherit;
    height: 100%;
    position: initial;
  }

  .it-hero-text-wrapper {
    padding: 3rem 0.75rem;
    background: transparent !important;
    position: relative;
  }

  .it-hero-text-wrapper span,
  .it-hero-text-wrapper h1,
  .it-hero-text-wrapper h2,
  .it-hero-text-wrapper h3,
  .it-hero-text-wrapper h4,
  .it-hero-text-wrapper h5,
  .it-hero-text-wrapper h6,
  .it-hero-text-wrapper p {
    color: var(--#{$prefix}hero-text-color);
    margin-bottom: var(--#{$prefix}spacing-m);
  }

  .it-hero-text-wrapper .it-category {
    display: block;
    font-size: var(--#{$prefix}hero-category-font-size);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: var(--#{$prefix}spacing-xxs);
  }

  .it-hero-text-wrapper p {
    font-family: var(--#{$prefix}hero-text-family);
  }

  &.it-overlay .img-responsive-wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--#{$prefix}hero-overlay-background);
  }

  &.it-overlay.it-dark .img-responsive-wrapper:after {
    --#{$prefix}hero-overlay-background: var(--#{$prefix}overlay-background-primary-muted);
  }

  &.it-overlay.it-primary .img-responsive-wrapper:after {
    --#{$prefix}hero-overlay-background: var(--#{$prefix}overlay-background-primary);
  }

  &.it-bottom-overlapping-content {
    margin-bottom: var(--#{$prefix}hero-overlap-negative-spacing);
    .it-hero-text-wrapper {
      padding-bottom: var(--#{$prefix}hero-overlap-spacing-inset);
    }
  }

  @media (max-width: 575px) {
    --#{$prefix}hero-overlap-negative-spacing: calc(var(--#{$prefix}spacing-l) * -1);
    &.it-wrapped-container {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 576px) {
    &.it-wrapped-container {
      min-height: 0 !important;
      align-items: flex-end;
    }
  }

  @media (min-width: 768px) {
    --#{$prefix}hero-height: 300px;
  }

  @media (min-width: 992px) {
    --#{$prefix}hero-height: 400px;
    --#{$prefix}hero-overlap-negative-spacing: -40px;
    --#{$prefix}hero-overlap-spacing-inset: 96px;
    align-items: center;

    .it-hero-text-wrapper {
      padding: var(--#{$prefix}spacing-3xl) 0;
      max-width: 50vw;
    }
  }

  // @media (min-width: 1400px) {
  //   &.it-bottom-overlapping-content + .container .card-wrapper .card-body {
  //     padding-top: 60px;
  //   }
  // }
}
