//
// Custom properties

.link-list-wrapper {
  --#{$prefix}linklist-divider-size: 1px;
  --#{$prefix}linklist-heading-font-size: var(--#{$prefix}heading-6-font-size);
  --#{$prefix}linklist-heading-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}linklist-item-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}linklist-item-line-height: var(--#{$prefix}label-line-height);
  --#{$prefix}linklist-item-spacing: var(--#{$prefix}spacing-xxs);
  --#{$prefix}linklist-nested-spacing: var(--#{$prefix}spacing-s);
}

//
// Component styles
.link-list-wrapper {

  .link-list-heading,
  h3 {
    margin-bottom: var(--#{$prefix}spacing-xxs);
    color: var(--#{$prefix}linklist-heading-color);
    font-size: var(--#{$prefix}linklist-heading-font-size);
    font-weight: var(--#{$prefix}heading-font-weight-weak);
    line-height: var(--#{$prefix}heading-line-height);
  }

  h3 {
    padding: 0 var(--#{$prefix}spacing-m);
  }

  ul {
    padding: 0;
    list-style-type: none;

    &.link-sublist {
      padding-left: var(--#{$prefix}linklist-nested-spacing);
    }
  }

  li span,
  .list-item {
    font-size: var(--#{$prefix}linklist-item-font-size);
    line-height: var(--#{$prefix}linklist-item-line-height);
  }

  .list-item {
    position: relative;
    display: inline-block;
    padding-top: var(--#{$prefix}linklist-item-spacing);
    padding-bottom: var(--#{$prefix}linklist-item-spacing);
    text-decoration: none;

    &.active span,
    &:hover:not(.disable) span {
      text-decoration: underline;
    }

    // List item active state
    &.active {
      span {
        color: var(--#{$prefix}color-text-primary-active);
      }

      .icon {
        color: var(--#{$prefix}color-icon-primary-active);
      }
    }

    // Hover on list item
    &:hover:not(.disabled) {
      span {
        color: var(--#{$prefix}color-link-hover);
      }

      .icon {
        fill: var(--#{$prefix}icon-primary-hover);
      }

      .icon.icon-inverse {
        fill: var(--#{$prefix}icon-inverse);
      }
    }

    // List item disabled state
    &.disabled {
      cursor: not-allowed;

      &:hover span {
        text-decoration: none;
      }

      span {
        color: var(--#{$prefix}color-text-disabled);
      }

      svg {
        fill: var(--#{$prefix}icon-disabled);

        &.secondary {
          fill: var(--#{$prefix}icon-disabled);
        }
      }
    }

    // Change the list item link font weight
    &.medium,
    .list-item-title {
      font-weight: var(--#{$prefix}font-weight-solid);
    }

    // Increase font-size and spacing for list item link with large class
    &.large {
      --#{$prefix}linklist-item-font-size: var(--#{$prefix}label-font-size-m);
    }

    // Avatar position inside the list item
    &.avatar {
      display: flex;
      margin-bottom: var(--#{$prefix}spacing-xxs);

      .avatar {
        display: block;
        margin-right: var(--#{$prefix}spacing-s);
      }
    }

    // Icon left and right inside list item
    &.icon-right,
    &.icon-left {
      padding-right: 0;
      padding-left: 0;
    }

    // Icon left inside list item
    &.icon-left {
      .icon {
        left: 0;
        flex-shrink: 0;
        margin-right: var(--#{$prefix}spacing-xxs);
      }

      p {
        width: 100%;
      }
    }

    &.icon-right {
      width: 100%;
      .list-item-title-icon-wrapper {
        justify-content: space-between;
      }
    }

    &.right-icon {
      .list-item-title-icon-wrapper {
        justify-content: space-between;
      }

      .icon {
        transition: transform $dropdown-menu-animation-speed;

        &.secondary {
          color: var(--#{$prefix}icon-secondary);
        }
      }
    }

    &[data-bs-toggle] .icon {
      transition: transform 0.3s;
    }

    &[aria-expanded='true'] .icon {
      transform: rotate(180deg);
    }

    .icon {
      display: inline-block;
      flex-shrink: 0;
    }

    .list-item-title-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .list-item-title {
        margin-right: var(--#{$prefix}spacing-xxs);
      }
    }

    // Text paragraph inside multiline list item
    > p {
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}caption-font-size);
      line-height: var(--#{$prefix}caption-line-height);
    }

    // Listed item label wrapped in the <a> tag
    > span {
      display: inline-block;
      color: var(--#{$prefix}color-link);
    }
  }

  // Divider between list items
  .divider {
    display: block;
    height: var(--#{$prefix}linklist-divider-size);
    margin: var(--#{$prefix}spacing-xxs) 0;
    background: var(--#{$prefix}color-border-subtle);
  }

  .form-check {
    padding: 0 var(--#{$prefix}spacing-m);
  }
}

// Multiline list item
.multiline {
  .list-item-title-icon-wrapper {
    margin-bottom: var(--#{$prefix}spacing-3xs);
  }

  .list-item.icon-right .list-item-title-icon-wrapper {
    margin-right: 0;
  }

  // List item label inside a multiline list item
  .list-item-title {
    font-size: var(--#{$prefix}label-font-size);
    @include media-breakpoint-up(lg) {
      font-size: var(--#{$prefix}label-font-size-m);
    }
  }

  .list-item {
    width: 100%;
  }

  p {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .link-list-wrapper ul li a.large.icon-left,
  .link-list-wrapper ul li a.large.icon-right {
    --#{$prefix}linklist-item-spacing: var(--#{$prefix}spacing-s);
  }
}

//
// Dark theme styles 

.dark,
.theme-dark {
  --#{$prefix}linklist-heading-color: var(--#{$prefix}color-text-inverse);

  .link-list-wrapper .list-item:not(.disabled) span,
  .link-list-wrapper .list-item:hover span {
    color: var(--#{$prefix}color-text-inverse);
  }

  .link-list-wrapper .list-item.disabled,
  .link-list-wrapper .list-item.disabled span {
    color: hsla(0, 0%, 100%, 0.35); // TODO: Add color variable for dark variant
  }
}
