@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/lists' as *;
@use '../base/mixins/breakpoints' as *;

// Component: list
//
// Description: Component styles for list
//

// Variables
//

// Properties
//

// Styles
//

//
// Global Lists

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Custom Lists

.it-list {
  --#{$prefix}list-item-spacing: var(--#{$prefix}spacing-s) var(--#{$prefix}spacing-xxs);
  --#{$prefix}list-item-thumb-size: 5rem;
}

.it-list-wrapper {
  .it-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    // Hover effect
    a.list-item:hover {
      background-color: var(--#{$prefix}color-background-inverse);
      box-shadow: var(--#{$prefix}elevation-low);
      color: var(--#{$prefix}color-link-hover);
    }

    // Force underline on list item text
    a.list-item span {
      text-decoration: underline;
    }

    // List item
    .list-item {
      transition: all 0.2s;
      padding: var(--#{$prefix}list-item-spacing);
      display: flex;
      align-items: center;
      text-decoration: none;
      word-break: break-word;
      overflow-wrap: anywhere;

      .avatar,
      .it-rounded-icon,
      .it-thumb {
        flex-shrink: 0;
        margin-right: var(--#{$prefix}icon-spacing);
      }

      .it-thumb {
        width: var(--#{$prefix}list-item-thumb-size);

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .it-right-zone {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .it-multiple {
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;

          a {
            margin-left: var(--#{$prefix}icon-spacing);
          }

          .metadata {
            margin-right: 0;
            width: 100%;
            text-align: right;
          }
        }

        .metadata {
          color: $list-metadata-color;
          font-size: $list-metadata-size;
          letter-spacing: $list-metadata-space;
        }

        .text {
          font-size: $list-font-size;
          font-weight: $font-weight-semibold;
          @include media-breakpoint-up(lg) {
            font-size: 1.125rem;
          }
        }

        .text + p {
          font-size: $list-sub-size;
          color: $list-sub-color;
          font-weight: $font-weight-normal;
        }
      }
    }

    // List item border on every item except the last one
    li:not(:last-child) .list-item {
      border-bottom: 1px solid var(--#{$prefix}color-border-subtle);
    }
  }
}
