@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/lists' as *;
@use '../base/mixins/breakpoints' as *;

// Component: list
//
// Description: Component styles for list
//

// Variables
//

// Properties
//

.it-list {
  --#{$prefix}list-item-spacing: var(--#{$prefix}spacing-s) var(--#{$prefix}spacing-xxs);
  --#{$prefix}list-item-thumb-size: 5rem;
  --#{$prefix}list-inline-padding: var(--#{$prefix}spacing-xxs);
  --#{$prefix}list-metadata-color: var(--#{$prefix}color-text-muted);
  --#{$prefix}list-metadata-letter-spacing: 0.5px;
  --#{$prefix}list-metadata-font-size: var(--#{$prefix}label-font-size-xs);
}

// Styles
//

//
// Global Lists

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: var(--#{$prefix}list-inline-padding);
  }
}

//
// Custom Lists

.it-list-wrapper {
  .it-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    // Hover effect
    a.list-item:hover {
      background-color: var(--#{$prefix}color-background-inverse);
      box-shadow: var(--#{$prefix}elevation-low);
      color: var(--#{$prefix}color-link-hover);
    }

    // Force underline on list item text
    a.list-item span {
      text-decoration: underline;
    }

    // List item
    .list-item {
      display: flex;
      align-items: center;
      padding: var(--#{$prefix}list-item-spacing);
      text-decoration: none;
      word-break: break-word;
      transition: all 0.2s;
      overflow-wrap: anywhere;

      .avatar,
      .it-rounded-icon,
      .it-thumb {
        flex-shrink: 0;
        margin-right: var(--#{$prefix}icon-spacing);
      }

      .it-thumb {
        width: var(--#{$prefix}list-item-thumb-size);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .it-right-zone {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;

        .it-multiple {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;

          a {
            margin-left: var(--#{$prefix}icon-spacing);
          }

          .metadata {
            width: 100%;
            margin-right: 0;
            text-align: right;
          }
        }

        .metadata {
          margin-bottom: var(--#{$prefix}spacing-xxs);
          color: var(--#{$prefix}list-metadata-color);
          font-size: var(--#{$prefix}list-metadata-font-size);
          letter-spacing: var(--#{$prefix}list-metadata-letter-spacing);
        }

        .text {
          font-size: var(--#{$prefix}label-font-size);
          font-weight: var(--#{$prefix}font-weight-solid);
          @include media-breakpoint-up(lg) {
            font-size: var(--#{$prefix}label-font-size-l);
          }
        }

        .text + p {
          color: var(--#{$prefix}color-text-muted);
          font-size: var(--#{$prefix}label-font-size-s);
          font-weight: var(--#{$prefix}font-weight-base);
        }
      }
    }

    // List item border on every item except the last one
    li:not(:last-child) .list-item {
      border-bottom: 1px solid var(--#{$prefix}color-border-subtle);
    }
  }
}
