//
// Component properties

.megamenu {
  --#{$prefix}megamenu-background-color: var(--#{$prefix}color-background-inverse);
  --#{$prefix}megamenu-border-color: var(--#{$prefix}color-border-subtle);
  --#{$prefix}megamenu-spacing: var(--#{$prefix}spacing-xs);
}

//
// Component styles

.megamenu {
  padding-left: var(--#{$prefix}megamenu-spacing);
  padding-right: var(--#{$prefix}megamenu-spacing);

  @include media-breakpoint-down(lg) {
    margin-left: calc(-1 * var(--#{$prefix}megamenu-spacing));
    margin-right: calc(-1 * var(--#{$prefix}megamenu-spacing));
  }

  // Override default dropdown styles
  .dropdown-menu {
    --#{$prefix}dropdown-item-padding-x: var(--#{$prefix}spacing-xxs);
    --#{$prefix}dropdown-item-padding-y: var(--#{$prefix}spacing-xxs);
    --#{$prefix}dropdown-spacer: 0;
    width: 100%;
    background: var(--#{$prefix}megamenu-background-color);

    // Extra padding on large devices only
    @include media-breakpoint-up(lg) {
      --#{$prefix}dropdown-padding-y: var(--#{$prefix}spacing-m);
      --#{$prefix}dropdown-padding-x: var(--#{$prefix}spacing-xs);
    }

    .link-list-wrapper {
      margin-bottom: 0;
      padding: 0;
      // Extra margin on collapsed menu only
      @include media-breakpoint-down(lg) {
        margin-left: var(--#{$prefix}spacing-s);
      }
    }

    .link-list {
      width: 100%;
     
      .list-item {
        display: flex;
        align-items: center;
        white-space: normal;
        span {
          display: inline-flex;
          align-items: center;
        }
      }
    }

    // description & image variation
    .it-description {
      background: transparent;
      @include media-breakpoint-down(lg) {
        padding-top: var(--#{$prefix}megamenu-spacing);
        padding-left: calc(var(--#{$prefix}megamenu-spacing) * 2);
        padding-right: calc(var(--#{$prefix}megamenu-spacing) * 2);
      }

      .description-content {
        max-width: 480px;

        img {
          display: block;
          width: 100%;
          margin-bottom: var(--#{$prefix}spacing-s);
        }

        p {
          font-size: var(--#{$prefix}label-font-size);
          line-height: var(--#{$prefix}body-line-height);
        }
      }
    }

    .it-heading-link-wrapper,
    .it-footer-link-wrapper,
    .it-footer-link-wrapper-vertical {
      margin-left: var(--#{$prefix}megamenu-spacing);
      padding-bottom: var(--#{$prefix}spacing-s);
      border-color: var(--#{$prefix}megamenu-border-color);
    }

    .it-heading-link-wrapper {
      margin-bottom: var(--#{$prefix}spacing-s);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      // Extra margin on collapsed menu only
      @include media-breakpoint-down(lg) {
        margin-left: var(--#{$prefix}spacing-m);
        margin-right: var(--#{$prefix}spacing-m);
      }
    }

    .it-heading-link,
    .it-footer-link {
      font-size: var(--#{$prefix}heading-6-font-size);
      font-weight: var(--#{$prefix}font-weight-solid);
      line-height: var(--#{$prefix}heading-line-height);
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .it-footer-link-wrapper,
    .it-footer-link-wrapper-vertical {
      margin-top: var(--#{$prefix}spacing-s);
      padding-top: var(--#{$prefix}spacing-s);
      border-top-width: 1px;
      border-top-style: solid;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-nav .megamenu {
    a.dropdown-toggle:before,
    button.dropdown-toggle:before {
      z-index: 2;
    }
    
    .dropdown-menu {
      z-index: 1;
    }
  }

  // Megamenu column styles
  .navbar .navbar-collapsable .menu-wrapper .nav-item.megamenu .dropdown-menu {
    .col-12:last-child {
      padding-bottom: 0;
    }

    .col-12 .link-list-wrapper {
      min-height: 100%;
    }

    .col-12 .link-list-wrapper ul.link-list {
      display: flex;
      flex-direction: column;
    }

    .col-12:first-child .link-list-wrapper {
      margin-bottom: 0;
    }

    // Vertical menu styles
    .it-vertical {

      .link-list-wrapper ul.link-list {
        width: 100%;

        li {
          margin-bottom: 3px;

          a {
            display: flex;
            justify-content: space-between;

            span {
              font-weight: 600;
            }
          }
        }
      }
    }

    // Heading link wrapper
    .it-heading-link-wrapper {
      margin: 0 0 var(--#{$prefix}megamenu-spacing);
      padding-bottom: var(--#{$prefix}megamenu-spacing);
    }

    // Footer link wrapper vertical
    .it-footer-link-wrapper-vertical {
      height: 100%;
      margin: 0;
      padding: 0;
      padding-left: var(--#{$prefix}megamenu-spacing);
      border-top: none;
      border-left: 1px solid var(--#{$prefix}megamenu-border-color);

      .d-flex {
        height: 100%;
      }
    }

    // Footer link wrapper
    .it-footer-link-wrapper {
      margin-top: var(--#{$prefix}spacing-s);
      padding-bottom: 0;

      .it-footer-link:not(:last-child) {
        margin-right: var(--#{$prefix}spacing-s);
      }
    }
  }

  .it-header-sticky.is-sticky .nav-item button.nav-link {
    font-size: 16px;
  }
}

@include media-breakpoint-up(xl) {
  .it-header-sticky.is-sticky .nav-item button.nav-link {
    font-size: 18px;
  }
}
