//
// Component properties
.modal {
  --#{$prefix}modal-bg: var(--#{$prefix}color-background-inverse);
  --#{$prefix}modal-border-color: transparent;
  --#{$prefix}modal-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}modal-border-width: 0;
  --#{$prefix}modal-box-shadow: var(--#{$prefix}elevation-medium);
  --#{$prefix}modal-footer-bg: transparent;
  --#{$prefix}modal-footer-border-color: var(--#{$prefix}modal-header-border-color);
  --#{$prefix}modal-footer-border-width: var(--#{$prefix}modal-header-border-width);
  --#{$prefix}modal-footer-gap: var(--#{$prefix}spacing-s);
  --#{$prefix}modal-header-border-color: var(--#{$prefix}color-border-subtle);
  --#{$prefix}modal-header-border-width: 0;
  --#{$prefix}modal-inner-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}modal-margin: auto;
  --#{$prefix}modal-padding: var(--#{$prefix}spacing-m);
  --#{$prefix}modal-title-font-size: var(--#{$prefix}heading-5-font-size);
  --#{$prefix}modal-title-font-weight: var(--#{$prefix}heading-font-weight-weak);
  --#{$prefix}modal-title-line-height: var(--#{$prefix}heading-line-height);
  --#{$prefix}modal-transition: transform 0.3s ease-in-out;
  --#{$prefix}modal-width: 500px;
  --#{$prefix}modal-zindex: 1055;
}

//
// Component styles

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--#{$prefix}modal-margin);
  pointer-events: none; // Allow clicks to pass through for custom click handling to close modal

  // When fading in the modal, animate it to slide down
  .modal.show & {
    transform: none;
  }

  // When trying to close, animate focus to scale
  .modal.modal-static & {
    transform: scale(1.02);
  }
}

.modal-dialog-scrollable {
  height: calc(100% - var(--#{$prefix}modal-margin) * 2);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: var(--#{$prefix}modal-padding);
  color: var(--#{$prefix}color-text-base);
}

// Actual modal
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  border: var(--#{$prefix}modal-border-width) solid var(--#{$prefix}modal-border-color);
  outline: 0; // Remove focus outline from opened modal
  background-color: var(--#{$prefix}modal-bg);
  pointer-events: auto; // counteract the pointer-events: none; in the .modal-dialog
  background-clip: padding-box;
  @include border-radius(var(--#{$prefix}modal-border-radius));
  @include box-shadow(var(--#{$prefix}modal-box-shadow));
}

// Modal background
.modal-backdrop {
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};

  @include overlay-backdrop(var(--#{$prefix}backdrop-zindex), var(--#{$prefix}backdrop-bg), var(--#{$prefix}backdrop-opacity));
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: var(--#{$prefix}modal-padding) var(--#{$prefix}modal-padding) 0;
  border-bottom: var(--#{$prefix}modal-header-border-width) solid var(--#{$prefix}modal-header-border-color);
}

// Modal footer
.modal-footer {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: var(--#{$prefix}modal-footer-gap);
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: 0 var(--#{$prefix}modal-padding) var(--#{$prefix}modal-padding);
  border-top: var(--#{$prefix}modal-footer-border-width) solid var(--#{$prefix}modal-footer-border-color);
  background-color: var(--#{$prefix}modal-footer-bg);
  @include border-bottom-radius(var(--#{$prefix}modal-border-radius));

  &.modal-footer-shadow {
    box-shadow: 0 15px 25px 5px rgb(0, 0, 0, 0.3);
  }
}

// Title text within header
.modal-title {
  margin-bottom: 0;
  font-size: var(--#{$prefix}modal-title-font-size);
  font-weight: var(--#{$prefix}modal-title-font-weight);
  line-height: var(--#{$prefix}modal-title-line-height);
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  .modal {
    --#{$prefix}modal-margin: #{$modal-dialog-margin-y-sm-up};
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-sm-up};
  }

  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: var(--#{$prefix}modal-width);
  }

  .modal-sm {
    --#{$prefix}modal-width: 300px;
  }
}

@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
    --#{$prefix}modal-width: 800px;
  }
}

@include media-breakpoint-up(xl) {
  .modal-xl {
    --#{$prefix}modal-width: 1140px;
  }
}

// Fullscreen modal loop
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  $postfix: if($infix != '', $infix + '-down', '');

  @include media-breakpoint-down($breakpoint) {
    .modal-fullscreen#{$postfix} {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;

      .modal-content {
        height: 100%;
        border: 0;
        @include border-radius(0);
      }

      .modal-header,
      .modal-footer {
        @include border-radius(0);
      }

      .modal-body {
        overflow-y: auto;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$prefix}modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
  padding-right: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // Modal alert variation
  &.alert-modal {
    .modal-dialog {
      .modal-content {
        .modal-header {
          align-items: start;
          justify-content: left;
          .icon {
            flex-shrink: 0;
            margin-right: $modal-icon-distance;
            fill: $modal-icon-color;
          }
        }
      }
    }
  }

  // Modal link list variation
  &.it-dialog-link-list {
    .modal-dialog {
      .modal-content {
        .modal-header {
          --#{$prefix}modal-header-border-color: var(--#{$prefix}color-border-subtle);
          --#{$prefix}modal-header-border-width: 1px;
          padding-bottom: var(--#{$prefix}modal-padding);
        }
        .modal-body {
          .link-list-wrapper {
            .link-list {
              margin-bottom: 0;
              padding-bottom: var(--#{$prefix}modal-padding);
            }
          }
        }
      }
    }
  }

  // Modal popconfirm variation
  &.popconfirm-modal {
    .modal-dialog {
      margin-right: auto;
      margin-left: auto;

      .modal-body {
        p {
          font-size: var(--#{$prefix}caption-font-size);
          line-height: var(--#{$prefix}caption-line-height);
        }
      }
      .modal-footer {
        justify-content: flex-start;
      }
    }
  }

  // Modal scrollable variation
  &.it-dialog-scrollable {
    .modal-dialog {
      .modal-content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 208px);
        @include border-radius(0);

        .modal-header {
          flex-shrink: 0;
          padding-bottom: var(--#{$prefix}modal-padding);
        }

        .modal-body {
          padding-top: 0;
          overflow-y: auto;
        }

        .modal-footer {
          padding-top: var(--#{$prefix}modal-padding);
          flex-shrink: 0;
        }
      }

      &.modal-dialog-left {
        height: 100vh;
        margin: 0 var(--#{$prefix}spacing-m) 0 0;
        .modal-content {
          height: 100vh;
        }
      }

      &.modal-dialog-right {
        height: 100vh;
        margin: 0 0 0 var(--#{$prefix}spacing-m);
        float: right;
        .modal-content {
          height: 100vh;
        }
      }
    }
  }

  // Fade transition - left
  &.fade {
    .modal-dialog {
      @include transition(var(--#{$prefix}modal-transition));
      &.modal-dialog-left {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
      }
      &.modal-dialog-right {
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
      }
      &.modal-dialog-centered {
        transform: translate(0, -5%);
      }
    }
    &.show {
      .modal-dialog {
        &.modal-dialog-left {
          transform: translateX(0);
        }
        &.modal-dialog-right {
          transform: translateX(0);
        }
        &.modal-dialog-centered {
          transform: translate(0, 0);
        }
      }
    }
  }
}

// Device tablet vertical
@include media-breakpoint-up(md) {
  .modal {
    .modal-dialog {
      margin-right: auto;
      margin-left: auto;
      &.modal-dialog-left {
        margin: 0;
        .modal-content {
          height: 100vh;
        }
      }
      &.modal-dialog-right {
        margin: 0;
        float: right;
        .modal-content {
          height: 100vh;
        }
      }
    }
    &.it-dialog-scrollable {
      .modal-dialog {
        margin: $v-gap * 8 auto;
        .modal-content {
          height: calc(100vh - #{$v-gap * 16});
        }
      }
    }
  }
}
