// Menu on bottom animation
@keyframes megamenuFadeIn {
  0% {
    margin-top: 1rem;
    opacity: 0;
  }

  100% {
    margin-top: 1rem;
    opacity: 1;
  }
}

.row.row-column-border>[class^='col-'] .navbar {
  padding: 8px 0;
}


// Reset icon on megamenu
.nav-item.megamenu>a:before,
.nav-item.megamenu>button:before {
  display: none;
}

// Inline Menu
.inline-menu { // TODO: Fix when refactoring navscroll
  .link-list-wrapper {
    .link-list {
      position: relative;

      li {
        a {
          position: relative;

          &.large {
            padding-top: var(--inline-menu-linklist-v-padding);
            padding-bottom: var(--inline-menu-linklist-v-padding);
          }

          i {
            color: var(--#{$prefix}link-primary);
          }

          &:after {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            content: '';
            display: block;
            width: var(--inline-menu-line-width);
            height: 100%;
            background: var(--#{$prefix}link-primary);
            transform: scaleY(0);
            transform-origin: center;
            transition: all 0.3s;
          }

          &.active {
            span {
              color: var(--#{$prefix}link-primary);
              text-decoration: none;
            }
          }

          &[aria-expanded='true'] {
            &:after {
              transform: scaleY(1);
            }
          }
        }
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        display: block;
        width: var(--inline-menu-line-width);
        height: 100%;
        background: linear-gradient(to bottom, rgba(var(--#{$prefix}-neutral-2-a1), 1) 0%, rgba(var(--#{$prefix}-neutral-2-a1), 0.3) 100%);
      }
    }
  }
}

//Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {
  .row.row-column-border>[class^='col-'] .navbar {
    padding: 0;
  }

  .has-megamenu {
    .navbar-collapsable {
      width: 100%;
    }
  }

  .nav-item.megamenu {
    position: static;

    >a.dropdown-toggle,
    >button.dropdown-toggle {
      position: relative;

      &:before {
        position: absolute;
        top: auto;
        bottom: calc(var($dropdown-menu-notch-base-size) * -1 - 6);
        left: var($dropdown-menu-notch-position-x);
        content: '';
        display: block;
        width: calc(var($dropdown-menu-notch-base-size) * 3);
        height: calc(var($dropdown-menu-notch-base-size) * 3);
        border-radius: var($dropdown-menu-radius);
        opacity: 0;
        background-color: var($dropdown-bg);
        transform: rotate(45deg);
        transition: opacity calc(var($dropdown-menu-animation-speed) * 0.5) cubic-bezier(0.1, 0.57, 0.36, 0.99);
      }
    }

    >button.dropdown-toggle:before {
      bottom: calc(var($dropdown-menu-notch-base-size) * -1 - 8);
    }

    a.dropdown-toggle,
    button.dropdown-toggle {
      &.show {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .megamenu {
    .dropdown-menu {
      right: var(--#{$prefix}navbar-spacing-inset);
      left: var(--#{$prefix}navbar-spacing-inset);
      min-width: auto;
      animation-timing-function: cubic-bezier(0.1, 0.57, 0.36, 0.99);
      @include media-breakpoint-up(lg) {
        right: 0;
        left: 0;
      }

      //hide arrow
      &:before {
        display: none;
      }

      &.show {
        animation: megamenuFadeIn forwards calc(var($dropdown-menu-animation-speed) * 0.5);
      }
    }
  }
}
