//mobile
.navbar {
  &.it-navscroll-wrapper {
    background: $navscroll-bg-color;

    .it-back-button {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      visibility: hidden;
      padding: $navscroll-backbutton-padding;
      opacity: 0;
      background: $navscroll-bg-color;
      box-shadow: $navscroll-bottom-box-shadow;
      font-weight: $navscroll-backbutton-weight;
      text-decoration: none;
      transition:
        opacity 0.3s 0s,
        visibility 0s 0.3s;
      i {
        display: inline-block;
        margin-right: $v-gap;
        transform: scale(0.8);
        transform-origin: center;
      }
      &.show {
        visibility: visible;
        opacity: 1;
        transition:
          opacity 0.3s 0s,
          visibility 0s 0s;
      }
    }
    .link-list-wrapper {
      ul {
        li {
          a {
            padding-top: $navscroll-links-padding;
            padding-bottom: $navscroll-links-padding;
            font-size: $navscroll-font-size;
            font-weight: $navscroll-primary-font-weight;
            line-height: $navscroll-font-size;
            &.active {
              border-left: $navscroll-selection-link-left;
              span {
                color: $primary;
                text-decoration: none;
              }
            }
          }
          ul {
            li {
              padding-top: 0;
              padding-bottom: 0;
              a {
                font-weight: 400;
                &.active {
                  border-left: none;
                  font-weight: normal;
                  span {
                    color: $navscroll-secondary-active-color;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
    h3 {
      margin-top: $sidebar-heading-margin-top;
      margin-bottom: $sidebar-heading-bottom-margin;
      padding-right: $v-gap * 3;
      padding-left: $v-gap * 3;
      font-size: $sidebar-heading-text-size;
      font-weight: $sidebar-heading-font-weight;
      letter-spacing: $sidebar-heading-letter-spacing;
      text-transform: uppercase;
    }
    .custom-navbar-toggler {
      display: flex;
      align-items: center;
      color: $navscroll-toggler-color;
      font-weight: $navscroll-button-text-weight;
      cursor: pointer;
      span.it-list {
        margin-right: $v-gap;
        color: $navscroll-toggler-color;
      }
    }
    .custom-navbar-progressbar {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .menu-wrapper {
      right: 0;
      padding: $v-gap * 10 0 $v-gap * 3;
    }
  }
  // bottom position
  &.it-bottom-navscroll {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    box-shadow: $navscroll-bottom-box-shadow;
  }
  // top position
  &.it-top-navscroll {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 8;
    box-shadow: $navscroll-top-box-shadow;
  }
}
//Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {
  .navbar {
    &.it-navscroll-wrapper {
      background: $navscroll-bg-color-desk;
      .it-back-button {
        display: none !important;
      }
      .custom-navbar-progressbar {
        display: none !important;
      }
      .link-list-wrapper {
        ul {
          li {
            a {
              padding-top: $navscroll-links-padding;
              padding-bottom: $navscroll-links-padding;
              font-size: $navscroll-font-size;
              font-weight: $navscroll-primary-font-weight;
              line-height: $navscroll-font-size;
              &.active {
                border-left: $navscroll-selection-link-left;
                span {
                  color: $primary;
                  text-decoration: none;
                }
              }
            }
            ul {
              li {
                padding-top: 0;
                padding-bottom: 0;
                a {
                  font-weight: 400;
                  &.active {
                    border-left: none;
                    font-weight: normal;
                    span {
                      color: $navscroll-secondary-active-color;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
      h3 {
        margin-top: $sidebar-heading-margin-top;
        margin-bottom: $sidebar-heading-bottom-margin;
        padding-right: $v-gap * 3;
        padding-left: $v-gap * 3;
        font-size: $sidebar-heading-text-size;
        font-weight: $sidebar-heading-font-weight;
        letter-spacing: $sidebar-heading-letter-spacing;
        text-transform: uppercase;
      }
      .custom-navbar-toggler {
        display: none;
      }
      .menu-wrapper {
        padding: $v-gap * 2 0 $v-gap * 3;
        background: $navscroll-bg-color-desk;
      }
    }
    // bottom position
    &.it-bottom-navscroll {
      position: inherit;
      z-index: 9;
      box-shadow: none;
      &.affix-top {
        position: sticky;
        top: 0;
        right: inherit;
        left: inherit;
      }
    }
    // top position
    &.it-top-navscroll {
      position: inherit;
      box-shadow: none;
      &.affix-top {
        position: sticky;
        top: 0;
        right: inherit;
        left: inherit;
      }
    }
    // left line
    &.it-left-side {
      border-left: 1px solid $navscroll-line-color;
    }
    // right line
    &.it-right-side {
      border-right: 1px solid $navscroll-line-color;
    }
  }
}
