// Component: navscroll
//
// Description: Component styles for navscroll
//

// Variables
//

// Properties
//

.it-navscroll-wrapper {
  --#{$prefix}navscroll-background: var(--#{$prefix}page-background); // Controls the background for the navscroll, using color tokens.
  --#{$prefix}navscroll-backbutton-padding: var(--#{$prefix}spacing-xs); // Controls the backbutton padding for the navscroll, using spacing tokens.
  --#{$prefix}navscroll-bottom-box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.05); // Controls the bottom box shadow for the navscroll.
  --#{$prefix}navscroll-backbutton-weight: var(--#{$prefix}font-weight-solid); // Controls the backbutton font weight for the navscroll, using font tokens.
  --#{$prefix}navscroll-item-spacing: var(--#{$prefix}spacing-xs) var(--#{$prefix}spacing-m); // Controls the item spacing for the navscroll, using spacing tokens.
  --#{$prefix}navscroll-item-font-size: var(--#{$prefix}label-font-size); // Controls the item font size for the navscroll, using font tokens.
  --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-text-primary); // Controls the item font color for the navscroll, using color tokens.
  --#{$prefix}navscroll-item-border-color: transparent; // Controls the item border color for the navscroll.
  --#{$prefix}navscroll-heading-spacing-top: var(--#{$prefix}spacing-s); // Controls the heading spacing top for the navscroll, using spacing tokens.
  --#{$prefix}navscroll-heading-spacing-bottom: var(--#{$prefix}spacing-xs); // Controls the heading spacing bottom for the navscroll, using spacing tokens.
  --#{$prefix}navscroll-heading-spacing-x: var(--#{$prefix}spacing-m); // Controls the heading spacing x for the navscroll, using spacing tokens.
  --#{$prefix}navscroll-heading-font-size: var(--#{$prefix}heading-6-font-size); // Controls the heading font size for the navscroll, using font tokens.
  --#{$prefix}navscroll-heading-font-weight: var(--#{$prefix}heading-font-weight); // Controls the heading font weight for the navscroll, using font tokens.
  --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-primary); // Controls the toggler color for the navscroll, using color tokens.
  --#{$prefix}navscroll-divider-color: var(--#{$prefix}color-border-subtle); // Controls the divider color for the navscroll, using color tokens.
}

// Styles
//

.navbar.it-navscroll-wrapper {
  background: var(--#{$prefix}navscroll-background);

  .it-back-button {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    padding: var(--#{$prefix}navscroll-backbutton-padding);
    opacity: 0;
    background: var(--#{$prefix}navscroll-background);
    box-shadow: var(--#{$prefix}navscroll-bottom-box-shadow);
    font-weight: var(--#{$prefix}navscroll-backbutton-weight);
    text-decoration: none;
    transition:
      opacity 0.3s 0s,
      visibility 0s 0.3s;

    &.show {
      visibility: visible;
      opacity: 1;
      transition:
        opacity 0.3s 0s,
        visibility 0s 0s;
    }

    i {
      display: inline-block;
      margin-right: var(--#{$prefix}spacing-xxs);
      transform: scale(0.8);
      transform-origin: center;
    }
  }

  .link-list-wrapper ul li a {
    padding: var(--#{$prefix}navscroll-item-spacing);
    color: var(--#{$prefix}navscroll-item-font-color);
    font-size: var(--#{$prefix}navscroll-item-font-size);
    font-weight: var(--#{$prefix}font-weight-solid);
    border-left: var(--#{$prefix}border-thick) solid var(--#{$prefix}navscroll-item-border-color);
  }

  .link-list-wrapper ul li a.active {
    --#{$prefix}navscroll-item-border-color: var(--#{$prefix}color-border-primary);
    --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-link-active);
  }

  .link-list-wrapper ul li ul li a {
    font-weight: var(--#{$prefix}font-weight-base);
  }

  .link-list-wrapper ul li ul li a.active {
    --#{$prefix}navscroll-item-border-color: transparent;
  }

  // Navscroll Heading
  h3 {
    margin-top: var(--#{$prefix}navscroll-heading-spacing-top);
    margin-bottom: var(--#{$prefix}navscroll-heading-spacing-bottom);
    padding-right: var(--#{$prefix}navscroll-heading-spacing-x);
    padding-left: var(--#{$prefix}navscroll-heading-spacing-x);
    font-size: var(--#{$prefix}navscroll-heading-font-size);
    font-weight: var(--#{$prefix}navscroll-heading-font-weight);
    text-transform: uppercase;
  }

  // Navscroll Toggler
  .custom-navbar-toggler {
    display: flex;
    align-items: center;
    color: var(--#{$prefix}navscroll-toggler-color);
    font-weight: var(--#{$prefix}font-weight-solid);
    cursor: pointer;
  }

  .custom-navbar-toggler span.it-list {
    margin-right: var(--#{$prefix}spacing-xxs);
    color: var(--#{$prefix}navscroll-toggler-color);
  }
}

.navbar.it-bottom-navscroll,
.navbar.it-top-navscroll {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  padding-top: var(--#{$prefix}spacing-xxs);
  padding-bottom: var(--#{$prefix}spacing-xxs);
  box-shadow: var(--#{$prefix}navscroll-bottom-box-shadow);
}

.navbar.it-bottom-navscroll {
  bottom: 0;
}

.navbar.it-top-navscroll {
  top: 0;
}

.navbar.it-left-side {
  border-left: 1px solid var(--#{$prefix}navscroll-divider-color);
}

.navbar.it-right-side {
  border-right: 1px solid var(--#{$prefix}navscroll-divider-color);
}

// Theme Dark Mobile
@include media-breakpoint-down(lg) {
  .it-navscroll-wrapper.theme-dark-mobile {
    --#{$prefix}navscroll-background: var(--#{$prefix}color-background-secondary);

    .link-list-wrapper h3 {
      color: var(--#{$prefix}color-text-muted);
    }

    .link-list-wrapper ul li a,
    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-text-inverse);
    }

    .custom-navbar-toggler,
    .custom-navbar-toggler span.it-list {
      --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-inverse);
    }

    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-border-color: var(--#{$prefix}color-border-inverse);
    }
  }
}

// Theme Dark Desktop
@include media-breakpoint-up(lg) {
  .it-navscroll-wrapper.theme-dark-desk {
    --#{$prefix}navscroll-background: var(--#{$prefix}color-background-secondary);

    .link-list-wrapper h3 {
      color: var(--#{$prefix}color-text-inverse);
    }

    .link-list-wrapper ul li a,
    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-text-inverse);
    }

    .custom-navbar-toggler,
    .custom-navbar-toggler span.it-list {
      --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-inverse);
    }

    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-border-color: var(--#{$prefix}color-border-inverse);
    }
  }
}

// Desktop Only
@include media-breakpoint-up(lg) {
  .navbar.it-navscroll-wrapper .it-back-button,
  .navbar.it-navscroll-wrapper .custom-navbar-progressbar,
  .navbar.it-navscroll-wrapper .custom-navbar-toggler {
    display: none !important;
  }

  .navbar.it-navscroll-wrapper .menu-wrapper {
    padding: var(--#{$prefix}spacing-s) 0 var(--#{$prefix}spacing-m);
    background: var(--#{$prefix}navscroll-background);
  }

  .navbar.it-bottom-navscroll,
  .navbar.it-top-navscroll {
    position: inherit;
    z-index: 9;
    box-shadow: none;
  }

  .navbar.it-bottom-navscroll.affix-top,
  .navbar.it-top-navscroll.affix-top {
    position: sticky;
    top: 0;
  }
}
