// Component: navscroll
//
// Description: Component styles for navscroll
//

// Variables
//

// Properties
//

.it-navscroll-wrapper {
  --#{$prefix}navscroll-background: var(--#{$prefix}page-background);
  --#{$prefix}navscroll-backbutton-padding: var(--#{$prefix}spacing-xs);
  --#{$prefix}navscroll-bottom-box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.05);
  --#{$prefix}navscroll-backbutton-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}navscroll-item-spacing: var(--#{$prefix}spacing-xs) var(--#{$prefix}spacing-m);
  --#{$prefix}navscroll-item-font-size: var(--#{$prefix}label-font-size-l);
  --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}navscroll-item-border-color: transparent;
  --#{$prefix}navscroll-heading-spacing-top: var(--#{$prefix}spacing-s);
  --#{$prefix}navscroll-heading-spacing-bottom: var(--#{$prefix}spacing-s);
  --#{$prefix}navscroll-heading-spacing-x: var(--#{$prefix}spacing-m);
  --#{$prefix}navscroll-heading-font-size: var(--#{$prefix}heading-6-font-size);
  --#{$prefix}navscroll-heading-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}navscroll-heading-font-weight: var(--#{$prefix}heading-font-weight);
  --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}navscroll-divider-color: var(--#{$prefix}color-border-subtle);
}

// Styles
//

.navbar.it-navscroll-wrapper {
  background: var(--#{$prefix}navscroll-background);

  .it-back-button {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    padding: var(--#{$prefix}spacing-s) var(--#{$prefix}spacing-m);
    border-radius: 0;
    opacity: 0;
    background: var(--#{$prefix}navscroll-background);
    box-shadow: var(--#{$prefix}navscroll-bottom-box-shadow);
    color: var(--#{$prefix}navscroll-toggler-color);
    font-weight: var(--#{$prefix}navscroll-backbutton-weight);
    text-decoration: none;
    transition:
      opacity 0.3s 0s,
      visibility 0s 0.3s;

    &.show {
      visibility: visible;
      opacity: 1;
      transition:
        opacity 0.3s 0s,
        visibility 0s 0s;
    }

    i {
      display: inline-block;
      margin-right: var(--#{$prefix}spacing-xxs);
      transform: scale(0.8);
      transform-origin: center;
    }
  }

  .link-list-wrapper ul li span {
    font-size: var(--#{$prefix}navscroll-item-font-size);
  }

  .link-list-wrapper ul li a {
    padding: var(--#{$prefix}navscroll-item-spacing);
    border-left: var(--#{$prefix}border-thick) solid var(--#{$prefix}navscroll-item-border-color);
    color: var(--#{$prefix}navscroll-item-font-color);
  }

  .link-list-wrapper ul li a.active {
    --#{$prefix}navscroll-item-border-color: var(--#{$prefix}color-border-primary);
    --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-link-active);
  }

  .link-list-wrapper ul li ul li a {
    font-weight: var(--#{$prefix}font-weight-base);
  }

  .link-list-wrapper ul li ul li a.active {
    --#{$prefix}navscroll-item-border-color: transparent;
    text-decoration: underline;
  }

  // Navscroll Heading
  h3 {
    margin-top: var(--#{$prefix}navscroll-heading-spacing-top);
    margin-bottom: var(--#{$prefix}navscroll-heading-spacing-bottom);
    padding-right: var(--#{$prefix}navscroll-heading-spacing-x);
    padding-left: var(--#{$prefix}navscroll-heading-spacing-x);
    color: var(--#{$prefix}navscroll-heading-color);
    font-size: var(--#{$prefix}navscroll-heading-font-size);
    font-weight: var(--#{$prefix}navscroll-heading-font-weight);
    text-transform: uppercase;
  }

  // Menu Wrapper
  .menu-wrapper {
    z-index: 5;
    @include media-breakpoint-down(md) {
      padding-top: 56px; // to avoid overlap with navscroll toggler - value must match navscroll toggler height
    }
    background: var(--#{$prefix}navscroll-background);
  }

  // Navscroll Toggler
  .custom-navbar-toggler {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: var(--#{$prefix}spacing-s) var(--#{$prefix}spacing-m);
    color: var(--#{$prefix}navscroll-toggler-color);
    font-weight: var(--#{$prefix}font-weight-solid);
    cursor: pointer;
  }

  .custom-navbar-toggler span.it-list {
    margin-right: var(--#{$prefix}spacing-xxs);
    color: var(--#{$prefix}navscroll-toggler-color);
  }
}

.navbar.it-bottom-navscroll,
.navbar.it-top-navscroll {
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: var(--#{$prefix}navscroll-bottom-box-shadow);
}

.navbar.it-bottom-navscroll {
  bottom: 0;
  z-index: 9999;
}

.navbar.it-top-navscroll {
  top: 0;
  z-index: 8;
}

.navbar.it-left-side {
  border-left: 1px solid var(--#{$prefix}navscroll-divider-color);
}

.navbar.it-right-side {
  border-right: 1px solid var(--#{$prefix}navscroll-divider-color);
}

// Theme Dark Mobile
@include media-breakpoint-down(lg) {
  .it-navscroll-wrapper.theme-dark-mobile {
    --#{$prefix}navscroll-background: var(--#{$prefix}color-background-secondary);
    --#{$prefix}navscroll-heading-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-inverse);

    .link-list-wrapper ul li a,
    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-text-inverse);
    }

    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-border-color: var(--#{$prefix}color-border-inverse);
    }
  }
}

// Theme Dark Desktop
@include media-breakpoint-up(lg) {
  .it-navscroll-wrapper.theme-dark-desk {
    --#{$prefix}navscroll-background: var(--#{$prefix}color-background-secondary);
    --#{$prefix}navscroll-heading-color: var(--#{$prefix}color-text-inverse);
    --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-inverse);

    .link-list-wrapper ul li a,
    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-font-color: var(--#{$prefix}color-text-inverse);
    }

    .custom-navbar-toggler,
    .custom-navbar-toggler span.it-list {
      --#{$prefix}navscroll-toggler-color: var(--#{$prefix}color-text-inverse);
    }

    .link-list-wrapper ul li a.active {
      --#{$prefix}navscroll-item-border-color: var(--#{$prefix}color-border-inverse);
    }
  }
}

// Desktop Only
@include media-breakpoint-up(lg) {
  .navbar.it-navscroll-wrapper .it-back-button,
  .navbar.it-navscroll-wrapper .custom-navbar-progressbar,
  .navbar.it-navscroll-wrapper .custom-navbar-toggler {
    display: none !important;
  }

  .navbar.it-navscroll-wrapper .menu-wrapper {
    display: block;
    /* padding: var(--#{$prefix}spacing-s) 0 var(--#{$prefix}spacing-m); */
    background: var(--#{$prefix}navscroll-background);
  }

  .navbar.it-bottom-navscroll,
  .navbar.it-top-navscroll {
    position: inherit;
    z-index: 9;
    box-shadow: none;
  }

  .navbar.it-bottom-navscroll.affix-top,
  .navbar.it-top-navscroll.affix-top {
    position: sticky;
    top: 0;
  }
}
