// Component: notifications
//
// Description: Component styles for notifications
//

// Variables
//

// Properties
//

// Styles
//

.notification {
  --#{$prefix}notification-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}notification-border-width: var(--#{$prefix}border-thick);
  --#{$prefix}notification-border-color: var(--#{$prefix}color-border-primary);
  --#{$prefix}notification-box-shadow: var(--#{$prefix}elevation-medium);
  --#{$prefix}notification-padding-x: var(--#{$prefix}spacing-s);
  --#{$prefix}notification-padding-y: var(--#{$prefix}spacing-m);
  --#{$prefix}notification-padding-right: calc(var(--#{$prefix}spacing-m) + var(--#{$prefix}spacing-xl));
  --#{$prefix}notification-title-color: var(--#{$prefix}color-text-base);
  --#{$prefix}notification-title-font-size: var(--#{$prefix}heading-6-font-size);
  --#{$prefix}notification-text-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}notification-text-font-size: var(--#{$prefix}label-font-size);
}

/* stylelint-disable-next-line no-duplicate-selectors */
.notification {
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  width: auto;
  padding: var(--#{$prefix}notification-padding-y) var(--#{$prefix}notification-padding-x);
  border-left: var(--#{$prefix}notification-border-width) solid var(--#{$prefix}notification-border-color);
  border-radius: var(--#{$prefix}radius-smooth);
  background: var(--#{$prefix}notification-background);
  box-shadow: var(--#{$prefix}notification-box-shadow);
  
  // Tablet vertical
  @include media-breakpoint-up(md) {
    right: var(--#{$prefix}spacing-s);
    bottom: var(--#{$prefix}spacing-s);

    // Fixed positions
    &.top-fix {
      top: 0;
      right: auto;
      bottom: auto;
      left: 50%;
      border-bottom-width: var(--#{$prefix}notification-border-width);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      transform: translateX(-50%);
    }

    &.bottom-fix {
      right: auto;
      bottom: 0;
      left: 50%;
      border-top-width: var(--#{$prefix}notification-border-width);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transform: translateX(-50%);
    }

    &.left-fix {
      top: 50%;
      right: auto;
      bottom: auto;
      left: 0;
      border-left: none;
      border-right-width: var(--#{$prefix}notification-border-width);
      border-right-style: solid;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-right-color: var(--#{$prefix}notification-border-color);
      transform: translateY(-50%);
    }

    &.right-fix {
      top: 50%;
      right: 0;
      bottom: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transform: translateY(-50%);
    }
  }

  // Title
  &-title {
    position: relative;
    margin: 0;
    color: var(--#{$prefix}notification-title-color);
    font-size: var(--#{$prefix}notification-title-font-size);
    font-weight: var(--#{$prefix}font-weight-strong);
    line-height: var(--#{$prefix}heading-leading);
  }

  p {
    margin-top: var(--#{$prefix}spacing-xxs);
    color: var(--#{$prefix}notification-text-color);
    font-size: var(--#{$prefix}notification-text-font-size);
    line-height: var(--#{$prefix}body-leading);
  }

  p:last-child {
    margin-bottom: 0;
  }

  // With icon
  &.with-icon {

    .notification-title {
      display: flex;
      align-items: center;
    }

    p {
      margin-bottom: 0;
      margin-left: var(--#{$prefix}spacing-l);
    }

    // Status variants
    &.success {
      --#{$prefix}notification-border-color: var(--#{$prefix}color-border-success);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}icon-success);
    }

    &.error {
      --#{$prefix}notification-border-color: var(--#{$prefix}color-border-danger);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}icon-danger);
    }

    &.info {
      --#{$prefix}notification-border-color: var(--#{$prefix}color-border-secondary);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}icon-secondary);
    }

    &.warning {
      --#{$prefix}notification-border-color: var(--#{$prefix}color-border-warning);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}icon-warning);
    }

    &.success .icon,
    &.error .icon,
    &.info .icon,
    &.warning .icon {
      fill: var(--#{$prefix}notification-icon-fill);
    }
  }

  // Dismissable
  &.dismissable {
    .notification-close {
      position: absolute;
      top: 20px;
      right: var(--#{$prefix}notification-padding-x);
      display: block;
      padding: 0;
      background: none;

      .icon {
        fill: var(--#{$prefix}icon-secondary);
      }

      &:hover {
        .icon {
          fill: var(--#{$prefix}icon-primary);
        }
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}
