// Component: notifications
//
// Description: Component styles for notifications
//

// Variables
//

// Properties
//

// Styles
//

.notification {
  --#{$prefix}notification-background: var(--#{$prefix}color-background-inverse);
  --#{$prefix}notification-border-width: var(--#{$prefix}border-thick);
  --#{$prefix}notification-border-color: var(--#{$prefix}color-border-secondary);
  --#{$prefix}notification-box-shadow: var(--#{$prefix}elevation-medium);
  --#{$prefix}notification-padding-x: var(--#{$prefix}spacing-m);
  --#{$prefix}notification-padding-right: calc(var(--#{$prefix}spacing-m) + var(--#{$prefix}spacing-xl));
  --#{$prefix}notification-title-color: var(--#{$prefix}color-text-base);
  --#{$prefix}notification-title-font-size: var(--#{$prefix}heading-6-font-size-l);
  --#{$prefix}notification-body-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}notification-body-font-size: var(--#{$prefix}body-font-size);
}

/* stylelint-disable-next-line no-duplicate-selectors */
.notification {
  width: 100%;
  padding: var(--#{$prefix}notification-padding-x);
  padding-right: var(--#{$prefix}notification-padding-right);
  box-shadow: var(--#{$prefix}notification-box-shadow);
  background: var(--#{$prefix}notification-background);
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  border-top: var(--#{$prefix}notification-border-width) solid var(--#{$prefix}notification-border-color);
  border-radius: var(--#{$prefix}radius-smooth);

  // Title
  &-title {
    font-size: var(--#{$prefix}label-font-size);
    color: var(--#{$prefix}notification-title-color);
    letter-spacing: 0;
    margin: 0;
    position: relative;
    line-height: var(--#{$prefix}heading-leading);
    font-weight: var(--#{$prefix}font-weight-strong);
  }

  p {
    margin-top: var(--#{$prefix}spacing-s);
    font-size: var(--#{$prefix}notification-body-font-size);
    line-height: var(--#{$prefix}body-leading);
    color: var(--#{$prefix}notification-body-color);
  }

  p:last-child {
    margin-bottom: 0;
  }

  // With icon
  &.with-icon {
    // .notification-title {
    //   .icon {
    //     position: absolute;
    //     top: calc(0px - var(--#{$prefix}spacing-xxs));
    //     left: -38px;
    //   }
    // }

    p {
      margin-left: var(--#{$prefix}spacing-l);
    }

    // Status variants
    &.success {
      --#{$prefix}notification-strip-color: var(--#{$prefix}success);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}success);
    }

    &.error {
      --#{$prefix}notification-strip-color: var(--#{$prefix}danger);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}danger);
    }

    &.info {
      --#{$prefix}notification-strip-color: var(--#{$prefix}primary);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}primary);
    }

    &.warning {
      --#{$prefix}notification-strip-color: var(--#{$prefix}warning);
      --#{$prefix}notification-icon-fill: var(--#{$prefix}warning);
    }

    &.success .icon,
    &.error .icon,
    &.info .icon,
    &.warning .icon {
      fill: var(--#{$prefix}notification-icon-fill);
    }
  }

  // Dismissable
  &.dismissable {
    .notification-close {
      position: absolute;
      right: 20px;
      top: 15px;
      display: block;
      width: var(--#{$prefix}icon-size-l);
      height: var(--#{$prefix}icon-size-l);
      padding: 0;
      background: none;

      .icon {
        fill: var(--#{$prefix}icon-secondary);
      }

      &:hover {
        .icon {
          fill: var(--#{$prefix}icon-primary);
        }
      }

      &:active {
        box-shadow: none;
      }
    }
  }


  // Tablet vertical
  @include media-breakpoint-up(md) {
    bottom: var(--#{$prefix}spacing-s);
    right: var(--#{$prefix}spacing-s);
    border-top: none;

    &.with-icon {
      --#{$prefix}notification-strip-color: var(--#{$prefix}secondary);
      border-left: var(--#{$prefix}notification-border-width) solid var(--#{$prefix}notification-strip-color);
      border-top: none;
    }

    // Fixed positions
    &.top-fix {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: auto;
      right: auto;
    }

    &.bottom-fix {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      right: auto;
    }

    &.left-fix {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      border-right-style: solid;
      border-right-width: var(--#{$prefix}notification-border-width);
      left: 0;
      right: auto;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }

    &.right-fix {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      right: 0;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }
}
