@use '../base/config' as *;
@use '../base/variables' as *;
// @use '../base/mixins/border-radius' as *;
// @use '../base/mixins/gradients' as *;
// @use '../base/mixins/transition' as *;
@use '../base/mixins/lists' as *;
// @use '../base/mixins/pagination' as *;
@use '../base/mixins/breakpoints' as *;
// @use '../base/vendor/rfs' as *;

// Component: pagination
//
// Description: Component styles for pagination
//

// Variables
//

// Properties
//

.pagination {
  --#{$prefix}pagination-background: transparent; // Controls the background for the pagination.
  --#{$prefix}pagination-border-width: 2px; // Controls the border width for the pagination.
  --#{$prefix}pagination-border-color: transparent; // Controls the border color for the pagination.
  --#{$prefix}pagination-border-radius: var(--#{$prefix}radius-smooth); // Controls the border radius for the pagination.
  --#{$prefix}pagination-font-size: var(--#{$prefix}label-font-size); // Controls the font size for the pagination, using font tokens.
  --#{$prefix}pagination-item-size: 3rem; // Controls the item size for the pagination.
  --#{$prefix}pagination-link-color: var(--#{$prefix}color-link); // Controls the link color for the pagination, using color tokens.
  --#{$prefix}pagination-padding-x: var(--#{$prefix}spacing-s); // Controls the horizontal padding for the pagination, using spacing tokens.
  --#{$prefix}pagination-padding-y: var(--#{$prefix}spacing-xxs); // Controls the vertical padding for the pagination, using spacing tokens.
}

// Styles
/* stylelint-disable-next-line no-duplicate-selectors */
.pagination {
  display: flex;
  flex-wrap: wrap;
  @include list-unstyled();
  @supports (gap: 8px) {
    gap: 8px;
  }
}

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //Tablet vertical
  @include media-breakpoint-up(md) {
    nav.pagination-wrapper {
      justify-content: flex-start;
      //page changer
      .dropdown {
        margin-left: var(--#{$prefix}spacing-l);
      }
    }
  }

  &.pagination-total {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    ul {
      margin-bottom: var(--#{$prefix}spacing-xxs);
    }

    p {
      margin-bottom: var(--#{$prefix}spacing-s);
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}label-font-size);
      font-weight: var(--#{$prefix}font-weight-solid);
      text-align: center;
    }

    &.justify-content-end {
      display: grid;
    }

    &.justify-content-center {
      width: 100%;
      .pagination {
        justify-content: center;
      }
    }
  }

  // Jump to page
  .form-group {
    width: 5rem;
    margin-top: 0;
    margin-left: var(--#{$prefix}spacing-l);
    label {
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}label-font-size);
    }
  }
}

.page-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--#{$prefix}pagination-item-size);
  height: var(--#{$prefix}pagination-item-size);
  padding: var(--#{$prefix}pagination-padding-y) var(--#{$prefix}pagination-padding-x);
  border: var(--#{$prefix}pagination-border-width) solid var(--#{$prefix}pagination-border-color);
  background-color: var(--#{$prefix}pagination-background);
  color: var(--#{$prefix}pagination-link-color);
  font-size: var(--#{$prefix}pagination-font-size);
  font-weight: var(--#{$prefix}font-weight-solid);
  border-radius: var(--#{$prefix}pagination-border-radius);
  text-decoration: none;

  &:hover {
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-hover);
    text-decoration: underline;
  }

  // &:focus {
  //   z-index: 3;
  //   outline: $pagination-focus-outline;
  //   background-color: var(--#{$prefix}pagination-focus-bg);
  //   box-shadow: var(--#{$prefix}pagination-focus-box-shadow);
  //   color: var(--#{$prefix}pagination-focus-color);
  // }

  &.disabled,
  .disabled > & {
    --#{$prefix}pagination-border-color: transparent;
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-text-disabled);
    --#{$prefix}pagination-icon-color: var(--#{$prefix}color-text-disabled);
    pointer-events: none;
  }

  // Current page version
  &[aria-current] {
    --#{$prefix}pagination-border-color: var(--#{$prefix}color-border-primary-active);
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-active);
    pointer-events: none;
  }

  // Icon & Text prev/next
  &.text {
    color: var(--#{$prefix}pagination-link-color);
  }

  span.d-inline-block {
    margin-right: var(--#{$prefix}spacing-xxs);
  }

  .icon {
    fill: currentColor;
  }
}

// Fallback for browsers that do not support gap
@supports not (
  (
    gap: 8px,
  )
) {
  .page-item {
    margin-right: var(--#{$prefix}spacing-xxs);
    &:last-child {
      margin-right: 0;
    }
  }
}
