
.pagination {
  --#{$prefix}pagination-padding-x: var(--#{$prefix}spacing-s);
  --#{$prefix}pagination-padding-y: var(--#{$prefix}spacing-xs);
  --#{$prefix}pagination-link-color: var(--#{$prefix}color-link);
  --#{$prefix}pagination-background: transparent;
  --#{$prefix}pagination-border-width: 2px;
  --#{$prefix}pagination-border-color: transparent;
  --#{$prefix}pagination-border-radius: #{$pagination-border-radius};
  --#{$prefix}pagination-item-size: 3rem;
  --#{$prefix}pagination-font-size: var(--#{$prefix}label-font-size);

  display: flex;
  flex-wrap: wrap;
  @include list-unstyled();
  @supports (gap: 8px) {
    gap: 8px;
  }
}

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //Tablet vertical
  @include media-breakpoint-up(md) {
    nav.pagination-wrapper {
      justify-content: flex-start;
      //page changer
      .dropdown {
        margin-left: var(--#{$prefix}spacing-l);
      }
    }
  }

  &.pagination-total {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    ul {
      margin-bottom: var(--#{$prefix}spacing-xs);
    }

    p {
      margin-bottom: var(--#{$prefix}spacing-s);
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}label-font-size);
      font-weight: var(--#{$prefix}font-weight-solid);
      text-align: center;
    }

    &.justify-content-end {
      display: grid;
    }

    &.justify-content-center {
      width: 100%;
      .pagination {
        justify-content: center;
      }
    }
  }

  // Jump to page
  .form-group {
    width: 5rem;
    margin-top: 0;
    margin-left: var(--#{$prefix}spacing-l);
    label {
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}label-font-size);
    }
  }
}

.page-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--#{$prefix}pagination-item-size);
  height: var(--#{$prefix}pagination-item-size);
  padding: var(--#{$prefix}pagination-padding-y) var(--#{$prefix}pagination-padding-x);
  border: var(--#{$prefix}pagination-border-width) solid var(--#{$prefix}pagination-border-color);
  background-color: var(--#{$prefix}pagination-background);
  color: var(--#{$prefix}pagination-link-color);
  font-size: var(--#{$prefix}pagination-font-size);
  font-weight: var(--#{$prefix}font-weight-solid);
  border-radius: var(--#{$prefix}pagination-border-radius);
  text-decoration: none;

  &:hover {
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-hover);
    text-decoration: underline;
  }

  &:focus {
    z-index: 3;
    outline: $pagination-focus-outline;
    background-color: var(--#{$prefix}pagination-focus-bg);
    box-shadow: var(--#{$prefix}pagination-focus-box-shadow);
    color: var(--#{$prefix}pagination-focus-color);
  }

  &.disabled,
  .disabled>& {
    --#{$prefix}pagination-border-color: transparent;
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-text-disabled);
    --#{$prefix}pagination-icon-color: var(--#{$prefix}color-text-disabled);
    pointer-events: none;
  }

  // Current page version
  &[aria-current] {
    --#{$prefix}pagination-border-color: var(--#{$prefix}color-border-primary-active);
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-active);
    pointer-events: none;
  }

  // Icon & Text prev/next
  &.text {
    color: var(--#{$prefix}pagination-link-color);
  }

  span.d-inline-block {
    margin-right: var(--#{$prefix}spacing-xs);
  }

  .icon {
    fill: currentColor;
  }
}

// Fallback for browsers that do not support gap
@supports not ((gap: 8px)) {
  .page-item {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
