@use '../base/config' as *;
@use '../base/variables' as *;

// Component: page scroll
//
// Description: Component styles for page scroll
//

// Variables
//

// Properties
//

// Styles
//

.pagescroll-scroll-disabled {
  scroll-behavior: auto !important;
}
