// Component: popover
//
// Description: Component styles for popover
//

// Variables
//

// Properties
//

// Styles
//

.bs-popover-top {
  > .popover-arrow {
    bottom: calc(-1 * (var(--#{$prefix}popover-arrow-height)) - var(--#{$prefix}popover-border-width)); // stylelint-disable-line function-disallowed-list

    &::before,
    &::after {
      border-width: var(--#{$prefix}popover-arrow-height) calc(var(--#{$prefix}popover-arrow-width) * 0.5) 0; // stylelint-disable-line function-disallowed-list
    }

    &::before {
      bottom: 0;
      border-top-color: var(--#{$prefix}popover-arrow-border);
    }

    &::after {
      bottom: var(--#{$prefix}popover-border-width);
      border-top-color: var(--#{$prefix}popover-bg);
    }
  }
}

/* rtl:begin:ignore */
.bs-popover-end {
  > .popover-arrow {
    left: calc(-1 * (var(--#{$prefix}popover-arrow-height)) - var(--#{$prefix}popover-border-width)); // stylelint-disable-line function-disallowed-list
    width: var(--#{$prefix}popover-arrow-height);
    height: var(--#{$prefix}popover-arrow-width);

    &::before,
    &::after {
      border-width: calc(var(--#{$prefix}popover-arrow-width) * 0.5) var(--#{$prefix}popover-arrow-height) calc(var(--#{$prefix}popover-arrow-width) * 0.5) 0; // stylelint-disable-line function-disallowed-list
    }

    &::before {
      left: 0;
      border-right-color: var(--#{$prefix}popover-arrow-border);
    }

    &::after {
      left: var(--#{$prefix}popover-border-width);
      border-right-color: var(--#{$prefix}popover-bg);
    }
  }
}

/* rtl:end:ignore */
.bs-popover-bottom {
  > .popover-arrow {
    top: calc(-1 * (var(--#{$prefix}popover-arrow-height)) - var(--#{$prefix}popover-border-width)); // stylelint-disable-line function-disallowed-list

    &::before,
    &::after {
      border-width: 0 calc(var(--#{$prefix}popover-arrow-width) * 0.5) var(--#{$prefix}popover-arrow-height); // stylelint-disable-line function-disallowed-list
    }

    &::before {
      top: 0;
      border-bottom-color: var(--#{$prefix}popover-arrow-border);
    }

    &::after {
      top: var(--#{$prefix}popover-border-width);
      border-bottom-color: var(--#{$prefix}popover-bg);
    }
  }

  // This will remove the popover-header's border just below the arrow
  .popover-header::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: var(--#{$prefix}popover-arrow-width);
    margin-left: calc(-0.5 * var(--#{$prefix}popover-arrow-width)); // stylelint-disable-line function-disallowed-list
    content: '';
    border-bottom: var(--#{$prefix}popover-border-width) solid var(--#{$prefix}popover-header-bg);
  }
}

/* rtl:begin:ignore */
.bs-popover-start {
  > .popover-arrow {
    right: calc(-1 * (var(--#{$prefix}popover-arrow-height)) - var(--#{$prefix}popover-border-width)); // stylelint-disable-line function-disallowed-list
    width: var(--#{$prefix}popover-arrow-height);
    height: var(--#{$prefix}popover-arrow-width);

    &::before,
    &::after {
      border-width: calc(var(--#{$prefix}popover-arrow-width) * 0.5) 0 calc(var(--#{$prefix}popover-arrow-width) * 0.5) var(--#{$prefix}popover-arrow-height); // stylelint-disable-line function-disallowed-list
    }

    &::before {
      right: 0;
      border-left-color: var(--#{$prefix}popover-arrow-border);
    }

    &::after {
      right: var(--#{$prefix}popover-border-width);
      border-left-color: var(--#{$prefix}popover-bg);
    }
  }
}

/* rtl:end:ignore */

.bs-popover-auto {
  &[data-popper-placement^='top'] {
    @extend .bs-popover-top;
  }
  &[data-popper-placement^='right'] {
    @extend .bs-popover-end;
  }
  &[data-popper-placement^='bottom'] {
    @extend .bs-popover-bottom;
  }
  &[data-popper-placement^='left'] {
    @extend .bs-popover-start;
  }
}

// Offset the popover to account for the popover arrow
.popover-header {
  padding: var(--#{$prefix}popover-header-padding-y) var(--#{$prefix}popover-header-padding-x);
  margin-bottom: 0; // Reset the default from Reboot
  @include font-size(var(--#{$prefix}popover-header-font-size));
  color: var(--#{$prefix}popover-header-color);
  background-color: var(--#{$prefix}popover-header-bg);
  border-bottom: var(--#{$prefix}popover-border-width) solid var(--#{$prefix}popover-border-color);
  @include border-top-radius(var(--#{$prefix}popover-inner-border-radius));

  &:empty {
    display: none;
  }
}

.popover-body {
  padding: var(--#{$prefix}popover-body-padding-y) var(--#{$prefix}popover-body-padding-x);
  color: var(--#{$prefix}popover-body-color);
}


.popover {
  --#{$prefix}popover-arrow-border: var(--#{$prefix}popover-border-color);
  --#{$prefix}popover-arrow-height: #{$popover-arrow-height};
  --#{$prefix}popover-arrow-width: #{$popover-arrow-width};
  --#{$prefix}popover-body-color: #{$popover-body-color};
  --#{$prefix}popover-body-padding-x: #{$popover-body-padding-x};
  --#{$prefix}popover-body-padding-y: #{$popover-body-padding-y};
  --#{$prefix}popover-bg: #{$popover-bg};
  --#{$prefix}popover-box-shadow: #{$popover-box-shadow};
  --#{$prefix}popover-border-color: #{$popover-border-color};
  --#{$prefix}popover-border-radius: #{$popover-border-radius};
  --#{$prefix}popover-border-width: #{$popover-border-width};
  @include rfs($popover-font-size, --#{$prefix}popover-font-size);
  --#{$prefix}popover-header-bg: #{$popover-header-bg};
  --#{$prefix}popover-header-color: #{$popover-header-color};
  @include rfs($popover-header-font-size, --#{$prefix}popover-header-font-size);
  --#{$prefix}popover-header-padding-x: #{$popover-header-padding-x};
  --#{$prefix}popover-header-padding-y: #{$popover-header-padding-y};
  --#{$prefix}popover-inner-border-radius: #{$popover-inner-border-radius};
  --#{$prefix}popover-max-width: #{$popover-max-width};
  --#{$prefix}popover-zindex: #{$zindex-popover};

  z-index: var(--#{$prefix}popover-zindex);
  display: block;
  max-width: var(--#{$prefix}popover-max-width);
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  @include font-size(var(--#{$prefix}popover-font-size));
  // Allow breaking very long words so they don't overflow the popover's bounds
  word-wrap: break-word;
  background-color: var(--#{$prefix}popover-bg);
  background-clip: padding-box;
  border: var(--#{$prefix}popover-border-width) solid var(--#{$prefix}popover-border-color);
  @include border-radius(var(--#{$prefix}popover-border-radius));
  @include box-shadow(var(--#{$prefix}popover-box-shadow));

  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);

  &.bs-popover-top {
    margin-bottom: $v-gap * 2;
    .popover-arrow {
      &:after {
        bottom: 2px;
      }
    }
  }
  &.bs-popover-bottom {
    margin-top: $v-gap * 2;
    .popover-arrow {
      &:after {
        top: 2px;
      }
    }
  }
  &.bs-popover-left {
    margin-right: $v-gap * 2;
    .popover-arrow {
      &:after {
        right: 2px;
      }
    }
  }
  &.bs-popover-right {
    margin-left: $v-gap * 2;
    .popover-arrow {
      &:after {
        left: 2px;
      }
    }
  }
  .popover-arrow {
    display: block;
    width: var(--#{$prefix}popover-arrow-width);
    height: var(--#{$prefix}popover-arrow-height);

    &::after {
      position: absolute;
      display: block;
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 0;
    }

    &:before {
      display: none;
    }
  }
  //title
  .popover-header {
    background: none;
    border: none;
    text-transform: uppercase;
    color: $color-text-base;
    font-size: 1rem;
    padding: $v-gap * 2 $v-gap * 3 0;
    letter-spacing: 0.05em;
    font-weight: 600;
    //title icon
    .icon {
      fill: $primary;
      margin-right: $v-gap;
      height: $v-gap * 3;
      width: $v-gap * 3;
    }
  }
  //text
  .popover-body {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: $color-text-secondary; // UI Kit
    padding: $v-gap * 2 $v-gap * 3;
    //inner bottom link
    a.popover-inner-link {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: block;
      margin-top: $v-gap * 2;
      font-size: 0.857em;
      text-align: right;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
      //link icon
      .icon {
        fill: $primary;
        height: $v-gap * 2;
        width: $v-gap * 2;
        margin-left: $v-gap * 0.5;
        margin-bottom: $v-gap * 0.5;
      }
    }
  }
}

//small - tablet
@include media-breakpoint-up(sm) {
  .popover {
    //title
    .popover-header {
      font-size: 0.875rem;
    }
    //text
    .popover-body {
      font-size: 0.75rem;
    }
  }
}
