// Component: progress spinners
//
// Description: Component styles for progress spinners
//

// Variables
//

// Properties
//

.progress-spinner {
  --#{$prefix}progress-spinner-bg: var(--#{$prefix}color-border-secondary);
  --#{$prefix}progress-spinner-size: 48px;
  --#{$prefix}progress-spinner-size-sm: 32px;
  --#{$prefix}progress-spinner-size-lg: 64px;
  --#{$prefix}progress-spinner-size-xl: 80px;
  --#{$prefix}progress-spinner-border-width: 4px;
  --#{$prefix}progress-spinner-animation-duration: 0.75s;
}

// Styles
//

//mobile

//basic animation
@keyframes spinnerAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
//double spinner anim 1
@keyframes spinnerAnimInner1 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(205deg);
  }
}
//double spinner anim 2
@keyframes spinnerAnimInner2 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-105deg);
  }
}

//standard spinner
.progress-spinner {
  @extend %progress;
  display: block;
  width: var(--#{$prefix}progress-spinner-size);
  height: var(--#{$prefix}progress-spinner-size);
  border-radius: 50%;
  border: var(--#{$prefix}progress-spinner-border-width) solid var(--#{$prefix}progress-bg);
  //spinner active state
  &.progress-spinner-active {
    animation: spinnerAnim 0.75s linear infinite;
  }
  //standard spinner active state
  &.progress-spinner-active:not(.progress-spinner-double) {
    border-color: $secondary;
    border-bottom-color: var(--#{$prefix}progress-bg);
  }
  //small size
  &.size-sm {
    width: var(--#{$prefix}progress-spinner-size-sm);
    height: var(--#{$prefix}progress-spinner-size-sm);
  }

  //large size
  &.size-lg {
    width: var(--#{$prefix}progress-spinner-size-lg);
    height: var(--#{$prefix}progress-spinner-size-lg);
  }

  //extra-large size
  &.size-xl {
    width: var(--#{$prefix}progress-spinner-size-xl);
    height: var(--#{$prefix}progress-spinner-size-xl);
  }

  //double spinner
  &.progress-spinner-double {
    $size: 48px;
    display: inline-block;

    //small size
    &.size-sm {
      width: var(--#{$prefix}progress-spinner-size-sm);
      height: var(--#{$prefix}progress-spinner-size-sm);
      //double spinner inner
      .progress-spinner-inner {
        width: var(--#{$prefix}progress-spinner-size-sm);
        height: calc(var(--#{$prefix}progress-spinner-size-sm) / 2);
      }
    }

    &.size-lg {
      width: var(--#{$prefix}progress-spinner-size-lg);
      height: var(--#{$prefix}progress-spinner-size-lg);
      //double spinner inner
      .progress-spinner-inner {
        width: var(--#{$prefix}progress-spinner-size-lg);
        height: calc(var(--#{$prefix}progress-spinner-size-lg) / 2);
      }
    }

    &.size-xl {
      width: var(--#{$prefix}progress-spinner-size-xl);
      height: var(--#{$prefix}progress-spinner-size-xl);
      //double spinner inner
      .progress-spinner-inner {
        width: var(--#{$prefix}progress-spinner-size-xl);
        height: calc(var(--#{$prefix}progress-spinner-size-xl) / 2);
      }
    }

    //double spinner active state
    &.progress-spinner-active {
      .progress-spinner-inner {
        opacity: 1;
      }
    }
    //double spinner inner
    .progress-spinner-inner {
      
      width: var(--#{$prefix}progress-spinner-size);
      height: calc(var(--#{$prefix}progress-spinner-size) / 2);
      overflow: hidden;
      margin-left: calc(var(--#{$prefix}progress-spinner-border-width) * -1);
      opacity: 0;
      transition: opacity 0.3s;
      &:nth-child(1) {
        margin-top: calc(var(--#{$prefix}progress-spinner-border-width) * -1);
      }
      &:nth-child(2) {
        transform: rotate(180deg);
        &:after {
          animation-name: spinnerAnimInner2;
        }
      }
      &:after {
        content: '';
        display: inline-block;
        transform: rotate(45deg);
        border-radius: 50%;
        border: 4px solid var(--#{$prefix}color-border-secondary);
        border-right: var(--#{$prefix}progress-spinner-border-width) solid transparent;
        border-bottom: var(--#{$prefix}progress-spinner-border-width) solid transparent;
        width: 100%;
        height: 200%;
        animation: spinnerAnimInner1 0.75s cubic-bezier(0.25, 0.1, 0.5, 1) infinite alternate;
      }
    }
  }
}
