// Component: progress bars
//
// Description: Component styles for progress bars
//

// Variables
//

// Properties
//

%progress {
  --#{$prefix}progress-bg: var(--#{$prefix}color-background-secondary-lighter);
  --#{$prefix}progress-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --#{$prefix}progress-label-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}progress-label-font-size: var(--#{$prefix}label-font-size-xs);
  --#{$prefix}progress-bar-transition: width 0.5s ease;
  --#{$prefix}progress-bar-bg: var(--#{$prefix}color-background-secondary);
  --#{$prefix}progress-height: 4px;
}

// Styles
//

// Disable animation if transitions are disabled
.progress-bar-striped {
  @include gradient-striped();
  background-size: var(--#{$prefix}progress-height) var(--#{$prefix}progress-height);
}

@if $enable-transitions {
  .progress-bar-animated {
    animation: $progress-bar-animation-timing progress-bar-stripes;

    @if $enable-reduced-motion {
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
}

// Enable transitions
@if $enable-transitions {
  @keyframes progress-bar-stripes {
    0% {
      background-position-x: $progress-height;
    }
  }
}

// Indetrminate animation
@keyframes progressBarIndeterminate {
  0% {
    left: -5%;
  }
  50% {
    width: 66%;
  }
  100% {
    left: 100%;
    width: 33%;
  }
}

// Common styles for all progress components
.progress {
  @extend %progress;
  display: flex;
  overflow: hidden; // force rounded corners by cropping it
  background-color: var(--#{$prefix}progress-bg);
  @include border-radius(var(--#{$prefix}progress-border-radius));
  @include box-shadow(var(--#{$prefix}progress-box-shadow));
  height: var(--#{$prefix}progress-height);
  box-shadow: none;

  &.progress-indeterminate {
    position: relative;
    .progress-bar {
      width: 0;
      animation: progressBarIndeterminate 1.4s cubic-bezier(0.77, 0, 0.175, 1) infinite forwards;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}

// Progress Bar styles
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  @include transition(var(--#{$prefix}progress-bar-transition));
  background-color: var(--#{$prefix}progress-bar-bg);
}

// Progress Bar label
.progress-bar-label {
  text-align: right;
  font-size: var(--#{$prefix}progress-label-font-size);
  color: var(--#{$prefix}progress-label-color);
  font-weight: 500;
}

// Button with progress bar
.btn-progress {
  .progress {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0 0 var(--#{$prefix}progress-border-radius) var(--#{$prefix}progress-border-radius);
  }
  .progress-bar {
    height: var(--#{$prefix}progress-height);
  }
}
