// Component: rating
//
// Description: Component styles for rating
//

// Variables
//

// Properties
//

.rating {
  --#{$prefix}rating-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}rating-font-weight: var(--#{$prefix}font-weight-solid);
  --#{$prefix}rating-icon-fill: var(--#{$prefix}color-background-secondary-light);
  --#{$prefix}rating-line-height: var(--#{$prefix}label-leading);
  --#{$prefix}rating-text: var(--#{$prefix}color-text-secondary);
}

// Styles
//


.rating {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  // Hide radio input
  &>input {
    position: absolute;
    left: -9999px;
  }

  // Star container
  //

  &>label {
    margin: 0;
    padding-right: 2px;

     &:hover {
      cursor: pointer;

      svg {
        transform: scale(1.2);
      }
    }

    // Star icon
    //

    svg {
      fill: var(--#{$prefix}rating-icon-fill);
      position: relative;
      transform-origin: center center;
      transition: transform var(--#{$prefix}transition-instant);
    }
  }

  // Rating label
  //

  &>legend {
    color: var(--#{$prefix}rating-text);
    font-size: var(--#{$prefix}rating-font-size);
    float: right;
    width: auto;
    margin-left: var(--#{$prefix}spacing-xxs);
    font-weight: var(--#{$prefix}rating-font-weight);
    line-height: var(--#{$prefix}rating-line-height);
  }

  // Read only rating
  //

  &.rating-read-only {
    &>input,
    &>label {
      pointer-events: none;
    }
  }
}

// Interactive states
//

// Show primary color star when clicked
.rating>input:checked~label,
// show primary color star when clicked
.rating:not(:checked)>label:hover,
// hover current star
.rating:not(:checked)>label:hover~label {
  --#{$prefix}rating-icon-fill: var(--#{$prefix}icon-primary);
}

// Hover previous stars in list
.rating>input:checked+label:hover,
// Hover current star when changing rating
.rating>input:checked~label:hover,
// Hover current star when changing rating
.rating>label:hover~input:checked~label,
// Lighten current selection
.rating>input:checked~label:hover~label {
  svg {
    --#{$prefix}rating-icon-fill: var(--#{$prefix}icon-primary);
  }
}
