.section {
  --#{$prefix}section-background-color: transparent;
  --#{$prefix}section-image-overlay: hsla(0, 0%, 0%, 0.5);
  --#{$prefix}section-padding-x: null;
  --#{$prefix}section-padding-y: var(--#{$prefix}spacing-xxl);

  padding: var(--#{$prefix}section-padding-y) var(--#{$prefix}section-padding-x);
  background-color: var(--#{$prefix}section-background-color);

  .section-content {
    position: relative;
    margin: 0 auto;
  }

  // color and image variants
  &.section-muted {
    --#{$prefix}section-background-color: var(--#{$prefix}color-background-muted);
  }

  &.section-primary {
    --#{$prefix}section-background-color: var(--#{$prefix}color-background-primary);
  }

  &.section-emphasis {
    --#{$prefix}-section-background-color: var(--#{$prefix}-color-background-emphasis);
  }

  // TODO: 
  &.section-image {
    position: relative;
    background-position: center center;
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--#{$prefix}section-image-overlay);
    }
  }

  &.section-inset-shadow {
    box-shadow: inset 0 1rem 1rem -1rem rgba(0, 0, 0, 0.3);
  }

  &.section-background-header {
    position: relative;
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 100%;
      height: 300px;
      background-color: $section-header-background-color;
      background-repeat: no-repeat;
      background-position: top center;
    }

    &.section-user-header {
      &::before {
        content: '';
        min-height: 450px;
        background-color: $section-user-header-background-color;
      }

      .user-settings {
        font-size: 0.75rem;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          span {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

//Tablet vertical
@include media-breakpoint-up(md) {
  .section {
    padding: #{map-get($grid-gutter-widths, md) * 4} #{map-get($grid-gutter-widths, md) * 2};
  }
}

//Tablet horizontal / small desktop
@include media-breakpoint-up(lg) {
  .section {
    padding: #{map-get($grid-gutter-widths, lg) * 4};

    &.section-background-header {
      &.section-user-header {
        &::before {
          content: '';
          min-height: 550px;
        }

        .user-settings {
          font-size: 0.875rem;
        }
      }
    }
  }
}

//Desktop
@include media-breakpoint-up(xl) {
  .section {
    padding: #{map-get($grid-gutter-widths, xl) * 4};

    &.section-background-header {
      &.section-user-header {
        .user-settings {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1rem;
        }
      }
    }
  }
}
