//
// Component properties

.sidebar-wrapper {
  --#{$prefix}sidebar-padding: var(--#{$prefix}spacing-m);
  --#{$prefix}sidebar-heading-font-size: var(--#{$prefix}heading-6-font-size);
  --#{$prefix}sidebar-link-padding: var(--#{$prefix}spacing-s);
  --#{$prefix}sidebar-link-sublist-padding: var(--#{$prefix}spacing-xs);
  --#{$prefix}sidebar-link-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}sidebar-link-line-height: var(--#{$prefix}label-line-height);
  --#{$prefix}sidebar-link-active-line-width: 4px;
  --#{$prefix}sidebar-divider-color: var(--#{$prefix}color-border-subtle);
}

//
// Component styles

.sidebar-wrapper {
  margin: var(--#{$prefix}sidebar-padding) 0;

  h3 {
    margin-bottom: var(--#{$prefix}spacing-l);
    padding-right: var(--#{$prefix}spacing-s);
    padding-left: var(--#{$prefix}spacing-s);
    font-size: var(--#{$prefix}sidebar-heading-font-size);
    font-weight: var(--#{$prefix}font-weight-solid);
    text-transform: uppercase;
  }

  .sidebar-linklist-wrapper {
    .link-list-wrapper {

      ul {
        li {
          
          a {
            width: 100%;
            padding: var(--#{$prefix}sidebar-link-padding);
            font-size: var(--#{$prefix}sidebar-link-font-size);
            line-height: var(--#{$prefix}sidebar-link-line-height);
            text-decoration: none;
            cursor: pointer;

            // i.it-expand {
            //   top: 50%;
            //   font-size: $sidebar-dropdown-icon-size;
            //   transform: translateY(-50%);
            // }

            // &[aria-expanded='true'] {
            //   i {
            //     transform: translateY(-50%) scaleY(-1);
            //   }
            // }

            // &[data-bs-toggle='collapse'] {
            //   &.active {

            //     span,
            //     i {
            //       color: $primary;
            //       text-decoration: none;
            //     }
            //   }
            // }

            &.active {

              span {
                color: var(--#{$prefix}color-text-primary-active);
                text-decoration: none;
              }

              &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
                display: block;
                width: var(--#{$prefix}sidebar-link-active-line-width);
                background-color: var(--#{$prefix}color-border-primary);
              }
            }

            // &.icon-right {
            //   padding: 16px;
            // }
          }
        }

        &.link-sublist {
          li {
            a {
              padding-top: var(--#{$prefix}sidebar-link-sublist-padding);
              padding-bottom: var(--#{$prefix}sidebar-link-sublist-padding);

              &.active {
                span {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    &.linklist-secondary {
      
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin: var(--#{$prefix}spacing-s) 0 var(--#{$prefix}spacing-s) var(--#{$prefix}spacing-s);
        background: var(--#{$prefix}sidebar-divider-color);
      }
    }
  }

  // linea destra
  &.it-line-right-side {
    border-right: 1px solid $sidebar-border-color;

    .sidebar-linklist-wrapper {
      .link-list-wrapper {
        ul {
          li {
            a {
              &[data-bs-toggle='collapse'] {
                &.active {
                  border-right: $sidebar-dropdown-line-selection-width solid $sidebar-dropdown-line-selection-color;
                  border-left: none;
                }
              }

              &.active {
                &:after {
                  right: 0;
                  left: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  // linea sinistra
  &.it-line-left-side {
    border-left: 1px solid $sidebar-border-color;
  }
}
