//
// Component properties

.sidebar-wrapper {
  --#{$prefix}sidebar-padding: var(--#{$prefix}spacing-m);
  --#{$prefix}sidebar-heading-font-size: var(--#{$prefix}heading-6-font-size);
}

//
// Component styles


//mobile
.sidebar-wrapper {
  padding: var(--#{$prefix}sidebar-padding) 0;

  h3 {
    // margin-top: $sidebar-heading-margin-top;
    margin-bottom: var(--#{$prefix}spacing-l);
    padding-right: var(--#{$prefix}spacing-s);
    padding-left: var(--#{$prefix}spacing-s);
    font-size: var(--#{$prefix}sidebar-heading-font-size);
    font-weight: var(--#{$prefix}font-weight-solid);
    text-transform: uppercase;
  }

  .sidebar-linklist-wrapper {
    .link-list-wrapper {

      ul {
        li {

          // TODO: Add width: 100% to the li
          a {
            padding-top: $sidebar-linklist-link-v-padding;
            padding-bottom: $sidebar-linklist-link-v-padding;
            padding-left: 24px; // FIXME: use a variable
            font-size: $sidebar-link-size;
            line-height: $sidebar-linklist-link-line-height;
            text-decoration: none;

            i.it-expand {
              top: 50%;
              font-size: $sidebar-dropdown-icon-size;
              transform: translateY(-50%);
            }

            &[aria-expanded='true'] {
              i {
                transform: translateY(-50%) scaleY(-1);
              }
            }

            &[data-bs-toggle='collapse'] {
              &.active {

                span,
                i {
                  color: $primary;
                  text-decoration: none;
                }
              }
            }

            &.active {
              text-decoration: none;

              span {
                color: $primary;
                text-decoration: none;
              }

              &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
                display: block;
                width: $sidebar-dropdown-line-selection-width;
                background-color: $sidebar-dropdown-line-selection-color;
              }
            }

            &.icon-right {
              padding: 0.55em 24px;
            }
          }
        }

        &.link-sublist {
          li {
            a {
              padding-top: $sidebar-submenu-link-v-padding;
              padding-bottom: $sidebar-submenu-link-v-padding;
              font-size: $sidebar-submenu-font-size;

              &.active {
                span {
                  color: $color-text-base;
                  text-decoration: underline;
                }

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    &.linklist-secondary {
      &:before {
        content: '';
        display: block;
        width: $sidebar-link-small-line-width;
        height: 1px;
        margin-top: $v-gap * 3;
        margin-left: $v-gap * 3;
        background: $color-border-subtle;
      }
    }
  }

  // linea destra
  &.it-line-right-side {
    border-right: 1px solid $sidebar-border-color;

    .sidebar-linklist-wrapper {
      .link-list-wrapper {
        ul {
          li {
            a {
              &[data-bs-toggle='collapse'] {
                &.active {
                  border-right: $sidebar-dropdown-line-selection-width solid $sidebar-dropdown-line-selection-color;
                  border-left: none;
                }
              }

              &.active {
                &:after {
                  right: 0;
                  left: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  // linea sinistra
  &.it-line-left-side {
    border-left: 1px solid $sidebar-border-color;
  }
}
