.bs-is-sticky {
  position: sticky !important;
  z-index: $zindex-sticky !important;
}

.bs-is-fixed {
  position: fixed !important;
  z-index: $zindex-fixed !important; /* per fare in modo che uno sticky non finisca sopra un fixed (es. l'header) */
}
