// Component: tab
//
// Description: Component styles for tab
//

// Variables
//

// Properties
//

// Styles
//

// Component CSS variables for tab
.nav-tabs {
  --#{$prefix}tabs-background-color: var(--#{$prefix}color-background-inverse);
  --#{$prefix}tabs-border-color: var(--#{$prefix}color-border-subtle);
  --#{$prefix}tab-text-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}tab-icon-color: var(--#{$prefix}icon-secondary);
  --#{$prefix}tab-border-radius: var(--#{$prefix}radiuns-smooth);
  --#{$prefix}tab-border-width: 3px;
  --#{$prefix}tab-padding-x: var(--#{$prefix}spacing-m);
  --#{$prefix}tab-padding-y: var(--#{$prefix}spacing-s);
  --#{$prefix}tab-font-size: var(--#{$prefix}label-font-size);
  --#{$prefix}tab-font-weight: 600;
  --#{$prefix}tab-shadow: 0 12px 25px -20px rgba(0, 0, 0, 0.5);
  --#{$prefix}tab-background-light: var(--#{$prefix}color-background-primary-lighter);
  --#{$prefix}tab-border-color: transparent;
  --#{$prefix}tab-border-radius-cards: var(--#{$prefix}border-base, 0.25rem);
  --#{$prefix}tab-border-width-cards: 2px;
  --#{$prefix}tab-border-color-cards: var(--#{$prefix}color-border-subtle);
  --#{$prefix}tab-add-btn-border: var(--#{$prefix}color-border-primary);
  --#{$prefix}tab-add-btn-color: var(--#{$prefix}color-background-primary);
  --#{$prefix}tab-close-btn-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}tab-close-btn-color-hover: color-mix(in srgb, var(--#{$prefix}primary) 90%, black 10%);
  --#{$prefix}tab-close-btn-color-disabled: var(--#{$prefix}color-text-disabled);
}

.nav-tabs {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-color: var(--#{$prefix}tabs-border-color);
  background-color: var(--#{$prefix}tabs-background-color);
  -webkit-overflow-scrolling: touch;

  //reset icon right margin
  .it-ico,
  .it-ico-lg {
    &:before {
      margin-right: 0;
    }
  }

  &.auto {
    .nav-link {
      flex: 1;
    }
    .nav-item {
      flex: 1;
      text-align: center;
    }
  }

  &.no-border {
    border: none !important;
  }

  &.no-background {
    background-color: transparent;
    .nav-item {
      .nav-link.active {
        background-color: transparent;
      }
    }
  }

  // Tabs with icon and text
  &.nav-tabs-icon-text {
    //icons
    .icon {
      margin-right: calc($spacer / 2);
    }
  }

  // Vertical tabs
  &.nav-tabs-vertical {
    flex-direction: column;
    border-color: var(--#{$prefix}tabs-border-color);
    border-right-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-width: 0;

    .nav-link {
      position: relative;
      justify-content: space-between;
      border-right-width: var(--#{$prefix}tab-border-width);
      border-bottom-width: 0;
      white-space: normal;

      &.justify-content-end {
        .it-ico:before,
        .it-ico-lg:before {
          margin-right: 0;
        }
      }
    }

    &.nav-tabs-vertical-background {
      .nav-link.active,
      .nav-item.show .nav-link {
        --#{$prefix}tab-background-color: var(--#{$prefix}color-background-primary-lighter);
      }
    }
  }

  // Link element
  .nav-link {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    padding: var(--#{$prefix}tab-padding-y) var(--#{$prefix}tab-padding-x);
    border-width: var(--#{$prefix}tab-border-width);
    border-style: solid;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-color: transparent;
    border-bottom-width: var(--#{$prefix}tab-border-width);
    border-radius: 0;
    color: var(--#{$prefix}tab-text-color);
    font-size: var(--#{$prefix}tab-font-size);
    font-weight: var(--#{$prefix}tab-font-weight);
    line-height: 1rem;
    text-decoration: none;
    white-space: nowrap;
    @include media-breakpoint-up(lg) {
      --#{$prefix}tab-font-size: var(--#{$prefix}label-font-size-l);
    }
    &:hover {
      --#{$prefix}tab-text-color: var(--#{$prefix}color-text-secondary-hover);
    }

    &.disabled {
      --#{$prefix}tab-text-color: var(--#{$prefix}color-link-disabled);
      cursor: not-allowed;
    }

    &.active,
    &[data-focus-mouse="true"],
    &[data-focus-mouse="true"]:not(:focus) {
      --#{$prefix}tab-border-color: var(--#{$prefix}color-border-primary);
      --#{$prefix}tab-text-color: var(--#{$prefix}color-text-primary);
      border-color: var(--#{$prefix}tab-border-color) !important;

      .icon {
        --#{$prefix}tab-icon-color: var(--#{$prefix}icon-primary);
      }
    }

    &:focus:not([data-focus-mouse="true"]) {
      box-shadow: inset 0 1px 0 2px #000 !important;

    }

    // Icon styles inside tab nav link
    .icon {
      fill: var(--#{$prefix}tab-icon-color);
      &:hover {
        --#{$prefix}tab-icon-color: var(--#{$prefix}icon-secondary-hover);
      }
      .disabled & {
        fill: var(--#{$prefix}icon-disabled);
      }
    }
  }

  .nav-item {
    display: flex;
    margin-bottom: 0;
  }

  // Dark version
  // This styles are missing in the UI kit v3.x
  &.nav-dark {
    --#{$prefix}tabs-border-color: var(--#{$prefix}color-border-subtle);
    --#{$prefix}tabs-background-color: var(--#{$prefix}color-background-secondary-deep);

    .nav-link {
      --#{$prefix}tab-text-color: var(--#{$prefix}color-text-inverse);
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
      &.disabled {
        opacity: 0.5;
      }
      .icon {
        --#{$prefix}tab-icon-color: var(--#{$prefix}color-text-inverse);
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      opacity: 1;
      --#{$prefix}tab-border-color: var(--#{$prefix}color-border-inverse);
    }

    &.nav-tabs-vertical {
      .nav-link.active,
      .nav-item.show .nav-link {
        border-bottom: none;
        border-right-color: var(--#{$prefix}color-border-inverse);
      }
    }
  }

  //card version
  &.nav-tabs-cards {
    border-bottom: none;

    //grey fullwidth bottom border for ul
    &::after {
      content: '';
      flex-grow: 1;
      border-bottom: 1px solid $color-border-subtle;
    }
    .nav-link {
      position: relative;
      border-bottom-width: 2px;
      border-radius: $border-radius $border-radius 0 0;
      border-color: transparent;
      border-bottom-color: $color-border-subtle;
      &.active {
        border: 1px solid $color-border-subtle;
        border-bottom-width: 1px;
        border-bottom-color: transparent;
      }
    }
  }

  //editable version
  &.nav-tabs-editable {
    .nav-item {
      position: relative;
      &:last-of-type {
        border-bottom: 1px solid var(--#{$prefix}tabs-border-color);
      }
    }

    //add button
    .nav-tab-add {
      position: relative;
      top: 0.8rem;
      right: 0;
      width: 1.444rem;
      height: 1.444rem;
      margin: -0.2em 1em 0;
      border: 1px solid $primary;
      border-radius: 50%;
      //plus sign
      &:after {
        position: absolute;
        top: 0.278rem;
        left: 0.611rem;
        content: '';
        width: 2px;
        height: 0.778rem;
        background-color: $primary;
      }
      &:before {
        position: absolute;
        top: 0.611rem;
        left: 0.278rem;
        content: '';
        width: 0.778rem;
        height: 2px;
        background-color: $primary;
      }
    }

    .nav-link {
      padding-right: 2.888em;
    }

    //close button
    .nav-link-close {
      position: absolute;
      top: calc(50% - 0.9rem);
      right: 0.889rem;
      color: $color-text-secondary;
      transition: color 0.2s;
      cursor: pointer;
      .icon {
        fill: $color-text-secondary;
      }
      &.disabled {
        color: $gray-disabled;
        cursor: pointer;
        .icon {
          fill: $gray-disabled;
        }
      }
      &:hover {
        color: shade-color($primary, 10%);
        .icon {
          fill: shade-color($primary, 10%);
        }
      }
      .it-ico {
        font-size: 0.625rem;
        &:before {
          margin-right: 0;
        }
      }
    }
    .nav-link.active,
    .nav-item.show .nav-link {
      .nav-link-close {
        color: $primary;
        .icon {
          fill: $primary;
        }
      }
    }
  }
}

// ----------- tabs position ----------------

// Horizontal tabs on bottom
.flex-column-reverse {
  .nav-tabs {
    border-top-width: 1px;
    border-bottom-width: 0; // reset bottom border

    .nav-link {
      border-top-width: var(--#{$prefix}tab-border-width);
      border-bottom-width: 0; // reset bottom border
    }
  }
}

// Vertical tabs on right
.flex-row-reverse {
  .nav-tabs {
    &.nav-dark {
      &.nav-tabs-vertical {
        .nav-link.active,
        .nav-item.show .nav-link {
          border-left-color: $cyan;
        }
      }
    }
    &.nav-tabs-vertical {
      border-right-width: 0;
      border-left-width: 1px;

      .nav-link {
        justify-content: flex-start;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: var(--#{$prefix}tab-border-width);
      }
    }
  }
}

// Hide iOS horizontal scrollbar
.nav-tabs-hidescroll {
  height: 2.667rem;
  overflow: hidden;
  &.hidescroll-ico {
    height: 2.944rem;
  }
  &.hidescroll-ico-lg {
    height: 3.444rem;
  }
  .nav-tabs {
    padding-bottom: 20px;
  }
}

@include media-breakpoint-down(md) {
  .nav-tabs {
    box-shadow: 0 12px 25px -20px rgba(0, 0, 0, 0.5);
    &.nav-tabs-vertical,
    &.nav-tabs-cards {
      box-shadow: none;
    }
  }
}

// Desktop
@include media-breakpoint-up(xl) {
  .nav-tabs {
    flex-wrap: wrap;
    overflow-x: hidden;
    &.auto {
      flex-wrap: nowrap;
    }
  }

  // Hide iOS horizontal scrollbar
  .nav-tabs-hidescroll {
    height: auto;
    overflow: initial;
    &.hidescroll-ico,
    &.hidescroll-ico-lg {
      height: auto;
    }
    .nav-tabs {
      padding-bottom: 0;
    }
  }
}
