// Component: tables
//
// Description: Component styles for tables
//

// Variables
//

// Properties
//

.table {
  --#{$prefix}table-color: var(--#{$prefix}color-text-base); // Controls the text color for the table, using color tokens.
  --#{$prefix}table-bg: transparent; // Controls the background color for the table, using color tokens.
  --#{$prefix}table-border-color: var(--#{$prefix}border-color); // Controls the border color for the table, using color tokens.
  --#{$prefix}table-border-width: var(--#{$prefix}border-width); // Controls the border width for the table cell.
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-muted); // Controls the text color for the striped rows, using color tokens.
  // --#{$prefix}table-striped-color: var(--#{$prefix}color-b); // Controls the text color for the striped rows, using color tokens.
  --#{$prefix}table-active-color: #{$table-active-color};
  --#{$prefix}table-active-bg: #{$table-active-bg};
  --#{$prefix}table-hover-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-hover-bg: #{$table-hover-bg};
  --#{$prefix}table-padding: var(--#{$prefix}spacing-xxs); // Controls the padding for the table cells, using spacing tokens.
  --#{$prefix}table-cell-font-size: var(--#{$prefix}body-font-size); // Controls the font size for the table cells, using typography tokens.
  --#{$prefix}table-cell-vertical-align: top; // Controls the vertical alignment of the table cells.
}

// Styles
//

.table {
  width: 100%;
  margin-bottom: $spacer;
  border-color: var(--#{$prefix}table-border-color);
  font-size: var(--#{$prefix}table-cell-font-size);
  vertical-align: var(--#{$prefix}table-cell-vertical-align);

  //table styles go here
  .table-dark {
    a {
      color: var(--#{$prefix}color-text-inverse);
    }
  }

  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: var(--#{$prefix}table-padding);
    border-bottom-width: var(--#{$prefix}table-border-width);
    border-color: var(--#{$prefix}table-border-color);
    background-color: var(--#{$prefix}table-bg);
    color: var(--#{$prefix}table-color);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }
}

.table-group-divider {
  border-top: calc(var(--#{$prefix}table-border-width) * 2) solid $table-group-separator-color;
}

//
// Change placement of captions with a class
//

.caption-top {
  caption-side: top;
}

//
// Condensed table w/ half padding
//

.table-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    --#{$prefix}table-padding: var(--#{$prefix}spacing-3xs);
  }
}



// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefor we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

.table-bordered {
  > :not(caption) > * {
    border-width: var(--#{$prefix}table-border-width) 0;

    // stylelint-disable-next-line selector-max-universal
    > * {
      border-width: 0 var(--#{$prefix}table-border-width);
    }
  }
}

.table-borderless {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

// For rows
.table-striped {
  > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
    --#{$prefix}table-bg: var(--#{$prefix}table-striped-bg, var(--#{$prefix}color-background-muted));
    --#{$prefix}table-color: var(--#{$prefix}table-striped-color);
  }

  &.table-dark {
    > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
      --#{$prefix}table-bg: var(--#{$prefix}color-background-primary-muted);
    }
  }
}

// For columns
.table-striped-columns {
  > :not(caption) > tr > :nth-child(#{$table-striped-columns-order}) {
    --#{$prefix}table-bg: var(--#{$prefix}table-striped-bg, var(--#{$prefix}color-background-muted));
    --#{$prefix}table-color: var(--#{$prefix}table-striped-color);
  }
}

// Active table
//
// The `.table-active` class can be added to highlight rows or cells

.table-active {
  --#{$prefix}table-bg: var(--#{$prefix}table-active-bg);
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover > * {
    --#{$prefix}table-bg: var(--#{$prefix}table-hover-bg);
  }
}

// Table variants
//
// Table variants set the table cell backgrounds, border colors
// and the colors of the striped, hovered & active tables

.table-primary {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-primary-light);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-primary-light);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-primary-hover);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-primary-light);
}

.table-secondary {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-secondary-light);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-secondary-light);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-secondary-hover);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-secondary-active);
}

.table-success {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-success-light);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-success-light);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-success);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-success-hover);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-success-active);
}

.table-info {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-primary-lighter);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--{$prefix}color-background-primary-lighter);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-primary-hover);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-primary-active);
}

.table-warning {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-warning-light);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-warning-light);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-warning);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-warning-hover);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-warning-active);
}

.table-danger {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-danger-light);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-danger-light);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-danger-hover);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-danger-active);
}

.table-light {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-secondary-lighter);
  --#{$prefix}table-color: var(--#{$prefix}color-text-base);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-secondary-lighter);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-secondary-hover);
  --#{$prefix}table-hover-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-secondary);
}

.table-dark {
  --#{$prefix}table-bg: var(--#{$prefix}color-background-primary-deep);
  --#{$prefix}table-border-color: var(--#{$prefix}color-background-primary-deep);
  --#{$prefix}table-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}table-striped-bg: var(--#{$prefix}color-background-primary-deep);
  --#{$prefix}table-striped-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}table-hover-bg: var(--#{$prefix}color-background-primary-muted);
  --#{$prefix}table-active-bg: var(--#{$prefix}color-background-primary-active);
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-down($breakpoint) {
    .table-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
