// Timeline component styles

//mobile
.it-timeline-wrapper {
  .it-now-label {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 1rem;
    font-family: $font-family-monospace;
    color: $primary;
    font-weight: 600;
  }

  .row {
    position: relative;
    padding-top: $v-gap * 6;

    //padding-bottom: $v-gap*6;
    &:after {
      content: '';
      width: $timeline-width;
      background: $timeline-border-color;
      position: absolute;
      left: $v-gap * 5;
      top: -$v-gap * 2;
      bottom: -$v-gap * 2;
    }
  }

  .timeline-element {
    padding: $timeline-content-padding;
    position: relative;
    z-index: 1;

    .card {
      // xxx deprecated with old .card
      background: none;
    }

    .it-card {
      margin-top: 16px;
      margin-bottom: 16px;

      +.it-card {
        margin-top: 4px;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: -24px;
        width: auto;

        +.it-card {
          margin-top: 8px;
        }
      }
    }
  }

  .it-pin-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: -$timeline-pin-circle-size * 0.5;
    z-index: 4;
    left: calc($timeline-padding / 2);

    .pin-icon {
      width: $timeline-pin-circle-size;
      height: $timeline-pin-circle-size;
      border-radius: $timeline-pin-circle-size;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $card-shadow;
      border: $timeline-pin-circle-border;
      margin-right: $v-gap * 2;
      background: $white;
    }

    svg {
      width: $timeline-pin-size;
      height: $timeline-pin-size;
      fill: $primary;
    }

    .pin-text {
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      background: $timeline-pin-background;
      border-radius: $border-radius;
      font-family: $font-family-monospace;
      font-size: var(--bs-body-font-size);
      line-height: var(--bs-body-line-height);

      span {
        padding: $v-gap * 0.5 $v-gap * 2;
        display: block;
        position: relative;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: $timeline-pin-background;
          border-radius: 3px;
          position: absolute;
          left: -4px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &.it-now {
      .pin-icon {
        background: $primary;
      }

      svg {
        fill: $white;
      }

      .pin-text {
        background: $primary;

        span {
          &:after {
            background: $primary;
          }
        }
      }
    }

    &.it-evidence {
      .pin-icon {
        background: $timeline-pin-background;
      }

      svg {
        fill: $white;
      }

      .pin-text {
        background: $timeline-pin-background;

        span {
          &:after {
            background: $timeline-pin-background;
          }
        }
      }
    }
  }

  .card-title {
    // xxx deprecated with old .card
    text-transform: uppercase;
  }
}

//small - tablet
@include media-breakpoint-up(lg) {
  .it-timeline-wrapper {
    .row {
      &:after {
        content: '';
        left: calc(50% - #{$timeline-width});
      }
    }

    .timeline-element {
      padding: $timeline-content-padding;
      width: 50%;
    }

    .col-12 {
      .card-wrapper {

        // xxx deprecated with old .card
        .card {
          border: none;
        }
      }
    }

    // col rules
    .col-12:nth-child(odd) {
      .it-now-label {
        right: 50%;
        transform: translateX(100%);
        display: flex;
        align-items: center;

        &:before {
          content: '';
          display: inline-block;
          height: 1px;
          width: $v-gap * 2;
          background: $primary;
          margin-right: $v-gap * 2;
        }
      }

      .timeline-element {
        padding: $timeline-content-padding-reverse;
      }

      .card-wrapper {

        // xxx deprecated with old .card
        .card {
          text-align: right;

          &:after {
            margin-left: auto;
            display: inline-block;
            margin-right: $v-gap * 3;
          }

          a.read-more {
            right: $v-gap * 3;
          }
        }
      }

      .it-pin-wrapper {
        flex-direction: row-reverse;
        left: auto;
        right: -62px;

        .pin-icon {
          margin-right: 0;
          margin-left: $v-gap * 2;
        }

        .pin-text {
          span {
            &:after {
              left: auto;
              right: -4px;
            }
          }
        }

        &.it-evidence {
          .pin-text {
            span {
              &:after {
                border-color: transparent transparent transparent $primary;
              }
            }
          }
        }
      }
    }

    .col-12:nth-child(even) {
      .it-now-label {
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;

        &:after {
          content: '';
          display: inline-block;
          height: 1px;
          width: $v-gap * 2;
          background: $primary;
          margin-left: $v-gap * 2;
        }
      }

      .timeline-element {
        position: relative;
        left: 50%;

        .it-pin-wrapper {
          left: -66px;
        }
      }
    }

    .it-pin-wrapper {
      position: relative;

      .pin-text {
        font-size: 1rem;
      }
    }
  }
}


// Timeline component styles

//mobile
.it-timeline-wrapper {
  .it-now-label {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 1rem;
    font-family: $font-family-monospace;
    color: $primary;
    font-weight: 600;
  }

  .row {
    position: relative;
    padding-top: $v-gap * 6;

    //padding-bottom: $v-gap*6;
    &:after {
      content: '';
      width: $timeline-width;
      background: $timeline-border-color;
      position: absolute;
      left: $v-gap * 5;
      top: -$v-gap * 2;
      bottom: -$v-gap * 2;
    }
  }

  .timeline-element {
    padding: $timeline-content-padding;
    position: relative;
    z-index: 1;

    .card {
      // xxx deprecated with old .card
      background: none;
    }

    .it-card {
      margin-top: 16px;
      margin-bottom: 16px;

      +.it-card {
        margin-top: 4px;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: -24px;
        width: auto;

        +.it-card {
          margin-top: 8px;
        }
      }
    }
  }

  .it-pin-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: -$timeline-pin-circle-size * 0.5;
    z-index: 4;
    left: calc($timeline-padding / 2);

    .pin-icon {
      width: $timeline-pin-circle-size;
      height: $timeline-pin-circle-size;
      border-radius: $timeline-pin-circle-size;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $card-shadow;
      border: $timeline-pin-circle-border;
      margin-right: $v-gap * 2;
      background: $white;
    }

    svg {
      width: $timeline-pin-size;
      height: $timeline-pin-size;
      fill: $primary;
    }

    .pin-text {
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      background: $timeline-pin-background;
      border-radius: $border-radius;
      font-family: $font-family-monospace;
      font-size: var(--bs-body-font-size);
      line-height: var(--bs-body-line-height);

      span {
        padding: $v-gap * 0.5 $v-gap * 2;
        display: block;
        position: relative;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: $timeline-pin-background;
          border-radius: 3px;
          position: absolute;
          left: -4px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &.it-now {
      .pin-icon {
        background: $primary;
      }

      svg {
        fill: $white;
      }

      .pin-text {
        background: $primary;

        span {
          &:after {
            background: $primary;
          }
        }
      }
    }

    &.it-evidence {
      .pin-icon {
        background: $timeline-pin-background;
      }

      svg {
        fill: $white;
      }

      .pin-text {
        background: $timeline-pin-background;

        span {
          &:after {
            background: $timeline-pin-background;
          }
        }
      }
    }
  }

  .card-title {
    // xxx deprecated with old .card
    text-transform: uppercase;
  }
}

//small - tablet
@include media-breakpoint-up(lg) {
  .it-timeline-wrapper {
    .row {
      &:after {
        content: '';
        left: calc(50% - #{$timeline-width});
      }
    }

    .timeline-element {
      padding: $timeline-content-padding;
      width: 50%;
    }

    .col-12 {
      .card-wrapper {

        // xxx deprecated with old .card
        .card {
          border: none;
        }
      }
    }

    // col rules
    .col-12:nth-child(odd) {
      .it-now-label {
        right: 50%;
        transform: translateX(100%);
        display: flex;
        align-items: center;

        &:before {
          content: '';
          display: inline-block;
          height: 1px;
          width: $v-gap * 2;
          background: $primary;
          margin-right: $v-gap * 2;
        }
      }

      .timeline-element {
        padding: $timeline-content-padding-reverse;
      }

      .card-wrapper {

        // xxx deprecated with old .card
        .card {
          text-align: right;

          &:after {
            margin-left: auto;
            display: inline-block;
            margin-right: $v-gap * 3;
          }

          a.read-more {
            right: $v-gap * 3;
          }
        }
      }

      .it-pin-wrapper {
        flex-direction: row-reverse;
        left: auto;
        right: -62px;

        .pin-icon {
          margin-right: 0;
          margin-left: $v-gap * 2;
        }

        .pin-text {
          span {
            &:after {
              left: auto;
              right: -4px;
            }
          }
        }

        &.it-evidence {
          .pin-text {
            span {
              &:after {
                border-color: transparent transparent transparent $primary;
              }
            }
          }
        }
      }
    }

    .col-12:nth-child(even) {
      .it-now-label {
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;

        &:after {
          content: '';
          display: inline-block;
          height: 1px;
          width: $v-gap * 2;
          background: $primary;
          margin-left: $v-gap * 2;
        }
      }

      .timeline-element {
        position: relative;
        left: 50%;

        .it-pin-wrapper {
          left: -66px;
        }
      }
    }

    .it-pin-wrapper {
      position: relative;

      .pin-text {
        font-size: 1rem;
      }
    }
  }
}

// Timeline Point List component styles
.it-timeline-point-list {

  @at-root ol#{&},
  ul#{&} {
    padding-left: 0;
    list-style: none;
  }

  display: flex;
  flex-direction: column;
  // NO row-gap - usiamo margin-bottom sui timeline-point

  .timeline-point {
    display: flex;
    align-items: center;
    margin-bottom: $v-gap * 3; // Gap tra elementi

    &:last-child {
      margin-bottom: 0;
    }

    .point-aside {
      position: relative;
      width: 5rem;
      flex-shrink: 0;
      padding: 0.5rem 1rem 0.5rem 0;
      color: var(--point-color, $primary);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;

      @include media-breakpoint-down(md) {
        width: 4rem;
        padding: 0.5rem 0.75rem 0.5rem 0;
      }

      // Linea verticale - si estende NEL margin-bottom
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        right: 0;
        height: calc(100% + #{$v-gap * 3}); // Estende nel gap
        background-color: var(--point-color, $primary);
        z-index: 1;
      }

      // Puntino circolare
      &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: var(--point-color, $primary);
        z-index: 2;
      }

      .point-visual {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
      }

      .point-main {
        font-size: 2.75rem;
        line-height: 1.1;
        min-width: 53px;

        @include media-breakpoint-down(md) {
          font-size: 1.5rem;
          min-width: 32px;
        }
      }

      .point-top,
      .point-bottom {
        font-size: 1rem;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
          font-size: 0.875rem;
        }
      }

      .point-date {
        @extend .point-main;
      }

      .point-month {
        @extend .point-bottom;
      }

      .point-year {
        @extend .point-top;
      }

      @each $color, $value in $theme-colors {
        &.point-aside-#{$color} {
          --point-color: #{$value};
        }
      }
    }

    .point-content {
      flex: 1;
      margin-left: 1rem;

      &>* {
        width: 100%;
      }

      &>*:last-child {
        margin-bottom: 0;
      }
    }

    // Last item: linea non si estende oltre
    &:last-child {
      .point-aside::before {
        height: 100%; // Solo altezza aside
      }
    }

    // Align-top variant
    &.timeline-point-align-top {
      align-items: flex-start;

      .point-aside {
        align-self: stretch; // Estende per altezza content
        justify-content: flex-start;
        padding-top: 0.5rem;

        &::after {
          top: 2.6rem;
          transform: translateY(-5px);
        }

        &:has(.point-top):has(.point-bottom) {
          &::after {
            top: 3.5rem;

            @include media-breakpoint-down(md) {
              top: 2.7rem;
            }
          }
        }
      }
    }

    // Compact variant
    &.timeline-point-xs {
      .point-aside {
        width: 3.5rem;
        padding: 0.5rem 0.75rem 0.5rem 0;

        @include media-breakpoint-down(md) {
          width: 3rem;
          padding: 0.5rem 0.5rem 0.5rem 0;
        }

        .point-main,
        .point-date {
          font-size: 1.5rem;
          line-height: 1;
          min-width: 32px;
        }

        .point-bottom,
        .point-month {
          font-size: 0.875rem;
        }
      }

      &.timeline-point-align-top {
        .point-aside {
          padding-top: 0.5rem;

          &::after {
            top: 1.3rem;
          }

          &:has(.point-main):has(.point-bottom)::after {
            top: 2rem;
          }

          &:has(.point-top):has(.point-bottom)::after {
            top: 2.7rem;
          }
        }
      }
    }
  }

  &.it-timeline-point-list-stack-mobile {
    @include media-breakpoint-down(md) {
      .timeline-point {
        flex-wrap: wrap;
        position: relative;

        // Linea verticale sul timeline-point
        &::before {
          content: '';
          position: absolute;
          left: 2rem;
          top: 0;
          width: 2px;
          height: calc(100% + #{$v-gap * 3});
          background-color: var(--point-color, $primary);
        }

        &:last-child::before {
          height: 100%;
        }

        @each $color, $value in $theme-colors {
          &:has(.point-aside-#{$color}) {
            --point-color: #{$value};
          }
        }

        .point-aside {
          width: auto;
          flex-shrink: 0;
          flex-direction: row-reverse;
          padding-left: 2.5rem;
          padding-right: 0.5rem;
          position: relative; 

          &::before {
            display: none;
          }

          &::after {
            left: 1.75rem;
            right: auto;
          }
        }

        .point-content {
          flex: 1 1 100%;
          min-width: 0;
          margin-left: 0;
          margin-top: $v-gap * 2;
        }
      }
    }
  }

}