// Component: toolbar
//
// Description: Component styles for toolbar
//

// Variables
//

// Properties
//

.toolbar {
  --#{$prefix}toolbar-item-margin-x: var(--#{$prefix}spacing-xxs); // Controls the toolbar item margin x, using spacing tokens.
  --#{$prefix}toolbar-item-margin-y: var(--#{$prefix}spacing-xs); // Controls the toolbar item margin y, using spacing tokens.
  --#{$prefix}toolbar-link-margin-bottom-medium: 6px; // Controls the toolbar link margin bottom medium, using size tokens.
  --#{$prefix}toolbar-list-background-color: var(--#{$prefix}color-background-inverse); // Controls the toolbar list background color, using color tokens.
  --#{$prefix}toolbar-divider-color: var(--#{$prefix}color-border-subtle); // Controls the toolbar divider color, using color tokens.
  --#{$prefix}toolbar-link-color: var(--#{$prefix}color-text-secondary); // Controls the toolbar link color, using color tokens.
  --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-secondary); // Controls the toolbar icon color, using color tokens.
  --#{$prefix}toolbar-dropdown-padding-x: var(--#{$prefix}spacing-xxs); // Controls the toolbar dropdown padding x, using spacing tokens.
  --#{$prefix}toolbar-dropdown-caret-color: var(--#{$prefix}icon-secondary); // Controls the toolbar dropdown caret color, using color tokens.
  --#{$prefix}toolbar-dropdown-caret-size: var(--#{$prefix}spacing-3xs); // Controls the toolbar dropdown caret size, using spacing tokens.
  --#{$prefix}toolbar-dropdown-shadow: var(--#{$prefix}elevation-low); // Controls the toolbar dropdown shadow, using elevation tokens.
  --#{$prefix}toolbar-icon-font-size: var(--#{$prefix}icon-size-l); // Controls the toolbar icon font size, using color tokens.
  --#{$prefix}toolbar-more-icon-font-size: var(--#{$prefix}label-font-size-xs); // Controls the toolbar more icon font size, using typography tokens.
  --#{$prefix}toolbar-badge-border-color: var(--#{$prefix}color-background-inverse); // Controls the toolbar badge border color, using color tokens.
  --#{$prefix}toolbar-badge-background-color: var(--#{$prefix}color-background-primary); // Controls the toolbar badge background color, using color tokens.
  --#{$prefix}toolbar-badge-border-radius: var(--#{$prefix}radius-circle); // Controls the toolbar badge border radius, using radius tokens.
  --#{$prefix}toolbar-badge-text-color: var(--#{$prefix}color-text-inverse); // Controls the toolbar badge text color, using color tokens.
  --#{$prefix}toolbar-badge-padding-x: var(--#{$prefix}spacing-3xs); // Controls the toolbar badge padding x, using spacing tokens.
  --#{$prefix}toolbar-badge-font-size: var(--#{$prefix}label-font-size-xs); // Controls the toolbar badge font size, using typography tokens.
  --#{$prefix}toolbar-label-margin-top: var(--#{$prefix}spacing-3xs); // Controls the toolbar label margin top, using spacing tokens.
  --#{$prefix}toolbar-label-font-size: var(--#{$prefix}label-font-size-xs); // Controls the toolbar label font size, using typography tokens.
}

// Styles
//

/* stylelint-disable-next-line no-duplicate-selectors */
.toolbar {
  position: relative;
  width: 100%;
  height: 96px;

  a {
    text-decoration: none;
  }
  // Vertical toolbar
  &.toolbar-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 96px;
    height: 100%;
    & > ul {
      flex-direction: column;
      width: 72px;
      height: 100%;
      & > li {
        display: flex;
        align-items: center;
        margin: var(--#{$prefix}toolbar-item-margin-y) 0;
        // Divider
        &.toolbar-divider {
          width: calc(100% - 16px);
          max-width: inherit;
          height: 1px;
          min-height: 1px; // fix for IE11
          max-height: 1px;
          margin: 0;
        }
      }
    }

    &.toolbar-medium,
    &.toolbar-small {
      height: 100%;
      & > ul {
        height: 100%;
      }
    }

    &.toolbar-medium {
      width: 84px;
      & > ul {
        width: 56px;
      }

      // Badge
      .toolbar-badge {
        right: 0;
      }

      // Dropdown
      .btn-dropdown {
        &:after {
          top: 13px;
          right: -10px;
          font-size: var(--#{$prefix}toolbar-dropdown-caret-size);
        }
      }
      .dropdown-menu {
        top: calc(-100% - 25px) !important;
      }
    }

    &.toolbar-small {
      width: 72px;
      & > ul {
        width: 48px;
      }

      // Badge
      .toolbar-badge {
        right: 0;
      }

      // Dropdown
      .btn-dropdown {
        &:after {
          top: 11px;
          right: -9px;
          font-size: var(--#{$prefix}toolbar-dropdown-caret-size);
        }
      }
      .dropdown-menu {
        top: calc(-100% - 35px) !important;
      }
    }

    // Dropdown
    .btn-dropdown {
      padding: 0;
      &:after {
        right: -12px;
        transform: rotate(-90deg);
      }
      &[aria-expanded='true'] {
        &:after {
          transform: rotate(90deg) scaleX(-1);
        }
      }
    }
    .dropdown-menu {
      top: calc(-100% - 28px) !important;
      left: calc(100% + 24px) !important;
      margin: 0;
      --#{$prefix}dropdown-box-shadow: var(--#{$prefix}toolbar-dropdown-shadow);
      &:before {
        top: 24px;
        left: -6px;
      }
    }

    // Shadow
    &:before {
      top: 0;
      right: 32px;
      bottom: auto;
      left: auto;
      z-index: 6;
      width: 360px;
      height: 100%;
      border-radius: 50%;
      opacity: 0.18;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
      transform: translateX(50%) scalex(0.12) scaleY(1.25);
    }

    .toolbar-badge {
      right: 0;
    }

    .badge-wrapper {
      width: 100%;
    }
  }
  // Medium toolbar

  &.toolbar-medium {
    --#{$prefix}toolbar-icon-font-size: var(--#{$prefix}icon-size-m);

    height: 80px;
    // List
    & > ul {
      height: 48px;
    }
    a,
    .btn-dropdown {
      margin-bottom: var(--#{$prefix}toolbar-link-margin-bottom-medium);
    }
    .btn-dropdown {
      // Dropdown caret
      &:after {
        top: 12px;
        right: 1px;
      }
    }

    // Icon badge
    .toolbar-badge {
      top: -2px;
      right: 0;
      width: 10px;
      min-width: 10px;
      height: 10px;
      padding: 0;
    }
  }

  // Small toolbar
  &.toolbar-small {
    --#{$prefix}toolbar-icon-font-size: var(--#{$prefix}icon-size-s);
    height: 72px;

    // List
    & > ul {
      height: 40px;
    }
    .btn-dropdown {
      // Dropdown caret
      &:after {
        top: 12px;
        right: 2px;
      }
    }

    // Icon badge
    .toolbar-badge {
      top: 2px;
      right: 0;
      width: 8px;
      min-width: 8px;
      height: 8px;
      padding: 0;
    }
  }

  // Shadow
  &:before {
    position: absolute;
    top: auto;
    bottom: 32px;
    z-index: 6;
    content: '';
    width: 100%;
    height: 360px;
    border-radius: 50%;
    opacity: 0.18;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
    transform: translateY(50%) scalex(1.4) scaleY(0.12);
  }

  // List
  & > ul {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: var(--#{$prefix}toolbar-list-background-color);
    & > li {
      margin: 0 var(--#{$prefix}toolbar-item-margin-x);
      list-style-type: none;
      text-align: center;
      // Divider
      &.toolbar-divider {
        width: 1px;
        min-width: 1px; // fix for IE11
        max-width: 1px;
        height: calc(100% - 16px);
        margin: 0;
        background: var(--#{$prefix}toolbar-divider-color);
      }
    }
  }
  // Links and buttons
  a,
  .btn-dropdown {
    display: block;
    color: var(--#{$prefix}toolbar-link-color);
    .icon {
      fill: var(--#{$prefix}toolbar-icon-color);
    }
    // Active state
    &.active {
      --#{$prefix}toolbar-link-color: var(--#{$prefix}color-text-primary);
      --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-primary);
    }
    // Disabled state
    &.disabled {
      --#{$prefix}toolbar-link-color: var(--#{$prefix}color-text-disabled);
      --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-disabled);
      cursor: not-allowed;
      &:hover {
        text-decoration: none;
      }
      &:after {
        color: var(--#{$prefix}toolbar-link-color);
      }
    }
    // Hover state
    &:not(.disabled):hover {
      --#{$prefix}toolbar-link-color: var(--#{$prefix}color-link-hover);
      --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-primary-hover);
      text-decoration: underline;
    }
    // Hover fix for IE11
    /* stylelint-disable */
    _:-ms-fullscreen,
    &:not(.disabled):hover {
      text-decoration: none;
    }
    /* stylelint-enable */
  }

  // Dropdown button
  .btn-dropdown {
    position: relative;
    width: 100%;
    padding: 0;
    padding-right: var(--#{$prefix}toolbar-dropdown-padding-x);
    padding-left: var(--#{$prefix}toolbar-dropdown-padding-x);
    &.toolbar-more {
      &:after {
        display: none;
      }
    }
    &:not(.disabled) {
      &.active {
        box-shadow: none;
        &:focus {
          box-shadow: $btn-focus-box-shadow;
        }
      }
    }

    &:focus {
      box-shadow: $btn-focus-box-shadow;
    }

    // Dropdown caret
    &:after {
      position: absolute;
      top: 16px;
      right: 2px;
      content: '';
      width: 0;
      height: 0;
      margin-left: 0;
      border-width: 4px 3px 0 3px;
      border-style: solid;
      border-color: var(--#{$prefix}toolbar-dropdown-caret-color) transparent transparent transparent;
    }
  }

  // Icon badges
  .badge-wrapper {
    // width: calc(50% + 28px);
    position: relative;
  }

  .toolbar-badge {
    position: absolute;
    display: block;
    border: 1px solid var(--#{$prefix}toolbar-badge-border-color);
    background-color: var(--#{$prefix}toolbar-badge-background-color);
  }

  // Icon badge
  .toolbar-badge {
    top: -4px;
    right: 0;
    min-width: 18px;
    height: 18px;
    padding: 0 var(--#{$prefix}toolbar-badge-padding-x);
    border-radius: var(--#{$prefix}toolbar-badge-border-radius);
    color: var(--#{$prefix}toolbar-badge-text-color);
    font-size: var(--#{$prefix}toolbar-badge-font-size);
    font-style: normal;
    line-height: 1rem;
  }

  // Text label
  .toolbar-label {
    display: block;
    margin-top: var(--#{$prefix}toolbar-label-margin-top);
    font-size: var(--#{$prefix}toolbar-label-font-size);
    font-weight: 600;
    line-height: 1;
  }
}
