// Component: toolbar
//
// Description: Component styles for toolbar
//

// Variables
//

// Properties
//

// Styles
//

.toolbar {
  position: relative;
  width: 100%;
  height: 96px;

  a {
    text-decoration: none;
  }
  // toolbar vertical ----------------- START
  &.toolbar-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 96px;
    height: 100%;
    & > ul {
      flex-direction: column;
      width: 72px;
      height: 100%;
      & > li {
        display: flex;
        align-items: center;
        margin: 8px 0;
        // divider
        &.toolbar-divider {
          width: calc(100% - 16px);
          max-width: inherit;
          height: 1px;
          min-height: 1px; // fix for IE11
          max-height: 1px;
          margin: 0;
        }
      }
    }

    &.toolbar-medium,
    &.toolbar-small {
      height: 100%;
      & > ul {
        height: 100%;
      }
    }

    &.toolbar-medium {
      width: 84px;
      & > ul {
        width: 56px;
      }

      // badge
      .toolbar-badge {
        right: 0px;
      }

      // dropdown
      .btn-dropdown {
        &:after {
          top: 13px;
          right: -10px;
          font-size: 0.25rem;
        }
      }
      .dropdown-menu {
        top: calc(-100% - 25px) !important;
      }
    }

    &.toolbar-small {
      width: 72px;
      & > ul {
        width: 48px;
      }

      // badge
      .toolbar-badge {
        right: 0px;
      }

      // dropdown
      .btn-dropdown {
        &:after {
          top: 11px;
          right: -9px;
          font-size: 0.25rem;
        }
      }
      .dropdown-menu {
        top: calc(-100% - 35px) !important;
      }
    }

    // dropdown
    .btn-dropdown {
      padding: 0;
      &:after {
        right: -12px;
        transform: rotate(-90deg);
      }
      &[aria-expanded='true'] {
        &:after {
          transform: rotate(90deg) scaleX(-1);
        }
      }
    }
    .dropdown-menu {
      top: calc(-100% - 28px) !important;
      left: calc(100% + 24px) !important;
      margin: 0;
      box-shadow: $dropdown-box-shadow-vertical;
      &:before {
        top: 24px;
        left: -6px;
      }
    }

    // shadow
    &:before {
      top: 0;
      right: 32px;
      bottom: auto;
      left: auto;
      z-index: 6;
      width: 360px;
      height: 100%;
      border-radius: 50%;
      opacity: 0.18;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
      transform: translateX(50%) scalex(0.12) scaleY(1.25);
    }

    .toolbar-badge {
      right: 0px;
    }

    .badge-wrapper {
      width: 100%;
    }
  }
  // toolbar vertical ----------------- END

  &.toolbar-medium {
    height: 80px;
    //  list
    & > ul {
      height: 48px;
    }
    a,
    .btn-dropdown {
      margin-bottom: 6px;
    }
    .btn-dropdown {
      // dropdow caret
      &:after {
        top: 12px;
        right: 1px;
      }
    }
    // icon
    .it-ico {
      font-size: 1.35rem;
      // more icon
      &.it-more-actions {
        &:before {
          top: 33%;
        }
      }
    }
    // icon badge
    .toolbar-badge {
      top: -2px;
      right: 0px;
      width: 10px;
      min-width: 10px;
      height: 10px;
      padding: 0;
    }
  }

  &.toolbar-small {
    height: 72px;
    //  list
    & > ul {
      height: 40px;
    }
    .btn-dropdown {
      // dropdow caret
      &:after {
        top: 12px;
        right: 2px;
      }
    }
    // icon
    .it-ico {
      font-size: 1.125rem;
      &.it-more-actions {
        &:before {
          top: 25%;
        }
      }
    }
    // icon badge
    .toolbar-badge {
      top: 2px;
      right: 0px;
      width: 8px;
      min-width: 8px;
      height: 8px;
      padding: 0;
    }
  }

  // shadow
  &:before {
    position: absolute;
    top: auto;
    bottom: 32px;
    z-index: 6;
    content: '';
    width: 100%;
    height: 360px;
    border-radius: 50%;
    opacity: 0.18;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
    transform: translateY(50%) scalex(1.4) scaleY(0.12);
  }

  //  list
  & > ul {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: $white;
    & > li {
      margin: 0 8px;
      list-style-type: none;
      text-align: center;
      // divider
      &.toolbar-divider {
        width: 1px;
        min-width: 1px; // fix for IE11
        max-width: 1px;
        height: calc(100% - 16px);
        margin: 0;
        background: $gray-border;
      }
    }
  }
  // link and button
  a,
  .btn-dropdown {
    display: block;
    color: $color-text-secondary;
    .icon {
      fill: $secondary;
    }
    // active
    &.active {
      color: $primary;
      .icon {
        fill: $primary;
      }
    }
    // disabled
    &.disabled {
      color: $gray-disabled;
      cursor: not-allowed;
      .icon {
        fill: $gray-disabled;
      }
      &:hover {
        color: $gray-disabled;
        text-decoration: none;
        .icon {
          fill: $gray-disabled;
        }
      }
      &:after {
        color: $gray-disabled;
      }
    }
    // hover
    &:not(.disabled):hover {
      color: $color-text-primary-hover;
      text-decoration: underline;
      .icon {
        fill: $color-text-primary-hover;
      }
    }
    // hover fix for ie11
    /* stylelint-disable */
    _:-ms-fullscreen,
    &:not(.disabled):hover {
      text-decoration: none;
    }
    /* stylelint-enable */
  }

  // dropdown button
  .btn-dropdown {
    position: relative;
    width: 100%;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    &.toolbar-more {
      &:after {
        display: none;
      }
    }
    &:not(.disabled) {
      &.active {
        box-shadow: none;
        &:focus {
          box-shadow: $btn-focus-box-shadow;
        }
      }
    }

    &:focus {
      box-shadow: $btn-focus-box-shadow;
    }

    // dropdown caret
    &:after {
      position: absolute;
      top: 16px;
      right: 2px;
      content: '';
      width: 0;
      height: 0;
      margin-left: 0;
      border-width: 4px 3px 0 3px;
      border-style: solid;
      border-color: $secondary transparent transparent transparent;
    }
  }

  // icon
  .it-ico {
    position: relative;
    display: block;
    height: 32px;
    font-size: 1.6rem;
    &:before {
      margin-right: 0;
    }
    // more icon
    &.it-more-actions {
      font-size: 0.6rem;
      &:before {
        position: relative;
        top: 50%;
      }
    }
  }

  // icon badges ------------------
  .badge-wrapper {
    // width: calc(50% + 28px);
    position: relative;
  }

  .toolbar-badge,
  .toolbar-alert {
    position: absolute;
    display: block;
    border: 1px solid $white;
    background-color: $primary;
  }

  // icon badge
  .toolbar-badge {
    top: -4px;
    right: 0px;
    min-width: 18px;
    height: 18px;
    padding: 0 4px;
    border-radius: 50%;
    color: $white;
    font-size: 0.5rem;
    font-style: normal;
    line-height: 1rem;
  }

  // text label
  .toolbar-label {
    display: block;
    margin-top: 8px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
  }
}
