// Component: toolbar
//
// Description: Component styles for toolbar
//

// Variables
//

// Properties
//

// Styles
//

.toolbar {
  --#{$prefix}toolbar-item-margin-x: var(--#{$prefix}spacing-xs);
  --#{$prefix}toolbar-item-margin-y: var(--#{$prefix}spacing-xs);
  --#{$prefix}toolbar-link-margin-bottom-medium: 6px;
  --#{$prefix}toolbar-list-background-color: #{$white};
  --#{$prefix}toolbar-divider-color: #{$gray-border};
  --#{$prefix}toolbar-link-color: #{$color-text-secondary};
  --#{$prefix}toolbar-icon-color: #{$secondary};
  --#{$prefix}toolbar-dropdown-padding-x: 10px;
  --#{$prefix}toolbar-dropdown-caret-color: #{$secondary};
  --#{$prefix}toolbar-dropdown-caret-size: 0.25rem;
  --#{$prefix}toolbar-icon-font-size: 1.6rem;
  --#{$prefix}toolbar-more-icon-font-size: 0.6rem;
  --#{$prefix}toolbar-badge-border-color: #{$white};
  --#{$prefix}toolbar-badge-background-color: #{$primary};
  --#{$prefix}toolbar-badge-border-radius: 50%;
  --#{$prefix}toolbar-badge-text-color: #{$white};
  --#{$prefix}toolbar-badge-padding-x: 4px;
  --#{$prefix}toolbar-badge-font-size: 0.5rem;
  --#{$prefix}toolbar-label-margin-top: var(--#{$prefix}spacing-xs);
  --#{$prefix}toolbar-label-font-size: 0.75rem;

  position: relative;
  width: 100%;
  height: 96px;

  a {
    text-decoration: none;
  }
  // toolbar vertical ----------------- START
  &.toolbar-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 96px;
    height: 100%;
    & > ul {
      flex-direction: column;
      width: 72px;
      height: 100%;
      & > li {
        display: flex;
        align-items: center;
        margin: var(--#{$prefix}toolbar-item-margin-y) 0;
        // divider
        &.toolbar-divider {
          width: calc(100% - 16px);
          max-width: inherit;
          height: 1px;
          min-height: 1px; // fix for IE11
          max-height: 1px;
          margin: 0;
        }
      }
    }

    &.toolbar-medium,
    &.toolbar-small {
      height: 100%;
      & > ul {
        height: 100%;
      }
    }

    &.toolbar-medium {
      width: 84px;
      & > ul {
        width: 56px;
      }

      // badge
      .toolbar-badge {
        right: 0;
      }

      // dropdown
      .btn-dropdown {
        &:after {
          top: 13px;
          right: -10px;
          font-size: var(--#{$prefix}toolbar-dropdown-caret-size);
        }
      }
      .dropdown-menu {
        top: calc(-100% - 25px) !important;
      }
    }

    &.toolbar-small {
      width: 72px;
      & > ul {
        width: 48px;
      }

      // badge
      .toolbar-badge {
        right: 0;
      }

      // dropdown
      .btn-dropdown {
        &:after {
          top: 11px;
          right: -9px;
          font-size: var(--#{$prefix}toolbar-dropdown-caret-size);
        }
      }
      .dropdown-menu {
        top: calc(-100% - 35px) !important;
      }
    }

    // dropdown
    .btn-dropdown {
      padding: 0;
      &:after {
        right: -12px;
        transform: rotate(-90deg);
      }
      &[aria-expanded='true'] {
        &:after {
          transform: rotate(90deg) scaleX(-1);
        }
      }
    }
    .dropdown-menu {
      top: calc(-100% - 28px) !important;
      left: calc(100% + 24px) !important;
      margin: 0;
      box-shadow: $dropdown-box-shadow-vertical;
      &:before {
        top: 24px;
        left: -6px;
      }
    }

    // shadow
    &:before {
      top: 0;
      right: 32px;
      bottom: auto;
      left: auto;
      z-index: 6;
      width: 360px;
      height: 100%;
      border-radius: 50%;
      opacity: 0.18;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
      transform: translateX(50%) scalex(0.12) scaleY(1.25);
    }

    .toolbar-badge {
      right: 0;
    }

    .badge-wrapper {
      width: 100%;
    }
  }
  // toolbar vertical ----------------- END

  &.toolbar-medium {
    --#{$prefix}toolbar-icon-font-size: 1.35rem;

    height: 80px;
    //  list
    & > ul {
      height: 48px;
    }
    a,
    .btn-dropdown {
      margin-bottom: var(--#{$prefix}toolbar-link-margin-bottom-medium);
    }
    .btn-dropdown {
      // dropdow caret
      &:after {
        top: 12px;
        right: 1px;
      }
    }
    // icon
    .it-ico {
      font-size: var(--#{$prefix}toolbar-icon-font-size);
      // more icon
      &.it-more-actions {
        &:before {
          top: 33%;
        }
      }
    }
    // icon badge
    .toolbar-badge {
      top: -2px;
      right: 0;
      width: 10px;
      min-width: 10px;
      height: 10px;
      padding: 0;
    }
  }

  &.toolbar-small {
    --#{$prefix}toolbar-icon-font-size: 1.125rem;

    height: 72px;
    //  list
    & > ul {
      height: 40px;
    }
    .btn-dropdown {
      // dropdow caret
      &:after {
        top: 12px;
        right: 2px;
      }
    }
    // icon
    .it-ico {
      font-size: var(--#{$prefix}toolbar-icon-font-size);
      &.it-more-actions {
        &:before {
          top: 25%;
        }
      }
    }
    // icon badge
    .toolbar-badge {
      top: 2px;
      right: 0;
      width: 8px;
      min-width: 8px;
      height: 8px;
      padding: 0;
    }
  }

  // shadow
  &:before {
    position: absolute;
    top: auto;
    bottom: 32px;
    z-index: 6;
    content: '';
    width: 100%;
    height: 360px;
    border-radius: 50%;
    opacity: 0.18;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 60%);
    transform: translateY(50%) scalex(1.4) scaleY(0.12);
  }

  //  list
  & > ul {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0;
    background-color: var(--#{$prefix}toolbar-list-background-color);
    & > li {
      margin: 0 var(--#{$prefix}toolbar-item-margin-x);
      list-style-type: none;
      text-align: center;
      // divider
      &.toolbar-divider {
        width: 1px;
        min-width: 1px; // fix for IE11
        max-width: 1px;
        height: calc(100% - 16px);
        margin: 0;
        background: var(--#{$prefix}toolbar-divider-color);
      }
    }
  }
  // link and button
  a,
  .btn-dropdown {
    display: block;
    color: var(--#{$prefix}toolbar-link-color);
    .icon {
      fill: var(--#{$prefix}toolbar-icon-color);
    }
    // active
    &.active {
      --#{$prefix}toolbar-link-color: #{$primary};
      --#{$prefix}toolbar-icon-color: #{$primary};
      .icon {
        fill: var(--#{$prefix}toolbar-icon-color);
      }
    }
    // disabled
    &.disabled {
      --#{$prefix}toolbar-link-color: #{$gray-disabled};
      --#{$prefix}toolbar-icon-color: #{$gray-disabled};

      color: var(--#{$prefix}toolbar-link-color);
      cursor: not-allowed;
      .icon {
        fill: var(--#{$prefix}toolbar-icon-color);
      }
      &:hover {
        color: var(--#{$prefix}toolbar-link-color);
        text-decoration: none;
        .icon {
          fill: var(--#{$prefix}toolbar-icon-color);
        }
      }
      &:after {
        color: var(--#{$prefix}toolbar-link-color);
      }
    }
    // hover
    &:not(.disabled):hover {
      --#{$prefix}toolbar-link-color: #{$color-text-primary-hover};
      --#{$prefix}toolbar-icon-color: #{$color-text-primary-hover};

      color: var(--#{$prefix}toolbar-link-color);
      text-decoration: underline;
      .icon {
        fill: var(--#{$prefix}toolbar-icon-color);
      }
    }
    // hover fix for ie11
    /* stylelint-disable */
    _:-ms-fullscreen,
    &:not(.disabled):hover {
      text-decoration: none;
    }
    /* stylelint-enable */
  }

  // dropdown button
  .btn-dropdown {
    position: relative;
    width: 100%;
    padding: 0;
    padding-right: var(--#{$prefix}toolbar-dropdown-padding-x);
    padding-left: var(--#{$prefix}toolbar-dropdown-padding-x);
    &.toolbar-more {
      &:after {
        display: none;
      }
    }
    &:not(.disabled) {
      &.active {
        box-shadow: none;
        &:focus {
          box-shadow: $btn-focus-box-shadow;
        }
      }
    }

    &:focus {
      box-shadow: $btn-focus-box-shadow;
    }

    // dropdown caret
    &:after {
      position: absolute;
      top: 16px;
      right: 2px;
      content: '';
      width: 0;
      height: 0;
      margin-left: 0;
      border-width: 4px 3px 0 3px;
      border-style: solid;
      border-color: var(--#{$prefix}toolbar-dropdown-caret-color) transparent transparent transparent;
    }
  }

  // icon
  .it-ico {
    position: relative;
    display: block;
    height: 32px;
    font-size: var(--#{$prefix}toolbar-icon-font-size);
    &:before {
      margin-right: 0;
    }
    // more icon
    &.it-more-actions {
      font-size: var(--#{$prefix}toolbar-more-icon-font-size);
      &:before {
        position: relative;
        top: 50%;
      }
    }
  }

  // icon badges ------------------
  .badge-wrapper {
    // width: calc(50% + 28px);
    position: relative;
  }

  .toolbar-badge,
  .toolbar-alert {
    position: absolute;
    display: block;
    border: 1px solid var(--#{$prefix}toolbar-badge-border-color);
    background-color: var(--#{$prefix}toolbar-badge-background-color);
  }

  // icon badge
  .toolbar-badge {
    top: -4px;
    right: 0;
    min-width: 18px;
    height: 18px;
    padding: 0 var(--#{$prefix}toolbar-badge-padding-x);
    border-radius: var(--#{$prefix}toolbar-badge-border-radius);
    color: var(--#{$prefix}toolbar-badge-text-color);
    font-size: var(--#{$prefix}toolbar-badge-font-size);
    font-style: normal;
    line-height: 1rem;
  }

  // text label
  .toolbar-label {
    display: block;
    margin-top: var(--#{$prefix}toolbar-label-margin-top);
    font-size: var(--#{$prefix}toolbar-label-font-size);
    font-weight: 600;
    line-height: 1;
  }
}
