// Component: tooltip
//
// Description: Component styles for tooltip
//

// Variables
//

// Properties
//

.tooltip {
  --#{$prefix}tooltip-arrow-height: 0.4rem;
  --#{$prefix}tooltip-arrow-width: 0.8rem;
  --#{$prefix}tooltip-bg: var(--#{$prefix}color-background-emphasis);
  --#{$prefix}tooltip-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}tooltip-color: var(--#{$prefix}color-text-inverse);
  --#{$prefix}tooltip-font-size: var(--#{$prefix}label-font-size-s);
  --#{$prefix}tooltip-margin: 0;
  --#{$prefix}tooltip-max-width: 32em;
  --#{$prefix}tooltip-opacity: 1;
  --#{$prefix}tooltip-padding-x: var(--#{$prefix}spacing-3xs);
  --#{$prefix}tooltip-padding-y: var(--#{$prefix}spacing-xxs);
  --#{$prefix}tooltip-zindex: 10;
}

// Styles
//

.tooltip {
  z-index: var(--#{$prefix}tooltip-zindex);
  display: block;
  margin: var(--#{$prefix}tooltip-margin);
  padding: var(--#{$prefix}tooltip-arrow-height);
  border-radius: var(--#{$prefix}tooltip-border-radius);
  opacity: 0;
  font-size: var(--#{$prefix}tooltip-font-size);
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  @include deprecate('`$tooltip-margin`', 'v5', 'v5.x', true);
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  @include font-size(var(--#{$prefix}tooltip-font-size));

  &.show {
    opacity: var(--#{$prefix}tooltip-opacity);
  }

  .tooltip-arrow {
    display: none;
  }

  //text
  .tooltip-inner {
    padding: var(--#{$prefix}tooltip-padding-y) calc(var(--#{$prefix}tooltip-padding-x) * 2);
    background-color: var(--#{$prefix}tooltip-bg);
    @include media-breakpoint-up(md) {
      .tooltip-inner {
        padding: calc(var(--#{$prefix}tooltip-padding-x) * 0.5) var(--#{$prefix}tooltip-padding-x);
      }
    }
    a {
      color: var(--#{$prefix}tooltip-color);
      text-decoration: underline;
    }
  }
  //padding
  &.bs-tooltip-top,
  &.bs-tooltip-bottom {
    padding: var(--#{$prefix}tooltip-padding-x) 0;
  }
  &.bs-tooltip-left,
  &.bs-tooltip-right {
    padding: 0 var(--#{$prefix}tooltip-padding-x);
  }
}

.bs-tooltip-top .tooltip-arrow {
  bottom: 0;

  &::before {
    top: -1px;
    border-width: var(--#{$prefix}tooltip-arrow-height) calc(var(--#{$prefix}tooltip-arrow-width) * 0.5) 0; // stylelint-disable-line function-disallowed-list
    border-top-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:begin:ignore */
.bs-tooltip-end .tooltip-arrow {
  left: 0;
  width: var(--#{$prefix}tooltip-arrow-height);
  height: var(--#{$prefix}tooltip-arrow-width);

  &::before {
    right: -1px;
    border-width: calc(var(--#{$prefix}tooltip-arrow-width) * 0.5) var(--#{$prefix}tooltip-arrow-height) calc(var(--#{$prefix}tooltip-arrow-width) * 0.5) 0; // stylelint-disable-line function-disallowed-list
    border-right-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:end:ignore */

.bs-tooltip-bottom .tooltip-arrow {
  top: 0;

  &::before {
    bottom: -1px;
    border-width: 0 calc(var(--#{$prefix}tooltip-arrow-width) * 0.5) var(--#{$prefix}tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    border-bottom-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:begin:ignore */
.bs-tooltip-start .tooltip-arrow {
  right: 0;
  width: var(--#{$prefix}tooltip-arrow-height);
  height: var(--#{$prefix}tooltip-arrow-width);

  &::before {
    left: -1px;
    border-width: calc(var(--#{$prefix}tooltip-arrow-width) * 0.5) 0 calc(var(--#{$prefix}tooltip-arrow-width) * 0.5) var(--#{$prefix}tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    border-left-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:end:ignore */

.bs-tooltip-auto {
  &[data-popper-placement^='top'] {
    @extend .bs-tooltip-top;
  }
  &[data-popper-placement^='right'] {
    @extend .bs-tooltip-end;
  }
  &[data-popper-placement^='bottom'] {
    @extend .bs-tooltip-bottom;
  }
  &[data-popper-placement^='left'] {
    @extend .bs-tooltip-start;
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: var(--#{$prefix}tooltip-max-width);
  padding: var(--#{$prefix}tooltip-padding-y) var(--#{$prefix}tooltip-padding-x);
  background-color: var(--#{$prefix}tooltip-bg);
  color: var(--#{$prefix}tooltip-color);
  text-align: center;
  @include border-radius(var(--#{$prefix}tooltip-border-radius));
}
