//
// Global typography elements

body {
  font-family: var(--#{$prefix}font-sans);
}

p,
ul,
ol,
dl {
  font-size: var(--#{$prefix}body-font-size);
  line-height: var(--#{$prefix}body-line-height);
}

caption,
figcaption {
  font-size: var(--#{$prefix}caption-font-size);
  line-height: var(--#{$prefix}caption-line-height);
}

b,
strong {
  font-weight: var(--#{$prefix}font-weight-strong);
}

mark,
code {
  padding: 0 2px;
}

mark {
  background-color: var(--#{$prefix}highlight-background);
}

pre,
code,
kbd,
samp {
  border-radius: var(--#{$prefix}radius-smooth);
  font-family: var(--#{$prefix}font-mono);
}

pre {
  color: $pre-color;
  font-size: var(--#{$prefix}code-font-size);

  code {
    color: inherit;
    font-size: inherit;
    word-break: normal;
  }
}

ins,
del {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--#{$prefix}spacing-inset-xxs) var(--#{$prefix}spacing-inset-m);
  font: var(--#{$prefix}body-font-size);
  text-decoration: none;
}

ins {
  background-color: var(--#{$prefix}ins-background);
  text-decoration: none;
}

del {
  background-color: var(--#{$prefix}del-background);
}

del::before,
ins::before {
  position: absolute;
  left: 0.5rem;
}

del::before {
  content: '−';
}

ins::before {
  content: '+';
}

code {
  color: var(--#{$prefix}code-color);
  font-size: var(--#{$prefix}code-font-size);
  word-wrap: break-word;

  p & {
    background-color: var(--#{$prefix}code-background);
  }
}

kbd {
  margin: 0 2px;
  padding: 2px var(--#{$prefix}spacing-inset-xxs);
  border: 1px solid var(--#{$prefix}color-border-subtle);
  background-color: var(--#{$prefix}color-background-secondary-lighter);
  box-shadow: var(--#{$prefix}shadow-s), 0 2px 0 0 hsla(255, 0%, 100%, 0.7) inset;
  color: var(--#{$prefix}color-text-secondary);
  font-size: var(--#{$prefix}font-size-1);
  font-weight: var(--#{$prefix}font-weight-solid);
  white-space: nowrap;

  kbd {
    padding: 0;
    font-size: var(--#{$prefix}code-font-size);
  }
}

small,
.small {
  font-size: var(--#{$prefix}caption-font-size);
}

.x-small {
  font-size: var(--#{$prefix}font-size-1);
}

h1,
.h1 {
  font-size: var(--#{$prefix}heading-1-font-size); 
}

h2,
.h2 {
  font-size: var(--#{$prefix}heading-2-font-size); 
}

h3,
.h3 {
  font-size: var(--#{$prefix}heading-3-font-size); 
}

h4,
.h4 {
  font-size: var(--#{$prefix}heading-4-font-size); 
}

h5,
.h5 {
  font-size: var(--#{$prefix}heading-5-font-size); 
}

h6,
.h6 {
  font-size: var(--#{$prefix}heading-6-font-size); 
}

h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: var(--#{$prefix}heading-spacing);
  line-height: var(--#{$prefix}heading-line-height);

  // Adds top spacing when two heading tags or classes are adiacent or follow a paragraph
  :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) + &,
  p + & {
    padding-top: var(--#{$prefix}spacing-stack-s); // Use the paragraph spacing variable when available
  }
}


h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: var(--#{$prefix}heading-font-weight);
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: var(--#{$prefix}heading-font-weight-weak);
}

h1,
.h1,
.display-1 {
  letter-spacing: -1px; // Reduce letter spacing on first or display headings
}

//
// Font Family
// Use !important to override the default font-family

.font-serif {
  font-family: var(--#{$prefix}font-serif) !important;
}

.font-sans-serif {
  font-family: var(--#{$prefix}font-sans) !important;
}

.font-monospace {
  font-family: var(--#{$prefix}font-mono) !important;
}

//
// Misc


// Display heading
.display-1 {
  font-size: var(--#{$prefix}display-font-size);
  font-weight: var(--#{$prefix}heading-font-weight);
  line-height: var(--#{$prefix}heading-line-height);
}

// Lead
.lead {
  font-size: var(--#{$prefix}lead-font-size);
  font-weight: var(--#{$prefix}lead-font-weight);
  line-height: var(--#{$prefix}lead-line-height);
}

// Blockquote
blockquote,
.blockquote {
  margin: var(--#{$prefix}spacing-stack-m) 0;
  margin-left: var(--#{$prefix}spacin-inline-xs);
  padding: var(--#{$prefix}spacing-inset-s);
  border-left: var(--#{$prefix}border-thick) solid var(--#{$prefix}border-color-secondary);
  font-size: var(--#{$prefix}body-font-size);
  line-height: var(--#{$prefix}body-line-height);

  > :last-child {
    margin-bottom: 0;
  }

  &.text-end {
    margin-right: var(--#{$prefix}spacin-inline-xs);
    border-right: var(--#{$prefix}border-thick) solid var(--#{$prefix}border-color-secondary);
  }
  
  &.text-center,
  &.text-end,
  &.blockquote-simple {
    margin-left: 0;
    border-right: none;
    border-left: none;
  }
  
  &.text-center,
  &.blockquote-simple {
    padding: 0;
  }
  
  &.blockquote-simple {
    font-style: italic;
  }

  // Card version
  &.blockquote-card {
    margin-left: 0;
    padding: var(--#{$prefix}spacing-inset-m);
    background-color: var(--#{$prefix}color-background-inverse); // TODO: Use a card background variable when available
    box-shadow: var(--#{$prefix}shadow-s);

    .blockquote-footer {
      font-size: inherit;
      &:before {
        content: none;
      }
    }
    
    &.dark {
      border-left: none;
      background-color: var(--#{$prefix}color-background-primary);
      color: var(--#{$prefix}color-text-inverse);
      .blockquote-footer {
        color: var(--#{$prefix}color-text-inverse);
      }
    }
  }
}

.blockquote-footer {
  margin-top: 0;
  margin-bottom: var(--#{$prefix}spacing-stack-s);
  color: var(--#{$prefix}color-text-secondary);
  font-size: var(--#{$prefix}label-font-size);
  &::before {
    content: '\2014\00A0'; // em dash, nbsp
  }
  .bg-dark & {
    color: var(--#{$prefix}color-text-muted);
  }
}

// Abbreviations
.initialism {
  font-size: var(--#{$prefix}label-font-size-s);
  text-transform: uppercase;
}
