//mobile

//search field
.autocomplete {
  padding-left: var(--#{$prefix}spacing-xxl);
}
//   &::placeholder {
//     color: $color-text-muted; // UI kit
//   }

//   &:disabled {
//     background-color: #cacacc;

//     &::placeholder {
//       color: $gray-secondary;
//     }
//   }

//search icon
.autocomplete-icon {
  position: absolute;
  left: var(--#{$prefix}spacing-3xs);
  top: var(--#{$prefix}spacing-xxs);
  padding: 0 var(--#{$prefix}form-control-spacing);
}

//results list
.autocomplete-list {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $white;
  padding: var(--#{$prefix}form-control-spacing) 0;
  box-shadow: $dropdown-box-shadow;
  border-top: 1px solid var(--#{$prefix}color-bordr-subtle);
  transition: opacity var(--#{$prefix}transition-instant);
  display: none;

  &.autocomplete-list-show {
    display: block;
    z-index: 10;
  }

  li {
    list-style-type: none;
    padding: 0;
  }

  // Single item
  a {
    padding: var(--#{$prefix}spacing-xs) var(--#{$prefix}spacing-s);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--#{$prefix}color-text-secondary);
    line-height: 1.2;
    font-size: var(--#{$prefix}body-font-size);
    text-decoration: none;

    &:hover {
      color: var(--#{$prefix}color-text-primary);
      text-decoration: none;

      .icon {
        fill: var(--#{$prefix}icon-primary);
      }

      .autocomplete-list-text {

        span {
          text-decoration: underline;
        }

        //item label
        em {
          color: var(--#{$prefix}color-link-hover);
        }
      }

      //search highlight
      mark {
        color: var(--#{$prefix}colore-text-primay);
      }
    }

    //item icon + avatar
    .icon,
    .avatar {
      margin-right: $v-gap * 2;
      flex-shrink: 0;
    }

    .icon {
      fill: $gray-primary;
    }

    //item text
    .autocomplete-list-text {
      margin-top: 2px;
      //item label
      em {
        font-style: normal;
        text-transform: uppercase;
        font-size: 0.75rem;
        color: $color-text-secondary; // UI kit
        font-weight: 600;
        letter-spacing: 0.1em;
        display: block;
        margin-top: $v-gap * 0.5;
      }
    }
  }

  //search highlight
  mark {
    padding: 0;
    background: transparent;
    font-weight: var(--#{$prefix}font-weight-strong);
  }
}

//big version
.autocomplete-wrapper-big {
  //search field
  .autocomplete {
    @extend .form-control-lg;
  }

  //results list
  .autocomplete-list {
    a {
      font-size: var(--#{$prefix}body-font-size-l);

      .autocomplete-list-text {
        margin-top: 0;
      }
    }
  }
}

//small - tablet
@include media-breakpoint-up(sm) {
  .autocomplete {
    padding-left: var(--#{$prefix}spacing-xl);
  }
  //results list
  .autocomplete-list {
    a {
      font-size: var(--#{$prefix}label-font-size-s);
      align-items: flex-start;

      .autocomplete-list-text {
        //item text
        span {
          margin-right: var(--#{$prefix}spacing-xxs);
        }

        //item label
        em {
          display: inline-block;
          font-size: var(--#{$prefix}label-font-size-xs);
          margin-top: 0;
        }
      }
    }
  }

  // big version
  .autocomplete-wrapper-big {
    //search field
    .autocomplete-icon {
      left: var(--#{$prefix}spacing-3xs);
      top: var(--#{$prefix}spacing-xs);
      padding: 0 var(--#{$prefix}form-control-spacing);
    }


    //results list
    .autocomplete-list {
      a {
        font-size: 1.125rem;
        //item text
        .autocomplete-list-text {
          span {
            margin-right: var(--#{$prefix}spacing-s);
          }
        }
      }
    }
  }
}
