@use '../base/config' as *;
@use '../base/variables' as *;
@use 'form-control' as *;
@use '../base/mixins/breakpoints' as *;

// Autocomplete input field
.autocomplete {
  padding-left: var(--#{$prefix}spacing-xl);

  @include media-breakpoint-up(sm) {
    padding-left: var(--#{$prefix}spacing-xxl);
  }
}

// Autocomplete input icon
.autocomplete-icon {
  position: absolute;
  top: var(--#{$prefix}spacing-xxs);
  left: var(--#{$prefix}spacing-3xs);
  padding: 0 var(--#{$prefix}form-control-spacing);
}

// Aucomplete result list
.autocomplete-list {
  --#{$prefix}autocomplete-list-spacing: 0;
  --#{$prefix}autocomplete-list-background-color: var(--#{$prefix}color-background-inverse);
  --#{$prefix}autocomplete-list-border-color: transparent; // change to show border
  --#{$prefix}autocomplete-list-border-size: 0; // change to 1px to show border
  --#{$prefix}autocomplete-list-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}autocomplete-list-shadow: var(--#{$prefix}elevation-high);
  --#{$prefix}autocomplete-item-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}autocomplete-item-hover-color: var(--#{$prefix}color-text-primary);
  --#{$prefix}autocomplete-item-hover-background-color: var(--#{$prefix}color-background-primary-lighter);
  --#{$prefix}autocomplete-item-hover-icon-color: var(--#{$prefix}icon-primary);
  --#{$prefix}autocomplete-item-text-size: var(--#{$prefix}body-font-size);
  --#{$prefix}autocomplete-item-spacing: var(--#{$prefix}spacing-xs) var(--#{$prefix}spacing-s);
  --#{$prefix}autocomplete-text-highlight: var(--#{$prefix}color-text-primary);

  position: absolute;
  right: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: var(--#{$prefix}autocomplete-list-spacing);
  border-bottom-right-radius: var(--#{$prefix}autocomplete-list-radius);
  border-bottom-left-radius: var(--#{$prefix}autocomplete-list-radius);
  border-color: var(--#{$prefix}autocomplete-list-border-color);
  border-style: solid;
  border-top-width: 0;
  border-left-width: var(--#{$prefix}autocomplete-list-border-size);
  border-right-width: var(--#{$prefix}autocomplete-list-border-size);
  border-bottom-width: var(--#{$prefix}autocomplete-list-border-size);
  background-color: var(--#{$prefix}autocomplete-list-background-color);
  box-shadow: var(--#{$prefix}autocomplete-list-shadow);
  transition: opacity var(--#{$prefix}transition-instant);

  &.autocomplete-list-show {
    z-index: 10;
    display: block;
  }

  li {
    padding: 0;
    list-style-type: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--#{$prefix}autocomplete-item-spacing);
    color: var(--#{$prefix}autocomplete-item-color);
    font-size: var(--#{$prefix}autocomplete-item-text-size);
    line-height: 1.2;
    text-decoration: none;

    &:hover {
      background-color: var(--#{$prefix}color-background-primary-lighter);
      color: var(--#{$prefix}color-text-primary);
      text-decoration: none;

      .icon {
        fill: var(--#{$prefix}icon-primary);
      }

      .autocomplete-list-text {
        span {
          text-decoration: underline;
        }

        //item label
        em {
          color: var(--#{$prefix}color-link-hover);
        }
      }
    }

    // List item icon and avatar
    .icon,
    .avatar {
      flex-shrink: 0;
      margin-right: $v-gap * 2;
    }

    // List item text
    .autocomplete-list-text {
      // margin-top: 2px;
      margin-left: 0;
      display: flex;
      align-items: center;
      gap: var(--#{$prefix}spacing-s);

      em {
        color: var(--#{$prefix}color-text-secondary);
        font-size: var(--#{$prefix}label-font-size-xs);
        font-style: normal;
        font-weight: var(--#{$prefix}font-weight-solid);
        text-transform: uppercase;
      }
    }
  }

  // Autocomplete search highlight
  mark {
    padding: 0;
    background: transparent;
    color: var(--#{$prefix}autocomplete-text-highlight);
    font-weight: var(--#{$prefix}font-weight-strong);
  }
}

// Variant Big
.autocomplete-wrapper-big {
  --#{$prefix}autocomplete-item-text-size: var(--#{$prefix}body-font-size-l);

  .autocomplete {
    @extend .form-control-lg;
  }

  .autocomplete-list .autocomplete-list-text {
    margin-top: 0;
  }

  @include media-breakpoint-up(sm) {
    .autocomplete-icon {
      top: var(--#{$prefix}spacing-xs);
      left: var(--#{$prefix}spacing-3xs);
      padding: 0 var(--#{$prefix}form-control-spacing);
    }

    .autocomplete-list-text span {
      margin-right: var(--#{$prefix}spacing-s);
    }
  }
}

// @include media-breakpoint-up(sm) {

//   //results list
//   .autocomplete-list {
//     a {
//       font-size: var(--#{$prefix}label-font-size);

//       .autocomplete-list-text {
//         span {
//           margin-right: var(--#{$prefix}spacing-xxs);
//         }

//         //item label
//         em {
//           display: inline-block;
//           margin-top: 0;
//           font-size: var(--#{$prefix}label-font-size-xs);
//         }
//       }
//     }
//   }

// }
