// Input file/button
.upload,
.upload-avatar {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
}

// Input file
.upload {

  // button styling
  &[type='file']+label {
    display: inline-block;
    max-width: 80%;
    padding: var(--#{$prefix}spacing-xs) var(--#{$prefix}spacing-m);
    overflow: hidden;
    border-radius: var(--#{$prefix}form-control-border-radius);
    background-color: var(--#{$prefix}color-background-primary);
    color: var(--#{$prefix}color-text-inverse);
    font-size: 1rem;
    font-weight: 700;
    transition: background-color var(--#{$prefix}transition-instant);
    cursor: pointer;

    &:hover {
      background-color: var(--#{$prefix}color-background-primary-hover);
    }

    //icon
    svg {
      margin-right: var(--#{$prefix}spacing-xxs);
      fill: var(--#{$prefix}icon-inverse);
    }
  }
}

// Pictures wall version
.upload-pictures-wall {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  //grid list element
  &>li {
    margin-right: var(--#{$prefix}spacing-xxs);
    margin-bottom: var(--#{$prefix}spacing-xxs);
    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }
  }

  // input file
  .upload {

    //button styling
    &[type='file']+label {
      display: table-cell;
      width: 128px;
      height: 128px;
      padding: 0;
      border: 2px dashed var(--#{$prefix}color-border-primary);
      border-radius: 0;
      background-color: var(--#{$prefix}color-border-primary-lighter);
      color: var(--#{$prefix}color-text-primary);
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      transition: border-color var(--#{$prefix}transition-instant);

      .icon {
        display: block;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        margin: 0 auto;
        fill: var(--#{$prefix}icon-primary);
      }

      &:hover {
        border: 2px dashed var(--#{$prefix}color-border-primary-hover);
      }
    }

    // &:focus,
    // &:active {
    //   &[type='file'] + label {
    //     border: 2px dashed $primary-a3;
    //   }
    // }
  }

  //image
  .upload-image {
    flex-shrink: 0;
    width: 128px;
    height: 128px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// files list
.upload-file-list {
  margin-top: 5px;
  padding: 0;

  //image version
  &.upload-file-list-image {
    .progress {
      left: 52px;
    }
  }

  .upload-file {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 375px;
    margin-bottom: var(--#{$prefix}spacing-s);
    list-style-type: none;

    // states
    &.uploading {
      .icon {
        fill: var(--#{$prefix}icon-secondary);
      }

      p {
        color: var(--#{$prefix}color-text-secondary);
      }
    }

    &.success {
      svg {
        fill: var(--#{$prefix}icon-success);
      }

      p {
        color: var(--#{$prefix}color-text-success);

        .upload-file-weight {
          display: inline-block;
        }
      }
    }

    &.error {
      svg {
        fill: var(--#{$prefix}icon-danger);
      }

      p {
        color: var(--#{$prefix}color-text-danger);
      }
    }

    //left icon
    svg {
      flex-shrink: 0;
    }

    //left image
    .upload-image {
      flex-shrink: 0;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    //file name
    p {
      margin: 0;
      margin-left: 12px;
      overflow: hidden;
      font-size: 0.875rem;
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;

      .upload-file-weight {
        display: none;
        margin-left: 10px;
        color: var(--#{$prefix}color-text-secondary);
      }
    }

    //action button / upload ok
    button {
      margin-left: auto;
      padding: 0;
      border: 0;
      background: transparent;

      &:hover {
        cursor: pointer;

        svg {
          fill: var(--#{$prefix}icon-primary);
        }
      }
    }
  }

  //file upload progress
  .progress {
    position: absolute;
    bottom: -4px;
    left: 36px;
    width: calc(100% - 45px);
    height: 4px;
    background-color: $lightgrey-a1;
    box-shadow: none;

    &.progress-image {
      width: calc(100% - 60px);
    }
  }
}

// Upload Avatar
//

.upload-avatar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .upload-avatar {
    &[type='file']+label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      svg {
        display: none;
      }

      span {
        display: none;
      }
    }
  }
}

.avatar-upload {
  overflow: hidden; // mask the upload icon and background
}

.avatar-upload-wrapper {
  // position: relative;
  // display: inline-block;

  .avatar-upload-icon {
    position: absolute;
    right: 4px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 2px solid var(--#{$prefix}color-border-inverse);
    border-radius: 50%;
    background: $neutral-1-a1;
    pointer-events: none;

    &>svg {
      width: 16px;
      height: 16px;
    }
  }

  &.size-sm {
    .avatar {
      width: 80px;
      height: 80px;
    }

    .avatar-upload-icon {
      right: 4px;
      bottom: 6px;
      width: 18px;
      height: 18px;

      &>svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

//
// Upload Drag and Drop

.upload-dragdrop {
  display: inline-flex;
  align-items: center;

  &.dragover,
  &.loading {
    .upload-dragdrop-image {
      img {
        transform: translateX(-50%) translateY(-50%) scale(0.85);
      }
    }
  }

  &.loading {
    p:not(.upload-dragdrop-weight) {
      font-style: italic;
    }

    .upload-dragdrop-loading {
      opacity: 1;
    }
  }

  &.loading,
  &.success {
    .upload-dragdrop-text {
      .upload-dragdrop-weight {
        visibility: visible;
      }
    }
  }

  &.success {
    .upload-dragdrop-success {
      opacity: 1;
      transform: scale(1);
    }
  }
}

// Drag and drop text
.upload-dragdrop-text {
  p {
    margin: 0;
    color: var(--#{$prefix}color-text-secondary);
    font-size: 0.875rem;

    &.upload-dragdrop-weight {
      visibility: hidden;
      color: var(--#{$prefix}color-text-secondary);
      font-size: 0.75rem;

      svg {
        fill: var(--#{$prefix}icon-secondary);
      }
    }
  }

  h5 {
    margin: 0;
    color: var(--#{$prefix}color-text-base);
  }
}

.upload-dragdrop-input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;

  &[type='file']+label {
    color: var(--#{$prefix}color-text-primary);
    text-decoration: underline;
    cursor: pointer;
  }

  &:focus {
    &[type='file']+label {
      outline: auto 5px -webkit-focus-ring-color;
    }
  }
}

.upload-dragdrop-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;

  .progress-donut {
    position: relative;

    .progressbar-text {
      color: #000 !important;
      font-weight: 700;
    }

    svg {
      position: relative;

      path:first-child {
        display: none;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      content: '';
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background: #fff;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.upload-dragdrop-image {
  position: relative;
  flex-shrink: 0;
  width: 128px;
  height: 128px;
  margin-right: var(--#{$prefix}spacing-s);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center center;
    transition: transform 0.4s cubic-bezier(0.33, 1.07, 0.54, 1);
  }

  .upload-dragdrop-success {
    position: absolute;
    top: calc(50% - 18px);
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 0;
    background: var(--#{$prefix}color-background-success);
    transform: scale(0.6);
    transition:
      opacity 0.2s,
      transform 0.5s cubic-bezier(0.75, -0.5, 0, 1.75);

    svg {
      width: 30px;
      height: 30px;
      fill: var(--#{$prefix}icon-inverse);
    }

    .upload-dragdrop-text h5+p {
      color: var(--#{$prefix}color-text-success);
      font-weight: var(--#{$prefix}font-weight-solid);
    }
  }
}

// Media quert small - tablet
@include media-breakpoint-up(sm) {
  .upload {
    &[type='file']+label {
      font-size: var(--#{$prefix}label-font-size-s);
    }
  }
}

// Media query medium - tablet vertical
@include media-breakpoint-up(md) {
  .upload-dragdrop-image {
    width: 180px;
    height: 180px;
    margin-right: 32px;

    .upload-dragdrop-success {
      left: 28px;
    }
  }

  .upload-dragdrop-loading {
    width: 180px;
    height: 180px;

    .progress-donut {
      &:before {
        content: '';
        width: 94px;
        height: 94px;
      }
    }
  }
}

// Media query - desktop

@include media-breakpoint-up(xl) {

  .avatar-upload:hover,
  .avatar-upload:focus-within {
    .upload-avatar-container {
      opacity: 1;
    }
  }

  .upload-avatar-container {
    top: auto;
    right: 0;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 60%;
    opacity: 0;
    background-color: var(--#{$prefix}overlay-background-primary-muted);
    transition: opacity var(--#{$prefix}transition-instant);

    .upload-avatar {
      &[type='file']+label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: var(--#{$prefix}spacing-xxs);
        color: var(--#{$prefix}color-text-inverse);
        font-size: 0.75rem;
        text-align: center;
        cursor: pointer;

        span {
          display: block;
        }

        svg {
          display: block;
          width: 20px;
          height: 20px;
          fill: var(--#{$prefix}icon-inverse);
        }
      }

      &:focus:not([data-focus-mouse='true']) {
        &[type='file']+label {
          outline: auto 5px -webkit-focus-ring-color;
        }
      }
    }
  }

  .avatar-upload-wrapper {

    //hide icon
    .avatar-upload-icon {
      display: none;
    }

    &.size-sm {
      .upload-avatar {
        &[type='file']+label {
          span {
            display: none;
          }
        }
      }
    }
  }
}