// Form properties are :root scoped to allow for easy customization of form elements.
:root {
  --#{$prefix}form-control-height: 2.5rem;
  --#{$prefix}form-control-spacing: var(--#{$prefix}spacing-xxs);
  --#{$prefix}form-control-background-color: var(--#{$prefix}color-background-inverse);
  --#{$prefix}form-control-border-color: var(--#{$prefix}color-border-secondary);
  --#{$prefix}form-control-border-radius: var(--#{$prefix}radius-smooth);
  --#{$prefix}form-control-placeholder-color: var(--#{$prefix}color-text-muted);
  --#{$prefix}form-control-label-color: var(--#{$prefix}color-text-secondary);
  --#{$prefix}form-control-text-color: var(--#{$prefix}color-text-base);
  --#{$prefix}form-control-font-size: var(--#{$prefix}body-font-size);
  --#{$prefix}form-group-spacing-y: var(--#{$prefix}spacing-m);
}

input[readonly],
textarea[readonly],
select[readonly] {
  --#{$prefix}form-control-border-color: var(--#{$prefix}color-border-subtle);
  --#{$prefix}form-control-background-color: var(--#{$prefix}color-background-muted);
  cursor: not-allowed;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: var(--#{$prefix}form-control-spacing);
  border: 1px solid var(--#{$prefix}form-control-border-color);
  background-color: var(--#{$prefix}form-control-background-color);
  color: var(--#{$prefix}form-control-text-color);
  font-size: var(--#{$prefix}form-control-font-size); 
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  border-radius: var(--#{$prefix}form-control-border-radius);

  &.disabled,
  &:disabled {
    color: var(--#{$prefix}color-text-disabled);
    background-color: var(--#{$prefix}color-background-disabled);
    border-color: var(--#{$prefix}color-border-disabled);
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

input,
select {
  line-height: 1;
}

input,
textarea {
  &:focus {
    box-shadow:
      0 0 0 2px var(--#{$prefix}color-border-inverse),
      0 0 0 5px var(--#{$prefix}color-outline-focus) !important;
    outline: 3px solid transparent;
    outline-offset: 3px;
  }
}

input {
  // File input buttons theming //TODO: CHECK
  &::file-selector-button {
    padding: $input-padding-y $input-padding-x;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: $input-padding-x;
    color: $form-file-button-color;
    @include gradient-bg($form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: $input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    @include transition($btn-transition);
  }

  //TODO: CHECK
  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $form-file-button-hover-bg;
  }

  &[type='file'] {
    overflow: hidden; // prevent pseudo element button overlap
    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  &::-webkit-date-and-time-value {
    // Multiply line-height by 1em if it has no unit
    height: if(unit($input-line-height) == '', $input-line-height * 1em, $input-line-height);
  }
}

textarea {
  height: auto;
  font-size: var(--#{$prefix}body-font-size);
  line-height: 1.5;
}

label {
  display: inline-block;
  width: auto;
  max-width: 100%;
  color: var(--#{$prefix}form-control-label-color);
  font-size: var(--#{$prefix}label-font-size-s);
  font-weight: var(--#{$prefix}font-weight-solid);
  line-height: var(--#{$prefix}label-line-height);
  margin-bottom: var(--#{$prefix}spacing-xxs);
}

input,
textarea {
  outline: 0;
  box-shadow: none;
  transition: none;
  appearance: none;
}

input[type='date'],
input[type='datetime-local'],
input[type='time'] {
  display: flex;
}

//TODO: CHECK
fieldset {
  legend {
    z-index: 1;
    display: block;
    width: auto;
    max-width: 100%;
    margin-bottom: 0;
    padding: 0 var(--#{$prefix}form-input-spacing-x);
    float: none;
    background-color: transparent;
    color:var(--#{$prefix}form-input-color);
    font-size: $small-font-size;
    font-weight: 700;
    line-height: calc(#{$input-height} - 1px);
    transition: 0.2s ease-out;
    cursor: text;
  }
}

::placeholder {
  color: var(--#{$prefix}form-control-placeholder-color);
}

// WebKit datetime edit fields
input::-webkit-datetime-edit {
  background-color: var(--#{$prefix}color-background-primary-lighter);
  color: var(--#{$prefix}form-contro-text-color);
}

// Move these styles to partials //TODO: move to _form-control.scss

.form-group {
  position: relative;
  margin-bottom: var(--#{$prefix}form-group-spacing-y);

  label.input-symbol-label:not(.active) {
    left: 2.25rem;
  }

  small.form-text {
    margin: 0;
    // padding: var(--#{$prefix}form-input-spacing-x) * 0.5 var(--#{$prefix}form-input-spacing-x);
    font-size: $small-font-size;
  }

  input[type='time']~label {
    font-size: $small-font-size;
    // transform: translateY(-75%);
  }
}

//
// Form text

.form-text {
  margin: var(--#{$prefix}spacing-xxs) 0;
  color: var(--#{$prefix}color-text-secondary);
}


//
// Form Group

.form-group.active .form-file-name {
  padding-bottom: 1.95rem;
}

.warning-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  color: $warning;
  font-size: 0.75rem;
}

.valid-feedback,
.invalid-feedback,
.warning-feedback {
  margin-left: 0.5rem;
}

// Input group
.input-group {
  .input-group-text .btn {
      border-radius: var(--#{$prefix}form-control-border-radius) 0 0 var(--#{$prefix}form-control-border-radius);
    }

  .input-group-append {
    margin-left: 0;

    .btn {
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 1px solid $input-border;
      border-radius: 0 var(--#{$prefix}form-control-border-radius) var(--#{$prefix}form-control-border-radius) 0;
    }
  }
}

.form-check {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 0;

  // add vertical spacing for consequential elements
  & + & {
    margin-top: 0.5rem;
  }

  [type='checkbox'],
  [type='radio'] {
    position: absolute;
    top: 9px;
    left: 9px;
    margin-top: 0;
    margin-left: 0;
    opacity: 0;

    +label {
      position: relative;
      display: inline-block;
      padding-left: 2rem;
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      cursor: pointer;
      user-select: none;

      @include media-breakpoint-up(sm) {
        font-size: 1.125rem;
      }
    }

    //focus
    &:focus+label {
      @extend %focus;
    }

    &:focus.focus--mouse+label {
      @extend %focusmouse;
    }
  }

  [type='checkbox'] {

    +label::after,
    +label::before {
      position: absolute;
      left: 0;
      z-index: 1;
      content: '';
      border-width: 2px;
      border-style: solid;
      transition: 0.2s ease-out;
    }

    +label::before {
      top: 0;
      width: 17px;
      height: 17px;
      margin: 2px 4px;
      border: 1px solid #e6e9f2;
      border-radius: 1px;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }

    +label::after {
      top: 0;
      width: 20px;
      height: 20px;
      margin: 4px;
      border-radius: 4px;
    }

    &:checked+label::before {
      top: 4px;
      left: 1px;
      width: 8px;
      height: 13px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent #fff #fff transparent;
      opacity: 0.8;
      transform: rotate(40deg);
      transform-origin: 100% 100%;
      backface-visibility: hidden;
    }

    &:checked+label::after {
      z-index: 0;
      border-color: $primary;
      background-color: $primary;
    }

    &:not(:checked)+label::after {
      z-index: 0;
      border-color: $neutral-1-a7;
      background-color: transparent;
    }

    &:not(:checked)+label::before {
      top: 10px;
      left: 6px;
      width: 0;
      height: 0;
      border-color: transparent;
    }

    &:disabled+label {
      opacity: 1;
      cursor: not-allowed;
    }

    &:disabled:not(:checked)+label::after {
      border-color: #e6e9f2;
      background-color: #fff;
    }

    &:disabled:checked+label::after {
      border-color: #e6e9f2;
      background-color: #e6e9f2;
    }
  }

  [type='radio'] {
    +label {
      transition: 0.2s ease-out;

      &::after,
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        content: '';
        width: 20px;
        height: 20px;
        margin: 5px;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        transition: 0.2s ease-out;
      }
    }

    &:not(:checked)+label {

      &::after,
      &::before {
        border-color: $input-border;
      }

      &:after {
        z-index: -1;
        transform: scale(0);
      }
    }

    &:checked+label {
      &::after {
        z-index: 0;
        border-color: $primary;
        background-color: $primary;
        transform: scale(0.64);
      }

      &::before {
        border-color: $primary;
      }
    }

    &:disabled {
      &+label {
        cursor: not-allowed;
      }

      &:not(:checked)+label {

        &::after,
        &::before {
          border-color: $gray-border-disabled;
        }
      }

      &:checked+label {
        &::after {
          border-color: $gray-border-disabled;
          background-color: $gray-disabled;
        }

        &::before {
          border-color: $gray-border-disabled;
        }
      }
    }
  }

  // gruppi
  &.form-check-group {
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
    box-shadow: inset 0 -1px 0 0 rgba(1, 1, 1, 0.1);

    [type='checkbox']+label,
    [type='radio']+label {
      position: static;
      padding-right: 3.25rem;
      padding-left: 0;

      &::after,
      &::before {
        right: 0px;
        left: auto;
      }
    }

    [type='checkbox']:checked+label::before {
      right: 11px;
    }

    [type='radio']:checked+label::before {
      right: 0px;
    }

    .form-text {
      display: block;
      margin-bottom: 0.5rem;
      padding-right: 3.25rem;
    }

    input.semi-checked:not(:checked)+label::before {
      right: 4px;
      left: auto;
    }
  }

  input.semi-checked:not(:checked)+label::before {
    top: 11px;
    left: 4px;
    width: 12px;
    height: 2px;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    opacity: 1;
    background: $white;
    transform: none;
    backface-visibility: hidden;
  }

  input.semi-checked:not(:checked)+label::after {
    z-index: 0;
    border-color: $primary-a5; // TODO: Not found
    background-color: $primary-a5; // TODO: Not found
  }
}

@media (prefers-reduced-motion: reduce) {
  fieldset legend,
  .form-group label,
  textarea,
  .form-check [type='checkbox'],
  .form-check [type='radio'],
  .form-check [type='checkbox']+label::after,
  .form-check [type='checkbox']+label::before,
  .form-check [type='radio']+label::after,
  .form-check [type='radio']+label::before,
  .toggles label input[type='checkbox']+.lever::before,
  .toggles label input[type='checkbox']+.lever::after {
    transition: none !important;
  }
}
