@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/border-radius' as *;
@use '../base/mixins/box-shadow' as *;
@use '../base/mixins/gradients' as *;
@use '../base/mixins/transition' as *;
@use '../base/vendor/rfs' as *;

//
// General form controls (plus a few specific high-level interventions)
//

// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

.form-control-plaintext {
  border: 0;
  --#{$prefix}form-control-border-color: transparent;
  --#{$prefix}form-control-border-radius: 0;
  --#{$prefix}form-control-background-color: transparent;
  --#{$prefix}form-control-spacing: 0;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  & + label {
    cursor: text;
  }
}

// BI form control
.form-control {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 45px 20px;

  &:disabled {
    cursor: not-allowed;
    background: var(--#{$prefix}color-background-disabled);
    border: 0;
    color: var(--#{$prefix}color-text-disabled);
  }
}

// Form control sizing
//

.form-control-sm {
  --#{$prefix}form-control-spacing: var(--#{$prefix}spacing-xxs) var(--#{$prefix}spacing-3xs);
  --#{$prefix}form-control-font-size: var(--#{$prefix}label-font-size);

  &::file-selector-button {
    padding: $input-padding-y-sm $input-padding-x-sm;
    margin: (-$input-padding-y-sm) (-$input-padding-x-sm);
    margin-inline-end: $input-padding-x-sm;
  }
}

.form-control-lg {
  --#{$prefix}form-control-font-size: var(--#{$prefix}lead-font-size);

  &::file-selector-button {
    padding: $input-padding-y-lg $input-padding-x-lg;
    margin: (-$input-padding-y-lg) (-$input-padding-x-lg);
    margin-inline-end: $input-padding-x-lg;
  }
}

// Make sure textareas don't shrink too much when resized
// https://github.com/twbs/bootstrap/pull/29124
// stylelint-disable selector-no-qualifying-type

textarea {
  &.form-control {
    min-height: $input-height;
    border: 1px solid $input-border;
  }

  &.form-control-sm {
    min-height: $input-height-sm;
  }

  &.form-control-lg {
    min-height: $input-height-lg;
  }
}
// stylelint-enable selector-no-qualifying-type

.form-control-color {
  width: $form-color-width;
  height: $input-height;
  padding: $input-padding-y;

  &:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::-moz-color-swatch {
    border: 0 !important; // stylelint-disable-line declaration-no-important
    @include border-radius($input-border-radius);
  }

  &::-webkit-color-swatch {
    @include border-radius($input-border-radius);
  }

  &.form-control-sm {
    height: $input-height-sm;
  }
  &.form-control-lg {
    height: $input-height-lg;
  }
}
