@use '../base/config' as *;
@use '../base/variables' as *;
@use '../base/mixins/breakpoints' as *;

.input-number {
  position: relative;

  &.input-number-adaptive {
    width: fit-content;
    input[type='number'] {
      width: auto;
      transition: all va(--#{$prefix}transition-instant);
    }
  }

  //reset input style
  input[type='number'] {
    appearance: textfield;
    border-top-right-radius: var(--#{$prefix}form-control-border-radius) !important;
    border-bottom-right-radius: var(--#{$prefix}form-control-border-radius) !important;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &::-ms-clear {
      display: none;
    }

    // Apply the border when not disabled - avoid specific styling for disabled inputs
    &:not(:disabled) {
      border-left: 1px solid var(--#{$prefix}form-control-border-color);
    }

    &[readonly] ~ .input-group-text {
      .input-number-add,
      .input-number-sub {
        display: none;
      }
    }
  }

  //disabled version
  &.disabled {
    button {
      display: none;
      pointer-events: none;
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  //add + sub buttons
  .input-group-text.align-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    padding-right: var(--#{$prefix}form-control-spacing);
    // border-left: 0;
    // border-right-width: 1px;
    border: none;
    background: transparent;

    .is-invalid + & {
      bottom: 0;
    }
  }

  .input-group-text button {
    position: relative;
    transition: opacity 0.1s;
    padding: 0;
    border: none;
    height: 50%;
    width: 16px;
    background: transparent;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:focus,
    &:hover {
      &.input-number-add {
        &:after {
          border-color: transparent transparent var(--#{$prefix}form-control-border-color) transparent;
        }
      }
      &.input-number-sub {
        &:after {
          border-color: var(--#{$prefix}form-control-border-color) transparent transparent transparent;
        }
      }
    }
    &:focus:not([data-focus-mouse='true']) {
      opacity: 1;
    }

    &.input-number-add {
      &:after {
        border-width: 0 5px 6px 5px;
        border-color: transparent transparent var(--#{$prefix}form-control-border-color) transparent;
      }
    }
    &.input-number-sub {
      &:after {
        border-width: 6px 5px 0 5px;
        border-color: var(--#{$prefix}form-control-border-color) transparent transparent transparent;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

// Reset border when input is prepended with input-group-text
input[type='number'] {
  .input-number .input-group-text + & {
    border-left: 0;
  }
}

//Desktop
@include media-breakpoint-up(xl) {
  .input-number {
    //add + sub buttons
    button {
      opacity: 0;
    }
    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}
