@use '../config' as *;
@use '../variables' as *;

@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value !important;
    @if $link-shade-percentage != 0 {
      &:hover,
      &:focus {
        @if color-contrast($value) == $color-contrast-light {
          color: shade-color($value, $link-shade-percentage) !important; // stylelint-disable-line declaration-no-important
        } @else {
          color: tint-color($value, $link-shade-percentage) !important; // stylelint-disable-line declaration-no-important
        }
      }
    }
  }
}
