:focus:not(.focus--mouse),
%focus {
  border-color: $focus-outline-color-out !important;
  box-shadow: 0 0 0 2px $focus-outline-color-in, 0 0 0 5px $focus-outline-color-out;
  outline: 3px solid transparent;
  outline-offset: 3px;
}

p a:focus:not(.focus--mouse) {
  outline-offset: 0px;
  outline: 3px $focus-outline-color-out solid;
  background: $focus-outline-color-in;
  box-shadow: none;
  color: $link-color !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
  box-shadow: none;
}

.focus--mouse:not(.btn),
%focusmouse {
  border-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}
