$icon-colors: (
  primary: var(--#{$prefix}icon-primary),
  secondary: var(--#{$prefix}icon-secondary),
  success: var(--#{$prefix}icon-success),
  warning: var(--#{$prefix}icon-warning),
  danger: var(--#{$prefix}icon-danger),
  inverse: var(--#{$prefix}icon-inverse),
  light: var(--#{$prefix}icon-inverse),
  disabled: var(--#{$prefix}icon-disabled),
);

.icon {
  width: var(--#{$prefix}icon-size-m);
  height: var(--#{$prefix}icon-size-m);
  fill: var(--#{$prefix}icon-default);
  vertical-align: middle;

  &.icon-padded {
    margin: 8px;
  }

  &.icon-xs {
    width: var(--#{$prefix}icon-size-xs);
    height: var(--#{$prefix}icon-size-xs);
    &.icon-padded {
      margin: 4px;
    }
  }

  &.icon-sm {
    width: var(--#{$prefix}icon-size-s);
    height: var(--#{$prefix}icon-size-s);
    &.icon-padded {
      margin: 6px;
    }
  }

  &.icon-lg {
    width: var(--#{$prefix}icon-size-l);
    height: var(--#{$prefix}icon-size-l);
    &.icon-padded {
      margin: 12px;
    }
  }

  &.icon-xl {
    width: var(--#{$prefix}icon-size-xl);
    height: var(--#{$prefix}icon-size-xl);
    &.icon-padded {
      margin: 16px;
    }
  }
}

// Force color when icon-color class is explicitly used
@each $icon-color, $icon-color-value in $icon-colors {
  .icon-#{$icon-color} {
    fill: $icon-color-value;
  }
}
