.header {
  padding: 3rem 0;
}

section {
  padding: 20px 0;
}

.footer a {
  color: #333;
  text-decoration: underline;
}

.footer .list-group-item {
  background: transparent;
  border-color: #FFF;
}

/*codice da eiminare dopo merge con branch "Dropdown"*/
.dropdown-menu.full-width {  
  width: 100%;      
}

.dropdown-menu.full-width .dropdown-item {
  display: inline-block;
  width: auto;
}   

.dropdown-menu.full-width .dropdown-item:hover,
.dropdown-menu.full-width .dropdown-item:focus {
  background: none;
  text-decoration: underline;
}
/**/