{%- assign rows = site.data.color-vars[include.category] -%}
<div class="table-responsive mb-4">
  <table class="table table-cols-preview">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Esempio del colore</th>
        <th>Utilizzo</th>
      </tr>
    </thead>
    <tbody>
      {%- for row in rows -%}
      <tr>
        <td><code>{{ row.var }}</code></td>
        <td>{% include color-swatch.html var=row.var type=row.swatch %}</td>
        <td>{{ row.usage }}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
