<nav class="navbar-institutional navbar navbar-expand-lg navbar-dark py-1 px-3">
  <div>
    <a class="navbar-brand me-0" href="https://innovazione.gov.it/">Dipartimento <span class="d-none d-lg-inline">per la Trasformazione </span>Digitale</a>
    <span class="text-white"> + </span>
    <a class="navbar-brand" href="http://agid.gov.it/">AgID</a>
  </div>
  <!-- <button
    class="btn btn-xs d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarsTop"
    aria-controls="navbarsTop"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="text-white">Link Utili <svg class="icon icon-xs icon-inverse"><use href="{{ site.baseurl }}/dist/svg/sprites.svg#it-expand"></use></svg></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarsTop">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link text-decoration-none" href="https://pianotriennale-ict.italia.it/">Piano Triennale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://developers.italia.it/">Developers</a>
      </li>
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link text-decoration-none" href="http://designers.italia.it/">Designers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://forum.italia.it/">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://docs.italia.it/">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://github.com/italia/">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
