<nav class="navbar-institutional navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">AgID   +   Team <span class="d-none d-lg-inline">per la Trasformazione </span>Digitale</a>
  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link" href="#">Piano Triennale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Developers</a>
      </li>
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link" href="#">Designers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
