<nav class="navbar-institutional navbar navbar-expand-lg navbar-dark py-1 px-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsTop" aria-controls="navbarsTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <a class="navbar-brand text-decoration-none" href="http://www.agid.gov.it/">AgID</a>
    <span class="navbar-brand text-white"> + </span>
    <a class="navbar-brand text-decoration-none" href="https://teamdigitale.governo.it/">Team <span class="d-none d-lg-inline">per la Trasformazione </span>Digitale</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarsTop">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link text-decoration-none" href="https://pianotriennale-ict.italia.it/">Piano Triennale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://developers.italia.it/">Developers</a>
      </li>
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link text-decoration-none" href="http://designers.italia.it/">Designers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://forum.italia.it/">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://docs.italia.it/">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="https://github.com/italia/">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
