<nav class="collapse bd-links" id="bd-docs-nav">
  {%- assign page_slug = page.url | split: '/' | last -%}


  <div class="sidebar-wrapper">
    <h3 class="no_toc">Documentazione</h3>
    <div class="sidebar-linklist-wrapper">
      <div class="link-list-wrapper">
        <ul class="link-list">
          {%- for group in site.data.nav -%}
            {%- assign link = group.pages | first -%}
            {%- assign link_slug = link.title | slugify -%}
            {%- assign group_slug = group.title | slugify -%}
            {%- assign active = nil -%}
            {%- assign expanded = 'false' -%}

            {%- if page.group == group_slug -%}
            {%- assign active = 'active' -%}
            {%- assign expanded = 'true' -%}
            {%- endif -%}
            <li>
              {% if group.pages == nil %}
                <a class="list-item active" href="{{ site.baseurl }}/docs/{{ group_slug }}/"><span>{{ group.title }}</span></a>
              {% else %}
              <!-- One:usare ID -->
              <a class="list-item large medium right-icon {% unless active == nil %}active{% endunless %}" href="#collapse-{{ forloop.index }}" data-toggle="collapse" aria-expanded="{{expanded}}" aria-controls="collapse-{{ forloop.index }}">
                <span>{{ group.title }}</span>
                <svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-expand"></use></svg>
              </a>
              <ul class="link-sublist collapse {% unless active == nil %}show{% endunless %}" id="collapse-{{ forloop.index }}">
                {%- for doc in group.pages -%}
                  {%- assign doc_slug = doc.title | slugify -%}
                  {%- assign active = nil -%}

                  {%- if page.group == group_slug and page_slug == doc_slug -%}
                  {%- assign active = 'active' -%}
                  {%- endif -%}
                  <li>
                    <a class="list-item {% unless active == nil %} {{ active }}{% endunless %}" href="{{ site.baseurl }}/docs/{{ group_slug }}/{{ doc_slug }}/">
                      <span>{{ doc.title }}</span>
                      {%- if doc.status %}<span class="badge badge-secondary text-white">{{ doc.status }}</span>{%- endif -%}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</nav>
