<!-- Favicons -->
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="icon" href="{{ site.baseurl }}/docs/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="{{ site.baseurl }}/docs/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="mask-icon" href="{{ site.baseurl }}/docs/assets/img/favicons/safari-pinned-tab.svg" color="#0066CC">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/docs/assets/img/favicons/apple-touch-icon.png">
{% if site.environment == "production" %}
<link rel="manifest" href="{{ site.baseurl }}/docs/assets/img/favicons/manifest.webmanifest">
<meta name="msapplication-config" content="{{ site.baseurl }}/docs/assets/img/favicons/browserconfig.xml">
{% endif %}
<meta name="theme-color" content="#0066CC">
