<footer class="bd-footer text-muted">
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="px-2 py-3">
            <a href="{{ site.authors_agid_url }}" target="_blank">
              <img src="{{ site.baseurl }}/docs/assets/img/icons/logo-agid.svg" alt="{{ site.authors_agid }}" height="36" style="max-width: 100%" />
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex">
          <div class="px-2 py-2">
            <a href="{{ site.authors_url }}" target="_blank">
              <img src="{{ site.baseurl }}/docs/assets/img/icons/logo-team-digitale-full.svg" alt="{{ site.authors }}" height="48" />
            </a>
          </div>
        </div>
        <div class="footer-social col-12 col-md-4 text-white text-right pt-2">
          <span class="d-none d-sm-inline">Seguici su Designers Italia: <br/></span>
          <a class="p-2 text-white" href="https://designers.italia.it/" title="Sito di Designers Italia" target="_blank"><svg class="icon icon-sm icon-light align-top"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-designers-italia"></use></svg><span class="sr-only">Sito di Designers Italia</span></a>
          <a class="p-2 text-white" href="https://twitter.com/DesignersITA" title="Designers Italia - Twitter" target="_blank"><svg class="icon icon-sm icon-light align-top"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-twitter"></use></svg><span class="sr-only">Designers Italia - Twitter</span></a>
          <a class="p-2 text-white" href="https://medium.com/designers-italia" title="Designers Italia - Medium" target="_blank"><svg class="icon icon-sm icon-light align-top"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-medium"></use></svg><span class="sr-only">Designers Italia - Medium</span></a>
          <a class="p-2 text-white" href="https://behance.net/italia" title="Designers Italia - Behance" target="_blank"><svg class="icon icon-sm icon-light align-top"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-behance"></use></svg><span class="sr-only">Designers Italia - Behance</span></a>
        </div>
      </div>
    </div>
    <div class="row py-4 border-white border-top">
      <ul class="col list-inline small">
        <li class="list-inline-item px-1">
          <a href="{{ site.developers }}/it/privacy-policy/" class="small-prints font-weight-bold text-decoration-none">Privacy Policy</a>
        </li>
        <li class="list-inline-item px-1">
          <a href="{{ site.developers }}/it/note-legali/" class="small-prints font-weight-bold text-decoration-none">Note Legali</a>
        </li>
        <li class="list-inline-item px-1">
          <a href="{{ site.baseurl }}/docs/informazioni/" class="small-prints font-weight-bold text-decoration-none">Informazioni</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
