{% assign buildTime =  site.time | date: '%Y%m%d%H%M' %}

<script>window.__PUBLIC_PATH__ = "{{ site.baseurl }}/dist/fonts"</script>

<script src="{{ site.baseurl }}/dist/js/bootstrap-italia.bundle.min.js?{{ buildTime }}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha256-+u54FaX9J+k40eAcg5K2YzICSQjrEYBI9gju5nE3HfY=" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/docs/assets/dist/js/docs.min.js?{{ buildTime }}"></script>


<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script>
  var manifest = [
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-1.png", id:"cover-1"},
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-2.png", id:"cover-2"},
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-3.png", id:"cover-3"},
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-4.png", id:"cover-4"},
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-5.png", id:"cover-5"},
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-6.png", id:"cover-6"},
    {src:"{{ site.baseurl }}/docs/assets/img/cover/cover-animation-7.png", id:"cover-7"}
  ];
</script>
<script src="{{ site.baseurl }}/docs/assets/dist/js/cover-animation.min.js?{{ buildTime }}"></script>

{%- if page.layout == "docs" -%}
{% comment %}La ricerca è gestita con Algolia DocSearch https://github.com/algolia/docsearch{% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.2/dist/cdn/docsearch.min.js"></script>
<script>
  docsearch({
    apiKey: 'a755e381c276458251a59282bae6ee93',
    indexName: 'bootstrap_italia',
    inputSelector: '#search-input',
    handleSelected: function (input, event, suggestion) {
      var url = suggestion.url;
      url = suggestion.isLvl1 ? url.split('#')[0]: url;
      // If it's a title we remove the anchor so it does not jump.
      window.location.href = url;
    },
    debug: false // Set debug to true if you want to inspect the dropdown
  });
</script>
{%- endif -%}
