<tr>
  <td>getInstance</td>
  <td>Metodo statico che consente di ottenere l'istanza di avviso associata a un elemento DOM, è possibile utilizzarlo in questo modo: {{include.class}}.getInstance(domElement).</td>
</tr>
<tr>
  <td>getOrCreateInstance</td>
  <td>Metodo statico che restituisce un'istanza di avviso associata a un elemento DOM o ne crea una nuova nel caso in cui non fosse stata inizializzata. Puoi utilizzarla in questo modo: {{include.class}}.getOrCreateInstance(element).</td>
</tr>
<tr>
  <td>dispose</td>
  <td>Rimuove la funzionalità {{include.class}}.</td>
</tr>
