<footer class="it-footer mt-5" id="piede">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="/test/" data-focus-mouse="false">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="/dist/svg/sprites.svg#it-designers-italia"></use>
                </svg>
                <div class="it-brand-text">
                  <h2>Design system .italia agli Accessibility Days 2025</h2>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section aria-labelledby="link-utili" class="py-4 border-white border-top">
        <h3 id="link-utili" class="visually-hidden">Link utili</h3>
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4>Rimaniamo in contatto</h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="https://designers.italia.it/#iscrivitiNewsletter">Iscriviti alla mailing
                    list</a></li>
                <li><a class="list-item" href="https://designers.italia.it/progetto/contatti/">Scopri i nostri contatti
                    sul sito</a></li>
                <li>
                  <a class="list-item" href="https://designers.italia.it/design-system/come-contribuire/">Approfondisci
                    come contribuire al design system</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 pb-2">
            <div class="pb-2">
              <h4>Approfondisci</h4>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  <li>
                    <a class="list-item" href="https://designers.italia.it/">Il sito del progetto Designers
                      Italia</a>
                  </li>
                  <li>
                    <a class="list-item" href="https://designers.italia.it/design-system/come-iniziare/">La
                      documentazione
                      di design system .italia</a>
                  </li>
                  <li>
                    <a class="list-item" href="https://designers.italia.it/design-system/fondamenti/accessibilita/">Il
                      fondamento accessibilità</a>
                  </li>
                  <li>
                    <a class="list-item" href="https://italia.github.io/bootstrap-italia/">La documentazione
                      di Bootstrap Italia</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <!-- <h3 class="visually-hidden">Sezione Link Utili</h3> -->
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item text-white">Questo è un sito temporaneo per svolgere test e verifiche di
          accessibilità durante gli Accessibility Days 2025. <span lang="en">Be kind!</span></li>
      </ul>
    </div>
  </div>
</footer>

<a href="#" aria-label="Torna all'inizio della pagina" class="back-to-top" data-focus-mouse="false"
  data-bs-toggle="backtotop"><svg role="img" class="icon icon-light">
    <use href="/dist/svg/sprites.svg#it-arrow-up"></use>
  </svg></a>