@use 'sass:meta';
@use 'config' as *;
@use 'variables' as *;
@use 'functions' as *;
@use 'maps' as *;
@use 'vendor/rfs' as *;

// Design Tokens Italia tokens - Design Tokens Italia is a collection of design tokens 
// that can be used in any project. It includes a wide range of tokens for colors, 
// typography, spacing, and more. By referencing these tokens in --bsi custom properties, 
// we can ensure that our custom properties are always in sync with the latest design tokens.
@use 'design-tokens-italia/dist/scss/_variables.scss' as tokens;

:root {
  // Note: Custom variable values only support SassScript inside `#{}`.

  // @each $color, $value in $colors {
  //   --#{$prefix}#{$color}: #{$value};
  // }

  @each $color, $value in $grays {
    --#{$prefix}gray-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }

  // --#{$prefix}white-rgb: #{to-rgb($white)};
  // --#{$prefix}black-rgb: #{to-rgb($black)};
  // --#{$prefix}body-color-rgb: #{to-rgb($body-color)};
  // --#{$prefix}body-bg-rgb: #{to-rgb($body-bg)};

  // Fonts

  // Note: Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172 
  // XXX TO DO double check if these are still needed with the new tokens structure
  // --#{$prefix}font-sans-serif: #{meta.inspect($font-family-sans-serif)};
  // --#{$prefix}font-monospace: #{meta.inspect($font-family-monospace)};
  // --#{$prefix}gradient: #{$gradient};

  // Root and body
  // @if $font-size-root != null {
  //   --#{$prefix}root-font-size: #{$font-size-root};
  // }
  // --#{$prefix}body-font-family: #{$font-family-base};
  // @include rfs($font-size-base, --#{$prefix}body-font-size);
  // --#{$prefix}body-font-weight: #{$font-weight-base};
  // --#{$prefix}body-line-height: #{$line-height-base};
  // --#{$prefix}body-color: #{$body-color};
  // @if $body-text-align != null {
  //   --#{$prefix}body-text-align: #{$body-text-align};
  // }
  // --#{$prefix}body-bg: #{$body-bg};
  // --#{$prefix}border-width: #{$border-width};
  // --#{$prefix}border-style: #{$border-style};
  // --#{$prefix}border-color: #{$border-color};
  // --#{$prefix}border-color-translucent: #{$border-color-translucent};
  // --#{$prefix}border-radius: #{$border-radius};
  // --#{$prefix}border-radius-sm: #{$border-radius-sm};
  // --#{$prefix}border-radius-lg: #{$border-radius-lg};
  // --#{$prefix}border-radius-xl: #{$border-radius-xl};
  // --#{$prefix}border-radius-2xl: #{$border-radius-2xl};
  // --#{$prefix}border-radius-pill: #{$border-radius-pill};

  // ----------------------------------------------------------- //

  // Theme colors
  --#{$prefix}theme-primary: #{$it-theme-italia-base}; // Theme primary color
  --#{$prefix}theme-primary-light: #{$it-theme-italia-light};
  --#{$prefix}theme-primary-lighter: #{$it-theme-italia-lighter};
  --#{$prefix}theme-primary-subtle: #{$it-theme-italia-subtle};
  --#{$prefix}theme-primary-muted: #{$it-theme-italia-muted};
  --#{$prefix}theme-primary-deep: #{$it-theme-italia-deep};

  // Spacing
  --#{$prefix}spacing-3xl: #{$it-spacing-3xl}; // equal to 6rem (96px)
  --#{$prefix}spacing-xxl: #{$it-spacing-xxl}; // equal to 3rem (48px)
  --#{$prefix}spacing-xl: #{$it-spacing-xl}; // equal to 2.5rem (40px)
  --#{$prefix}spacing-l: #{$it-spacing-l}; // equal to 2rem (32px)
  --#{$prefix}spacing-m: #{$it-spacing-m}; // equal to 1.5rem (24px)
  --#{$prefix}spacing-s: #{$it-spacing-s}; // equal to 1rem (16px)
  --#{$prefix}spacing-xs: #{$it-spacing-xs}; // equal to 0.75rem (12px)
  --#{$prefix}spacing-xxs: #{$it-spacing-xxs}; // equal to 0.5rem (8px)
  --#{$prefix}spacing-3xs: #{$it-spacing-3xs}; // equal to 0.25rem (4px)
  --#{$prefix}heading-spacing: #{$it-spacing-s};
  --#{$prefix}paragraph-spacing: #{$it-spacing-m};

  // Typography
  --#{$prefix}font-mono: #{$it-font-mono};
  --#{$prefix}font-serif: #{$it-font-serif};
  --#{$prefix}font-sans: 'Titillium Web', 'Titillium Sans Pro', #{$it-font-sans};
  --#{$prefix}font-weight-strong: #{$it-font-weight-bold};
  --#{$prefix}font-weight-solid: #{$it-font-weight-semibold};
  --#{$prefix}font-weight-base: #{$it-font-weight-regular};
  --#{$prefix}font-weight-thin: #{$it-font-weight-light};
  --#{$prefix}font-size-11: #{$it-font-size-11};
  --#{$prefix}font-size-10: #{$it-font-size-10};
  --#{$prefix}font-size-9: #{$it-font-size-9};
  --#{$prefix}font-size-8: #{$it-font-size-8};
  --#{$prefix}font-size-7: #{$it-font-size-7};
  --#{$prefix}font-size-6: #{$it-font-size-6};
  --#{$prefix}font-size-5: #{$it-font-size-5};
  --#{$prefix}font-size-4: #{$it-font-size-4};
  --#{$prefix}font-size-3: #{$it-font-size-3};
  --#{$prefix}font-size-2: #{$it-font-size-2};
  --#{$prefix}font-size-1: #{$it-font-size-1};
  --#{$prefix}font-leading-5: #{$it-font-leading-5};
  --#{$prefix}font-leading-4: #{$it-font-leading-4};
  --#{$prefix}font-leading-3: #{$it-font-leading-3};
  --#{$prefix}font-leading-2: #{$it-font-leading-2};
  --#{$prefix}font-leading-1: #{$it-font-leading-1};
  --#{$prefix}font-tracking-normal: #{$it-font-tracking-normal};
  --#{$prefix}font-tracking-tight: #{$it-font-tracking-tight};
  --#{$prefix}font-tracking-narrow: #{$it-font-tracking-narrow};
  --#{$prefix}font-tracking-short: #{$it-font-tracking-short};
  --#{$prefix}display-font-size: #{$it-font-size-11};
  --#{$prefix}heading-6-font-size: #{$it-heading-6-font-size};
  --#{$prefix}heading-5-font-size: #{$it-heading-5-font-size};
  --#{$prefix}heading-4-font-size: #{$it-heading-4-font-size};
  --#{$prefix}heading-3-font-size: #{$it-heading-3-font-size};
  --#{$prefix}heading-2-font-size: #{$it-heading-2-font-size};
  --#{$prefix}heading-1-font-size: #{$it-heading-1-font-size};
  --#{$prefix}heading-font-weight: #{$it-heading-font-weight};
  --#{$prefix}heading-font-weight-weak: #{$it-heading-font-weight-weak};
  --#{$prefix}heading-leading: #{$it-heading-leading};
  --#{$prefix}body-font-size: #{$it-body-font-size};
  --#{$prefix}body-leading: #{$it-body-leading};
  --#{$prefix}body-font-weight: #{$it-body-font-weight};
  --#{$prefix}lead-font-size: #{$it-lead-font-size};
  --#{$prefix}lead-leading: #{$it-lead-leading};
  --#{$prefix}lead-font-weight: #{$it-lead-font-weight};
  --#{$prefix}caption-font-size: #{$it-caption-font-size};
  --#{$prefix}caption-leading: #{$it-caption-leading};
  --#{$prefix}caption-font-weight-regular: #{$it-caption-font-weight-regular};
  --#{$prefix}caption-font-weight-semibold: #{$it-caption-font-weight-semibold};
  --#{$prefix}label-font-size: #{$it-label-font-size};
  --#{$prefix}label-font-size-s: #{$it-label-font-size-s};
  --#{$prefix}label-font-size-xs: #{$it-label-font-size-xs};
  --#{$prefix}label-font-size-l: #{$it-label-font-size-l};
  --#{$prefix}label-leading: #{$it-label-leading};

  // Typography responsive properties
  @include media-breakpoint-up(sm) {
    --#{$prefix}heading-1-font-size: #{$it-heading-1-font-size-l};
    --#{$prefix}heading-2-font-size: #{$it-heading-2-font-size-l};
    --#{$prefix}heading-3-font-size: #{$it-heading-3-font-size-l};
    --#{$prefix}heading-4-font-size: #{$it-heading-4-font-size-l};
    --#{$prefix}heading-5-font-size: #{$it-heading-5-font-size-l};
    --#{$prefix}heading-6-font-size: #{$it-heading-6-font-size-l};
    --#{$prefix}lead-font-size: #{$it-lead-font-size-l};
    --#{$prefix}body-font-size: #{$it-body-font-size-l};
  }

  // Icons
  --#{$prefix}icon-size-xl: #{$it-icon-size-xl};
  --#{$prefix}icon-size-l: #{$it-icon-size-l};
  --#{$prefix}icon-size-m: #{$it-icon-size-m};
  --#{$prefix}icon-size-s: #{$it-icon-size-s};
  --#{$prefix}icon-size-xs: #{$it-icon-size-xs};

  // Border
  --#{$prefix}border-broad: #{$it-border-broad};
  --#{$prefix}border-thick: #{$it-border-thick};
  --#{$prefix}border-double: #{$it-border-double};
  --#{$prefix}border-base: #{$it-border-base};
  --#{$prefix}radius-rounded: #{$it-radius-rounded};
  --#{$prefix}radius-circle: #{$it-radius-circle};
  --#{$prefix}radius-smooth: #{$it-radius-smooth};

  // Sizing
  --#{$prefix}sizing-full: #{$it-sizing-full};
  --#{$prefix}sizing-two-thirds: #{$it-sizing-two-thirds};
  --#{$prefix}sizing-half: #{$it-sizing-half};
  --#{$prefix}sizing-quarter: #{$it-sizing-quarter};

  // Shadow
  --#{$prefix}elevation-high: #{$it-elevation-high};
  --#{$prefix}elevation-medium: #{$it-elevation-medium};
  --#{$prefix}elevation-low: #{$it-elevation-low};

  // Text colors
  --#{$prefix}color-text-accent: #{$it-color-text-accent};
  --#{$prefix}color-text-inverse: #{$it-color-text-inverse};
  --#{$prefix}color-text-danger-active: #{$it-color-text-danger-active};
  --#{$prefix}color-text-danger-hover: #{$it-color-text-danger-hover};
  --#{$prefix}color-text-danger: #{$it-color-text-danger};
  --#{$prefix}color-text-warning-active: #{$it-color-text-warning-active};
  --#{$prefix}color-text-warning-hover: #{$it-color-text-warning-hover};
  --#{$prefix}color-text-warning: #{$it-color-text-warning};
  --#{$prefix}color-text-success-active: #{$it-color-text-success-active};
  --#{$prefix}color-text-success-hover: #{$it-color-text-success-hover};
  --#{$prefix}color-text-success: #{$it-color-text-success};
  --#{$prefix}color-text-disabled: #{$it-color-text-disabled};
  --#{$prefix}color-text-muted: #{$it-color-text-muted};
  --#{$prefix}color-text-secondary: #{$it-color-text-secondary};
  --#{$prefix}color-text-primary: #{$it-color-text-primary};
  --#{$prefix}color-text-base: #{$it-color-text-base};
  --#{$prefix}color-code: #{$it-color-text-secondary};
  --#{$prefix}color-link: #{$it-color-link-base};
  --#{$prefix}color-link-hover: #{$it-color-link-hover};
  --#{$prefix}color-link-active: #{$it-color-link-active};
  --#{$prefix}color-link-secondary: #{$it-color-link-secondary};
  --#{$prefix}color-link-secondary-hover: #{$it-color-link-secondary-hover};
  --#{$prefix}color-link-secondary-active: #{$it-color-link-secondary-active};
  --#{$prefix}color-link-inverse: #{$it-color-link-inverse};
  --#{$prefix}color-link-disabled: #{$it-color-link-disabled};
  --#{$prefix}color-link-accent: #{$it-color-link-accent};
  --#{$prefix}color-link-accent-hover: #{$it-color-link-accent-hover};

  // Border colors
  --#{$prefix}color-border-danger-active: #{$it-color-border-danger-active};
  --#{$prefix}color-border-danger-hover: #{$it-color-border-danger-hover};
  --#{$prefix}color-border-danger: #{$it-color-border-danger};
  --#{$prefix}color-border-warning-active: #{$it-color-border-warning-active};
  --#{$prefix}color-border-warning-hover: #{$it-color-border-warning-hover};
  --#{$prefix}color-border-warning: #{$it-color-border-warning};
  --#{$prefix}color-border-success-active: #{$it-color-border-success-active};
  --#{$prefix}color-border-success-hover: #{$it-color-border-success-hover};
  --#{$prefix}color-border-success: #{$it-color-border-success};
  --#{$prefix}color-border-subtle: #{$it-color-border-subtle};
  --#{$prefix}color-border-disabled: #{$it-color-border-disabled};
  --#{$prefix}color-border-inverse: #{$it-color-border-inverse};
  --#{$prefix}color-border-secondary-active: #{$it-color-border-secondary-active};
  --#{$prefix}color-border-secondary-hover: #{$it-color-border-secondary-hover};
  --#{$prefix}color-border-secondary: #{$it-color-border-secondary};
  --#{$prefix}color-border-primary-active: #{$it-color-border-primary-active};
  --#{$prefix}color-border-primary-hover: #{$it-color-border-primary-hover};
  --#{$prefix}color-border-primary: #{$it-color-border-primary};
  --#{$prefix}color-outline-focus: #{$it-color-outline-focus};

  // Background colors
  --#{$prefix}color-background-primary: #{$it-color-background-primary};
  --#{$prefix}color-background-primary-lighter: #{$it-color-background-primary-lighter};
  --#{$prefix}color-background-primary-light: #{$it-color-background-primary-light};
  --#{$prefix}color-background-primary-deep: #{$it-color-background-primary-deep};
  --#{$prefix}color-background-primary-muted: #{$it-color-background-primary-muted};
  --#{$prefix}color-background-primary-active: #{$it-color-background-primary-active};
  --#{$prefix}color-background-primary-hover: #{$it-color-background-primary-hover};
  --#{$prefix}color-background-danger-active: #{$it-color-background-danger-active};
  --#{$prefix}color-background-danger-hover: #{$it-color-background-danger-hover};
  --#{$prefix}color-background-danger-light: #{$it-color-background-danger-light};
  --#{$prefix}color-background-danger: #{$it-color-background-danger};
  --#{$prefix}color-background-warning-active: #{$it-color-background-warning-active};
  --#{$prefix}color-background-warning-hover: #{$it-color-background-warning-hover};
  --#{$prefix}color-background-warning-light: #{$it-color-background-warning-light};
  --#{$prefix}color-background-warning: #{$it-color-background-warning};
  --#{$prefix}color-background-success-active: #{$it-color-background-success-active};
  --#{$prefix}color-background-success-hover: #{$it-color-background-success-hover};
  --#{$prefix}color-background-success-light: #{$it-color-background-success-light};
  --#{$prefix}color-background-success: #{$it-color-background-success};
  --#{$prefix}color-background-emphasis: #{$it-color-background-emphasis};
  --#{$prefix}color-background-subtle: #{$it-color-background-subtle};
  --#{$prefix}color-background-disabled: #{$it-color-background-disabled};
  --#{$prefix}color-background-inverse: #{$it-color-background-inverse};
  --#{$prefix}color-background-inverse-hover: #{$it-color-slate-93}; // TODO: replace with semantic token
  --#{$prefix}color-background-muted: #{$it-color-background-muted};
  --#{$prefix}color-background-accent-hover: #{$it-color-background-accent-hover};
  --#{$prefix}color-background-accent: #{$it-color-background-accent};
  --#{$prefix}color-background-secondary-lighter: #{$it-color-background-secondary-lighter};
  --#{$prefix}color-background-secondary-light: #{$it-color-background-secondary-light};
  --#{$prefix}color-background-secondary-active: #{$it-color-background-secondary-active};
  --#{$prefix}color-background-secondary-hover: #{$it-color-background-secondary-hover};
  --#{$prefix}color-background-secondary: #{$it-color-background-secondary};
  --#{$prefix}overlay-background-light: hsla(0, 0%, 0%, 0.5);
  --#{$prefix}overlay-background-primary: hsla(210, 100%, 40%, 0.8);
  --#{$prefix}overlay-background-primary-muted: hsla(210, 54%, 20%, 0.8);
  --#{$prefix}highlight-background: #{$it-color-teal-80}; // TODO: replace with semantic token
  --#{$prefix}code-background: #{$it-color-background-muted};
  --#{$prefix}ins-background: #{$it-color-emerald-67};
  --#{$prefix}del-background: #{$it-color-red-70};
  --#{$prefix}page-background: #{$it-color-background-inverse};

  // Status colors - reference the background category colors only
  --#{$prefix}color-status-danger: #{$it-color-background-danger};
  --#{$prefix}color-status-danger-hover: #{$it-color-background-danger-hover};
  --#{$prefix}color-status-danger-active: #{$it-color-background-danger-active};
  --#{$prefix}color-status-success: #{$it-color-background-success};
  --#{$prefix}color-status-success-hover: #{$it-color-background-success-hover};
  --#{$prefix}color-status-success-active: #{$it-color-background-success-active};
  --#{$prefix}color-status-info: #{$it-color-background-info};
  --#{$prefix}color-status-info-hover: #{$it-color-background-info-hover};
  --#{$prefix}color-status-info-active: #{$it-color-background-info-active};
  --#{$prefix}color-status-warning: #{$it-color-background-warning};
  --#{$prefix}color-status-warning-hover: #{$it-color-background-warning-hover};
  --#{$prefix}color-status-warning-active: #{$it-color-background-warning-active};

  // Icons colors
  --#{$prefix}icon-danger-active: #{$it-icon-danger-active};
  --#{$prefix}icon-danger-hover: #{$it-icon-danger-hover};
  --#{$prefix}icon-danger: #{$it-icon-danger};
  --#{$prefix}icon-warning-active: #{$it-icon-warning-active};
  --#{$prefix}icon-warning-hover: #{$it-icon-warning-hover};
  --#{$prefix}icon-warning: #{$it-icon-warning};
  --#{$prefix}icon-success-active: #{$it-icon-success-active};
  --#{$prefix}icon-success-hover: #{$it-icon-success-hover};
  --#{$prefix}icon-success: #{$it-icon-success};
  --#{$prefix}icon-secondary-active: #{$it-icon-secondary-active};
  --#{$prefix}icon-inverse: #{$it-icon-inverse};
  --#{$prefix}icon-secondary-hover: #{$it-icon-secondary-hover};
  --#{$prefix}icon-secondary: #{$it-icon-secondary};
  --#{$prefix}icon-primary-active: #{$it-icon-primary-active};
  --#{$prefix}icon-primary-hover: #{$it-icon-primary-hover};
  --#{$prefix}icon-primary: #{$it-icon-primary};
  --#{$prefix}icon-default: #{$it-icon-default};
  --#{$prefix}icon-disabled: #{$it-icon-disabled};
  --#{$prefix}icon-spacing: #{$it-spacing-xs};

  // Transitions
  --#{$prefix}transition-instant: 0.2s;
}
