<!-- Notification per tornare alla pagina principale -->
<div class="notification dismissable with-icon" role="alert" id="notification-esempi" aria-labelledby="notification-esempi-title">
  <h5 id="notification-esempi-title">
    <svg class="icon">
      <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-info-circle"></use></svg>Esempio di utilizzo
  </h5>
  <p>
    <a href="{{ site.baseurl }}/it/kit.html#template-html">Torna alla lista dei template</a>
  </p>
  <button type="button" class="btn notification-close">
    <svg class="icon">
      <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-close"></use>
    </svg>
    <span class="sr-only">Chiudi notifica: Titolo notification</span>
  </button>
</div>

<script>
    $(document).ready(function() {
        notificationShow('notification-esempi')
    })
</script>
