@use 'src/scss/base/config' as *;
@use 'src/scss/base/variables' as *;
@use 'src/scss/base/mixins/breakpoints' as *;

:root {
  --docsearch-primary-color: #06c;
  --docsearch-muted-color: rgb(28, 30, 33);
  --docsearch-container-background: rgba(255, 255, 255, 0.8);
  --docsearch-logo-color: #06c;

  /* modal */
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: rgb(245, 246, 247);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), 0 3px 8px 0 rgba(85, 90, 100, 1);

  /* searchbox */
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: white;
  --docsearch-searchbox-focus-background: #fff;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);

  /* hit */
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: rgb(68, 73, 80);
  --docsearch-hit-active-color: #fff;
  --docsearch-hit-background: #fff;
  --docsearch-hit-shadow: 0 1px 3px 0 rgb(212, 217, 225);

  /* key */
  --docsearch-key-gradient: linear-gradient(-225deg, rgb(213, 219, 228) 0%, rgb(248, 248, 248) 100%);
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(205, 205, 230), inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
  --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 1px 0 rgba(30, 35, 90, 0.4);

  /* footer */
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 rgb(224, 227, 232), 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
}

#docsearch-input {
  border-bottom: none !important;
}

#search-input {
  display: none;
}

#docsearch-label {
  display: none;
}

.search-in-docs {
  width: 100%;
  background-color: white;
  height: 48px;
  text-align: center;
  padding: 0.6rem;

  & > a {
    height: 48px;
    min-width: 48px;
    background: #fff;
    align-items: center;
    cursor: pointer;
  }

  @include media-breakpoint-up(md) {
    background-color: $primary;
    width: auto;
    padding: 0rem;

    &--label {
      display: none;
    }
    & > a {
      border-radius: 24px;
      display: flex;
      justify-content: center;
      margin-left: 16px;
      transition: all 0.3s;
      &:hover {
        background: shade-color(white, 5%);
      }
    }
  }
}

.DocSearch-Commands {
  display: none;
}

.DocSearch-Hit-source {
  content: 'Documentazione';
}
