@use 'src/scss/base/config' as *;
@use 'src/scss/base/variables' as *;

.anchorjs-link {
  font-weight: 400;
  color: rgba($link-color, 0.5);
  transition: color 0.16s linear;
  display: inline-block;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}
