// Buttons
//
// Custom buttons for the docs.
$docs-dark:          #2a2730 !default;
$docs-download:      #ffe484 !default;

.btn-bd-primary {
  font-weight: 500;
  color: $docs-blue-bright;
  border-color: $docs-blue-bright;

  &:hover,
  &:active {
    color: #fff;
    background-color: $docs-blue-bright;
    border-color: $docs-blue-bright;
  }
}

.btn-bd-download {
  font-weight: 500;
  color: $docs-download;
  border-color: $docs-download;

  &:hover,
  &:active {
    color: $docs-dark;
    background-color: $docs-download;
    border-color: $docs-download;
  }
}
