@use 'sass:color';
@use 'src/scss/base/config' as *;
@use 'src/scss/base/variables' as *;
@use 'colors' as *;

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;

  h4 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 0.25rem;
  }

  & + .bd-callout {
    margin-top: -0.25rem;
  }
}

// Variations
@mixin bs-callout-variant($color) {
  border-left-color: color.scale($color, $lightness: -10%);
  h4 {
    color: color.scale($color, $lightness: -10%);
  }
}

.bd-callout-info {
  @include bs-callout-variant($docs-info);
}

.bd-callout-warning {
  @include bs-callout-variant($docs-warning);
  h4 {
    color: $color-text-warning;
  }
}

.bd-callout-danger {
  @include bs-callout-variant($docs-danger);
}

.bd-callout-accessibility {
  h4 {
    color: $docs-accessibility;
  }
  border-left-color: color.scale($docs-accessibility, $lightness: 10%);
}
