//
// Docs color palette classes
//

@use "sass:color";

@each $color, $value in $colors {
  .swatch-#{$color} {
    color: color-contrast($value);
    background-color: #{$value};
  }
}

@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    color: color-contrast($value);
    background-color: #{$value};
  }
}

@each $color, $value in $grays {
  .swatch-#{$color} {
    color: color-contrast($value);
    background-color: #{$value};
  }
}

$primary-bright: color.scale(color.scale($primary, $saturation: 5%), $lightness: 15%) !default;
$primary-light: color.scale(color.scale($primary, $saturation: 5%), $lightness: 45%) !default;
$docs-info: rgb(23, 50, 77) !default;
$docs-warning: rgb(255, 151, 0) !default;
$docs-danger: rgb(248, 62, 90) !default;
$docs-accessibility: rgb(11, 100, 65) !default;
$docs-dark: #3e5266 !default;
