.bd-examples {
  .img-thumbnail {
    margin-bottom: 0.75rem;
  }

  h4 {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 1.25rem;
  }

  @media (max-width: 480px) {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    & > [class^='col-'] {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }
}
