@use 'src/scss/base/mixins/breakpoints' as *;

.highlight .copy-button-container {
  position: absolute;
  right: 5px;
  top: 5px;
}

.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  position: relative;
  @include media-breakpoint-up(sm) {
    padding: 1.5rem;
  }
  pre {
    margin-bottom: 0;
    background: transparent;
    padding: 0;
    color: #fff;

    code {
      font-size: 1rem;
      color: #eee;
      background: transparent;
    }
  }
}
