.font-switcher {
  .btn {
    font-size: 0.8rem;
    border-color: #dee2e6;
  }

  .dropdown-item {
    &.active {
      background-color: var(--bs-primary);
      color: white;

      &:focus,
      &:hover {
        background-color: var(--bs-primary);
        color: white;
      }
    }
  }
}
