.bd-footer {
  background-color: var(--#{$prefix}color-background-emphasis);
  color: var(--#{$prefix}color-text-inverse);

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  .small-prints {
    color: #fff;
    text-decoration: underline;
  }
}
