@use 'src/scss/base/config' as *;
@use 'src/scss/base/variables' as *;
@use 'src/scss/base/mixins/breakpoints' as *;
@use 'colors' as *;

.bd-footer {
  background-color: $docs-dark;
  color: $white;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  .small-prints {
    color: #00fff8;
    font-weight: 600;
  }
}
