.bd-footer {
  background-color: $docs-dark;
  color: $white;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  .footer-social {
    display: none; //TODO
    a {
      font-size: 0;
    }
  }

  .small-prints {
    color: #00FFF8;
    font-weight: 600;
  }
}
