@use 'src/scss/base/config' as *;
@use 'src/scss/base/variables' as *;

// stylelint-disable selector-max-id

#skippy {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: $primary;
  outline: 0;

  .skiplink-text {
    padding: 0.5em;
    outline: 1px dotted;
  }
}
