$arrow-size: $font-size-base * 0.5;

// collapse toggle
/*.accordion-button {
  .collapse-icon::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $arrow-size solid;
    border-right: $arrow-size solid transparent;
    border-bottom: 0;
    border-left: $arrow-size solid transparent;
    vertical-align: $btn-padding-y * 0.5;
  }
  &.collapsed {
    .collapse-icon::before {
      transform: rotate(180deg);
    }
  }
}*/

//collapse wrapper
.accordion {
  border-bottom: 1px solid $gray-100;
  .accordion {
    border: 1px solid $gray-100;
    border-top: 0;
  }

  //background active version
  &.accordion-background-active {
    .accordion-header {
      .accordion-button[aria-expanded='true'] {
        background-color: $primary;
        color: $white;
        border-color: $primary;
        &:before {
          color: $white;
        }
      }
    }
  }

  //background hover version
  &.accordion-background-hover {
    .accordion-header {
      .accordion-button:hover {
        background-color: $primary;
        color: $white;
        border-color: $primary;
        &:before {
          color: $white;
        }
      }
    }
  }

  //left icon version
  &.accordion-left-icon {
    .accordion-header {
      .accordion-button {
        &:after {
          content: none;
        }
        &:before {
          font-weight: 300;
          content: '-';
          float: left;
          margin: 0 1rem 0.3333333333333333rem 0;
          width: 1.5rem;
          font-size: 1.5rem;
          line-height: 1.2rem;
          font-family: $font-family-sans-serif;
          transform: none;
        }
        &[aria-expanded='false'] {
          &:before {
            content: '+';
          }
        }
      }
    }
  }
}

//item
.accordion-item {
  border: none;
  &:first-of-type,
  &:last-of-type {
    border-radius: 0;
    .accordion-button {
      border-radius: 0;
    }
  }
}

//header
.accordion-header {
  position: relative;

  .accordion-button {
    width: 100%;
    text-align: left;
    border: 0;
    background-color: transparent;
    border-top: 1px solid $gray-100;
    box-shadow: none;
    padding: 14px 24px;
    cursor: pointer;
    color: $primary;
    font-weight: 600;
    //transition: background-color 0.1s;
    &:not(.collapsed) {
      color: $gray-secondary;
      &:after {
        transform: scaleY(1);
      }
    }
    &:not(.collapsed):hover:before,
    &[aria-expanded='true']:hover:before {
      text-decoration: none;
    }
    &:after {
      content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4xLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGl2ZWxsb18xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzAwNjZDQzt9DQo8L3N0eWxlPg0KPGcgaWQ9IkxpdmVsbG9fMTMiPg0KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMiwxMC4zbDQuOCw0LjhjMC4zLDAuMywwLjgsMC4zLDEuMSwwYzAuMy0wLjMsMC4zLTAuOCwwLTFjMCwwLDAsMCwwLDBsLTQuOC00LjhjLTAuNi0wLjYtMS41LTAuNi0yLjEsMA0KCQlMNi4yLDE0Yy0wLjMsMC4zLTAuMywwLjgsMCwxYzAsMCwwLDAsMCwwYzAuMywwLjMsMC44LDAuMywxLjEsMEwxMiwxMC4zeiIvPg0KPC9nPg0KPC9zdmc+DQo=');
      float: right;
      width: 1.5rem;
      height: auto;
      line-height: 0.1rem;
      color: $primary-c5;
      transition: transform 0.3s;
      background-image: none;
      transform: scaleY(-1);
    }
    &:hover {
      background: none;
      text-decoration: underline;
      &:after {
        text-decoration: none;
      }
    }
    &:active,
    &:hover,
    &:focus {
      border-top-color: $gray-100 !important;
    }
  }
}

// body
.accordion-body {
  padding: 12px 24px 42px;
  .accordion-header button[aria-expanded='true']:before {
    height: 0;
    width: 0;
  }
}
