// work-in-progress

$arrow-size: $font-size-base/2;

*[data-toggle="collapse"] {
  .collapse-icon::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $arrow-size solid;
    border-right: $arrow-size solid transparent;
    border-bottom: 0;
    border-left: $arrow-size solid transparent;
    vertical-align: $btn-padding-y/2;
  }
  &.collapsed {
    .collapse-icon::before {
      transform: rotate(180deg);
    }
  }
}
.collapse-div {
  border-bottom: 1px solid $gray-100;
  .collapse-div {
    border: 1px solid $gray-100;
    border-top: 0;
  }
}

.collapse-header {
  position: relative;

  *[data-toggle="collapse"] {
    width: 100%;
    text-align: left;
    border: 0;
    background-color: transparent;
    border-top: 1px solid $gray-100;
    padding: 14px 24px;
    cursor: pointer;
    color: $gray-secondary;
    font-weight: 600;
    &[aria-expanded="false"] {
      color: $primary;
      &:after {
        content: '\e818';
      }
    }
    &[aria-expanded="true"]:before {
      height: 2px;
      width: 56px;
      border-radius: 2px;
      background-color: $primary;
      position: absolute;
      top: 0;
      display: block;
      content: "";
      left: 20px;
    }
    &[aria-expanded="false"]:hover:after,
    &[aria-expanded="true"]:hover:after {
      text-decoration: none;
    }
    &:after {
      content: '\e810';
      font-family: "italia-icon-font";
      font-style: normal;
      font-weight: normal;
      float: right;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      margin-top: 5px;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
    }
    &:hover {
      background-color: #E6ECF2;
      text-decoration: underline;
    }
    &:active {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }
}
.collapse-body {
  padding: 12px 24px 42px;
  .collapse-header button[aria-expanded="true"]:before {
    height: 0;
    width: 0;
  }
}
