.cookiebar {
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  position: fixed;
  width: 100%;
  z-index: $zindex-cookiebar;

  &.cookiebar-top {
    bottom: auto;
    top: 0;
  }

  &.show {
    display: block;
  }
}
