//hover test TEMP
.dropdown.dropdown-hover:hover>.dropdown-menu {
  display: block;
}

.btn-dropdown {
  color: $italia;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  &:after {
    content:'\e818';
    font-family: "italia-icon-font";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
    speak: none;
    border: none;
    display: inline-block;
    vertical-align: 0em;
    width: auto;
    height: auto;
    transition: transform 0.2s;
  }
  //expanded
  &[aria-expanded=true] {
    &:after {
      transform: scaleY(-1);
    }
  }
}

.dropdown-menu {
  margin-top: 18px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 30px 5px rgba(0,0,0,.05);
  &.full-width {
    width: 100%;
    .dropdown-item {
      display: inline-block;
      width: auto;
      &:hover,
      &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }

  .link-list {
    margin-bottom: 0;
  }

  //notch
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 24px; 
    width: 18px; 
    height: 18px;
    border-radius: 4px;
    background-color: $dropdown-bg;
    transform: rotate(45deg);
  }

  //top position
  &[x-placement='top-start'] {
    margin-top: 0;
    margin-bottom: 18px;
    border-radius: 4px 4px 0 0;
    //notch
    &:before {
      bottom: -6px;
      top: auto;
    }
  }

  //dark version
  &.dark {
    background-color: $neutral-1-a8;
    .link-list-wrapper ul {
      span.divider {
        background: #2E465E;
      }
      li {
        a span, a:hover span, h3, i {
          color: #fff;
        }
        a:not(.active):hover i {
          color: $analogue-2-a4;
        }
        a.disabled span {
          color: $neutral-1-a4;
        }
      }
    }
    //notch
    &:before {
      background-color: $neutral-1-a8;
    }
    .dropdown-header, .dropdown-item {
      color: #fff;
    }
  }
}
.dropdown-item {
  font-size: 16px;
}
.dropdown-header {
  font-size: 18px;
}