.dropdown-menu {
  &.full-width {
    width: 100%;
    .dropdown-item {
    display: inline-block;
    width: auto;
    &:hover,
    &:focus {
      background: none;
      text-decoration: underline;
      }
    }
  }
}
.dropdown-item {
  font-size: 16px;
}
.dropdown-header {
  font-size: 18px;
}