@mixin make-variable-gutters(
  $gutter-widths: $grid-gutter-widths,
  $breakpoints: $grid-breakpoints
) {
  margin-right: ($grid-gutter-width / -2);
  margin-left: ($grid-gutter-width / -2);

  > .col,
  > [class*='col-'] {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
  }

  @each $breakpoint, $grid-gutter-width in $gutter-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      margin-right: ($grid-gutter-width / -2);
      margin-left: ($grid-gutter-width / -2);

      > .col,
      > [class*='col-'] {
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
      }
    }
  }
}

// Bootstrap Italia personalizza la griglia di Bootstrap impostando un gutter variabile se viene usato .variable-gutters
@if $enable-grid-classes {
  .row.variable-gutters {
    @include make-variable-gutters();
  }
}

.row {
  &.row-top-border {
    border-top: 1px solid $gray-border;

    & > * {
      padding-top: 4vw;
      padding-bottom: 4vw;
      border-top: 1px solid $gray-border;

      &:first-child {
        border: none;
      }

      .navbar {
        padding: 0;

        .menu-wrapper {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }

    // Desktop
    @media (min-width: #{map-get($grid-breakpoints, lg)}) {
      margin-top: 1rem;

      &.row-top-border > * {
        padding: 4vw 5vw;
        border-top: none;

        .navbar {
          .menu-wrapper {
            padding: 0;
          }
        }
      }

      &.row-column-border > * {
        border-left: 1px solid $gray-border;

        &:first-child {
          border: none;
          padding-left: 0;
        }
      }
    }

    // Large Desktop
    @media (min-width: #{map-get($grid-breakpoints, xl)}) {
      margin-top: 2rem;
    }
  }
}

// Sticky wrapper feature
.sticky-wrapper {
  &.is-sticky {
    position: fixed;

    &.navbar-wrapper {
      z-index: 1;
      left: 0;
      right: 0;
      width: auto !important;

      .navbar {
        padding-top: 4vw;
        padding-bottom: 4vw;
        border-bottom: 1px solid $gray-border;

        &.it-bottom-navscroll {
          border-top: 1px solid $gray-border;
          border-bottom: none;
        }
      }
    }

    // Desktop
    @media (min-width: #{map-get($grid-breakpoints, lg)}) {
      &.navbar-wrapper {
        z-index: auto;
        left: auto;
        right: auto;
        width: auto;

        .navbar {
          border: none;
          background-color: transparent;
          padding: 0;

          .menu-wrapper {
            padding: 0;

            .nav-link {
              padding-right: 0;
            }
          }

          &.it-bottom-navscroll {
            border: none;
          }
        }

        &.at-bottom {
          position: absolute;
          top: auto !important;
          bottom: 0;
        }
      }
    }
  }
}
