.input-number {
	position: relative;
	width: auto;

	//reset input style
	input[type="number"] {
		appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
		&::-ms-clear {
			display: none;
		}

		color: $gray-secondary;
		padding-right: 32px;
		padding-left: 10px;
		min-width: 86px !important;
		width: auto;

		&:focus {
			color: $dark;
		}
	}

	//currency + percentage version
	&.currency, &.percentage{
		&:before {
			position: absolute;
			left: 14px;
			top: 0;
			color: $gray-secondary;
			font-weight: bold;
		}
		input[type="number"] {
			padding-left: 40px;
			min-width: 116px !important;
		}
	}
	&.currency {
		&:before {
			content: '€';
		}
	}
	&.percentage {
		&:before {
			content: '%';
		}
	}

	//disabled version
	&.disabled {
		input[type="number"] {
			background-color: transparent;
			color: $neutral-1-a4;
			border-bottom-color: $neutral-1-a4;
			&:hover {
				cursor: not-allowed;
				color: $neutral-1-a4;
			}
		}
		button {
			pointer-events: none;
			&:hover {
				cursor: not-allowed;
			}
			&.add {
				&:after {
					border-color: transparent transparent $neutral-1-a4 transparent;
				}
			}
			&.sub {
				&:after {
					border-color: $neutral-1-a4 transparent transparent transparent;
				}
			}
		}
	}

	//add + sub buttons
	button {
		position: absolute;
		right: 0;
		opacity: 0;
		transition: opacity 0.1s;
		padding: 0;
		border: none;
		height: 20px;
		width: 24px;
		background: transparent;
		&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
		}
		&:focus, &:hover {
			&.add {
				&:after {
					border-color: transparent transparent $dark transparent;
				}
			}
			&.sub {
				&:after {
					border-color: $dark transparent transparent transparent;
				}
			}
		}
		&:focus {
			opacity: 1;
		}

		&.add {
			top: -8px;
			&:after {
				border-width: 0 5px 6px 5px;
				border-color: transparent transparent $gray-secondary transparent;
			}
		}
		&.sub {
			bottom: -8px;
			&:after {
				border-width: 6px 5px 0 5px;
				border-color: $gray-secondary transparent transparent transparent;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		button {
			opacity: 1;
		}
	}

}