//mobile

.search-autocomplete-icon {
  /*width: 28px;
  height: 22px;*/
  position: absolute;
  right: $v-gap*2;
  top: 1.9rem;
	z-index: 10;
	//cursor: pointer;
	svg {
    fill: $gray-secondary;
  }
}

//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) {

}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {

}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {

}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {

}