//mobile
.link-list-wrapper{
  ul{
    padding: 0;
    list-style-type: none;
    // sottolista
    &.link-sublist{
      padding-left: $link-list-h-pad;
    }
    li{
      a{
        font-size: $link-list-font-size;
        line-height: $link-list-line-height;
        display: block;
        padding: 0 $link-list-h-pad;
        position: relative;
        // hover state
        &:hover:not(.disabled){
          text-decoration: none;
          span{
            color:$color-primary;
            text-decoration: underline;
          }
          p{
            color:$color-primary;
            text-decoration: none;
          }
        }
        &.disabled:hover{
          text-decoration: none;
        }
        // weight variation
        &.medium{
          font-weight: 600;
        }
        span{
          color: $color-primary; 
          display: block;
          margin-right:$link-list-h-pad;
        }
        &.it-more{
          margin-top:$link-list-h-pad / 2; 
          span{
            display: inline;
            margin-right: 0;
          }
        }
        // icone destre dentro link
        &.right-icon{
          i.right{
            position: absolute;
            top: 0;
            right: $link-list-h-pad;
            transition : transform $dropdown-menu-animation-speed;
            &.secondary{
              color: $neutral-2-b3;
            }
          }
        }
        // variazione icone a collapse aperto
        &.right-icon[aria-expanded="true"]{
          i.right{
            transform: scaleY(-1);
          }
        }
        &.active{
          span{
            color:$neutral-1-a10;
            text-decoration: underline;
          }
        }
        &.disabled{
          cursor: not-allowed;
          span{
            color: $neutral-1-a4;
          }
          &.right-icon,&.left-icon{
            i{
              color: $neutral-1-a4;
              &.secondary{
                color: $neutral-1-a4;
              }
              
            }
          }
        }
        // icone sinistre dentro link
        &.left-icon{
          display: flex;
          i.left{
            margin-right: $link-list-left-icon-space;
          }
        }
        &.large{
          font-size: $link-list-font-size-l;
        }
        // paragrafo dentro link
        p{
          font-size: $link-list-paragraph-size;
          line-height: initial;
          color: $neutral-1-a7;
        }
        //avatar
        &.avatar{
          display: flex;
          margin-bottom: $link-list-avatar-margin;
          .avatar{
            display: block;
            border-radius: $link-list-avatar-radius;
            margin-right: $link-list-left-icon-space;
          }
        }
        
      }
      h3{
        font-size: $link-list-heading-size;
        color: $neutral-1-a10;
        padding: 0 $link-list-h-pad;
        a{
          line-height: inherit;
          font-size: 1em;
          padding: 0;
        }
      }

    }
    .divider{
      display: block;
      height: $link-list-divider-height;
      background: $neutral-1-a1;
      margin: $link-list-divider-distance 0;
    }
    //toggles
    .toggles{
      label{
        padding: 0 $link-list-h-pad;
        font-size: $link-list-font-size;
        line-height: $link-list-line-height;
        justify-content: space-between;
        height: auto;
        font-weight: inherit;
        margin:0;
      }
      input[type=checkbox]+.lever{
        margin:$link-list-toggle-margin 0 0;
      }     
    }
    

    //checkboxes
    .form-check{
      &.form-check-group{
        padding: 0 $link-list-h-pad;
        box-shadow: none;
        [type=checkbox] + label{
          padding-left: 0;
          font-size: $link-list-font-size;
          line-height: $link-list-line-height;
          height: inherit;
          margin-bottom: 0;
          &:after{
            right:$link-list-h-pad;
          }
          &:before{
            right: $link-list-checkbox-icon-right;
          }
        }
        [type=checkbox][disabled] + label{
          color: $neutral-1-a4;
        }
      }
    }
  }
}
// megamenu footer version
.navbar{
  .dropdown-menu{
    .it-megamenu-footer{
      background: $primary-a9;
      padding: $link-list-megamenu-footer-link-padding 0;
      .link-list-wrapper{
        margin-bottom:0;
        .link-list{
          li{
            a{
              &.list-item{
                span{
                  display: inline;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}

//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) { 
  .link-list-wrapper{
    ul{
      
      li{       
        a{
          &.large{
            font-size: $link-list-font-size-l;
            line-height: $link-list-line-height-l;
          }
        }
        
      }
    }
  }
}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  .link-list-wrapper{
    ul{
      
      li{
        a{
          
          &.large{
            line-height: $link-list-line-height-l;
          }
        }
      }
    }
  }
}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  // megamenu footer version
  .navbar{
    .dropdown-menu{
      .it-megamenu-footer{
        background: $link-list-megamenu-footer-bg-color;
        margin-top: $link-list-megamenu-footer-link-padding;
        margin-bottom: -$link-list-footer-distance-bottom;
        padding:0;
        .link-list-wrapper{
          .link-list{
            li{
              a{
                &.list-item{
                  padding-top: $link-list-megamenu-footer-link-padding;
                  padding-bottom: $link-list-megamenu-footer-link-padding;
                  span{
                    display: inline;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // megamenu vertical cta list
  .navbar{
    .dropdown-menu{
      .it-vertical{
        background: $link-list-megamenu-footer-bg-color;
        padding-top: $link-list-footer-distance-bottom;
        margin-top: -$link-list-footer-distance-bottom;
        margin-bottom: -$link-list-footer-distance-bottom;
        margin-right:  ($grid-gutter-width / -2);
        margin-left:  ($grid-gutter-width / -2);
        .link-list{
          li{
            a{
              display: flex;
              justify-content: space-between;
              span{
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
  
}