//mobile
.link-list-wrapper{
	ul{
		padding: 0;
		list-style-type: none;
		li{
			a{
				font-size: $link-list-font-size;
				line-height: $link-list-line-height;
				display: block;
				padding: 0 $link-list-h-pad;
				position: relative;
				span{
					color: $color-primary; 
					display: block;
					margin-right:$link-list-h-pad;
				}
				// icone destre dentro link
				&.right-icon{
					i.right{
						position: absolute;
						top: 0;
						right: $link-list-h-pad;
						&.secondary{
							color: $neutral-2-b3;
						}
					}
				}
				&.active{
					span{
						color:$neutral-1-a10;
						text-decoration: underline;
					}
				}
				&.disabled{
					cursor: not-allowed;
					span{
						color: $neutral-1-a4;
					}
					i{
						color: $neutral-1-a4;
						&.secondary{
							color: $neutral-1-a4 !important;
						}
					}
				}
				// icone sinistre dentro link
				&.left-icon{
					display: flex;
					i.left{
						margin-right: $link-list-left-icon-space;
					}
				}
				&.large{
					font-size: $link-list-font-size-l;
				}
				// paragrafo dentro link
				p{
					font-size: $link-list-paragraph-size;
					line-height: initial;
					color: $neutral-1-a7;
				}
				//avatar
				&.avatar{
					display: flex;
					margin-bottom: $link-list-avatar-margin;
					.avatar{
						display: block;
						border-radius: $link-list-avatar-radius;
						margin-right: $link-list-left-icon-space;
					}
				}
				
			}
			h3{
				font-size: $link-list-heading-size;
				color: $neutral-1-a10;
				padding: 0 $link-list-h-pad;
				a{
					line-height: inherit;
					font-size: 1em;
					padding: 0;
				}
			}

		}
		.divider{
			display: block;
			height: $link-list-divider-height;
			background: $neutral-1-a1;
			margin: $link-list-divider-distance 0;
		}
	}
	// multiline version
	.multiline{

	}
}
//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) {
	.link-list-wrapper{
		ul{
			
			li{				
				a{
					&.large{
						font-size: $link-list-font-size-l;
						line-height: $link-list-line-height-l;
					}
				}
				
			}
		}
	}
}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {
	.link-list-wrapper{
		ul{
			
			li{
				a{
					
					&.large{
						line-height: $link-list-line-height-l;
					}
				}
			}
		}
	}
}

//Hover states
@media (min-width: $grid-breakpoints-hover) {
	.link-list-wrapper{
		ul{
			
			li{
				a{
					&:hover:not(.disabled){
						text-decoration: none;
						span{
							color:$color-primary;
							text-decoration: underline;
						}
						p{
							color:$color-primary;
							text-decoration: none;
						}
					}
					&.disabled:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
	
}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
	
}