@use 'sass:math';

//Mobile
.navbar {
  .navbar-collapsable {
    .menu-wrapper {
      .nav-item {
        & > button.nav-link {
          border: none;
          display: block;
          background: none;
          color: $navigation-link-color;
          font-weight: 600;
          padding: $navigation-v-padding $navigation-h-padding;
          position: relative;

          &.dropdown-toggle {
            svg {
              fill: $navbar-bg-color;
              transition: all 0.3s;
            }

            &[aria-expanded='true'] {
              .icon {
                transform: scaleY(-1);
              }
            }
          }

          &.active {
            border-left: $navigation-link-active-bar-size solid $navigation-link-active-bar-color;
            color: $primary;
          }

          &.disabled {
            span,
            .icon {
              opacity: $navigation-disabled-item-mobile-opacity;
            }
          }

          &:hover:not(.active) {
            text-decoration: underline;
          }
        }
        &.megamenu {
          .dropdown-menu {
            .it-vertical {
              width: 100%;
              background: $color-background-primary-lighter;
              padding-top: $v-gap * 2;
              padding-bottom: $v-gap * 2;
              margin-top: $v-gap * 2;
              .link-list-wrapper {
                ul.link-list {
                  width: 100%;
                  li {
                    a {
                      display: flex;
                      justify-content: space-between;
                      span {
                        font-weight: 600;
                        display: inline-flex;
                        align-items: center;
                      }
                    }
                    .divider {
                      display: none;
                    }
                  }
                }
              }
              // description & image variation
              &.it-description {
                background: transparent;
                .description-content {
                  max-width: 480px;
                  padding-left: 48px;
                  padding-right: 48px;
                  &:before {
                    content: '';
                    display: block;
                    height: 1px;
                    width: $megamenu-link-small-line-width;
                    background: $color-border-subtle;
                    margin-bottom: $megamenu-link-small-line-margin-bottom * 2;
                  }
                  img {
                    display: block;
                    width: 100%;
                    margin-bottom: $grid-gutter-width;
                  }
                  p {
                    font-size: $megamenu-vertical-description-font-size;
                    line-height: 1.5rem;
                  }
                }
              }
            }

            // linklist specs
            .link-list-wrapper {
              margin-bottom: 0;
              ul.link-list li {
                a {
                  white-space: normal;
                  display: flex;
                  align-items: center;
                  padding: 8px 16px !important;
                }
              }
            }

            > .it-external {
              padding: 0;
            }

            .margin-right-col {
              .it-external {
                padding: 0 $grid-gutter-width * 0.5;
              }
            }

            .it-external {
              width: 100%;
            }

            .it-heading-link-wrapper {
              margin-left: 28px;
              margin-right: 28px;
              // padding-top: 24px;
              padding-bottom: 24px;
              margin-bottom: 24px;
              border-bottom: 1px solid #d9dadb !important;
              a.it-heading-link {
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 1.2;
                text-decoration: none;
                :hover {
                  text-decoration: underline;
                }
                &.active {
                  span {
                    text-decoration: underline;
                    color: var(--color-primary-active);
                  }
                }
              }
            }

            .it-footer-link-wrapper {
              margin-left: 28px;
              margin-right: 28px;
              padding-top: 24px;
              padding-bottom: 24px;
              margin-top: 24px;
              border-top: 1px solid #d9dadb !important;
              a.it-footer-link {
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 1.2;
                text-decoration: none;
                :hover {
                  text-decoration: underline;
                }
                &.active {
                  span {
                    text-decoration: underline;
                    color: var(--color-primary-active);
                  }
                }
              }
            }

            .it-megamenu-footer {
              background: $megamenu-footer-bg-color;
              padding: $v-gap * 2 0;
              margin-top: $v-gap * 2;
              .col-12 {
                padding-bottom: 0 !important;
              }
              .link-list-wrapper {
                margin-bottom: 0;
                .link-list li a.list-item span {
                  display: inline;
                  font-weight: 600;
                }
                ul li a {
                  display: flex;
                  align-items: center;
                }
                ul li a .icon {
                  margin: $link-list-toggle-margin 0;
                  &.left {
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .navbar-nav {
    .megamenu {
      a.dropdown-toggle:before {
        z-index: 2;
      }
      .dropdown-menu {
        z-index: 1;
        box-shadow: $dropdown-menu-shadow;
      }
    }
  }

  .navbar {
    .dropdown-menu {
      box-shadow: $dropdown-menu-shadow;
      .it-megamenu-footer {
        margin-top: $link-list-megamenu-footer-link-padding * 2;
        margin-left: -$megamenu-column-gap;
        margin-right: -$megamenu-column-gap;
        margin-bottom: -$megamenu-padding-top-desktop;
        padding: $megamenu-column-gap * 0.5 $megamenu-column-gap;
        .link-list-wrapper {
          .link-list {
            li a.list-item {
              padding-top: $link-list-megamenu-footer-link-padding;
              padding-bottom: $link-list-megamenu-footer-link-padding;
              span {
                display: inline;
                font-weight: 600;
              }
            }
          }
        }
      }
      .it-external {
        width: 100%;
        padding: 0;
        .link-list-wrapper {
          .link-list li.it-more a:before {
            content: '';
            display: block;
            height: 1px;
            width: $megamenu-link-small-line-width;
            background: $color-border-subtle;
            margin-bottom: $megamenu-link-small-line-margin-bottom;
          }
        }
      }
    }
    .navbar-collapsable {
      .menu-wrapper {
        .nav-item {
          & > button.nav-link {
            display: flex;
            align-self: flex-end;
            align-items: center;
            font-weight: 400;
            padding: $navigation-v-padding $navigation-h-padding;
            color: $navigation-link-color-desk;
            border-bottom: $navigation-link-active-bar-size solid transparent;
            &.dropdown-toggle {
              svg {
                fill: $navigation-bg-color;
                margin-top: 3px;
              }
            }

            &.focus--mouse {
              border-color: transparent !important;
            }

            &.active {
              border-left: 0;
              border-color: white; // $navigation-link-active-bar-color-desk;
              background: transparent;
              color: $white;
            }

            &.disabled {
              span,
              .icon {
                opacity: $navigation-disabled-item-opacity;
              }
            }

            // megamenu white triangle
            &:before {
              content: '';
              position: absolute;
              top: auto;
              bottom: -14px;
              left: 24px;
              width: 18px;
              height: 18px;
              border-radius: 4px;
              background-color: $navigation-link-color-desk;
              transform: rotate(45deg);
              opacity: 0;
              display: block;
              transition: opacity 0.15s cubic-bezier(0.1, 0.57, 0.36, 0.99);
            }
            &.dropdown-toggle.show:before {
              opacity: 1;
            }
          }
          &.megamenu {
            .dropdown-menu {
              padding: $megamenu-padding-top-desktop $megamenu-column-gap;

              .col-12 {
                &:last-child {
                  padding-bottom: 0;
                }
                &:not(:first-child) {
                  .link-list-wrapper {
                    h3,
                    .link-list-heading {
                      &:before {
                        display: none;
                      }
                    }
                  }
                }
                .link-list-wrapper {
                  min-height: 100%;
                  h3,
                  .link-list-heading {
                    margin-top: $megamenu-heading-margin-top !important;
                    line-height: $megamenu-heading-line-height;
                    padding: $megamenu-linklist-link-v-padding $megamenu-column-gap;
                    font-size: $megamenu-heading-text-size;
                    text-transform: uppercase;
                    margin-bottom: $megamenu-heading-margin-top;
                    &:before {
                      display: none;
                    }
                  }
                  ul.link-list {
                    display: flex;
                    flex-direction: column;
                    li {
                      a {
                        padding: $megamenu-linklist-link-v-padding $megamenu-column-gap;
                        line-height: inherit;
                      }
                    }
                  }
                }
              }

              .col-12:first-child {
                .link-list-wrapper {
                  margin-bottom: 0;
                }
              }
              .row.max-height-col {
                min-height: 100%;
                margin-right: -($megamenu-column-gap + 24px * 0.5 + 1);
                .row.max-height-col {
                  margin-right: -$grid-gutter-width * 0.5;
                }
                .margin-right-col {
                  margin-right: $megamenu-column-gap;
                }
              }
              .it-vertical {
                background: $lightgrey-c2;
                padding-top: $megamenu-padding-top-desktop;
                margin-top: -$megamenu-padding-top-desktop;
                margin-bottom: -$megamenu-padding-top-desktop;
                margin-right: -$megamenu-column-gap;
                margin-left: math.div($grid-gutter-width, -2);
                .link-list-wrapper {
                  ul.link-list {
                    width: 100%;
                    li {
                      margin-bottom: 3px;
                      a {
                        display: flex;
                        justify-content: space-between;
                        //padding: 0 $megamenu-linklist-vertical-link-padding;
                        span {
                          font-weight: 600;
                        }
                      }
                      .divider {
                        height: 1px;
                        display: block;
                        background: $color-border-subtle;
                        margin: 0 0 0 $megamenu-linklist-vertical-link-padding;
                        width: $megamenu-link-small-line-width;
                        margin-top: $megamenu-liklist-vertical-margin-top;
                        margin-bottom: $megamenu-liklist-vertical-margin-bottom;
                      }
                    }
                  }
                }
                // description & image variation
                &.it-description {
                  background: transparent;
                  .description-content {
                    padding-left: $megamenu-linklist-vertical-link-padding;
                    padding-right: $megamenu-linklist-vertical-link-padding;
                    &:before {
                      display: none;
                    }
                    img {
                      display: block;
                      width: 100%;
                      margin-bottom: $grid-gutter-width;
                    }
                    p {
                      font-size: $megamenu-vertical-description-font-size;
                      line-height: 1.5rem;
                    }
                  }
                }
              }

              .it-heading-link-wrapper {
                margin: 0 0 24px;
                // padding-top: 0;
                padding-bottom: 24px;
              }

              .it-footer-link-wrapper {
                margin: 24px 0 0 0;
                padding-top: 24px;
                padding-bottom: 0;
                a.it-footer-link {
                  margin-right: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Fixes added from designers.italia.it (sticky navbar edition)

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  // .nav-item {
  //   display: flex;
  // }
  .it-header-sticky.is-sticky .nav-item button.nav-link {
    font-size: 16px;
  }
}

//Desktop  --------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
  .it-header-sticky.is-sticky .nav-item button.nav-link {
    font-size: 18px;
  }
}
