//mobile
.navbar{
  background: $navigation-bg-color;
  // navbar mobile
  .navbar-collapsable{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: $navigation-sidebar-bg-color-mobile;    
    display: none;
    // menu vrapper
    .menu-wrapper{
      background: $navigation-bg-color;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left:$navigation-h-padding * 2;
      pointer-events:all;
      overflow-y:auto;
      transform:translateX(100%);
      //- transizione de definire
      transition: all 0.3s;
    }
    /*lista menu*/
    .navbar-nav{
      margin-top:$navigation-links-margin-top;
      padding: $navigation-h-padding 0;
      li{
        a.nav-link{
          color: $navigation-link-color;
          font-weight: 400;
          padding: $navigation-v-padding $navigation-h-padding;
          position: relative;
          &.active{
            border-left: $navigation-link-active-bar-size solid $navigation-link-active-bar-color;
          }
        }
      }
    }
    &.expanded{
        .menu-wrapper{
          transform:translateX(0);
        }
        .close-div{
          transform:translateX(0);
        }
    }
  }
  //wrapper pulsante di chiusura menu
  .close-div{
    transform:translateX(100%);
    padding:$navigation-h-padding;
    position: fixed;
    left: $navigation-h-padding * 2;
    right: 0;
    top: 0;
    background:$navigation-bg-color; 
    z-index: 10;
    //- transizione de definire
      transition: all 0.3s;
    // pulsante di chiusura menu
    .close-menu{
      background: transparent;
      color: $navigation-close-button-text-color;
      text-align: center;
      font-size: $navigation-close-button-text-size;
      text-transform: uppercase;
      padding: 0;
      span{
        display: block;
        text-align: center;
        font-size: $navigation-close-button-icon-size;
        &:before{
          margin-right: 0;
        }
      }
    }
  }
  // Dropdown style tipo collapse
  .dropdown-menu{
    background: transparent;
    box-shadow: none;
    .link-list-wrapper{
      padding-left:$navigation-h-padding;
      padding-right:$navigation-h-padding;
      ul{
        li{
          a{
            span{
              color: $white;
            }
            h3{
              color: $white;
            }
          }
          h3{
            color: $white;
          }
        }
      }
    }
  }
  .dropdown-toggle{
    display: flex;
    justify-content: space-between;
    &:after{
      font-family: "italia-icon-font";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: $navigation-dropdown-icon-width;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      content: '\e818';
      vertical-align: auto;
      border-top: none;
      border-right: none;
      border-bottom: 0;
      border-left: none;
      font-size: $navigation-dropdown-icon-size;
      line-height:$navigation-dropdown-icon-line-height;
    }
    &[aria-expanded="true"]:after{
      
    }
  }
}
.custom-navbar-toggler{
  background: none;
  border:none;
  span{
    color: $navigation-toggle-button-icon-color;
    font-size: $navigation-toggle-button-icon-size;
  }
}

//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) { 
  
}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  
}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .navbar{
    background: $navigation-bg-color;
    padding:0;
    // navbar mobile
    .navbar-collapsable{
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: auto;
      background: none;
      display: block !important; //-sovrascrive l'inline style di jquery 
      transition: none;
      // menu vrapper
      .menu-wrapper{
        position: inherit;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        overflow-y:initial;
        transform:none;
        transition: none;
      }
      &.collapsed{

      }
      /*lista menu*/
      .navbar-nav{
        margin-top:0;
        padding:0 $navigation-h-padding;
        li{
          a.nav-link{
            font-weight: 400;
            padding:$navigation-v-padding $navigation-h-padding;
            &.active{
              border-left:0;
              border-bottom: $navigation-link-active-bar-size solid $navigation-link-active-bar-color;
            }
          }
        }
      }
    }
    //wrapper pulsante di chiusura menu
    .close-div{
      display: none;
    }
    // Dropdown style tipo collapse
    .dropdown-menu{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: $zindex-dropdown;
        display: none; // none by default, but block on "open" of the menu
        float: left;
        min-width: $dropdown-min-width;
        padding: $dropdown-padding-y 0;
        margin: $dropdown-spacer 0 0; // override default ul
        font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
        color: $body-color;
        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        background-color: $dropdown-bg;
        background-clip: padding-box;
        border: $dropdown-border-width solid $dropdown-border-color;
        @include border-radius($dropdown-border-radius);
        @include box-shadow($dropdown-box-shadow);
      .link-list-wrapper{
        padding-left:0;
        padding-right:0;
        ul{
          li{
            a{
              span{
                color: $color-primary;
              }
              h3{
                color: $color-primary;
              }
            }
            h3{
              color: $body-color;
            }
          }
        }
      }
    }
    .dropdown-toggle{
      display: block;
      justify-content: inherit;
      &:after{
        font-family: inherit;
        font-size: inherit;
        display: inline-block;
        width: 0;
        height: 0;
        margin-right: $caret-width * .85;
        vertical-align: $caret-width * .85;
        content: "";
        @include caret-down;
      }
    }
  }
  .custom-navbar-toggler{
    display: none;
  }
}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
  
}