//mobile
.navbar{
  background: $navigation-bg-color;
  // navbar mobile
  .navbar-collapsable{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: $navigation-sidebar-bg-color-mobile;    
    display: none;
    // menu vrapper
    .menu-wrapper{
      background: $navigation-bg-color;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left:$navigation-h-padding * 2;
      pointer-events:all;
      overflow-y:auto;
      transform:translateX(100%);
      //- transizione de definire
      transition: all 0.3s;
    }
    /*lista menu*/
    .navbar-nav{
      margin-top:$navigation-links-margin-top;
      padding: $navigation-h-padding 0;
      li{
        a{
          color: $navigation-link-color;
          font-weight: 400;
          padding: $navigation-v-padding $navigation-h-padding;
          &.active{
            border-left: $navigation-link-active-bar-size solid $navigation-link-active-bar-color;
          }
        }
      }
    }
    &.expanded{
        .menu-wrapper{
          transform:translateX(0);
        }
        .close-div{
          transform:translateX(0);
        }
    }
  }
  //wrapper pulsante di chiusura menu
  .close-div{
    transform:translateX(100%);
    padding:$navigation-h-padding;
    position: fixed;
    left: $navigation-h-padding * 2;
    right: 0;
    top: 0;
    background:$navigation-bg-color; 
    z-index: 10;
    //- transizione de definire
      transition: all 0.3s;
    // pulsante di chiusura menu
    .close-menu{
      background: transparent;
      color: $navigation-close-button-text-color;
      text-align: center;
      font-size: $navigation-close-button-text-size;
      text-transform: uppercase;
      padding: 0;
      span{
        display: block;
        text-align: center;
        font-size: $navigation-close-button-icon-size;
        &:before{
          margin-right: 0;
        }
      }
    }
  }
}
.custom-navbar-toggler{
  background: none;
  border:none;
  span{
    color: $navigation-toggle-button-icon-color;
    font-size: $navigation-toggle-button-icon-size;
  }
}

//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) { 
  
}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  
}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .navbar{
    background: $navigation-bg-color;
    padding:0;
    // navbar mobile
    .navbar-collapsable{
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: auto;
      background: none;
      display: block !important; //-sovrascrive l'inline style di jquery 
      transition: none;
      // menu vrapper
      .menu-wrapper{
        position: inherit;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        overflow-y:auto;
        transform:none;
        transition: none;
      }
      &.collapsed{

      }
      /*lista menu*/
      .navbar-nav{
        margin-top:0;
        padding:0 $navigation-h-padding;
        li{
          a{
            font-weight: 400;
            padding:$navigation-v-padding $navigation-h-padding;
            &.active{
              border-left:0;
              border-bottom: $navigation-link-active-bar-size solid $navigation-link-active-bar-color;
            }
          }
        }
      }
    }
    //wrapper pulsante di chiusura menu
    .close-div{
      display: none;
    }
  }
  .custom-navbar-toggler{
    display: none;
  }
}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
  
}