//mobile
nav.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  //total number version
  &.pagination-total {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    ul {
      margin-bottom: 0.5rem;
    }
    p {
      text-align: center;
      font-size: 0.8888888888888888rem; // 16px
      font-weight: bold;
      color: $neutral-1-a7;
      margin-bottom: 1rem;
    }
  }
    
  //jump to page
  .form-group {
    margin-top: 0;
    margin-left: 2.5rem;
    width: 4.5rem;
    label {
      font-size: 0.8888888888888888rem; // 16px
      color: $neutral-2-b3;
    }
    &.active {
      label {
        font-size: 0.8rem;
      }
    }
  }
  
  //page changer
  .dropdown {
    margin-left: 2.5rem;
  }
  //page changer toggle
  .btn.dropdown-toggle{
    padding: 12px;
    background-color: transparent;
    color: $neutral-1-a7;
    border: none;
    border-bottom: 1px solid $gray-secondary;
    border-radius: 0;
    height: 2.5rem;
    width: 100%;
    box-shadow: none;
    transition: all .3s;
    font-weight: 600;
    outline-width: 5px;
    &:focus {
      outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
    }
    &:after {
      display: none;
    }
    i.it-expand {
      font-size: 0.8rem;
      color: $primary-c5;
      margin-left: 0.5rem;
      &:before {
        transition: transform 0.2s;
      }
    }
    &[aria-expanded=true] {
      i.it-expand {
        &:before {
          transform: scaleY(-1);
        }
      }
    }
  }
}

.pagination {
  flex-wrap: wrap;
  .page-item {
    margin-right: 5px;

    // disabled version
    &.disabled {
      a.page-link {
        color: $neutral-2-b2;
        i[class^="it-"] {
          color: $neutral-2-b2;
        }
      }
    }
    
    //text only
    span.page-link {
      pointer-events: none;
    }

    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      
      //border
      border: none;
      height: 2.5rem; // 40px
      min-width: 2.5rem; // 40px
      border-radius: 4px;
      
      //text
      font-size: 0.8888888888888888rem; // 16px
      font-weight: 600;
      color: $neutral-1-a7;
      background-color: transparent;

      //current page version
      &[aria-current] {
        border: 1px solid $italia;
        color: $italia;
        pointer-events: none;
      }

      // icon & text prev/next
      i[class^="it-"], &.text {
        color: $primary-c5; 
      }
      i[class^="it-"] {
        font-size: 0.7rem;
      }

      span.d-inline-block {
        margin-right: 0.5rem;
      }

      //hover state
      &:hover {
        color: $italia;
        background-color: transparent;
        // icon
        i[class^="it-"] {
          color: $italia;
        }
      }

    }
  }
}

//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) {

  .pagination {
    .page-item {
      .page-link {
        height: 2.6666666666666665rem; // 48px
        min-width: 2.6666666666666665rem; // 48px
      }
    }
  }

}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  nav.pagination-wrapper {
    justify-content: flex-start;
  }
}