.password-icon {
  cursor: pointer;
  position: absolute;
  right: $v-gap*2;
  top: 1.9rem;
  z-index: 10;
  .icon {
    fill: $gray-secondary;
  }
}
.password-meter  {
  height: 4px;
  left: 10px;
  bottom: -10px;
  width: 100%;
  max-width: 180px;
  .col-3 {
    height: 4px;
  }
}
