//mobile
.popover {
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);

  &.bs-popover-top {
    margin-bottom: $v-gap * 2;
    .popover-arrow {
      &:after {
        bottom: 2px;
      }
    }
  }
  &.bs-popover-bottom {
    margin-top: $v-gap * 2;
    .popover-arrow {
      &:after {
        top: 2px;
      }
    }
  }
  &.bs-popover-left {
    margin-right: $v-gap * 2;
    .popover-arrow {
      &:after {
        right: 2px;
      }
    }
  }
  &.bs-popover-right {
    margin-left: $v-gap * 2;
    .popover-arrow {
      &:after {
        left: 2px;
      }
    }
  }
  .popover-arrow {
    &:before {
      display: none;
    }
  }
  //title
  .popover-header {
    background: none;
    border: none;
    text-transform: uppercase;
    color: $dark;
    font-size: 0.938rem;
    padding: $v-gap * 2 $v-gap * 3 0;
    letter-spacing: 0.05em;
    font-weight: 600;
    //title icon
    .icon {
      fill: $primary;
      margin-right: $v-gap;
      height: $v-gap * 3;
      width: $v-gap * 3;
    }
  }
  //text
  .popover-body {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: $gray-tertiary;
    padding: $v-gap * 2 $v-gap * 3;
    //inner bottom link
    a.popover-inner-link {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: block;
      margin-top: $v-gap * 2;
      font-size: 0.857em;
      text-align: right;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
      //link icon
      .icon {
        fill: $primary;
        height: $v-gap * 2;
        width: $v-gap * 2;
        margin-left: $v-gap * 0.5;
        margin-bottom: $v-gap * 0.5;
      }
    }
  }
}

//small - tablet
@include media-breakpoint-up(sm) {
  .popover {
    //title
    .popover-header {
      font-size: 0.833rem;
    }
    //text
    .popover-body {
      font-size: 0.778rem;
    }
  }
}
