//mobile
.progress-donut-wrapper {
  width: 128px;
  height: 128px;
  position: relative;
  .progressbar-text {
    color: #000 !important;
    font-weight: 700;
  }
}

//Tablet vertical
@include media-breakpoint-up(md) {
  .progress-donut-wrapper {
    width: 180px;
    height: 180px;
  }
}
