.separatore {
  border-left: 6px solid;
  height: 100px;
  border-color: #0066cc;
}

.separatore-centrato {
  border-left: 6px solid;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  border-color: #0066cc;
}