.bs-is-sticky {
  position: sticky !important;
  z-index: 99999 !important;
}

.bs-is-fixed {
  position: fixed !important;
  z-index: 10000 !important; /* per fare in modo che uno sticky non finisca sopra un fixed (es. l'header) */
}
