.nav-tabs {
  position: relative;
  background-color: $white;
  border-bottom-color: $gray-border-disabled;
  display: flex;

  &.auto {
    flex-wrap: nowrap;
    .nav-link {
      flex: 1;
    }
    .nav-item {
      flex: 1;
      text-align: center;
    }
  }

  //vertical tabs
  &.nav-tabs-vertical {
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid $gray-border-disabled;
    .nav-link {
      justify-content: space-between;
      border-bottom: none;
      border-right: 2px solid transparent;
      &:hover {
        border-bottom: none;
      }

      &.justify-content-end {
        .it-ico:before, .it-ico-lg:before {
          margin-right: 0;
        }
      }
    }
    .nav-link.active, .nav-item.show .nav-link {
      border-bottom: none;
      border-right-color: $italia;
    }
    &.nav-tabs-vertical-background {
      .nav-link.active, .nav-item.show .nav-link {
        background-color:$neutral-2;
      }
    }
  }

  .nav-link {
    border-radius: 0;
    font-weight: 600;
    color: $neutral-1-a7;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0.778rem 1.444em;
    flex: 1 0 1;

    //vertical & center align
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $italia;
      border-bottom-color: transparent;
    }

    &:focus {
      border-bottom-color: transparent;
    }

    &.disabled {
      color: $gray-300;
      cursor: default;
    }

    //icons
    .it-ico  {
      &:before {
        font-size: 1.333rem;
        margin-right: 0.556rem;
      }
    }
    .it-ico-lg {
      &:before {
        font-size: 1.778rem;
        margin-right: 0.556rem;
      }
    }
  }
  .nav-link.active, .nav-item.show .nav-link {
    border-bottom-color: $italia;
    color: $italia;
    cursor: inherit;
  }
  .nav-item {
    margin-bottom: 0;
    display: flex;
  }

  //dark version
  &.nav-dark {
    background-color: $gray-primary;
    border-bottom: none;
    .nav-link {
      color: #C7D1D0; // TODO quando i colori dark saranno definiti, gestire questo colore come variabile
      &:hover {
        color: $cyan;
      }
      &.disabled {
        color: $neutral-1-a6;
      }
    }
    .nav-link.active, .nav-item.show .nav-link {
      background-color: $gray-primary;
      color: $cyan;
      border-bottom: 2px solid $cyan;
    }

    &.nav-tabs-vertical {
      .nav-link.active, .nav-item.show .nav-link {
        border-right-color: $cyan;
        border-bottom: none;
      }
    }

  }

  //card version
  &.nav-tabs-cards {

    .nav-link {
      transform: translateY(1px);
      border: 1px solid transparent;
    }

    .nav-link.active, .nav-item.show .nav-link {
      border: 1px solid $gray-border-disabled;
      border-bottom-color: #fff;
      border-radius: $border-radius $border-radius 0 0;
      .nav-link-close {
        cursor: pointer;
      }
    }
  }

  &.nav-tabs-editable {
    .nav-item {
      position: relative;
    }

    .nav-tab-add {
      position: absolute;
      width: 1.444rem;
      height: 1.444rem;
      top: 0.8rem;
      border: 1px solid $gray-border-disabled;
      border-radius: 50%;
      right: 0;
      a {
        width: 1.444rem;
        height: 1.444rem;
        display: block;
        &:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 14px;
          left: 11px;
          top: 5px;
          background-color: $italia;
        }
        &:before {
          content: '';
          position: absolute;
          width: 14px;
          height: 2px;
          left: 5px;
          top: 11px;
          background-color: $italia;
        }
      }
      
    }

    .nav-link {
      padding-right: 2.888em
    }

     //close button
    .nav-link-close {
      position: absolute;
      top: calc(50% - 0.75rem);
      right: 1.444em;
      .it-ico {
        font-size: 0.6rem;
        &:before {
          margin-right: 0;
        }
      }
    }
  }

}

// ----------- tabs position ----------------

//horizontal tabs on bottom
.flex-column-reverse {
  .nav-tabs {
    border-bottom: none;
    border-top: 1px solid $gray-border-disabled;
    .nav-link {
      border-bottom: none;
      border-top: 2px solid transparent;
    }
    .nav-link.active, .nav-item.show .nav-link {
      border-top-color: $italia;
    }
  }
}

//vertical tabs on right
.flex-row-reverse {
  .nav-tabs {
    &.nav-tabs-vertical {
      border-right: none;
      border-left: 1px solid $gray-border-disabled;
      .nav-link {
        justify-content: flex-start;
        border-bottom: none;
        border-right: none;
        border-left: 2px solid transparent;
        &:hover {
          border-bottom: none;
        }
      }
      .nav-link.active, .nav-item.show .nav-link {
        border-left-color: $italia;
      }
    }
  }
}

//vertical tabs on right dark
.flex-row-reverse {
  .nav-tabs {
    &.nav-dark {
      &.nav-tabs-vertical {
        .nav-link.active, .nav-item.show .nav-link {
          border-left-color: $cyan;
        }
      }
    }
  }
}

/*
.it-ico-sm {
  font-size: $h3-font-size;
}

.it-ico {
  font-size: $h5-font-size;
}

.it-ico-lg {
  font-size: $h4-font-size;
}
*/
