/* Imposta la Timeline */

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 16px 8px;
  background: $color-primary;
  &:after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
  }
}

@include media-breakpoint-up(sm) {
  .timeline {
    width: $container-max-widths(sm);
  }
}

@include media-breakpoint-up(md) {
  .timeline {
    width: $container-max-widths(md);
  }
}

@include media-breakpoint-up(lg) {
  .timeline {
    width: $container-max-widths(lg);
  }
}

@include media-breakpoint-up(xl) {
  .timeline {
    width: $container-max-widths(xl);
  }
}

/* Il container intorno al contenuto */

.containertime {
  padding: 8px 48px;
  position: relative;
  background-color: inherit;
  width: 50%;
  &:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -16px;
    background-color: white;
    border: 4px solid $neutral-1;
    top: 24px;
    border-radius: 50%;
    z-index: 1;
  }
  &:nth-child(odd) {
    left: 0;
  }
  &:nth-child(even) {
    left: 50%;
  }
  &:nth-child(odd):before {
    content: " ";
    height: 0;
    position: absolute;
    top: 40px;
    width: 0;
    z-index: 1;
    right: 40px;
    border: medium solid white;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent white;
  }
  &:nth-child(even) {
    &:before {
      content: " ";
      height: 0;
      position: absolute;
      top: 24px;
      width: 0;
      z-index: 1;
      left: 40px;
      border: medium solid white;
      border-width: 8px 8px 8px 8px;
      border-color: transparent white transparent transparent;
    }
    &:after {
      left: -16px;
    }
  }
}

/* Imposta lo stile dei punti sulla timeline */
/* Imposta i container sulla sinistra */

/* Imposta i container sulla destra */

/* Imposta la direzione della freccia (destra) */

/* Imposta la direzione della freccia (sinistra) */

/* Aggiusta i container sul lato destro */
/* Contenuto */

.timecontent {
  padding: 24px 32px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

@media all and (max-width: 600px) {
  .timeline:after {
    left: 32px;
  }
  .containertime {
    width: 100%;
    padding-left: 72px;
    padding-right: 24px;
    &:before {
      left: 64px;
      border: medium solid white;
      border-width: 8px 8px 8px 0;
      border-color: transparent white transparent transparent;
    }
    &:after {
      left: 16px;
    }
    &:nth-child(even) {
      left: 0;
    }
  }
}
