

.calendar-input-container {
	z-index: 1;
}
#error_container {
	color: #8b0000;
	font-weight: bold;
}
div[aria-hidden="true"] {
	display: none;
}

.off-screen {
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

#error_container {
	color: #8b0000;
	font-weight: bold;
}

/*SPINNER*/


.spinner-control > div .ui-spinner {
	display: block;
	text-align: center;
}
.spinner-control > div button {
	background-color: transparent;
	border: 1px solid transparent;
}

.spinner-control > div button:hover {
	border: 1px solid #777;
	cursor: pointer;
}

.spinner-control > div button > i {
	font-size: 2rem;
}

// start override
.it-timepicker-wrapper{
	.calendar-input-container{
		position: relative;
		display: flex;
		&:after{
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: 0;
			background:$dp-label-color;
			transform-origin: bottom;
			transition: all 0.3s;
		}
		input.form-control{
			border-bottom: none;
			background: transparent;
			&::placeholder{
				color: $dp-label-color;
			}
		}
		.btn-time{
			border: none;
			background: transparent;
			margin-right: $v-gap*2;
			svg{
				fill:$primary-a6;
			}
		}
	}
	.time-spinner{
		position: relative;
	}
	.spinner-control{
		position: absolute;
		padding: $v-gap*3;
		left: 0;
		width: 100%;
		background: #FFF;
		box-shadow: $dp-shadow;
		border-top: $dp-border-bottom;
		display: none;
		margin-top: -2px;
		.spinner{
			float: left;
			position: relative;
			&:not(:last-child){
				margin-right: $v-gap*3;
			}
			.button-wrapper{
				position: absolute;
				right: 0;
				top: 0;
				display: flex;
				bottom: 0;
				flex-direction: column;
				button{
					position: relative;
					flex-basis: 50%;
					svg{
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: -6px;
						width: $v-gap*2.5;
					}
				}
			}
		}
		input{
			color: $dp-label-color;
			max-width: $v-gap*10;
			border: none;
			border-bottom: $dp-border-bottom;
			background: transparent;
			border-radius: 0;
			font-weight: 600;
			box-shadow: none;
		}
	}
}
