//mobile
.toggle-wrapper{
	// azzero i valori di default dei checkbox
	input[type="checkbox"]{
		visibility: inherit;
		&:focus + label{
			@extend .focus--keyboard;
		}

		&:focus.focus--mouse + label{
			@extend .focus--mouse;
		}
	}
	input[type="checkbox"] + label{
		padding-left: 0;
		cursor: pointer;
		display: inline-block;
		height: auto;
		line-height: auto;
		display:flex;
		align-items: center;
		&.disabled{
			color: $neutral-1-a4; 
			cursor: not-allowed;
			.togglebar{
				opacity: 0.5;
			}
		}
	}
	input[type="checkbox"] + label:before,input[type="checkbox"] + label:after{
		display: none;
	}
	.togglebar{
		display: inline-block;
		border-radius: $toggle-border-radius;
		width: $toggle-width;
		height: $toggle-height;
		background: $neutral-2-b1;
		position: relative;
		margin-left:8px;
		pointer-events:none;
		.toggle-button{
			width:$toggle-button-dimension;
			height: $toggle-button-dimension;
			border:1px solid $white;
			background: $neutral-1-a7;
			display: block;
			position: absolute;
			border-radius: $toggle-button-border-radius;
			left:0;
			top:50%;
			transform: translateY(-50%);
			transition: all 0.3s;
			&:before, &:after{
				content:'\e80f';
				font-family: "italia-icon-font";
				font-size: $toggle-button-icon-size;
				color: $white;
				opacity: 0.5;
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateY(-50%) translateX(-50%) ;
				transition: all 0.3s;
			}
			&:after{
				opacity: 0;
				content: '\e80a';
			}
		}		
	}
	//label
	input[type="checkbox"]:checked + label{
		.toggle-button{
			left: calc(100% - #{$toggle-button-dimension});
			background: $color-primary;
			&:before{
				opacity: 0;
			}
			&:after{
				opacity: 0.5;
			}
		}
		
	}
}
//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) {

}
//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {

}
//Hover states
@media (min-width: $grid-breakpoints-hover) {

}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
	
}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
	
}