//mobile

//input file/button
.upload, .upload-avatar {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload {
	//button styling
	&[type=file] + label {
		max-width: 80%;
		font-size: 1rem;
		font-weight: 700;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		padding: 7px 24px;
		border-radius: $border-radius;
		color: $white;
		background-color: $primary;
		transition: background-color 0.15s;
		&:hover {
			background-color: darken($primary, 10%);
		}
		//icon
		svg {
			fill: $white;
			margin-right: 10px;
		}
	}
	//focus state
	&:focus {
		& + label {
			background-color: darken($primary, 10%);
			outline: auto 5px -webkit-focus-ring-color;
		}
	}
}

//files list
.upload-file-list {
	margin-top: 5px;
	padding: 0;
	//image version
	&.upload-file-list-image {
		.progress {
			left: 52px;
		}
	}
	.upload-file {
		list-style-type: none;
		display: flex;
		align-items: center;
		max-width: 375px;
		margin-bottom: 16px;
		position: relative;
		//states
		&.uploading {
			svg {
				fill: $neutral-1-a4;
			}
			p {
				color: $neutral-1-a4;
			}
		}
		&.success {
			svg {
				fill: $primary;
			}
			p {
				color: $primary;
				.upload-file-weight {
					display: inline-block;
				}
			}
		}
		&.error {
			svg {
				fill: $danger;
			}
			p {
				color: $danger;
			}
		}
		//left icon
		svg {
			flex-shrink: 0;
		}
		//left image
		.upload-image {
			flex-shrink: 0;
			width: 40px;
			height: 40px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		//file name
		p {
			margin: 0;
			font-size: 0.889rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-left: 12px;
			overflow: hidden;
			//
			.upload-file-weight {
				color: $neutral-1-a4;
				font-size: 0.750em;
				margin-left: 10px;
				display: none;
			}
		}
		//action button / upload ok
		button {
			background: transparent;
			border: 0;
			padding: 0px;
			margin-left: auto;
			&:hover {
				cursor: pointer;
				svg {
					fill: $primary;
				}
			}
		}
	}
	//file upload progress
	.progress {
		position: absolute;
		bottom: -10px;
		left: 36px;
		width: calc(100% - 45px);
		height: 4px;
		background-color: $lightgrey-a1;
		box-shadow: none;
		&.progress-image {
			width: calc(100% - 60px);
		}
	}
}

.upload-avatar-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.upload-avatar {
		&[type=file] + label {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			svg {
				display: none;
			}
			span {
				display: none;
			}
		}
	}
}

.avatar-upload-wrapper {
	position: relative;
	display: inline-block;
	//avatar version
	.avatar {
		&.avatar-upload {
			position: relative;
		}
	}
	.avatar-upload-icon {
		position: absolute;
		bottom: 16px;
		right: 4px;
		width: 26px;
		height: 26px;
		background: $neutral-1-a1;
		border-radius: 50%;
		border: 2px solid $white;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		& > svg	{
			width: 16px;
			height: 16px;
		}
	}

	&.size-sm {
		.avatar {
			width: $avatar-base-size*10;
			height: $avatar-base-size*10;
		}
		.avatar-upload-icon {
			bottom: 6px;
			right: 4px;
			width: 18px;
			height: 18px;
			& > svg	{
				width: 12px;
				height: 12px;
			}
		}
	}

}

//small - tablet
@media (min-width: #{map-get($grid-breakpoints, sm)}) {

	.upload {
		&[type=file] + label {
			font-size: 0.889rem;
		}
	}

}

//Tablet vertical
@media (min-width: #{map-get($grid-breakpoints, md)}) {

}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {

}

//Desktop
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
	.avatar-upload:hover {
		.upload-avatar-container {
			opacity: 1;
			//fade in speed
			transition: opacity 0.25s;
		}
	}

	.upload-avatar-container {
		bottom: -10%;
		left: 0;
		right: 0;
		top: auto;
		width: 100%;
		height: 60%;
		background-color: rgba(0,0,0,0.6);
		//fade out speed
		transition: opacity 0.15s;
		opacity: 0;
		.upload-avatar {
			&[type=file] + label {
				margin: 0;
				padding-top: 10px;
				color: $white;
				text-align: center;
				width: 100%;
				height: 100%;
				font-size: 12px;
				display: flex;
				justify-content: start;
				align-items: center;
				flex-direction: column;
				cursor: pointer;
				span {
					display: block;
				}
				svg {
					display: block;
					fill: $white;
					width: 20px;
					height: 20px;
					display: block;
				}
			}
			&:focus:not(.focus--mouse) {
				&[type=file] + label {
					outline: auto 5px -webkit-focus-ring-color;
				}
			}
		}
	}

	.avatar-upload-wrapper {
		//hide icon
		.avatar-upload-icon {
			display: none;
		}
		&.size-sm {
			.upload-avatar {
				&[type=file] + label {
					span {
						display: none;
					}
				}
			}
		}
	}

}