.btn {
  padding: 12px 24px;
  font-size: $btn-font-size;
  border: none;
}

.btn-sm,
.btn-lg {
  border-radius: $btn-border-radius;
  line-height: $input-btn-line-height;
}

.btn-sm {
  padding: 10px 20px;
  font-size: $btn-font-size-sm;
  line-height: $input-btn-line-height-sm;
}

.btn-lg {
  padding: 14px 28px;
  font-size: $btn-font-size-lg;
  line-height: $input-btn-line-height-lg;
}

.btn-block {
  @include border-radius(0);
}

.btn-primary {
  &:disabled,
  &.disabled {
    color: $gray-label-disabled;
    background-color: $gray-disabled;
    border-color: $gray-border-disabled;
  }
}

.btn-secondary {
  color: $primary;
  background-color: $white;
  box-shadow: $btn-box-shadow-secondary;
  &.disabled,
  &:disabled {
    color: $gray-label-disabled;
    box-shadow: $btn-box-shadow-disabled;
  }
  &.focus,
  &:focus {
    box-shadow: $btn-box-shadow-secondary, $btn-box-shadow-focus;
  }
  &:hover {
    color: $primary;
    background-color: $white;
    box-shadow: $btn-box-shadow-secondary-hover;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $primary;
    background-color: $white;
    box-shadow: $btn-box-shadow-secondary-hover;
  }
}

.btn.btn-tertiary {
  &:disabled,
  &.disabled {
    color: $gray-label-disabled;
    background-color: $gray-disabled;
    border-color: $gray-border-disabled;
  }
}

.btn-quaternary {
  color: $gray-tertiary;
  box-shadow: $btn-box-shadow-quaternary;
  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 233, 242, 0.5);
  }
  &.disabled,
  &:disabled {
    color: $gray-label-disabled;
    box-shadow: $btn-box-shadow-disabled;
    background-color: $white;
  }
}

.btn-success {
  &.disabled,
  &:disabled {
    opacity: 0.2;
  }
}

.btn-warning {
  color: $white;
  &.disabled,
  &:disabled {
    opacity: 0.2;
  }
}

.btn-danger {
  &.disabled,
  &:disabled {
    opacity: 0.2;
  }
}
