.card {
    border: none;
    border-bottom: $card-border-width solid $card-border-color;
}

.card-header {
    border: none;
    &:first-child {
        border-radius: $card-border-radius;
      }
      h5 {
        padding: 1rem;
        //font-size: 1.5rem;
      }
}

.card-body {
    padding: $card-body-spacer;
}