@charset "utf-8";

/* 
 * sizes and positions
 */
a.datepicker-button {
	cursor: pointer;
}
div.datepicker-calendar {
	margin: 0 10px 10px 0;
	font-size: .9em;
	padding: 2px;
	position: absolute;
	width: 261px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 50;
}
div.datepicker-calendar div.datepicker-month-wrap {
	margin: 0;
	padding-top: 1px;
	text-align: center;
	height: 30px;
}
div.datepicker-calendar div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar div.datepicker-month-prev.disabled,
div.datepicker-calendar div.datepicker-month-next.disabled {
	border: none;
	cursor: default;
}
div.datepicker-calendar div.datepicker-month-fast-prev,
div.datepicker-calendar div.datepicker-month-fast-next,
div.datepicker-calendar div.datepicker-month-prev,
div.datepicker-calendar div.datepicker-month-next {
	cursor: pointer;
	margin: 3px;
	width: 24px;
	height: 24px;
	padding-top: 3px;
}
div.datepicker-calendar div.datepicker-month-fast-prev {
	padding-right: 2px;
}
div.datepicker-calendar div.datepicker-month-fast-next {
	padding-left: 2px;
}
div.datepicker-calendar div.datepicker-month-fast-prev.enabled:hover,
div.datepicker-calendar div.datepicker-month-fast-prev.enabled:focus,
div.datepicker-calendar div.datepicker-month-fast-next.enabled:hover,
div.datepicker-calendar div.datepicker-month-fast-next.enabled:focus,
div.datepicker-calendar div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar div.datepicker-month-prev.enabled:focus,
div.datepicker-calendar div.datepicker-month-next.enabled:hover,
div.datepicker-calendar div.datepicker-month-next.enabled:focus {
	margin-top: 2px;
	border: 1px solid #800;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.datepicker-calendar div.datepicker-month {
	margin: 3px 56px 2px 56px;
	height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	padding-top: 1px;
}
div.datepicker-calendar div.datepicker-month:after {
	font-family: 'Glyphicons Halflings';
	font-size: 0.6em;
	display: inline-block;
	content: "\e252";
}
div.datepicker-calendar div.datepicker-month:hover,
div.datepicker-calendar div.datepicker-month:focus {
	padding-top: 0;
	border: 1px solid #800;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.datepicker-calendar table.datepicker-grid {
	width: 100%;
	font-size: 1.2em;
	text-align: center;
}
div.datepicker-calendar table.datepicker-grid.rtl {
	direction: rtl;
}
div.datepicker-calendar table.datepicker-grid:focus {
	outline: none;
}
div.datepicker-calendar table.datepicker-weekdays {
}
div.datepicker-calendar table.datepicker-grid th,
div.datepicker-calendar table.datepicker-grid td{
	text-align: center;
	padding: 0;
}
div.datepicker-calendar table.datepicker-grid th abbr{
	border: none;
}
div.datepicker-calendar table.datepicker-grid td {
	border: 1px solid #999;
	cursor: pointer;
}
div.datepicker-calendar table.datepicker-grid td.unselectable {
	cursor: default;
}
div.datepicker-calendar table.datepicker-grid th,
div.datepicker-calendar table.datepicker-grid td.day {
	height: 30px;
}
div.datepicker-calendar table.datepicker-grid td.month {
	height: 60px;
}
div.datepicker-calendar table.datepicker-grid td.year {
	height: 45px;
}
div.datepicker-calendar table.datepicker-grid td.curDay,
div.datepicker-calendar table.datepicker-grid td.curMonth,
div.datepicker-calendar table.datepicker-grid td.curYear {
	border: 1px solid #999;
}
div.datepicker-calendar table.datepicker-grid td.empty {
	border: 1px solid #999;
	cursor: default;
}
div.datepicker-calendar .offscreen {
	position: absolute;
	left: -200em;
	top: -100em;
}
.datepicker-overlay {
	background: #777;
    display: none;        
    position: fixed;   
    top: 0;                  
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
	height: 100%;
	min-height: 100%;
	z-index: 40;
}
div.datepicker-calendar button.datepicker-close {
	height: 30px;
	width: 100%;
	font-weight: bold;
	margin-top: 1px;
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/**************************** 
 * colors
 ***************************/

/**************************** 
 * default theme colors
 ***************************/
a.datepicker-button.default {
}
a.datepicker-button.default:hover,
a.datepicker-button.default:focus {
	background-color: #DDD;
}
div.datepicker-calendar.default {
	background-color: #FFF;
}
div.datepicker-calendar.default div.datepicker-month-wrap {
}
div.datepicker-calendar.default div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar.default div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar.default div.datepicker-month-prev.disabled,
div.datepicker-calendar.default div.datepicker-month-next.disabled {
	color:  #999;
}
div.datepicker-calendar.default div.datepicker-month-fast-prev.enabled:hover,
div.datepicker-calendar.default div.datepicker-month-fast-prev.enabled:focus,
div.datepicker-calendar.default div.datepicker-month-fast-next.enabled:hover,
div.datepicker-calendar.default div.datepicker-month-fast-next.enabled:focus,
div.datepicker-calendar.default div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar.default div.datepicker-month-prev.enabled:focus,
div.datepicker-calendar.default div.datepicker-month-next.enabled:hover,
div.datepicker-calendar.default div.datepicker-month-next.enabled:focus,
div.datepicker-calendar.default div.datepicker-month:hover,
div.datepicker-calendar.default div.datepicker-month:focus,
div.datepicker-calendar.default button.datepicker-close:hover, 
div.datepicker-calendar.default button.datepicker-close:focus {
	background-color: #EEE;
	border-color:  #999;
}
div.datepicker-calendar.default table.datepicker-grid:focus {
	outline: 1px dotted #999;
}
div.datepicker-calendar.default tr.datepicker-weekdays {
	border-top:  1px solid #999;
	border-bottom:  1px solid #999;
}
div.datepicker-calendar.default table.datepicker-grid th {
	background-color: #EEE;
	border:  none;
}
div.datepicker-calendar.default table.datepicker-grid td {
	border:  none;
	color: #000;
}
div.datepicker-calendar.default table.datepicker-grid td.unselectable {
	color: #999;
}
div.datepicker-calendar.default table.datepicker-grid td.curDay,
div.datepicker-calendar.default table.datepicker-grid td.curMonth,
div.datepicker-calendar.default table.datepicker-grid td.curYear {
	background-color: #FFF0C4;
}
div.datepicker-calendar.default table.datepicker-grid td.empty {
	border:  none;
	color: #CCC;
}
div.datepicker-calendar.default table.datepicker-grid td.selectable:hover,
div.datepicker-calendar.default table.datepicker-grid td.selectable.focus {
	background-color: #DDD;
}
div.datepicker-calendar.default table.datepicker-grid td.empty:hover {
	background-color: #F9F9F9;
}
div.datepicker-calendar.default button.datepicker-close {
	background-color: #DDD;
	border-color:  #999;
	color: #000;
}

/**************************** 
 * bootstrap theme colors
 ***************************/
a.datepicker-button.bootstrap {
}
a.datepicker-button.bootstrap:hover,
a.datepicker-button.bootstrap:focus {
	background-color: #DDD;
}
div.datepicker-calendar.bootstrap {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	width: 80%;
	min-width: 200px;
	font-size: .8em;
	background-clip: padding-box;
	background-color: #FFF;
	border-radius: 4px;
	line-height: 20px;
}
div.datepicker-calendar.bootstrap.below {
	margin-top: 2px;
}
div.datepicker-calendar.bootstrap.above {
	margin-top: -2px;
}
div.datepicker-calendar.bootstrap:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 7px;
}
div.datepicker-calendar.bootstrap:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
  left: 6px;
}
div.datepicker-calendar.bootstrap.below:before {
  top: -7px;
}
div.datepicker-calendar.bootstrap.below:after {
  top: -6px;
}
div.datepicker-calendar.bootstrap.above:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
div.datepicker-calendar.bootstrap.above:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
div.datepicker-calendar.bootstrap div.datepicker-month-wrap {
}
div.datepicker-calendar.bootstrap div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar.bootstrap div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar.bootstrap div.datepicker-month-prev.disabled,
div.datepicker-calendar.bootstrap div.datepicker-month-next.disabled {
	color:  #999;
}
div.datepicker-calendar.bootstrap div.datepicker-month-fast-prev.enabled:hover,
div.datepicker-calendar.bootstrap div.datepicker-month-fast-prev.enabled:focus,
div.datepicker-calendar.bootstrap div.datepicker-month-fast-next.enabled:hover,
div.datepicker-calendar.bootstrap div.datepicker-month-fast-next.enabled:focus,
div.datepicker-calendar.bootstrap div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar.bootstrap div.datepicker-month-prev.enabled:focus,
div.datepicker-calendar.bootstrap div.datepicker-month-next.enabled:hover,
div.datepicker-calendar.bootstrap div.datepicker-month-next.enabled:focus,
div.datepicker-calendar.bootstrap div.datepicker-month:hover,
div.datepicker-calendar.bootstrap div.datepicker-month:focus,
div.datepicker-calendar.bootstrap button.datepicker-close:hover, 
div.datepicker-calendar.bootstrap button.datepicker-close:focus {
	background-color: #EEE;
	border-color:  #999;
}
div.datepicker-calendar.bootstrap table.datepicker-grid:focus {
	outline: none;
}
div.datepicker-calendar.bootstrap tr.datepicker-weekdays {
	border: none;
}
div.datepicker-calendar.bootstrap table.datepicker-grid th {
}
div.datepicker-calendar.bootstrap table.datepicker-grid th abbr{
	text-decoration: none;
	cursor: default;
}
div.datepicker-calendar.bootstrap table.datepicker-grid td {
	border:  none;
	color: #000;
}
div.datepicker-calendar.bootstrap table.datepicker-grid td.unselectable {
	color: #999;
}
div.datepicker-calendar.bootstrap table.datepicker-grid td.curDay,
div.datepicker-calendar.bootstrap table.datepicker-grid td.curMonth,
div.datepicker-calendar.bootstrap table.datepicker-grid td.curYear {
	background-color: #FFF0C4;
}
div.datepicker-calendar.bootstrap table.datepicker-grid td.empty {
	border:  none;
	color: #CCC;
}
div.datepicker-calendar.bootstrap table.datepicker-grid td.selectable:hover,
div.datepicker-calendar.bootstrap table.datepicker-grid td.selectable.focus {
	background-color: #DDD;
}
div.datepicker-calendar.bootstrap table.datepicker-grid td.empty:hover {
	background-color: #F9F9F9;
}
div.datepicker-calendar.bootstrap button.datepicker-close {
	background-color: #DDD;
	border-color:  #999;
	color: #000;
}

/**************************** 
 * maroon theme colors
 ***************************/
a.datepicker-button.maroon {
	color: #FFF;
	background-color: #A63950;
}
a.datepicker-button.maroon:hover,
a.datepicker-button.maroon:focus {
	color: #FFF;
	background-color: #802C3E;
}
div.datepicker-calendar.maroon {
	background-color: #FFF;
	border-color:  #CCC;
}
div.datepicker-calendar.maroon div.datepicker-month-wrap {
	background-color: #522A3F;
	color: #FFF;
}
div.datepicker-calendar.maroon div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar.maroon div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar.maroon div.datepicker-month-prev.disabled,
div.datepicker-calendar.maroon div.datepicker-month-next.disabled {
	color:  #999;
}
div.datepicker-calendar.maroon div.datepicker-month-fast-prev.enabled:hover,
div.datepicker-calendar.maroon div.datepicker-month-fast-prev.enabled:focus,
div.datepicker-calendar.maroon div.datepicker-month-fast-next.enabled:hover,
div.datepicker-calendar.maroon div.datepicker-month-fast-next.enabled:focus,
div.datepicker-calendar.maroon div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar.maroon div.datepicker-month-prev.enabled:focus,
div.datepicker-calendar.maroon div.datepicker-month-next.enabled:hover,
div.datepicker-calendar.maroon div.datepicker-month-next.enabled:focus,
div.datepicker-calendar.maroon div.datepicker-month:hover,
div.datepicker-calendar.maroon div.datepicker-month:focus,
div.datepicker-calendar.maroon button.datepicker-close:hover, 
div.datepicker-calendar.maroon button.datepicker-close:focus {
	background-color: #A63950;
	border-color:  #800;
}
div.datepicker-calendar.maroon table.datepicker-grid:focus {
	outline: 1px dotted #A63950;
}
div.datepicker-calendar.maroon tr.datepicker-weekdays {
}
div.datepicker-calendar.maroon table.datepicker-grid th {
	background-color: #A63950;
	color: #FFF;
}
div.datepicker-calendar.maroon table.datepicker-grid td {
	background-color: #EEE;
	border-color:  #999;
}
div.datepicker-calendar.maroon table.datepicker-grid td.unselectable {
	color: #999;
}
div.datepicker-calendar.maroon table.datepicker-grid td.curDay,
div.datepicker-calendar.maroon table.datepicker-grid td.curMonth,
div.datepicker-calendar.maroon table.datepicker-grid td.curYear {
	background-color: #FFF0C4;
}
div.datepicker-calendar.maroon table.datepicker-grid td.empty {
	background-color: #F9F9F9;
	color: #AAA;
}
div.datepicker-calendar.maroon table.datepicker-grid td.selectable:hover,
div.datepicker-calendar.maroon table.datepicker-grid td.selectable.focus {
	background-color: #B55A6E;
	color: #FFF;
	border-color: #800;
}
div.datepicker-calendar.maroon table.datepicker-grid td.empty:hover {
	background-color: #F9F9F9;
	border-color:  #999;
}
div.datepicker-calendar.maroon button.datepicker-close {
	background-color: #522A3F;
	color: #FFF;
	border-color:  #EEE;
}

/**************************** 
 * blue theme colors
 ***************************/
a.datepicker-button.blue {
	color: #FFF;
	background-color: #063A5B;
}
a.datepicker-button.blue:hover,
a.datepicker-button.blue:focus {
	background-color: #262A33;
}
div.datepicker-calendar.blue {
	background-color: #FFF;
	border-color:  #CCC;
}
div.datepicker-calendar.blue div.datepicker-month-wrap {
	background-color: #063A5B;
	color: #FFF;
}
div.datepicker-calendar.blue div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar.blue div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar.blue div.datepicker-month-prev.disabled,
div.datepicker-calendar.blue div.datepicker-month-next.disabled {
	color:  #999;
}
div.datepicker-calendar.blue div.datepicker-month-fast-prev.enabled:hover,
div.datepicker-calendar.blue div.datepicker-month-fast-prev.enabled:focus,
div.datepicker-calendar.blue div.datepicker-month-fast-next.enabled:hover,
div.datepicker-calendar.blue div.datepicker-month-fast-next.enabled:focus,
div.datepicker-calendar.blue div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar.blue div.datepicker-month-prev.enabled:focus,
div.datepicker-calendar.blue div.datepicker-month-next.enabled:hover,
div.datepicker-calendar.blue div.datepicker-month-next.enabled:focus,
div.datepicker-calendar.blue div.datepicker-month:hover,
div.datepicker-calendar.blue div.datepicker-month:focus,
div.datepicker-calendar.blue button.datepicker-close:hover, 
div.datepicker-calendar.blue button.datepicker-close:focus {
	background-color: #0B6BA8;
	border-color:  #3484B7;
}
div.datepicker-calendar.blue table.datepicker-grid:focus {
	outline: 1px dotted #0B6BA8;
}
div.datepicker-calendar.blue tr.datepicker-weekdays {
}
div.datepicker-calendar.blue table.datepicker-grid th {
	background-color: #0B6BA8;
	color: #FFF;
}
div.datepicker-calendar.blue table.datepicker-grid td {
	background-color: #EEE;
	border-color:  #999;
}
div.datepicker-calendar.blue table.datepicker-grid td.unselectable {
	color: #999;
}
div.datepicker-calendar.blue table.datepicker-grid td.curDay,
div.datepicker-calendar.blue table.datepicker-grid td.curMonth,
div.datepicker-calendar.blue table.datepicker-grid td.curYear {
	background-color: #FFF0C4;
}
div.datepicker-calendar.blue table.datepicker-grid td.empty {
	background-color: #F9F9F9;
	color: #AAA;
}
div.datepicker-calendar.blue table.datepicker-grid td.selectable:hover,
div.datepicker-calendar.blue table.datepicker-grid td.selectable.focus {
	background-color: #0B6BA8;
	color: #FFF;
	border-color: #3484B7;
}
div.datepicker-calendar.blue table.datepicker-grid td.empty:hover {
	background-color: #F9F9F9;
	border-color:  #999;
}
div.datepicker-calendar.blue button.datepicker-close {
	background-color: #063A5B;
	color: #FFF;
	border-color:  #EEE;
}

/**************************** 
 * green theme colors
 ***************************/
a.datepicker-button.green {
	color: #FFF;
	background-color: #0C5E2F;
}
a.datepicker-button.green:hover,
a.datepicker-button.green:focus {
	background-color: #262A33;
}
div.datepicker-calendar.green {
	background-color: #FFF;
	border-color:  #CCC;
}
div.datepicker-calendar.green div.datepicker-month-wrap {
	background-color: #0C5E2F;
	color: #FFF;
}
div.datepicker-calendar.green div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar.green div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar.green div.datepicker-month-prev.disabled,
div.datepicker-calendar.green div.datepicker-month-next.disabled {
	color:  #999;
}
div.datepicker-calendar.green div.datepicker-month-fast-prev.enabled:hover,
div.datepicker-calendar.green div.datepicker-month-fast-prev.enabled:focus,
div.datepicker-calendar.green div.datepicker-month-fast-next.enabled:hover,
div.datepicker-calendar.green div.datepicker-month-fast-next.enabled:focus,
div.datepicker-calendar.green div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar.green div.datepicker-month-prev.enabled:focus,
div.datepicker-calendar.green div.datepicker-month-next.enabled:hover,
div.datepicker-calendar.green div.datepicker-month-next.enabled:focus,
div.datepicker-calendar.green div.datepicker-month:hover,
div.datepicker-calendar.green div.datepicker-month:focus,
div.datepicker-calendar.green button.datepicker-close:hover, 
div.datepicker-calendar.green button.datepicker-close:focus {
	background-color: #0D803B;
	border-color:  #36955C;
}
div.datepicker-calendar.green table.datepicker-grid:focus {
	outline: 1px dotted #0D803B;
}
div.datepicker-calendar.green tr.datepicker-weekdays {
}
div.datepicker-calendar.green table.datepicker-grid th {
	background-color: #0D803B;
	color: #FFF;
}
div.datepicker-calendar.green table.datepicker-grid td {
	background-color: #EEE;
	border-color:  #999;
}
div.datepicker-calendar.green table.datepicker-grid td.unselectable {
	color: #999;
}
div.datepicker-calendar.green table.datepicker-grid td.curDay,
div.datepicker-calendar.green table.datepicker-grid td.curMonth,
div.datepicker-calendar.green table.datepicker-grid td.curYear {
	background-color: #FFF0C4;
}
div.datepicker-calendar.green table.datepicker-grid td.empty {
	background-color: #F9F9F9;
	color: #AAA;
}
div.datepicker-calendar.green table.datepicker-grid td.selectable:hover,
div.datepicker-calendar.green table.datepicker-grid td.selectable.focus {
	background-color: #0D803B;
	color: #FFF;
	border-color: #36955C;
}
div.datepicker-calendar.green table.datepicker-grid td.empty:hover {
	background-color: #F9F9F9;
	border-color:  #999;
}
div.datepicker-calendar.green button.datepicker-close {
	background-color: #0C5E2F;
	color: #FFF;
	border-color:  #EEE;
}
