.dropdown-menu {
  &.full-width {
    width: 100%;
    .dropdown-item {
      display: inline-block;
      width: auto;
      &:hover,
      &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }
}

