/* CLASSI FORM */
input, button, select, optgroup, textarea {
	font-weight: bold;
	color: $gray-tertiary;
}
.form-group {
  position: relative;
  padding-bottom: .5rem;
  margin-top: 1rem;
	margin-bottom: 0;
}
.form-row .form-group {
	padding-bottom: 0;
}
.form-group label {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  color: $gray-tertiary;
  position: absolute;
  top: .6rem;
  font-size: 1rem;
  cursor: text;
  display: block;
  width: 100%;
  background-color: #fff;
	padding: 0 .75rem;
	font-weight: bold;
  z-index: 6;
}
input[type="file"] + label {
  background-color: transparent;
}

.input-group + label, .input-group ~ label, :disabled .form-group label, .form-group.active label, .form-group label.active, .form-group select.form-control + label, .form-group input.form-control-file + label, .form-control-plaintext + label {
  -webkit-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  transform: translateY(-140%);
  font-size: .8rem;
  background: transparent;
}
.form-group.active label, .form-group.active .ico-prefix {
  color: $primary;
}
.select-wrapper.form-control-sm, .select-wrapper.form-control-lg {
  padding: 0;
}
.select-wrapper.custom-select .select-dropdown {
	color: $gray-tertiary;
	border-bottom: 1px solid $gray-tertiary;
  padding-right: 2rem;
  margin-bottom: 0;
}
.select-wrapper.custom-select.show .select-dropdown {
	color: $primary;
	border-bottom: 1px solid $primary;
}
.custom-select.show .caret {
  color: $primary;
}
.select-wrapper + label {
  padding: 0 .75rem !important;
}
:disabled .form-group label {
  top: 0;
}

input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], textarea.form-control, select.form-control {
  background-color: transparent;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid $gray-tertiary;
  border-radius: 0;
  outline: 0;
  height: 2.5rem;
  width: 100%;
  box-shadow: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}
select.form-control, textarea.form-control {
  height: inherit;
}
.form-group.active input.form-control, .form-group.active select.form-control, .form-group.active textarea.form-control, .form-group.active .form-file-name, .form-group.active .form-control-plaintext, input:focus {
  border-bottom: 1px solid $primary;
}
.form-group.active .form-file-name {
  padding-bottom: 1.95rem
}
.form-control-plaintext {
  padding: 0.375rem 0.75rem;
  background-color: #FFFFFF;
}
.form-control:focus, .form-control:active {
  box-shadow: none !important;
  border-bottom: 1px solid $primary;
}

/* INPUT PASSWORD */
.btn-eye {
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 28px;
  height: 22px;
  position: absolute;
  right: .5rem;
  top: .7rem;
  z-index: 10;
  color: #000;
  cursor: pointer;
}
.eye-on {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M569.354 231.631C512.97 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-102.556 0-192.091-54.701-240-136 44.157-74.933 123.677-127.27 216.162-135.007C273.958 131.078 280 144.83 280 160c0 30.928-25.072 56-56 56s-56-25.072-56-56l.001-.042C157.794 179.043 152 200.844 152 224c0 75.111 60.889 136 136 136s136-60.889 136-136c0-31.031-10.4-59.629-27.895-82.515C451.704 164.638 498.009 205.106 528 256c-47.908 81.299-137.444 136-240 136z'/%3E%3C/svg%3E");
}
.eye-off {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M272.702 359.139c-80.483-9.011-136.212-86.886-116.93-167.042l116.93 167.042zM288 392c-102.556 0-192.092-54.701-240-136 21.755-36.917 52.1-68.342 88.344-91.658l-27.541-39.343C67.001 152.234 31.921 188.741 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.004 376.006 168.14 440 288 440a332.89 332.89 0 0 0 39.648-2.367l-32.021-45.744A284.16 284.16 0 0 1 288 392zm281.354-111.631c-33.232 56.394-83.421 101.742-143.554 129.492l48.116 68.74c3.801 5.429 2.48 12.912-2.949 16.712L450.23 509.83c-5.429 3.801-12.912 2.48-16.712-2.949L102.084 33.399c-3.801-5.429-2.48-12.912 2.949-16.712L125.77 2.17c5.429-3.801 12.912-2.48 16.712 2.949l55.526 79.325C226.612 76.343 256.808 72 288 72c119.86 0 224.996 63.994 281.354 159.631a48.002 48.002 0 0 1 0 48.738zM528 256c-44.157-74.933-123.677-127.27-216.162-135.007C302.042 131.078 296 144.83 296 160c0 30.928 25.072 56 56 56s56-25.072 56-56l-.001-.042c30.632 57.277 16.739 130.26-36.928 171.719l26.695 38.135C452.626 346.551 498.308 306.386 528 256z'/%3E%3C/svg%3E");
}

/* INPUT FILE */
.form-file input[type="file"] {
  filter: alpha(opacity=0);
  margin: 0;
  max-width: 100%;
  opacity: 0;
}
.form-file-name {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  color: #464a4c;
  left: 0;
  line-height: 1.7;
  overflow: hidden;
  padding: 0.5rem .6rem 2rem;
  max-height: 2rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  z-index: 5;
}
.form-file-name::before {
  background-color: #fff;
  border-color: $primary;
  bottom: -1px;
  color: $primary;
  content: "Sfoglia";
  display: block;
  height: 2.5rem;
  line-height: 1.7;
  padding: 0.4rem 1rem 1.5rem;
  border: 1px solid $primary;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
  border-top-right-radius: 4px;
}

/* INPUT GROUP */
.input-group-text {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 0 !important;
  border-bottom: 1px solid #555;
}
.input-group-prepend {
  margin-right: 0px;
}
.input-group-append {
  margin-left: 0px;
}
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-prepend > .input-group-text, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-append > .btn {
  padding: 0rem 1rem;
  border-radius: 0;
}

/* ICONE A SINISTRA */
.ico-prefix {
	position: absolute;
	width: 3rem;
	font-size: 1.8rem;
	z-index: 10;
	text-align: center;
}
.ico-prefix ~ .form-file-name {
	padding-left: 3.5rem;
}
.ico-prefix ~ input, .ico-prefix ~ textarea, .ico-prefix ~ label, .ico-prefix ~ .select-wrapper .select-dropdown {
	padding-left: 3rem;
}
.ico-prefix ~ .custom-select ~ label, .ico-prefix ~ label.active, .form-group.active .ico-prefix ~ label {
	padding-left: .75rem;
}

/* CHECKBOX e RADIO */
.form-row .form-check, .form-group .form-check, .row .form-check {
  padding-left: 0;
  margin-top: 1rem;
}

[type="checkbox"],
[type="radio"] {
	position: absolute;
	left: -9999px;
	visibility: hidden;
  + label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 1rem;
    user-select: none;
  }
}

/* CHECKBOX */
[type="checkbox"] {
	+ label::after,
	+ label::before {
		content: '';
		left: 0;
		position: absolute;
		transition: .2s;
		z-index: 1;
		border-style: solid;
		border-width: 2px;
	}
	+ label::before {
		top: 0;
		width: 17px;
		height: 17px;
		border: 1px solid #5C6F82;
		border-radius: 1px;
		margin: 2px 5px;
		transform: rotateZ(37deg);
		transform-origin: 100% 100%;
	}
	+ label::after {
		border-radius: 4px;
		height: 20px;
		width: 20px;
		margin: 6px 5px;
		top: 0;
	}
	&:checked + label::before {
		top: 6px;
		left: 1px;
		width: 8px;
		height: 13px;
		border-style: solid;
		border-width: 2px;
		border-color: transparent #fff #fff transparent;
		transform: rotate(40deg);
		backface-visibility: hidden;
		transform-origin: 100% 100%;
		opacity: .8;
	}
	&:checked + label::after {
		border-color: $primary;
		background-color: $primary;
		z-index: 0;
	}
	&:not(:checked) + label::after {
		background-color: transparent;
		border-color: #5C6F82;
		z-index: 0;
	}
	&:not(:checked) + label::before {
		width: 0;
		height: 0;
		border-color: transparent;
		left: 6px;
		top: 10px;
	}
	&:disabled + label {
		cursor: not-allowed;
	}
	&:disabled:not(:checked) + label::after {
		border-color: #E6E9F2;
		background-color: #FFF;
	}
	&:disabled:checked + label::after{
		background-color: #E6E9F2;
		border-color: #E6E9F2;
	}
}

/* RADIO */
[type="radio"] {
	+ label {
	transition: .2s ease;
	}
	+ label::after,
	+ label::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		margin: 5px;
		width: 22px;
		height: 22px;
		z-index: 0;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		transition: .2s ease;
	}
	&:not(:checked) + label::after,
	&:not(:checked) + label::before {
		border-color: #5C6F82;
	}
	&:not(:checked) + label::after {
		z-index: -1;
		transform: scale(0);
	}
	&:checked + label::after {
		border-color: $primary;
		background-color: $primary;
		z-index: 0;
		transform: scale(.64);
	}
	&:checked + label::before {
		border-color: $primary;
	}
	&:disabled + label {
		cursor: not-allowed;
	}
	&:disabled:not(:checked) + label::after,
	&:disabled:not(:checked) + label::before {
		border-color: #E6E9F2;
	}
	&:disabled:checked + label::after {
		border-color: #E6E9F2;
		background-color: #E6E9F2;
	}
	&:disabled:checked + label::before {
		border-color: #E6E9F2;
	}
}

/* GRUPPI */
.form-check {
	&.form-check-group {
		padding: 0 0 8px 0;
		margin-bottom: 16px;
		box-shadow: inset 0 -1px 0 0 rgba(1,1,1,0.1);
		[type="checkbox"] + label,
		[type="radio"] + label {
			position: static;
			padding-left: 8px;
			padding-right: 52px;
		}
		[type="checkbox"] + label::after,
		[type="checkbox"] + label::before,
		[type="radio"] + label::after,
		[type="radio"] + label::before {
			right: 15px;
			left: auto;
		}
		[type="checkbox"]:checked + label::before {
			right: 26px;
		}
		[type="radio"]:checked + label::before {
			right: 15px;
		}
		.form-text {
      opacity: .6;
      margin: 0;
      padding-left: 8px;
      padding-right: 52px;
		}
	}
}


/* SELECT */
.select-wrapper {
  position: relative;
  .search-wrap input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $primary;
    font-size: .9rem;
    padding: 0 .5em;
  }
  .dropdown-menu {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 4px 3px rgba(0,0,0,0.1);
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 240px;
    overflow-y: auto;
    position: absolute;
    padding: .3rem;
    z-index: 999;
    will-change: width, height;
    list-style-type: none;
    user-select: none;
    width: 100%;
    &.show {
      display: block;
    }
    li {
      clear: both;
      color: #000;
      cursor: pointer;
      line-height: 32px;
      width: 100%;
      text-align: left;
      text-transform: none;
      &.optgroup {
        > span {
          color: #CCC;
          padding: 0;
        }
      }
      &:not(.disabled):hover,
      &:not(.disabled):focus {
        background-color: #eee;
      }
      &.active {
        > span::after {
          content: '';
          background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDQ4LjggNDQ4LjgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ0OC44IDQ0OC44OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPGcgaWQ9ImNoZWNrIj4KCQk8cG9seWdvbiBwb2ludHM9IjE0Mi44LDMyMy44NSAzNS43LDIxNi43NSAwLDI1Mi40NSAxNDIuOCwzOTUuMjUgNDQ4LjgsODkuMjUgNDEzLjEsNTMuNTUgICAiIGZpbGw9IiMwMDZERjAiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K");
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: center center;
          float: right;
          display: inline-block;
          width: 16px;
          opacity: .5;
        }
      }
      > a,
      > span {
        font-size: 14px;
        color: #004080;
        font-weight: 600;
        display: block;
        padding: 0 .5rem;
        &.filtrable label, [type=checkbox] {
          display: none;
        }
      }
      &.disabled {
        > span {
          cursor: unset;
          color: #CCC;
        }
      }
      > a > i {
        height: inherit;
        line-height: inherit; }
    }
  }
  .select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    display: block;
    line-height: 24px;
    padding: 12px 38px 12px 16px;
    &:disabled {
      color: rgba(0, 0, 0, .3);
      border-bottom-color: rgba(0, 0, 0, .3);
      cursor: default
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        &.disabled,
        &.disabled > span,
        &.optgroup {
          color: rgba(0, 0, 0, .3);
          background-color: transparent !important;
          cursor: context-menu
        }
        &.optgroup {
          border-top: 1px solid #eee;
          &.selected > span {
            color: rgba(0, 0, 0, .7);
          }
          & > span {
            color: rgba(0, 0, 0, .4);
          }
        }
      }
    }
  }
  .caret {
    color: #757575;
    position: absolute;
    right: 12px;
    line-height: 16px;
    top: calc(50% - 8px);
    .disabled {
      color: rgba(0, 0, 0, .46);
    }
  }
  & + label {
    position: absolute;
    top: -18px;
    font-size: .8rem;
  }
  select.custom-select {
    display: none !important;
  }
  select:disabled {
    color: rgba(0, 0, 0, .3);
  }
}
