.jumbotron {
    padding: $jumbotron-padding;
    //margin-bottom: $jumbotron-padding;
    @include border-radius($reset-border-radius);
  
    @include media-breakpoint-up(sm) {
      padding: $jumbotron-padding;
    }
    .display-4 {
        font-size: 2rem;
        font-weight: 700;
        color: #00264d;
        margin-bottom: 0.8rem;
    }
  }