.nav-tabs {
  -webkit-box-shadow: 0 15px 15px -10px rgba(135, 135, 135, 0.2);
	-moz-box-shadow: 0 15px 15px -10px rgba(135, 135, 135, 0.2);
  box-shadow: 0 15px 15px -10px rgba(135, 135, 135, 0.2);
  border: 0;
}
.nav-tabs .nav-link {
  border-radius: 0;
  font-weight: 600;
  color: $tertiary;
  border: none;
  border-bottom: 2px solid transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-bottom: 2px solid $italia;
  color: $italia;
  cursor: inherit;
}
.nav-tabs .nav-link.disabled {
  color: $gray-300;
  font-weight: 400;
}
.nav-tabs .nav-item {
  margin-bottom: 0;
}

/* TAB DARK */
.nav-dark {
  background-color: $tertiary;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
  box-shadow: none;
}
.nav-tabs .nav-link {
  color: #C3CFDB;
}
.nav-dark .nav-link.active, .nav-dark .nav-item.show .nav-link {
  background-color: $tertiary;
  color: $cyan;
  border-bottom: 2px solid $cyan;
}

/* Grandezze icone standard */
.it-ico-sm {
  font-size: $h3-font-size;
}
.it-ico {
  font-size: $h5-font-size;
}
.it-ico-lg {
  font-size: $h4-font-size;
}