body {
  font-weight: $font-weight-base;
  letter-spacing: $letter-spacing-base;
}

//
// Intestazioni
//

h2, .h2 {
  line-height: 1.25;
}

h3, .h3 {
  line-height: 1.1667;
}

h4, .h4 {
  font-weight: 400;
}

//
// Intestazioni in evidenza
//

.display-1 {
  font-weight: 600;
}
.display-2 {
  font-weight: 600;
}
.display-3 {
  font-weight: 600;
}