<!doctype html>
<html lang="it">
  <head>
    {% include head.html %}
  </head>
  <body onload="initCoverAnimation()">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-topbar.html %}
    {% include docs-navbar.html %}

    {{ content }}

    {% include footer.html %}
    {% include cookiebar.html %}
    {% include scripts.html %}
  </body>
</html>
