<!doctype html>
<html lang="it">
  <head>
    {% include head.html %}
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-topbar.html %}
    {% include docs-navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          {% include docs-sidebar.html %}
        </div>

        {% if page.toc %}
          {% include docs-toc.html %}
        {% endif %}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 px-md-3 bd-content">
          <h1 class="bd-title" id="content">{{ page.title | smartify }}</h1>
          <p class="bd-lead">{{ page.description | smartify }}</p>
          {{ content }}
        </main>
      </div>
    </div>

    {% include cookiebar.html %}
    {% include scripts.html %}
  </body>
</html>
