//-modifica stili per template comuni non modificabili con la redifinizione delle variabili colore
//body
body {
  color: $neutral-1-a7;
}
//BUTTONS
.btn-primary,
.btn-primary:hover {
  color: $btn-comuni-primary-hover;
}

//FOOTER
.it-footer-main {
  background-color: $footer-comuni-bg-color;
}
.it-footer-small-prints {
  background-color: $footer-comuni-bg-color;
}

//card bg
.card.card-bg-dark {
  background-color: $card-comuni-bg-dark;
}

//card-teaser exeption
.card-teaser .link-list-wrapper ul li a .icon-primary {
  fill: $link-list-comuni-color !important;
}
.card-teaser .link-list-wrapper ul li a,
.card-teaser .link-list-wrapper ul li a span {
  color: $link-list-comuni-color;
}

//link list bar
.link-list-wrapper.menu-link-list h3:after,
.link-list-wrapper.menu-link-list .h3:after,
.link-list-wrapper.menu-link-list h4:after,
.link-list-wrapper.menu-link-list .h4:after {
  background-color: $primary;
}

//card texts color
.card .card-body h5.card-title,
.card .card-body .card-title.h5 {
  color: $neutral-1-a7;
}
.text-primary {
  color: $neutral-1-a7 !important;
}
