// Color system

$white:    rgb(255, 255, 255) !default;
$gray-100: hsb(225, 0, 90) !default;
$gray-200: hsb(225, 0, 80) !default;
$gray-300: hsb(225, 0, 70) !default;
$gray-400: hsb(225, 0, 60) !default;
$gray-500: hsb(225, 0, 50) !default;
$gray-600: hsb(225, 0, 40) !default;
$gray-700: hsb(225, 0, 30) !default;
$gray-800: hsb(225, 0, 20) !default;
$gray-900: hsb(225, 0, 10) !default;
$black:    rgb(0, 0, 0) !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

@function main($key: "80") {
  @return map-get($mains, $key);
}

$italia:                hsb(210, 100, 80) !default;
$indigo:                hsb(243, 70, 100) !default;
$purple:                hsb(243, 40, 100) !default;
$pink:                  hsb(350, 30, 100) !default;
$red:                   hsb(351, 75, 97) !default;
$orange:                hsb(36, 100, 100) !default;
$yellow:                hsb(44, 55, 100) !default;
$green:                 hsb(159, 100, 80) !default;
$teal:                  hsb(178, 95, 85) !default;
$cyan:                  hsb(178, 100, 100) !default;
$blue:                  hsb(210, 100, 90) !default;
$gray-tertiary:         hsb(210, 29, 51) !default;
$gray-quaternary:       hsb(238, 1, 100) !default;
$gray-disabled:         hsb(225, 5, 95) !default;
$gray-label-disabled:   hsb(222, 5, 79) !default;
$gray-border-disabled:  hsb(224, 8, 95) !default;

$colors: () !default;
$colors: map-merge((
  "italia":       $italia,
  "indigo":           $indigo,
  "purple":           $purple,
  "pink":             $pink,
  "red":              $red,
  "orange":           $orange,
  "yellow":           $yellow,
  "green":            $green,
  "teal":             $teal,
  "cyan":             $cyan,
  "white":            $white,
  "gray":             $gray-600,
  "gray-dark":        $gray-800,
  "blue":             $blue,
  "gray-tertiary":    $gray-tertiary,
  "gray-quaternary":  $gray-quaternary
), $colors);

$blu-italia:      $italia !default;
$primary:         $blue !default;
$secondary:       $white !default;
$tertiary:        $gray-tertiary !default;
$quaternary:      $gray-quaternary !default;
$success:         $green !default;
$info:            $gray-400 !default;
$warning:         $orange !default;
$danger:          $red !default;
$light:           hsb(255, 5, 95) !default;
$dark:            hsb(210, 70, 30) !default;


$theme-colors: () !default;
$theme-colors: map-merge((
  "italia":       $blu-italia,
  "primary":      $primary,
  "secondary":    $secondary,
  "tertiary":     $tertiary,
  "quaternary":   $quaternary,
  "success":      $success,
  "info":         $info,
  "warning":      $warning,
  "danger":       $danger,
  "light":        $light,
  "dark":         $dark
), $theme-colors);

// Color Variations

// HSB (https://it.wikipedia.org/wiki/Hue_Saturation_Brightness, coincidente con il modello HSV) è lo spazio colore
// scelto per ottenere le varianti colore della tonalità primaria.
// Questo permette di avere a disposizione 16 diverse varianti "monocromatiche" (in quanto hue e, in gran parte anche
// saturation rimangono invariate) che, essendo aggiunti ai $theme-colors, saranno disponibili per tutti quei
// componenti ed utilità che ne fanno uso (ad esempio ".bg-*" o ".text-").

/*$primary-h: hue($primary);
$primary-s: saturation($primary);


$theme-colors: (
  "primary-b-1": hsb($primary-h, $primary-s, 10),
  "primary-b-2": hsb($primary-h, $primary-s, 20),
  "primary-b-3": hsb($primary-h, $primary-s, 30),
  "primary-b-4": hsb($primary-h, $primary-s, 40),
  "primary-b-5": hsb($primary-h, $primary-s, 50),
  "primary-b-6": hsb($primary-h, $primary-s, 60),
  "primary-b-7": hsb($primary-h, $primary-s, 70),
  "primary-b-8": hsb($primary-h, $primary-s, 80),
  "primary-b-9": hsb($primary-h, $primary-s, 90),
  "primary-b-A": hsb($primary-h, $primary-s * .75, 84),
  "primary-b-B": hsb($primary-h, $primary-s * .60, 87),
  "primary-b-C": hsb($primary-h, $primary-s * .45, 90),
  "primary-b-D": hsb($primary-h, $primary-s * .30, 93),
  "primary-b-E": hsb($primary-h, $primary-s * .15, 96),
  "primary-b-F": hsb($primary-h, $primary-s * .05, 99)
);*/

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 12px !default;

// Responsive gutter widths
$grid-gutter-widths: (
  sm: 12px,
  md: 20px,
  lg: 20px,
  xl: 28px
) !default;

// Main typography
//$font-size-base: 16px !default;
$headings-line-height: 1.2 !default;
$small-font-size: 0.777rem !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1.6rem !default;

// Btns
$btn-text-transform: uppercase;
$btn-letter-spacing: normal;
$btn-font-weight: 700 !default;
$btn-font-size: 16px !default;
$btn-font-size-sm: 14px !default;
$btn-font-size-lg: 18px !default;
$input-btn-line-height: 1.5 !default;
$input-btn-line-height-sm: 1.428 !default;
$input-btn-line-height-lg: 1.556 !default;
$btn-box-shadow-secondary: inset 0 0 0 1px $primary;
$btn-box-shadow-quaternary: inset 0 0 0 1px $gray-disabled;
$btn-box-shadow-disabled: inset 0 0 0 1px $gray-border-disabled;

// z-index
$zindex-zoom: 1080;
$zindex-growl: 1090;
$zindex-cookiebar: 1100;
$zoom-overlay-bg: #fff;

// Border Radius - using ixels instead or rems as it has to be consistent across devices
$border-radius: 4px !default;
$border-radius-sm: 2px !default;
$border-radius-lg: 8px !default;

// Link and button colors
$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$link-color: $primary;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// Text
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       "Roboto Mono", monospace !default;
$font-family-base:            "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$text-color: $gray-700;
$letter-spacing-base: 0;
$line-height-base: 1.5;
$font-weight-base: 300;

// Code
$code-color: $dark;

// Headings
$headings-font-weight: 700;
$headings-line-height: 1.2 !default;

$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;

$display1-size: 3.5rem;
$display2-size: 2.5rem;
$display3-size: 1.5rem;
$display4-size: 1.25rem;

$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;

// Hero
$hero-padding: 1rem !default;
$hero-bg: $gray-200 !default;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-item-padding: .75rem;
$breadcrumb-divider-color: $text-color;

//Accordion
$card-cap-bg: transparent !default;
$card-spacer-y: 1rem !default;
$card-spacer-x: 2rem !default;
$card-border-radius: 0 !default;
$card-body-spacer: 1rem !default;

// Tables
$table-cell-padding: 1em !default;
$table-border-color: #d6dce3 !default; // TODO use a variable
$table-cell-text-align: left !default;
$table-accent-bg: #f6f7f9 !default; // TODO use a variable
$table-hover-bg: #e5f1fa !default; // TODO use a variable

// Tooltips
$tooltip-max-width: 32em !default;
$tooltip-bg: #004a4d !default; // TODO use a variable
$tooltip-opacity: 1 !default;
$tooltip-padding-y: 1rem !default;
$tooltip-padding-x: 1rem !default;

$tooltip-arrow-color: $tooltip-bg !default;

//Modals
$modal-backdrop-opacity: .8 !default;
$modal-max-width: 32rem !default;
$modal-dialog-margin: 1.4rem auto !default;
$modal-content-padding: 1.4rem !default;

// Carousel
$carousel-bg: #444e57 !default;
$carousel-padding: 3em !default;
$carousel-control-color: $secondary !default;
$carousel-control-width: auto !default;
$carousel-control-opacity: 1 !default;
$carousel-control-icon-width: 32px !default;

// Inputs
$input-border: $gray-200;
$input-color-placeholder: $gray-500;

//List group
$list-group-item-padding-y: 1rem !default;
$list-group-action-color: $primary !default;
$list-group-action-hover-color: #00264d !default; // TODO use a variable
$list-group-hover-bg: #d9e6f2 !default; // TODO use a variable
$list-group-disabled-cursor: default !default;

//Reset
$reset-border-width: 0 !default;
$reset-border-radius: 0 !default;
$reset-padding: 0 !default;

// Alert
$alert-padding-y: 1rem;
$alert-padding-x: 1rem;

// CookieBar
$cookiebar-opacity: 1;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
//
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
