

// Shadows
$enable-shadows: true;

// Spacer
$spacer: 16px !default;

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 12px !default;

// Responsive gutter widths
$grid-gutter-widths: (
  sm: 12px,
  md: 20px,
  lg: 20px,
  xl: 28px
) !default;

// Text
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: "Roboto Mono", monospace !default;
$font-family-base: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$text-color: $gray-700;
$text-muted: $gray-tertiary;
$letter-spacing-base: 0;
$line-height-base: 1.5;
$font-weight-base: 300;

// Paragraphs
$headings-line-height: 1.2 !default;
$paragraph-margin-bottom: 1rem !default;
$small-font-size: 0.777rem !default;

// Navbar
$navbar-brand-font-size: 1rem !default;
$navbar-toggler-border-radius: 0 !default;
$navbar-dark-toggler-icon-bg: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkuMnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxMiAxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSIxMDI0dXAiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSItLWhvbWUtLS1wYXJhbGxheC0tLW1vYmlsZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI0LjAwMDAwMCwgLTIwLjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8ZyBpZD0iLW5ldHdvcmstc2xpbS1oZWFkZXIiPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTI0LDI0IEwzNiwyNCBMMzYsMjYgTDI0LDI2IEwyNCwyNCBaIE0yNCwyMCBMMzIsMjAgTDMyLDIyIEwyNCwyMiBMMjQsMjAgWiBNMjQsMjggTDMyLDI4IEwzMiwzMCBMMjQsMzAgTDI0LDI4IFoiIGlkPSJpY29uLXNtYWxsLWJ1cmdlciI+PC9wYXRoPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=) !default;
$navbar-dark-toggler-border-color: transparent;

// Buttons
$btn-border-width: 0;
$btn-text-transform: uppercase;
$btn-letter-spacing: normal;
$btn-font-weight: 600 !default;
$btn-font-size: 16px !default;
$btn-font-size-sm: 14px !default;
$btn-font-size-lg: 18px !default;
$input-btn-line-height: 1.5 !default;
$input-btn-line-height-sm: 1.428 !default;
$input-btn-line-height-lg: 1.556 !default;
//$btn-box-shadow-focus: 0 0 0 0.2rem rgba(0, 115, 230, 0.25);
//$btn-box-shadow-secondary: inset 0 0 0 1px $primary;
//$btn-box-shadow-secondary-hover: inset 0 0 0 1px $primary;
//$btn-box-shadow-quaternary: inset 0 0 0 1px $gray-disabled;
//$btn-box-shadow-disabled: inset 0 0 0 1px $gray-border-disabled;

// progress
$progress-height: 16px;
$progress-border-radius: 0;

// z-index
$zindex-zoom: 1080;
$zindex-growl: 1090;
$zindex-cookiebar: 1100;
$zoom-overlay-bg: #fff;

// Border Radius - using ixels instead or rems as it has to be consistent across devices
$border-radius: 4px !default;
$border-radius-sm: 2px !default;
$border-radius-lg: 8px !default;

// Link and button colors
$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$link-color: $primary;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// Code
$code-color: $dark;

// Headings
$headings-font-weight: 700;
$headings-line-height: 1.2 !default;

$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;

$display1-size: 3.5rem;
$display2-size: 2.5rem;
$display3-size: 1.5rem;
$display4-size: 1.25rem;

$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;

// Hero
$hero-padding: 1rem !default;
$hero-bg: $gray-200 !default;

// Breadcrumbs
$breadcrumb-padding:24px;
$breadcrumb-bg: transparent;
$breadcrumb-link-font-weight: 600;
$breadcrumb-link-color:$neutral-1-a7;
$breadcrumb-link-x-padding:.5em;
$breadcrumb-bg-dark:$neutral-1-a8;
$breadcrumb-border-radius: 0;
$breadcrumb-link-color-dark: $white;
$breadcrumb-icon-color-dark:$analogue-2-b1;

//Accordion
$card-cap-bg: transparent !default;
$card-spacer-y: 1rem !default;
$card-spacer-x: 2rem !default;
$card-border-radius: 0 !default;
$card-body-spacer: 1rem !default;

// Tables
$table-cell-padding: 1em !default;
$table-border-color: #d6dce3 !default; // TODO use a variable
$table-cell-text-align: left !default;
$table-accent-bg: #f6f7f9 !default; // TODO use a variable
$table-hover-bg: #e5f1fa !default; // TODO use a variable

// Tooltips
$tooltip-max-width: 32em !default;
$tooltip-bg: #004a4d !default; // TODO use a variable
$tooltip-opacity: 1 !default;
$tooltip-padding-y: 1rem !default;
$tooltip-padding-x: 1rem !default;

$tooltip-arrow-color: $tooltip-bg !default;

//Modals
$modal-backdrop-opacity: .8 !default;
$modal-max-width: 32rem !default;
$modal-dialog-margin-y-sm-up: 1.5rem !default;
$modal-footer-border-width: 0 !default;
$modal-header-border-width: 0 !default;
$modal-header-padding: 1.5rem !default;
$modal-inner-padding: 1.5rem !default;

// Carousel
$carousel-bg: #444e57 !default;
$carousel-padding: 3em !default;
$carousel-control-color: $secondary !default;
$carousel-control-width: auto !default;
$carousel-control-opacity: 1 !default;
$carousel-control-icon-width: 32px !default;

// Inputs
$input-border: $gray-200;
$input-color-placeholder: $gray-500;
$input-focus-border-color: $gray-secondary;

//List group
$list-group-item-padding-y: 1rem !default;
$list-group-action-color: $primary !default;
$list-group-action-hover-color: #00264d !default; // TODO use a variable
$list-group-hover-bg: #d9e6f2 !default; // TODO use a variable
$list-group-disabled-cursor: default !default;

//Reset
$reset-border-width: 0 !default;
$reset-border-radius: 0 !default;
$reset-padding: 0 !default;

// Alert
$alert-padding-y: 1rem;
$alert-padding-x: 1rem;

// Dropdown
$dropdown-header-color: $dark;
$dropdown-link-hover-bg: #E6ECF2;
$dropdown-link-color: $dark;
$dropdown-link-hover-color: $dark;
$dropdown-item-padding-x: 24px;
$dropdown-item-padding-y: 12px;
$dropdown-border-width: 0;
$dropdown-border-color: transparent;
$dropdown-box-shadow: 0 0 30px 5px rgba(0,0,0,.05);
// Dropdown custom
$dropdown-custom-button-padding: 0 4px;
$dropdown-custom-button-font-size: 1rem;
$dropdown-custom-button-color: $italia;
$dropdown-custom-button-background: transparent;
$dropdown-custom-button-caret-font-size: 0.8rem;
$dropdown-custom-button-caret-content: '\e818';
$dropdown-menu-animation-speed: 0.3s;
$dropdown-menu-vertical-shift: 16px;
$dropdown-menu-radius: 4px;
$dropdown-menu-notch-base-size: 6px;
$dropdown-menu-notch-position-x: 24px;

// Componente Base di Esempio
$componente-base-padding-x: 8px;
$componente-base-padding-y: 8px;

// Linklist
$link-list-font-size:0.889em;
$link-list-font-size-l:1em;
$link-list-line-height:2.3em;
$link-list-line-height-l:2.70em;
$link-list-heading-size:1em;
$link-list-divider-height:1px;
$link-list-divider-distance:8px;
$link-list-h-pad:24px;
$link-list-paragraph-size:0.778em;
$link-list-left-icon-space:8px;
$link-list-avatar-radius: 50px;
$link-list-avatar-margin:8px;
$link-list-checkbox-icon-right:35px;
$link-list-toggle-margin:8px;

// Pager
$pager-margin-bottom: 0.5rem;
$pager-item-size-mobile: 2.5rem; // 40px
$pager-item-size-tablet: 2.6666666666666665rem; // 48px
$pager-item-border-radius: 4px;
$pager-item-margin-right: 5px;
$pager-item-current-color: $italia;
$pager-item-current-border: 1px solid $italia;
$pager-font-size: 0.8888888888888888rem; // 16px
$pager-font-weight: 600;
$pager-font-color: $neutral-1-a7;
$pager-hover-color: $italia;
$pager-icon-color: $primary-c5;
$pager-icon-size: 0.7rem;
$pager-disabled-color: $neutral-2-b2;
$pager-jump-to-width: 4.5rem;
$pager-jump-to-color: $neutral-2-b3;
$pager-page-changer-padding: 12px;
$pager-page-changer-border-bottom: 1px solid $gray-secondary;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
//
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;