// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 12px !default;

// Responsive gutter widths
$grid-gutter-widths: (
  sm: 12px,
  md: 20px,
  lg: 20px,
  xl: 28px
) !default;

// Main typography
$font-size-base: 1rem !default;
$headings-line-height: 1.2 !default;

// Btns
$btn-font-size: $font-size-base;
$btn-text-transform: uppercase;
$btn-letter-spacing: normal;

// z-index
$zindex-zoom: 1080;
$zindex-growl: 1090;
$zoom-overlay-bg: #fff;

// Border Radius - using ixels instead or rems as it has to be consistent across devices
$border-radius: 4px !default;
$border-radius-sm: 2px !default;
$border-radius-lg: 8px !default;
// Color system

// stylelint-disable
$white: #fff !default; //TODO
$gray-100: #f8f9fa !default; //TODO
$gray-200: #e9ecef !default; //TODO
$gray-300: #dee2e6 !default; //TODO
$gray-400: #ced4da !default; //TODO
$gray-500: #adb5bd !default; //TODO
$gray-600: #868e96 !default; //TODO
$gray-700: #495057 !default; //TODO
$gray-800: #343a40 !default; //TODO
$gray-900: #212529 !default; //TODO
$black: #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$indigo: #6610f2 !default; //TODO
$purple: #6f42c1 !default; //TODO
$pink: #e83e8c !default; //TODO
$yellow: #ffc107 !default; //TODO
$cyan: #17a2b8 !default; //TODO
$italia-blue: hsb(210, 100, 80) !default;
$italia-teal: hsb(178, 95, 85) !default;
$italia-red: hsb(351, 75, 97) !default;
$italia-orange: hsb(36, 100, 100) !default;
$italia-green: hsb(159, 100, 81) !default;

$colors: () !default;
$colors: map-merge((
  "blue": $italia-blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $italia-red,
  "orange": $italia-orange,
  "yellow": $yellow,
  "green": $italia-green,
  "teal": $italia-teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
), $colors);

// Brand Scale
$brand-primary: $italia-blue;
$brand-success: $italia-green;
$brand-warning: $italia-orange;
$brand-danger: $italia-red;
$brand-info: $italia-teal;

// Link and button colors
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$link-color: $brand-primary;

$primary: $italia-blue !default;
$secondary: $italia-teal !default;
$success: $italia-green !default;
$info: $gray-100 !default;
$warning: $italia-orange !default;
$danger: $italia-red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
), $theme-colors);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// Text Color
$font-family-sans-serif: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$text-color: $gray-700;
$letter-spacing-base: 0;
$line-height-base: 1.5;
$font-weight-base: 300;

// Headings
$headings-font-weight: 600;
$headings-line-height: 1.2;

$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;

$display1-size: 3.5rem;
$display2-size: 2.5rem;
$display3-size: 1.5rem;
$display4-size: 1.25rem;
$display5-size: 1rem;

$display1-weight: 600;
$display2-weight: 600;
$display3-weight: 600;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-item-padding: .75rem;
$breadcrumb-divider-color: $text-color;

//Accordion
$card-cap-bg: transparent !default;
$card-spacer-y: 1rem !default;
$card-spacer-x: 2rem !default;
$card-border-radius: 0 !default;
$card-body-spacer: 1rem !default;

// Tables
$table-cell-padding: 1em !default;
$table-border-color: #d6dce3 !default; // TODO use a variable
$table-cell-text-align: left !default;
$table-accent-bg: #f6f7f9 !default; // TODO use a variable
$table-hover-bg: #e5f1fa !default; // TODO use a variable

// Tooltips
$tooltip-max-width: 32em !default;
$tooltip-bg: #004a4d !default; // TODO use a variable
$tooltip-opacity: 1 !default;
$tooltip-padding-y: 1rem !default;
$tooltip-padding-x: 1rem !default;

$tooltip-arrow-color: $tooltip-bg !default;

//Modals
$modal-backdrop-opacity: .8 !default;
$modal-max-width: 32rem !default;
$modal-dialog-margin: 1.4rem auto !default;
$modal-content-padding: 1.4rem !default;

//List group
$list-group-item-padding-y: 1rem !default;
$list-group-action-color: #0066cc !default;
$list-group-action-hover-color: #00264d !default;
$list-group-hover-bg: #d9e6f2 !default;
$list-group-disabled-cursor: default !default;

//Reset
$reset-border-width: 0 !default;
$reset-border-radius: 0 !default;
$reset-padding: 0 !default;

// Inputs
$input-border: $gray-200;
$input-color-placeholder: $gray-500;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
//
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
