name: Update documentation
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: timbru31/ruby-node:3.3-20
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main
      - name: Fixup git permissions
        # https://github.com/actions/checkout/issues/766
        shell: bash
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - run: apt-get update && apt-get install zip
      - run: bundle install
      - run: chmod -R 777 .
      - run: npm ci
      - run: npm run build
      - name: Publish on gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          chown -R 1001:121 "/github/home/.npm"
          chown -R 1001:121 "/github/home/.bundle/"
          chmod -R 777 /github/home/.bundle/
          chmod -R 777 /usr/local/bundle/
          npm run documentation-deploy-to-gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
